<template>
     <div v-if="loadfilter ==false" >
        
        <div class="row-wishlist">
                <h3>Wishlist</h3>
                 <form method="post"  @submit.prevent="RequestFilter"> 
                <div class="input-group search-wishlist">
                    
                        <input type="text" v-model="wishlist_name" class="form-control" placeholder="Cari barang wishlist">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-info btn-radius"><i class="fa fa-search"></i></button>
                        </span>
                    
                </div>
                </form>
        </div>
        <div class="row-wishlist border-search" v-show="actionSearch">
            <h3 v-html="search"> </h3>    
        </div>

        <div v-show="loadpage" is="LoadingPage"></div>
        <div v-show="listpage" class="content content-wishlist" is="ListProduct" :data="lists.result" @reload="reloadPage"></div> 
        <div v-show="resultNull"  is="PageNotFound" ></div>
        <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>
          </div>
        </div>   
   </div>
  <div v-else>
       <div is="ListFilter" :filter="filterData"></div>
  </div> 
</template>
<script>
   export default {
       
        props:["Apps","Filter"],
        data() {
            return {
               loadpage:true, 
               listpage:false, 
               loadfilter:false,
               viewsPage:false,  
               resultNull:false,
               wishlist_name:'',
               filterData:{},
               lists:{},
               actionSearch:false,
               search:'',
               total: 0,
               halaman: 1,
               bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               }
            }
        },
        created() {  
           
        },
        mounted() {
           this.getData();
        },
         watch: {
            Apps: function(result) { 
              //document.title = this.Apps; 
              this.loadfilter = false; 
              this.getData();
            },
            Filter: function(result) { 
               const self = this;
               self.filterData = result;
               self.loadpage = false;
               self.listpage = false;
               self.loadfilter = true;
              
            } 
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            'LoadingPage': require('../../loading/frontend/page.vue').default,
            'ListProduct': require('../index/listproduct.vue').default,
            'ListFilter': require('../index/filter.vue').default,
            'PageNotFound': require('../layout/404.vue').default,
            'Pagination': require('vue-plain-pagination'),
        },
        methods: {
           reloadPage(){

             this.getData();
           }, 
           getData(){
             
            const self = this;
            let listUrl = "";
          
             self.loadpage = true;
             self.listpage = false;
             self.viewsPage = false;

              if(self.halaman > 1)
              {
                window.scrollTo(0,0);
              } 
          
            listUrl = BASE_URL + '/api/wishlist?page='+ self.halaman;    
            axios.get(listUrl).then((response) => {
                
                
                self.loadpage = false; 
                self.lists = response.data;
               
                if(response.data.total >0)
                {            
                    self.halaman = response.data.currentPage;
                    self.total = response.data.lastPage;     
                    self.listpage = true;
                    self.viewsPage = true;

                }else{
                    self.listpage = false;
                    self.resultNull = true;
                    self.viewsPage = false;

                }
            }).catch((error) => {
                console.log(error);
                self.resultNull = true;
                self.loadpage = false;
                self.listpage = false;
                self.viewsPage = false;
            });

           },
           RequestFilter(){

             const self = this; 
                let urlBase="";
                

                if( self.wishlist_name !="")
                {  
                    self.loadpage = true;
                    self.listpage = false;
                    self.viewsPage = false;
                    self.actionSearch = true;
                    let formData = new FormData();
                    formData.append('name', self.wishlist_name);
                    urlBase = axios.post(BASE_URL+'/api/search-wishlist?page='+ self.halaman, formData);
                    urlBase
                    .then((response) => {

                        self.loadpage = false; 
                        self.lists = response.data.result;
                        self.search = response.data.cari;
                        self.wishlist_name = '';
                        if(response.data.total >0)
                        {            
                            self.halaman = response.data.currentPage;
                            self.total = response.data.lastPage;     
                            self.listpage = true;
                            self.viewsPage = true;

                        }else{
                            self.listpage = false;
                            self.resultNull = true;
                            self.viewsPage = false;

                        }
                       
                    
                    }).catch((error) => {
                     
                       console.log(error)
                        self.resultNull = true;
                        self.loadpage = false;
                        self.listpage = false;
                        self.viewsPage = false; 
                            
                    });
                }
           }

        }
    }
   
</script>
