<template>
<div>
<div class="content">
    <div class="login-header">
      <div class="login-center">
           <img class="logo" :src="logo" />
      </div>
    </div> 
  <div class="login-content">
    <div class="box-content">
     <div class="content-left">
         <div class="cover-center">
              <img class="cov-img" src="img/cover.png" />
         </div> 
         <div class="cover-button">
             <h3>eCatalogue by eSCM WIKA</h3>
             <span ><p>Divisi Supply Chain Management</p></span>
         </div>  
     </div>
     <div class="content-right">
          <div class="box-form-login">
                <div class="box-form mrgn-btn pull-left full">
                    <div class="form-header">
                      <h3 class="login-box-msg fw-500 top">Silakan Login Menggunakan</h3>
                      <h3 class="login-box-msg fw-500 bottom">Akun eSCM Anda</h3>
                    </div>  
                      
                    <form role="form" method="post"  @submit.prevent="postData">
                        <div class="form-content">
                           <div class="form-group has-feedback" :class="errors.messages.identity ? 'has-error' : ''"> 
                            <label>Username / NIK</label>
                            <input type="text" class="form-control" v-model="username" name="username" value="" placeholder="Username">
                            <span class="help-block" v-if="errors.messages.hasOwnProperty('identity')">
                                <strong>{{ errors.messages.identity }}</strong>
                            </span>

                           </div> 

                           <div class="form-group has-feedback"  :class="errors.messages.password ? 'has-error' : ''"> 
                            <label>Password</label>
                            <input type="password" class="form-control" v-model="password" placeholder="Password" name="password">
                            <span class="help-block" v-if="errors.messages.hasOwnProperty('password')">
                                <strong>{{ errors.messages.password }}</strong>
                            </span>
                           </div>
                        </div>
                        <div class="form-footer">
                           <div class="center-button">
                                <button type="submit" v-show="btnSubmit"  class="btn fw-600 btn-info btn-login">Login</button>
                           </div> 
                        </div>
                    </form>     
                </div> 
          </div>  
     </div> 
    </div>  
  </div> 
</div>



  <footer class="main-footer full pull-left">
   <div class="container footer-menu">  
     <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
     <span class="pull-right">www.escm.wika.co.id</span>
   </div>  
</footer>
</div>

</template>

<script>

   export default {
        
        props:["Apps","Body"],
        data() {
            return {
                errors: {
                    messages: {
                        identity:'',
                        password:'',        
                    },
                }, 
                btnSubmit:true,
                btnLoading:false,
                username:'administrator',
                password:'aleksim0ny3t',
                logo:'img/logo.png',
                
            }
        },
        
        mounted() {
          
        },
        created () {
           
            document.body.classList.add(this.Body);
            document.title = this.Apps;
           
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
             
        },
        components: {
          
        },
        methods: {
          
          postData(){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                // self.btnSubmit = false;
                // self.btnLoading = true;
                formData.append('username', self.username);
                formData.append('password', self.password);
                urlBase = axios.post(BASE_URL+'/api/auth/login', formData);
                urlBase
                .then((response) => {

                   if(response.data.status==true)
                   {
                        self.$cookies.set('access',response.data.access);
                        self.$cookies.set('token',response.data.token);
                         
                        if(response.data.access ==3)
                        {
                             window.location.href = BASE_URL+ '/';
                        }           
                     
                   }
                   
               
                
                }).catch((error) => {
                    self.errors = error.response.data;
                    self.btnSubmit = true;
                    self.btnLoading = false;
                });

          }

        }
    }
   
</script>

