<template>
<div>

    <div class="col-md-9">
        <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Dashboard</h3>
                <span class="title-summary">Kelola Tokomu dan tambah produk terbaru!</span>
            </div> 
             
        </section>
    </div>

    <div class="col-md-9"> 
        <div class="content content-page">
            <div class="form-parse m-b-15">

                <div class="box-form box-button mrgn-btn">
                    <div class="one">
                       <h5>Tambah Produk</h5>
                       <span class="text-info font-12">Tambahkan foto dan deskripsikan produkmu</span>
                    </div>
                    <div class="two">
                     
                        <div class="fa-icon-btn icon-add-circle"></div>
                     
                    </div>    

                </div>

                 <div class="box-form box-button">
                    <div class="one">
                       <h5>Edit Produk</h5>
                       <span class="text-info font-12">Update stok dan harga produkmu</span>
                    </div>
                    <div class="two">
                        <div class="fa-icon-btn icon-edit-circle"></div>
                    </div>    

                </div>        
            </div>

            <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Pesanan</h3>
                <span class="title-summary">Konfirmasikan pesanan dan segera kirim produkmu!</span>
            </div>  
            </section>

            <div class="form-parse mt-10">
                 <ul class="list-dasboard">
                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan Baru</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Siap Dikirim</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Dalam Perjalanan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan dikomplain</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan Selesai</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Dibatalkan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">RFQ</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>
                 </ul>   
            </div>

            <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Analisis Toko & Produk</h3>
                <span class="title-summary">Update Terakhir: <span class="bold">25 October 2021 | 13:00 WIB</span></span>
            </div>  
            </section>

            <div class="form-parse mt-10">
                 <ul class="list-dasboard">
                     <li>
                         <div class="list-box box-form border-active">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pendapatan baru</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Produk dilihat</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Produk terpesan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form ">
                              <div class="box-top ">
                                  <span class="text-info font-12 pull-left">Produk difavoritkan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     
                 </ul>   
            </div>  

        </div>
    </div> 

    
           
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          
        },
        methods: {
          
        

        }
    }
   
</script>

