<template>
<div>

<div class="box-room box-form box-room-vendor" >      
      
            <vue-content-loading :width="300" :height="100" >  
                 
                 <rect x="0" y="3" rx="5" ry="5" width="80" height="8" /> 
                 <rect x="260" y="1" rx="5" ry="5" width="40" height="8" />    
                <!--  <rect x="0" y="17" rx="5" ry="5" width="130" height="8" />    --> 
                <!--  <rect x="0" y="27" rx="5" ry="5" width="150" height="8" />
                 <rect x="0" y="36" rx="3" ry="3" width="20" height="5" /> -->
                 <rect x="0" y="17" rx="3" ry="3" width="50" height="5" />
                 <rect x="57" y="17" rx="3" ry="3" width="102" height="5" />
                 <rect x="169" y="17" rx="3" ry="3" width="31" height="5" />
                 <rect x="203" y="17" rx="3" ry="3" width="35" height="5" />

                 <rect x="169" y="27" rx="3" ry="3" width="45" height="5" />
                 <rect x="169" y="36" rx="3" ry="3" width="89" height="5" />
                 <rect x="169" y="43" rx="3" ry="3" width="128" height="5" />
                 <rect x="169" y="51" rx="3" ry="3" width="80" height="5" />
                 <rect x="169" y="58" rx="3" ry="3" width="95" height="5" />
                 <rect x="169" y="66" rx="3" ry="3" width="100" height="5" />
                 <rect x="169" y="74" rx="3" ry="3" width="60" height="5" />

                 <rect x="0" y="27" rx="2" ry="2" width="22" height="22" /> 
                 <rect x="24" y="27" rx="1" ry="1" width="98" height="5" />
                 <rect x="24" y="36" rx="1" ry="1" width="6" height="5" /> 
                 <rect x="34" y="36" rx="1" ry="1" width="18" height="5" /> 
                 <rect x="54" y="36" rx="1" ry="1" width="16" height="5" />
                 <rect x="74" y="36" rx="1" ry="1" width="15" height="5" />
                 <rect x="91" y="36" rx="1" ry="1" width="18" height="5" />

                 <rect x="0" y="58" rx="2" ry="2" width="22" height="22" />
                 <rect x="24" y="58" rx="1" ry="1" width="98" height="5" />
                 <rect x="24" y="66" rx="1" ry="1" width="6" height="5" /> 
                 <rect x="34" y="66" rx="1" ry="1" width="18" height="5" /> 
                 <rect x="54" y="66" rx="1" ry="1" width="16" height="5" />
                 <rect x="74" y="66" rx="1" ry="1" width="15" height="5" />
                 <rect x="91" y="66" rx="1" ry="1" width="18" height="5" />

                 <rect x="260" y="90" rx="1" ry="1" width="35" height="8" /> 

            </vue-content-loading> 


</div>

<div class="box-room box-form box-room-vendor" >      
      
            <vue-content-loading :width="300" :height="100" >  
                 
                 <rect x="0" y="3" rx="5" ry="5" width="80" height="8" /> 
                 <rect x="260" y="1" rx="5" ry="5" width="40" height="8" />    
                <!--  <rect x="0" y="17" rx="5" ry="5" width="130" height="8" />    --> 
                <!--  <rect x="0" y="27" rx="5" ry="5" width="150" height="8" />
                 <rect x="0" y="36" rx="3" ry="3" width="20" height="5" /> -->
                 <rect x="0" y="17" rx="3" ry="3" width="50" height="5" />
                 <rect x="57" y="17" rx="3" ry="3" width="102" height="5" />
                 <rect x="169" y="17" rx="3" ry="3" width="31" height="5" />
                 <rect x="203" y="17" rx="3" ry="3" width="35" height="5" />

                 <rect x="169" y="27" rx="3" ry="3" width="45" height="5" />
                 <rect x="169" y="36" rx="3" ry="3" width="89" height="5" />
                 <rect x="169" y="43" rx="3" ry="3" width="128" height="5" />
                 <rect x="169" y="51" rx="3" ry="3" width="80" height="5" />
                 <rect x="169" y="58" rx="3" ry="3" width="95" height="5" />
                 <rect x="169" y="66" rx="3" ry="3" width="100" height="5" />
                 <rect x="169" y="74" rx="3" ry="3" width="60" height="5" />

                 <rect x="0" y="27" rx="2" ry="2" width="22" height="22" /> 
                 <rect x="24" y="27" rx="1" ry="1" width="98" height="5" />
                 <rect x="24" y="36" rx="1" ry="1" width="6" height="5" /> 
                 <rect x="34" y="36" rx="1" ry="1" width="18" height="5" /> 
                 <rect x="54" y="36" rx="1" ry="1" width="16" height="5" />
                 <rect x="74" y="36" rx="1" ry="1" width="15" height="5" />
                 <rect x="91" y="36" rx="1" ry="1" width="18" height="5" />

                 <rect x="0" y="58" rx="2" ry="2" width="22" height="22" />
                 <rect x="24" y="58" rx="1" ry="1" width="98" height="5" />
                 <rect x="24" y="66" rx="1" ry="1" width="6" height="5" /> 
                 <rect x="34" y="66" rx="1" ry="1" width="18" height="5" /> 
                 <rect x="54" y="66" rx="1" ry="1" width="16" height="5" />
                 <rect x="74" y="66" rx="1" ry="1" width="15" height="5" />
                 <rect x="91" y="66" rx="1" ry="1" width="18" height="5" />

                 <rect x="260" y="90" rx="1" ry="1" width="35" height="8" /> 

            </vue-content-loading> 


</div>
</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>