<template>
<div >

    
      
            <vue-content-loading :width="300" :height="120" >  
                 
                 <rect x="0" y="6" rx="2" ry="2" width="40" height="40" /> 
                 <rect x="43" y="6" rx="3" ry="3" width="186" height="10" />
              
                 <rect x="43" y="20" rx="3" ry="3" width="18" height="10" /> 
                 <rect x="68" y="20" rx="3" ry="3" width="35" height="10" /> 
                 <rect x="108" y="20" rx="3" ry="3" width="29" height="10" />
                 <rect x="144" y="20" rx="3" ry="3" width="28" height="10" />
                 <rect x="176" y="20" rx="3" ry="3" width="55" height="10" />    

                 <rect x="0" y="56" rx="2" ry="2" width="40" height="40" /> 
                 <rect x="43" y="56" rx="3" ry="3" width="186" height="10" />
                 <rect x="43" y="70" rx="3" ry="3" width="18" height="10" /> 
                 <rect x="67" y="70" rx="3" ry="3" width="35" height="10" /> 
                 <rect x="108" y="70" rx="3" ry="3" width="29" height="10" />
                 <rect x="144" y="70" rx="3" ry="3" width="28" height="10" />
                 <rect x="176" y="70" rx="3" ry="3" width="55" height="10" />

               

                

            </vue-content-loading> 





</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>