<template>
  <div> 
        <div class="cover-center-404">
            <div class="top-logo">
              <img  :src="img" />
            </div>
            <div class="bottom-logo">
                <h3>Oops... Data Belum Tersedia</h3>
                <span><p>Yuk Bantu Melengkapi Dengan Registrasi Vendor Terkait Ke ESCM</p></span>
            </div>    
        </div> 
  </div> 
</template>
<script>
   export default {
       
       
        data() {
            return {
              img:'',
               
            }
        },
         created() {  
           this.img = BASE_URL + '/img/cover.png';
        },
         computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        
    }
   
</script>
