<template>
  <div> 
        <div class="cover-center-404">
            <div class="top-logo">
              <img class="cov-img-cart" :src="img" />
            </div>
            <div class="bottom-logo">
                <h3>Keranjang belanja kosong</h3>
                <span><p>Yuk, isi dengan barang-barang impianmu!</p></span>


            </div> 
            <div class="pull-left full">
            <div class="cart-btn-center">
               <a class="btn btn-info" @click="getHome">Mulai belanja</a>
            </div> 
            </div>  
        </div> 
  </div> 
</template>
<script>
   export default {
       
       
        data() {
            return {
              img:'',
               
            }
        },
         created() {  
           this.img = BASE_URL + '/img/cover.png';
        },
         computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        methods: {
           getHome(){
               this.$router.push({path:'/'})

           },
        }    
        
    }
   
</script>
