<template>
   <div> 
    <footer class="main-footer full pull-left">
        <div class="container footer-menu padding-index">  
            <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
            <span class="pull-right">www.wise.wika.co.id</span>
        </div>  
    </footer>
   </div>
</template>

