<template>
   <div> 
   <header class="main-header">
            <!-- Header Navbar -->
            <div class="container content-header">
          <!--   <div class="position-top"></div> -->
            <nav class="navbar navbar-static-top" role="navigation">

              <!--   <div class="toogle-menu">
                    <i class="fa fa-bars fa-2x color-blue-sea menu-i"></i>
                </div> -->

                <div class="top">
                  <div class="cover-logo logo-index">
                   
                    <a class="pull-left full fa-pointer" @click="HomePage()">    
                      <img class="logo-nav" :src="logo">
                    </a>  
                  
                  </div>


                  <div class="cover-search box-group-search">
                       <div class="full pull-left">
                         <form method="post" @submit.prevent="postData">
                            <div class="input-group input-group-sm ">
                                <input type="text" v-model="vendor_name" class="form-control input-search" placeholder="Cari Barang / Vendor">
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-info ptb-16 btn-search-rad">
                                    <i class="fa fa-search fa-btn-search fa-i-search"></i>
                                  </button>
                                </span>
                            </div>
                          </form>  
                        </div>
                     

                     <!--   <div class="col-md-2">
                            
                       </div>  -->
                  </div>
                  <div class="cover-menu">
                        
                            <div class="pull-left pad-menu">
                                <ul class="nav navbar-nav box-grouping">
                                    <li class="dropdown messages-menu">
                                         <router-link  class="dropdown-toggle icon-heart" :to="{path: '/wishlist'}">
                                       
                                          <!--  <div class="fa-w fa-icon-love"></div>  --> 
                                          <img class="fa-w" src="/img/icon/icon-love.png">
                                         <!--  <i class="fa fa-heart f-icon-25"></i> --> 
                                          <!-- <span class="label label-success">4</span> -->
                                         </router-link> 
                                    </li>
                                    <li class="dropdown messages-menu">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/cart'}">  
                                                <img class="fa-w" src="/img/icon/icon-cart.png">
                                                <span class="notif-count" v-if="countCart > 0 " @click="updateReadCart()">{{ countCart }}</span>
                                        </router-link>  
                                    </li>
                                    <li class="dropdown messages-menu">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/history'}"> 
                                            <img class="fa-w" src="/img/icon/icon-history.png">
                                            <span class="notif-count" v-if="countOrder > 0 " >{{ countOrder }}</span>
                                          </router-link>    
                                    </li>
                                   
                                    <li class="dropdown notifications-menu" :class="classOpenN">
                                        <!-- <router-link class="dropdown-toggle icon-grey" :to="{path: '/notification'}">
                                             -->
                                           <!-- <div class="fa-w fa-icon-notification"></div> -->
                                         <!--  <i class="fa fa-bell f-icon-25"></i> -->
                                         <!--  <span class="label label-warning">10</span> -->
                                      <!--   </router-link> -->

                                        <a href="#" @click="dropNotification(classOpenN)" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false"  >
                                          <img class="fa-w" src="/img/icon/icon-notification.png">
                                          <span class="notif-count" v-if="countView > 0 " @click="updateViewCount()">{{ countView }}</span>
                                        </a>

                                        <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                <div class="d-menu-border">
                                                  <div class="d-left"><h5>Notifikasi</h5></div> 
                                                  <div class="d-right"><span><router-link :to="{path: '/notification'}">Lihat Semuanya</router-link></span></div>
                                                </div>
                                                
                                                <perfect-scrollbar class="notif-list" >
                                                <ul class="menu">
                                                  <li v-for="noti in notif" :key="noti.id">
                                                    <div class="d-li-left drop-notif">
                                                       <img class="img-list" :src="noti.photo">
                                                    </div>
                                                    <div class="d-li-right">
                                                         <h6>{{ noti.status }}</h6>
                                                         <div class="d-li-center">
                                                             <div class="spaner-r">
                                                                Order No. <span>{{ noti.order_no }}</span>
                                                             </div> 
                                                             <!-- <div class="border-sps-small"></div>  -->
                                                             <div class="spaner-r">{{ noti.created_at }}</div>
                                                          </div>

                                                        
                                                    </div>   
                                                  </li>

                                                  
                                                  
                                                </ul> 
                                                </perfect-scrollbar>   
                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>


                                         



                                    </li>
                                    <li class="dropdown messages-menu ">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/chat'}">
                                              <img class="fa-w" src="/img/icon/icon-message.png">
                                              <span class="notif-count" v-if="countMessage > 0 " @click="updateReadChat()">{{ countMessage }}</span>
                                        </router-link>  
                                    </li>
                                </ul>
                            </div>

                            <div class="center-border">
                                <div class="bor border-right"></div>
                                
                            </div>    

                            <div class="pull-right right-menu">
                                <ul class="nav navbar-nav box-grouping ">
                                     <li class="dropdown user user-menu" :class="classOpenP">
                                         <a href="#" @click="dropProfile(classOpenP)" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false"  >
                                       <!--  <router-link aria-current="page" class="dropdown-toggle icon-grey" :to="{path: '/vendor'}"> -->
                                          <img :src="photo" class="user-image" alt="User Image"> 
                                       <!--  </router-link> -->
                                        </a>

                                        <div class="dropdown-menu pull-right drdown-p">
                                         <div class="d-menu">
                                            <ul class="menu">         
                                                
                                                 <li  class="terdp-24"><a target="_blank" :href="user.callback"><i class="fa fa-tachometer"></i> <span>Backend</span></a></li>
                                                 <li><a class="fa-pointer" @click="logout()"> <i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                                            </ul> 


                                         </div>
                                         <div class="pull-left full">  
                                            <div class="borttom"></div>
                                         </div>   
                                          
                                        </div>






                                    </li>
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle icon-grey" data-toggle="dropdown">
                                          <img src="/img/help.png" class="user-help" alt="">         
                                        </a>
                                    </li>

                                </ul>
                             </div>       
                  </div>  
                </div>

                <div class="bottom">
                    <div class="one"></div>
                    <div class="two">
                        <div class="left">
                            <h6 class="color-blue-sea">Kategori</h6>
                            <ul>
                                <li>
                                    <router-link :class="this.$route.name === 'all' ? 'active' : ''" :to="{path: '/category/all'}" >All</router-link>
                                </li>
                                
                                <li>
                                    <router-link :class="this.$route.name === 'material' ? 'active' : ''" :to="{path: '/category/material'}">
                                        Material
                                    </router-link>
                                </li>

                                <li>
                                    <router-link :class="this.$route.name === 'upah' ? 'active' : ''" :to="{path: '/category/upah'}">
                                      Upah
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'alat' ? 'active' : ''" :to="{path: '/category/alat'}">
                                      Alat
                                    </router-link>
                                </li>

                                 <li>
                                    <router-link :class="this.$route.name === 'subkon' ? 'active' : ''" :to="{path: '/category/subkon'}">
                                      Subkon
                                    </router-link>
                                </li>
                            </ul>
                            <span class="spasi-border-2"></span>
                            <h6 class="color-orange">Urutkan</h6>
                            <ul>
                                <li>
                                    <router-link :class="this.$route.name === 'tertinggi' ? 'active' : ''" :to="{path: '/category/tertinggi'}">
                                        Harga Tertinggi
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'terendah' ? 'active' : ''" :to="{path: '/category/terendah'}">
                                        Harga Terendah
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'kontrak' ? 'active' : ''" :to="{path: '/category/terkontrak'}">
                                        Terkontrak
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'non-kontrak' ? 'active' : ''" :to="{path: '/category/non-kontrak'}">
                                        Non-Kontrak
                                    </router-link>
                                </li>
                                
                                <li class="dropdown" :class="classOpenR">
                                    <a @click="dropRating(classOpenR)"  class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false" >Rating</a>
                                     <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                

                                                <ul class="menu">
                                                  
                                                  
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6">Rating</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                             <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox"  @click="ratingStar(0)">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox"  @click="ratingStar(1)">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(2)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(3)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 


                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(4)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(5)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                 </div>   
                                                            </div>    
                                                        </div> 

                                                       
                                                      </div>  
                                                  </li>

                                                  
                                                  
                                                </ul> 

                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>    
                                         
                                </li>
                               

                                <li class="dropdown" :class="classOpenF">
                                    <a  class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false" @click="dropFilter(classOpenF)" ><i class="fa fa-ellipsis-v"></i></a>

                                       <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                <div class="d-menu-border">
                                                  <div class="d-full"><h5>Pencarian Berdasarkan :</h5></div>    
                                                </div>
                                                
                                              
                                                <perfect-scrollbar class="filter-scroll"> 
                                                <ul class="menu">
                                               
                                                  <form method="post"  @submit.prevent="RequestFilter">
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Harga</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-left pading-left-input">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Rp</span>
                                                                 <input type="text" name="" v-model="price_min" placeholder="Terendah" class="filter-price">
                                                                </div>
                                                            </div>
                                                            <div class="single-left pading-right-input">
                                                                <div class="input-group">
                                                                   <span class="input-group-addon">Rp</span>
                                                                    <input type="text" name="" v-model="price_max" placeholder="Tertinggi" class="filter-price">
                                                                </div>    
                                                            </div>    
                                                        </div>    
                                                      </div>  
                                                  </li>
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Rating</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" v-model="rating" name="total_rate" class="radiobox" value="0">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="1">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="2">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="3">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 


                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="4">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="5">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                 </div>   
                                                            </div>    
                                                        </div> 
                                                      </div>  
                                                  </li>   
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Kategori</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                
                                                                <model-select class="filter-price"   :options="category"
                                                                 v-model="category_id"
                                                                 placeholder="Kategori">
                                                                </model-select>      
                                                                
                                                             
                                                            </div>
                                                                
                                                        </div>    
                                                      </div>  
                                                  </li>
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Lokasi</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                
                                                                <model-select class="filter-price"   :options="location"
                                                                 v-model="location_form"
                                                                 placeholder="Lokasi">
                                                                </model-select>       
                                                                
                                                             
                                                            </div>
                                                                
                                                        </div>    
                                                      </div>  
                                                  </li>
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Status Vendor</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="status_vendor" v-model="status_vendor" class="radiobox" value="non-kontrak">
                                                                <label>Non-kontrak</label>
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="status_vendor" v-model="status_vendor" class="radiobox" value="terkontrak">
                                                                <label>Terkontrak</label>
                                                            </div>    
                                                        </div>    
                                                      </div>  
                                                  </li>
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Status Harga</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" v-model="status_price" name="status_price" class="radiobox" value="verified">
                                                                <label>Verified</label>
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="status_price" v-model="status_price" class="radiobox" value="unverified">
                                                                <label>Un-verified</label>
                                                            </div>    
                                                        </div>    
                                                      </div>  
                                                  </li>


                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Cara Bayar</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                
                                                                 <model-select class="filter-price"   :options="payment"
                                                                 v-model="payment_id"
                                                                 placeholder="Cara Bayar">
                                                                </model-select>  
                                                             
                                                            </div>
                                                                
                                                        </div>    
                                                      </div>  
                                                  </li>

                                                   <li class="filter">
                                                      <div class="filter-box">
                                                         <button type="submit" class="btn btn-info btn-search-multi">Cari</button>
                                                      </div>
                                                   </li>     
                                                   </form>
                                                  
                                                </ul> 
                                                </perfect-scrollbar>
                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>    
                                </li>
                                
                            </ul>
                             
                             
                        </div>
                        <div class="right">
                            <span class="spasi-border-2"></span>
                           <div class="fa-maps fa-icon-maps"></div> 
                            <model-select  class="search-location"   :options="location"
                             v-model="location_id"
                             @input="onChangeLocation($event)"
                             placeholder="Cari Lokasi">
                            </model-select>

                           <div class="user-account">
                             <span><b>Hello</b>, {{ user.username }}</span>
                           </div> 
                        </div>    

                    </div>    
                </div>


                <div class="menu-mobile">
                    <div class="search-left">
                        <div class="css-ocefpf" data-testid="divContent" id="content">
                            <div class="css-ptapcx-unf-searchbar">
                                <input type="text" aria-label="unf-searchbar" data-unify="SearchBar" class="unf-searchbar__input" value="" placeholder="Cari Vendor" data-cy="" margin="0">
                            </div>
                        </div>
                    </div> 
                    <div class="menu-btn">
                        <ul>
                            <li class="dropdown messages-menu">
                                <router-link  class="dropdown-toggle icon-grey" :to="{path: '/chat'}">
                                    <img class="fa-w" src="/img/icon/icon-message-blue.png">
                                </router-link> 
                            </li>
                             <li class="dropdown messages-menu">
                                <router-link  class="dropdown-toggle icon-grey" :to="{path: '/notification'}">
                                    <img class="fa-w" src="/img/icon/icon-notification-blue.png">
                                </router-link> 
                            </li>

                            <li class="dropdown messages-menu">
                                <router-link  class="dropdown-toggle icon-grey" :to="{path: '/cart'}">
                                    <img class="fa-w" src="/img/icon/icon-cart-blue.png">
                                </router-link> 
                            </li>

                            <li class="dropdown messages-menu" data-toggle="modal" data-target="#exampleModal">
                                <div class="toogle-menu">
                                    <i class="fa fa-bars fa-2x color-blue-sea menu-i"></i>
                                </div> 
                            </li>
                        </ul>    
                    </div>   
                </div>

                

            </nav>
            </div>

           <!--  <div v-if="catSticky == true" class="sticky-nav">
                 <div class="sticky-center">
                         <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>
                 </div>   
            </div> -->
    </header>
  
    <div class="modal fade modal-menu-mobile" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog dialog-menu-mobile" role="document">
            <div class="modal-content modal-content-mobile">
              <div class="modal-header modal-header-mobile ">
                <div class="close-menu" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-times x-close" aria-hidden="true"></i> 
                </div>
                <h5 class="modal-title _title-up-mobile" id="exampleModalLabel">Menu Utama</h5>
               
              </div>

              <div class="modal-body">
                <div class="menu-top-user-mobile">
                    <div class="left-top-menu">
                        <img :src="photo" class="user-image" alt="User Image">
                    </div>
                    <div class="center-top-menu">
                       <span class="pull-left full fw-600"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ user.fullname }}</span>
                       <span class="pull-left full fw-600"><i class="fa fa-phone-square" aria-hidden="true"></i> {{ user.phone }}</span>
                       <span class="pull-left full fw-600"><i class="fa fa-address-book" aria-hidden="true"></i> {{ user.address }}</span>
                    </div> 

                    <div class="right-top-menu">
                     <span class="setting">
                          <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                     </span>
                    </div>
                </div>
                <h4 class="css-1dzyzmb">Aktifitas Saya</h4>
                <ul class="activity">
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                         <router-link  class="dropdown-toggle icon-heart" :to="{path: '/wishlist'}">
                          <img class="fa-w pull-left" src="/img/icon/icon-love.png">
                          <span>Wishlist</span>
                         </router-link> 
                    </li>
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/cart'}">  
                            <img class="fa-w pull-left" src="/img/icon/icon-cart-blue.png">
                             <span>Keranjang</span>
                        </router-link>  
                    </li>
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/history'}"> 
                            <img class="fa-w pull-left" src="/img/icon/icon-history-blue.png">
                            <span>Riwayat</span>
                        </router-link>    
                    </li> 
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/notification'}"> 
                            <img class="fa-w pull-left" src="/img/icon/icon-notification-blue.png">
                            <span>Notifikasi</span>
                        </router-link>    
                    </li>

                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/chat'}"> 
                            <img class="fa-w pull-left" src="/img/icon/icon-message-blue.png">
                            <span>Chat</span>
                        </router-link>    
                    </li> 
                </ul>  

                <h4 class="css-1dzyzmb">Kategori</h4>
                <ul class="activity">
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                         <router-link  class="dropdown-toggle icon-heart" :to="{path: '/category/all'}">
                          <i class="fa fa-circle pull-left list-li" aria-hidden="true"></i>
                          <span>All</span>
                         </router-link> 
                    </li>
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/category/material'}">  
                            <i class="fa fa-circle pull-left list-li" aria-hidden="true"></i>
                             <span>Material</span>
                        </router-link>  
                    </li>
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/category/upah'}"> 
                            <i class="fa fa-circle pull-left list-li" aria-hidden="true"></i>
                            <span>Upah</span>
                        </router-link>    
                    </li> 
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/category/alat'}"> 
                            <i class="fa fa-circle pull-left list-li" aria-hidden="true"></i>
                            <span>Alat</span>
                        </router-link>    
                    </li>
                    <li class="dropdown messages-menu" data-dismiss="modal" aria-label="Close">
                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/category/subkon'}"> 
                            <i class="fa fa-circle pull-left list-li" aria-hidden="true"></i>
                            <span>Subkon</span>
                        </router-link>    
                    </li> 
                </ul>  

                <h4 class="css-1dzyzmb">Urutkan</h4>
                <ul class="activity border-menu-mobile">
                    <li>
                        <router-link :class="this.$route.name === 'tertinggi' ? 'active' : ''" :to="{path: '/category/tertinggi'}">
                          <i class="fa fa-arrow-up pull-left list-li" aria-hidden="true"></i>  <span>Harga Tertinggi</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link :class="this.$route.name === 'terendah' ? 'active' : ''" :to="{path: '/category/terendah'}">
                          <i class="fa fa-arrow-down pull-left list-li" aria-hidden="true"></i>  <span>Harga Terendah</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link :class="this.$route.name === 'kontrak' ? 'active' : ''" :to="{path: '/category/terkontrak'}">
                          <i class="fa fa-thumbs-up pull-left list-li" aria-hidden="true"></i>   <span>Terkontrak</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link :class="this.$route.name === 'non-kontrak' ? 'active' : ''" :to="{path: '/category/non-kontrak'}">
                          <i class="fa fa-thumbs-down pull-left list-li" aria-hidden="true"></i>   <span>Non-Kontrak</span>
                        </router-link>
                    </li>
                </ul> 
                 <h4 class="css-1dzyzmb">Rating</h4>
                  <ul class="activity border-menu-mobile">
                     
                                                  
                                                  
                                             
                                            <li class="single-full pading-left-input">
                                                <input type="radio" name="rate_single"  class="radiobox pull-left"  @click="ratingStar(0)">

                                                <div class="rate-box">
                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                </div> 
                                            </li>
                                                            <li class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox pull-left"  @click="ratingStar(1)">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </li>
                                                            <li class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox pull-left" @click="ratingStar(2)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </li> 

                                                            <li class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox pull-left" @click="ratingStar(3)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </li> 


                                                            <li class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox pull-left" @click="ratingStar(4)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </li> 

                                                            <li class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox pull-left" @click="ratingStar(5)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                 </div>   
                                                            </li>    
                                                       

                                                  
                                                  
                                                

                  </ul>  

                  <h4 class="css-1dzyzmb">Pusat Bantuan</h4>
                  <ul class="activity border-menu-mobile">
                     <li>
                        <a>
                           <img src="/img/help.png" class="user-help pull-left">  
                           <span>Harga Tertinggi</span>
                        </a>
                    </li>
                  </ul>  
              </div>

                 
              </div>
              
              
            </div>
          </div>
    </div>

       

   </div>      
</template>
<script>
   import io from 'socket.io-client'; 
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["dataLoc","socketio"],
        data() {
            return {
              socket: [], 
             // socket: io(),  
              vendor_name:'',  
              photo:'/img/2010526.png',
              lists:{},
              user:{},
              notif:{},
              countCart:0,
              countOrder:0,
              countView:0,
              countMessage:0,
              notifChat:[],
              classOpenN:'',
              classOpenP:'',
              classOpenR:'',
              classOpenF:'', 
              list:{},
              price_min:'',
              price_max:'',
              rating:'',
              status_vendor:'',
              status_price:'',
              category:[],
              category_id:'',
              location:[],
              location_id:'',
              location_form:'',
              payment:[],
              payment_id:'',
              checked:true,
              year: new Date().getFullYear(),
              logo:'/img/logo.png',
              catSticky:false,
              windowTop: 0,
              notify:0,
              useronline:[],
              isOpen: true,
             
            }
        },
        created() { 
           this.socket = io(this.socketio) 
           this.Notif();
           this.socketMessage();
           this.user.username = '.....';
           this.getUser();
           
         
           window.addEventListener("scroll", this.onScroll) 
        },
        mounted() {
           
           
        },
        beforeDestroy() {
          window.removeEventListener("scroll", this.onScroll)
        },
        watch: {
            dataLoc: function(result) { 
                const self = this;
                self.location_id = result;

            },
            dataVen: function(result) { 
                const self = this;
                self.vendor_name = result;
               
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            ModelSelect,
          
        },
        methods: {

           // beforeEnter(element) {
           //    requestAnimationFrame(() => {
           //      if (!element.style.height) {
           //        element.style.height = '0px';
           //      }

           //      element.style.display = null;
           //    });
           //  },
    
           //  enter(element) {
           //    requestAnimationFrame(() => {
           //      requestAnimationFrame(() => {
           //        element.style.height = `${element.scrollHeight}px`;
           //      });
           //    });
           //  },
 
           //  afterEnter(element) {
           //    element.style.height = null;
           //  },
   
           //  beforeLeave(element) {
           //    requestAnimationFrame(() => {
           //      if (!element.style.height) {
           //        element.style.height = `${element.offsetHeight}px`;
           //      }
           //    });
           //  },
   
           //  leave(element) {
           //    requestAnimationFrame(() => {
           //      requestAnimationFrame(() => {
           //        element.style.height = '0px';
           //      });
           //    });
           //  },
  
           //  afterLeave(element) {
           //    element.style.height = null;
           //  },


           onScroll(e) {
           this.windowTop = e.target.documentElement.scrollTop;
          

              if(this.windowTop > 551)
              {
                 this.catSticky = true;
              }else{
                this.catSticky = false;
              }  
           },
           socketMessage(){

                const self = this;  
                this.socket.on('cart_count', (data) => 
                {        

                    if(data !=null)
                    {
                        if(data.to == self.notify)
                        {
                         this.countCart = data.count;
                         var audio = new Audio('https://soundbible.com/mp3/Air%20Plane%20Ding-SoundBible.com-496729130.mp3');
                         audio.play(); 
                        }  
                    }    
                   
                });

                this.socket.on('order_count', (data) => 
                {        

                    if(data !=null)
                    {
                        if(data.to == self.notify)
                        {
                         this.countOrder = data.count;
                         var audio = new Audio('https://soundbible.com/mp3/Air%20Plane%20Ding-SoundBible.com-496729130.mp3');
                         audio.play(); 
                        }  
                    }    
                   
                });
             
                // this.socket.on('chat_count', (data) => 
                // {    
               
                //     if(data !=null)
                //     {
                //         if(data.to == self.notify)
                //         {
                //          this.countMessage = data.count;
                //          var audio = new Audio('/file/whatsapp_ringtone_.mp3');
                //          audio.play(); 
                //         }  
                //     }    
                   
                // });

                
                 this.socket.on('chat_message', (data) => 
                {   
                    if(data !=null)
                    {
                        if(data.to == self.notify)
                        { 
                          this.$vToastify.success(data.textmessages,data.from_fullname);      
                          this.$emit('chattext',  data.textmessages);
                        }
                    }    
                });

                

               

           },
           Notif(){
              
                const self = this; 
                let listUrl = "";
                listUrl = BASE_URL + '/api/user/check-notif';    
                axios.get(listUrl).then((response) => {
                    
                      self.notify = response.data.user.id;  
                      this.$emit('notif',  self.notify);


                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                
                });

              

           },   
           HomePage(){
             window.location.href = BASE_URL+ '/';
           },
           ratingStar(val){
              this.$router.push({ path: '/category/start-'+ val }) // -> /user
           },
           dropNotification(classOpenN){
              if(classOpenN =="")
              {
                  this.updateViewCount();
                  this.classOpenN = 'open';
                  this.classOpenP = '';  
                  this.classOpenR = '';
                  this.classOpenF = '';
              }else{
                  this.classOpenN = ''; 
                  this.classOpenP = '';  
                  this.classOpenR = '';
                  this.classOpenF = '';
              }  
              
           },
           dropProfile(classOpenP){
              if(classOpenP =="")
              {
                  this.classOpenN = ''; 
                  this.classOpenP = 'open'; 
                  this.classOpenR = '';
                  this.classOpenF = '';
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = ''; 
                  this.classOpenF = '';
                  
              }  
              
           },
           dropRating(classOpenR){
              
              if(classOpenR =="")
              {
                  this.classOpenN = '';
                  this.classOpenP = ''; 
                  this.classOpenR = 'open';
                  this.classOpenF = ''; 
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = ''; 
                  this.classOpenF = '';
              }  
              
           },
           dropFilter(classOpenF){
              if(classOpenF =="")
              {
                  this.classOpenR = '';
                  this.classOpenN = '';
                  this.classOpenP = ''; 
                  this.classOpenF = 'open';
                   
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = '';
                  this.classOpenF = '';

              }  
              
           },
           updateViewCount(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/update/count/view';    
            axios.get(listUrl).then((response) => {

                self.countView = response.data.count;

            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               // window.location.href = BASE_URL+ '/login';
                self.loading = false;
            });

           },
           updateReadCart(){
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/update/count/cart';    
                axios.get(listUrl).then((response) => {

                    self.countCart = response.data.count;

                }).catch((error) => {
                    console.log(error);
                  
                });

               

           },
           updateReadChat(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/update/count/chat';    
            axios.get(listUrl).then((response) => {

                self.countMessage = response.data.count;

            }).catch((error) => {
                console.log(error);
               
            });

           },
           getUser(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/user/top';    
            axios.get(listUrl).then((response) => {
                self.lists = response.data; 
                self.user = self.lists.vendor;
                self.photo = self.user.photo;
               
                self.category = self.lists.category;
                self.location = self.lists.location;
                self.payment = self.lists.payment;
                self.notif = self.lists.notif;
                self.countView = self.lists.count_view;
                self.countCart = self.lists.count_cart;
                self.countMessage  = self.lists.count_chat;
                self.socket.emit('user_chat', self.user); 

                // self.socket.emit('message', 'tes'); 

            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               window.location.href = BASE_URL+ '/login';
                self.loading = false;
            });

          },
          RequestFilter(){
               const self = this;
                   
                let srcParams = {
                    price_min:self.price_min,
                    price_max:self.price_max,
                    rating:self.rating,
                    category_id:self.category_id,
                    location_form:self.location_form,
                    status_vendor:self.status_vendor,
                    status_price:self.status_price,
                    payment_id:self.payment_id,
                    vendor_name:'',
                };

                this.$emit('filform', srcParams);
                 this.classOpenN = '';
                 this.classOpenP = '';
                 this.classOpenR = '';
                 this.classOpenF = '';
              

          },
          onChangeLocation($event)
          {
             this.location_id = $event;
             this.$router.push({ path: '/location/'+ this.location_id  }) // -> /user
             this.$emit('location', this.location_id);

          },
          postData(){
            
                const self = this;  
                let srcParams = {
                    vendor_name:self.vendor_name,
                };

                if(self.vendor_name !="")
                {
                   this.$emit('filform', srcParams);    
                }    

                this.vendor_name = "";
             


          },

    
          logout(){
               this.useronline = JSON.stringify({'user_id':this.user.id,'user_chat':false,'user_chat_color':'color-offline'});

               

                 this.socket.emit('user_chat', this.useronline);
                 this.socket.on('logout', (data) => 
                 {   
                   
                 });

              window.location.href = BASE_URL+ '/logout';
          }
            

        }
    }
   
</script>

