<template>
 <div>   
<header id="navbar-main" class="bg-white nav-opt-sprite nav-flex nav-locale-us nav-lang-en nav-ssl nav-rec nav-progressive-attribute">

   
<div id="navbar"  role="navigation" class="desktop-v nav-sprite-v1 celwidget nav-bluebeacon nav-a11y-t1 bold-focus-hover layout2 nav-flex layout3 layout3-alt nav-packard-glow hamburger nav-progressive-attribute using-mouse " >

    <div id="nav-belt">
        <div class="container content-header">  
            <div class="nav-left pull-left">
           
                <div id="nav-logo">
                    <a href="/" id="nav-logo-sprites" class="nav-logo-link nav-progressive-attribute" aria-label="ecat">
                      <span class="nav-sprite nav-logo-base"></span>
                      <span id="logo-ext" class="nav-sprite nav-logo-ext nav-progressive-content"></span>
                    </a>
                </div>
             
                <div id="nav-global-location-slot">
                        <span id="nav-global-location-data-modal-action" class="a-declarative nav-progressive-attribute" @click="ModalLocation()">
                            <a  id="nav-global-location-popover-link" class="nav-a nav-a-2 a-popover-trigger a-declarative nav-progressive-attribute" tabindex="0">
                                <div class="nav-sprite nav-progressive-attribute" id="nav-packard-glow-loc-icon"></div>
                                <div id="glow-ingress-block">
                                    <span class="nav-line-1 nav-progressive-content" id="glow-ingress-line1">
                                       Produk di
                                    </span>
                                    <span class="nav-line-2 nav-progressive-content" id="glow-ingress-line2">
                                       {{ location_name }}
                                    </span>
                                </div>
                            </a>
                        </span> 
                </div>

                <Location v-if="showModalLocation" :location="LocationAll" @close="showModalLocation=false" @gtlocation="gtLocation"></Location>

               
            </div>
            <div class="nav-fill pull-left fa-width-search">
                <div id="nav-search">
                 
                    <form id="nav-search-bar-form"  @submit.prevent="postData" class="nav-searchbar nav-progressive-attribute" method="POST" role="search">

                        <div class="nav-left">
                            <div id="nav-search-dropdown-card">
                            
                                <div class="nav-search-scope nav-sprite">
                                    <div class="nav-search-facade" data-value="search-alias=aps">
                                      <span id="nav-search-label-id" class="nav-search-label nav-progressive-content" style="width: auto;" v-html="category_name"></span>
                                      <i class="nav-icon"></i>
                                    </div>
                                  
                                    <select  @change="GetCategory($event)" v-model="category_list" class="nav-search-dropdown searchSelect nav-progressive-attrubute nav-progressive-search-dropdown fa-select"  id="searchDropdownBox" name="url" style="display: block; top: 2.5px;" tabindex="0" title="Search in">
                                        
                                        <optgroup label="Kategori">
                                            <option selected="selected" value="all">All</option>
                                            <option value="material">Material</option>
                                            <option value="upah">Upah</option>
                                            <option value="alat">Alat</option>
                                            <option value="subkon">Subkon</option>
                                        </optgroup>

                                        <optgroup label="Urutkan">
                                            <option value="tertinggi">Harga Tertinggi</option>
                                            <option value="terendah">Harga Terendah</option>
                                            <option value="terkontrak">Terkontrak</option>
                                            <option value="non-kontrak">Non Kontrak</option> 
                                        </optgroup>

                                        <optgroup label="Rating">
                                            <option value='start-1'>&#xf005; </option> 
                                            <option value='start-2'>&#xf005; &#xf005;</option>
                                            <option value='start-3'>&#xf005; &#xf005; &#xf005;</option>
                                            <option value='start-4'>&#xf005; &#xf005; &#xf005; &#xf005;</option>
                                            <option value='start-5'>&#xf005; &#xf005; &#xf005; &#xf005; &#xf005;</option>
                                        </optgroup>
                                    </select>
                                
                                </div>

                            </div>
                        </div>

                        <div class="nav-fill">
                          <div class="nav-search-field ">
                            <input type="text" id="twotabsearchtextbox" v-model="text_search" name="field-keywords" autocomplete="off" placeholder="Cari Barang atau Vendor"  class="nav-input nav-progressive-attribute" >
                          </div>
                          <div id="nav-iss-attach"></div>
                        </div>

                        <div class="nav-right">
                          <div class="nav-search-submit nav-sprite">
                            <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite nav-progressive-attribute" aria-label="Go">
                              <input id="nav-search-submit-button" type="submit" class="nav-input nav-progressive-attribute" value="Go" tabindex="0">
                            </span>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
           

            <Menulist :socketio="socketio" :user="user" :countCart="countCart" @modalFilter="ModalFilter"></Menulist>
           

                  
        </div>  
    </div>
    
</div>
  

<!-- mobile  view -->

<div id="navbar"  class="mobile-v nav-t-gateway nav-sprite-v3 celwidget" >
        <div id="nav-logobar">
            <div class="nav-left padd-left">  
              <a href="" id="nav-hamburger-menu" role="button" clas="dropdown" data-toggle="modal" data-target="#hmenu-container">
                <i class="nav-icon-a11y nav-sprite"></i>
              </a>
               
              <div id="nav-logo">
                <a href="/" id="nav-logo-sprites" class="nav-logo-link nav-progressive-attribute" >
                  <span class="nav-sprite nav-logo-base"></span>
                  <span id="logo-ext" class="nav-sprite nav-logo-ext nav-progressive-content"></span>
                 
                </a>
              </div>
            </div>

            <div class="nav-right">
     
                <div id="nav-progressive-greeting" class="nav-progressive-content">
                  <span class="nav-greeting-recognized" id="nav-logobar-greeting">
                      <a href="" id="nav-greeting-name">
                          <b>{{ user.username }}</b> ›
                      </a>
                  </span>
                </div>

                <a href="" class="nav-a nav-progressive-attribute" id="nav-button-avatar" aria-label="your account">
                  <img src="\img\-CB403841047.gif" width="35px" height="27px" alt="your account">

                </a>

                <router-link  class="nav-a" id="nav-button-cart" :to="{path: '/history'}">
                    <div id="cart-size" class="nav-cart-0 nav-progressive-attribute">
                      <span class="nav-notif nav-sprite">
                        <span id="nav-cart-count" class="nav-cart-count nav-count-notif nav-progressive-content" >{{ countOrder }}</span>
                      </span>
                    </div>
                </router-link>
                
                <router-link  class="nav-a pad-icon-top" id="nav-button-cart" :to="{path: '/cart'}">
                    <div id="cart-size" class="nav-cart-0 nav-progressive-attribute">
                      <span class="nav-icon nav-sprite">
                        <span id="nav-cart-count" class="nav-cart-count nav-progressive-content" >{{ countCart }}</span>
                      </span>
                    </div>
                </router-link>

            </div>
        </div>
        

        
       
  <div class="nav-progressive-attribute" id="search-ac-init-data"></div>
  <div id="nav-search-keywords-data" class="nav-progressive-attribute"></div>


  <div class="nav-searchbar-wrapper bg-blue-i">
    

 <!--    <form class="nav-searchbar search-big" id="nav-search-form"  @submit.prevent="postData">
        

        <div class="nav-fill">
            <div class="nav-search-field">
                    <input type="text" class="nav-input nav-progressive-attribute"  placeholder="Cari Barang atau Vendor" data-aria-clear-label="Clear search keywords"  autocomplete="off" autocorrect="off" autocapitalize="off" dir="auto" v-model="vendor_name" id="nav-search-keywords">
                <a class="nav-icon nav-sprite nav-search-clear"   style="display:none"></a>
            </div>
            <div id="suggestions-template">
                <div id="suggestions2">
                    <div class="autocomplete-results-container">
                        <div class="aok-hidden" id="issFOSContext">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-right">
                <div class="nav-search-submit">
                  <input type="submit" class="nav-input" value="Go" aria-label="Go">
                  <i class="nav-icon nav-sprite"></i>
                </div>
        </div>

       
    </form> -->
     <div class="filter-search-i" @click="ModalFilter()">
            <span class="icp-nav-flag icp-nav-flag-us"></span>
        </div>
  </div>

<div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
<router-link  class="nav-a" :to="{path: '/category/all'}">All</router-link>
<router-link  class="nav-a" :to="{path: '/category/material'}">Material</router-link>
<router-link  class="nav-a" :to="{path: '/category/upah'}">Upah</router-link>
<router-link  class="nav-a" :to="{path: '/category/alat'}">Alat</router-link>
<router-link  class="nav-a" :to="{path: '/category/subkon'}">Subkon</router-link>

<router-link  class="nav-a" :to="{path: '/category/tertinggi'}">Harga Tertinggi</router-link>
<router-link  class="nav-a" :to="{path: '/category/terendah'}">Harga Terendah</router-link>
<router-link  class="nav-a" :to="{path: '/category/terkontrak'}">Terkontrak</router-link>
<router-link  class="nav-a" :to="{path: '/category/non-kontrak'}">Non Kontrak</router-link>

<router-link  class="nav-a" :to="{path: '/category/start-1'}">Rate 1</router-link>
<router-link  class="nav-a" :to="{path: '/category/start-2'}">Rate 2</router-link>
<router-link  class="nav-a" :to="{path: '/category/start-3'}">Rate 3</router-link>
<router-link  class="nav-a" :to="{path: '/category/start-4'}">Rate 4</router-link>
<router-link  class="nav-a" :to="{path: '/category/start-5'}">Rate 5</router-link>


</div>


        

        
        
        <!--NAVYAAN-SUBNAV-AND-SMILE-FROM-GURUPA-->
        
<!-- NAVYAAN-GLOW-SUBNAV -->
<div class="glow-subnav-template glow-mobile-subnav" id="nav-subnav-container">
    <div class="a-declarative" data-action="glow-sheet-trigger" id="nav-global-location-slot">
        <div class="nav-sprite" id="nav-packard-glow-loc-icon"></div>
        <div id="glow-ingress-block">
            <span class="nav-single-line nav-persist-content" id="glow-ingress-single-line">
                 <model-select class="md-mobile-nav" @input="onChangeLocation($event)" :options="location"
                v-model="location_form"
                placeholder="Pilih lokasi Produk">
                </model-select> 
            </span>
        </div>
       
    </div>
</div>



        
    </div>

  
    <!-- Div yang akan muncul atau tersembunyi -->
    
    <div v-show="showScrollDownPR"  class="container content-header bg-white z-index-front">
      
        <div class="col-md-12 info-prreq pull-left full">
           
            <div  class="col-md-9   border-solid-1 border-rad8 bg-grey margin-bottom-7">
              <div class="box-header padding-none">  
                
                    <div v-if="showDetailPR" class="arrow-container">
                        <div class="arrow1"></div>
                        <div class="arrow2"></div>
                    </div>

                    <span class v-else>
                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                    </span>
               
                <h5 v-if="showDetailPR" class="box-title font-14  capitalize" v-html="textInfoPR"></h5>
                <h5 v-else class="box-title font-14 capitalize" v-html="textInfoPR"></h5>
              </div>  
            </div> 
           

            <div class="col-md-3 padding-none margin-bottom-5" >
                <div class="btn-group pull-right" data-toggle="btn-toggle" >
                    <button type="button" @click="GetDetailPR()"   class="btn btn-info  border-radius-left"> 
                        List PR Request 
                    </button>

                     <button type="button" @click="RefreshPR()" class="btn btn-info border-radius-right"> 
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>  
            </div>

              
        </div>
    </div>

   


    <div v-show="showScrollDownHistory"  class="container content-header bg-white z-index-front">
      
        <div class="col-md-12 info-prreq pull-left full">
         <div class="col-md-1">    
           <h4>Riwayat</h4>
         </div>
         
         <div class="col-md-3"> 
              <model-select  :options="status"
                v-model="status_id" 
                class="margin-3-0"
                :searchable="false" 
                @input="onChangeStatus($event)"
                placeholder="Pilih Status">


                </model-select> 
         </div>  

          <div class="col-md-5"> 

          </div>  

         <div class="col-md-3 padding-none margin-bottom-5" >
              <div class="btn-group pull-right" data-toggle="btn-toggle" >
                    <button type="button"  @click="filterHistory()"  class="btn btn-info  border-radius-left"> 
                        Pencarian berdasarkan 
                    </button>

                     <button type="button" @click="filterHistory()" class="btn btn-info border-radius-right"> 
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
              </div>
         </div>   
            
           
              
        </div>
    </div>


</header> 

<Search  v-if="showModalFilter" :project="Project" :NoPRrequest="NoPRrequest"   @close="showModalFilter=false"  @filterSearch="filterForm"></Search>

<DetailPR  v-if="showModalDetailPR"   :NoPRrequest="NoPRrequest"  @filtersearch="filterPRRequest" @close="showModalDetailPR=false" ></DetailPR>

<Navbar  :socketio="socketio" :user="user" ></Navbar>  

<AdsEcatalog v-if="showModalAds"  @close="showModalAds=false"></AdsEcatalog>

</div>
</template>
   
<script>
   import io from 'socket.io-client'; 
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';

   export default {
        props:["showPR","showHistory","Page","socketio","countCart","detailtext"],
        data() {
            return {
              showScrollDownPR: false, // Menyimpan status scroll
              showScrollDownHistory:false,
              socket: [], 
              showModalLocation:false,
              showModalFilter:false,
              showModalAds:false,
              showModalDetailPR:false,
              textInfoPR:'Untuk melakukan aktifitas pemesan harap memilih request PR terlebih dahulu !!',
              showDetailPR:false,
              category_list:'',
              LocationAll:[],
              location_name:'Indonesia',
              text_search:'',  
              photo:'/img/2010526.png',
              lists:[],
              user:{},
              notif:{},
              category_name:'All',
              countOrder:0,
              countView:0,
              countMessage:0,
              notifChat:[],
              classOpenN:'',
              classOpenP:'',
              classOpenR:'',
              classOpenF:'', 
              list:{},
              price_min:'',
              price_max:'',
              rating:0,
              status_vendor:'',
              status_price:'',
              category:[],
              category_id:'',
              location:[],
              location_id:'',
              location_form:'',
              
              checked:true,
              year: new Date().getFullYear(),
              logo:'/img/logo.png',
              catSticky:false,
              windowTop: 0,
              notify:0,
              useronline:[],
              isOpen: true,
              sliders:[],
              
              status:[
              {value:'waiting-approval-1',text:'Waiting Approval 1'},{value:'waiting-approval-2',text:'Waiting Approval 2'},{value:'canceled',text:'Canceled'},{value:'revisi',text:'Revisi'},{value:'approved',text:'Approved'}],
              status_id:'',
             
             
            
              
              pr_request_id:'',
              product_id:null,  
            
              isDisabledPR:true,
              
              Project:[],
              NoPRrequest:[],
              SumberDaya:[],
              getdataAll:[],
              openForm:false,
            }
        },
        created() { 
           this.socket = io(this.socketio) 
           this.Notif();
           this.socketMessage();
           this.user.username = '.....';
           this.getUser(); 
           
           this.checkLocalStorage();
            
           window.addEventListener("scroll", this.onScrollCart);
           window.addEventListener("scroll", this.onScrollPreview)  
            
        },
        mounted() {
           
            

            if(this.pathUri[1] =='category')
            {
               this.selectedActive(this.pathUri[2]);
               this.category_id = this.pathUri[2];  
            } 
           
           
        },
        beforeDestroy() {
          window.removeEventListener("scroll", this.handleScrollPR);
          window.removeEventListener("scroll", this.onScrollCart);    
          window.removeEventListener("scroll", this.onScrollPreview);
          window.removeEventListener("scroll", this.handleScrollHistory);
         
        },
        watch: {
            Page:function(result) { 
            
                if(result =='detail')
                {
                  this.getListPR(this.$route.params.id);
                }else if(result =='index'){
                  this.getListPR(this.product_id)
                }
                   
            } ,
            showPR:function(result) { 
               
                  
                    if (result) {
                      window.addEventListener("scroll", this.handleScrollPR);
                    } else {
                      this.showScrollDownPR = result;  
                      window.removeEventListener("scroll", this.handleScrollPR);
                    }
               
              

             },  
             showHistory:function(result) { 
          
                    if (result) {
                      window.addEventListener("scroll", this.handleScrollHistory);

                    } else {
                      this.showScrollDownHistory = result;
                      window.removeEventListener("scroll", this.handleScrollHistory);
                    }

             }, 
            
            dataLoc: function(result) { 
                const self = this;
                self.location_id = result;

            },
            detailtext: function(result) { 
               this.textInfoPR = result;
            },
            

            
            
          
           
            // countCart: function(result) { 
            //     const self = this;
            //     if(result >0)
            //     {
            //        var audio = new Audio('https://soundbible.com/mp3/Air%20Plane%20Ding-SoundBible.com-496729130.mp3');
            //        audio.play();   
            //     }    
               
            // },
            
            
            dataVen: function(result) { 
                const self = this;
                self.text_search = result;
               
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 

            pathUri: function() {
              const URI = (new URL(window.location.href)).pathname.split('/');
               return URI;
            } 
        },
        components: {
            ModelSelect,
           'Location':require('./tooltip-location.vue').default,
           'Search':require('./md-filter.vue').default,
           'DetailPR':require('./md-detail-pr.vue').default,
           'AdsEcatalog':require('./md-ads.vue').default,
           'Navbar':require('./md-navbar.vue').default,
           'Menulist':require('./menulistDekstop.vue').default,
        },
        methods: {

            RefreshPR(){
               localStorage.removeItem('request_pr');
               this.checkLocalStorage();
               this.$emit('refreshPR',true);
            },

            checkLocalStorage() {
              const data = localStorage.getItem('request_pr'); 
              if (data) {
                this.showDetailPR = true;
                const storedData = JSON.parse(data);  // Parse jika data berupa JSON
                this.pr_request_id = storedData.pr_request_id;   
                  this.textInfoPR = this.pathUri[1] === 'product' || this.detailtext !== '' 
                  ? 'Menampilkan Detail Produk Dengan Request PR <span class="no-pr-color"> ' + storedData.pr_request +'</span>'
                  : 'Menampilkan List Produk Dengan Request PR  <span class="no-pr-color"> ' + storedData.pr_request + '</span>';
 
                 
              } else {
                this.pr_request_id = '';
                this.textInfoPR = 'Untuk melakukan aktifitas pemesan harap memilih Request PR terlebih dahulu !!';
                this.showDetailPR = false;
               
              }
            },

            filterPRRequest(data){
                 this.showDetailPR = true;
                 localStorage.setItem('request_pr',JSON.stringify(data));
                 this.checkLocalStorage();
                 this.$emit('filtersearch', data);

            },
            
            handleScrollPR() {
              // Ambil posisi scroll saat ini
              const scrollTop = window.scrollY;
              
              // Atur ambang batas scroll (300px)
              this.showScrollDownPR = scrollTop > 0;
            },

            handleScrollHistory() {
              // Ambil posisi scroll saat ini
              const scrollTop = window.scrollY;
              
              // Atur ambang batas scroll (300px)
              this.showScrollDownHistory = scrollTop > 0;
            },
           
            GetDetailPR(){
               this.showModalDetailPR = true;

            },
          
            ModalLocation(){

              this.showModalLocation = !this.showModalLocation;

            },
            ModalFilter(){
              this.showModalFilter = true;
            },
            gtLocation(id){
                  this.location_id = id;
                  let find = this.LocationAll.find(o => o.value ===  id);
                  this.location_name = find.text;
                  
                  if(this.category_id)
                  {
                     
                     let srcParams = {
                        filter_type :'filter_select',
                        category_id:this.category_id,
                        location_id:this.location_id,
                        location_name:this.location_name,
                     };
                   
                     this.$emit('filtersearch', srcParams);    

                     
                  }else{
                     this.$router.push({ path: '/location/'+ id  });
                     this.$emit('search_location', id);
                        
                  } 
               
            },

            onChangeStatus(event){
               this.$emit('filterstatus', event);
            },

            filterHistory(){
                this.openForm = true;
                console.log(this.openForm)
                this.$emit('formHistory', this.openForm);
            },
            GetCategory(event){
              this.category_id = event.target.value;
              this.selectedActive(this.category_id);  
               
              if(this.location_id)
              {

                     let srcParams = {
                        filter_type :'filter_select',
                        category_id:this.category_id,
                        location_id:this.location_id,
                        location_name:this.location_name,
                     };
                   
                     this.$emit('filtersearch', srcParams);    

              }else{
                  
                 this.$router.push({ path: '/category/'+ this.category_id  }) 
              }  
              
              
            },

            selectedActive(event){
              
               var name = '';  
              if(event =="start-1")
              {
                name = '<i class="fa fa-star" ></i>';
              }else if(event =="start-2"){
                name = '<i class="fa fa-star" ></i> <i class="fa fa-star" ></i>'; 
              }else if(event =="start-3"){
                name = '<i class="fa fa-star" ></i> <i class="fa fa-star" ></i> <i class="fa fa-star" ></i>'; 
              }else if(event =="start-4"){
                name = '<i class="fa fa-star" ></i> <i class="fa fa-star" ></i> <i class="fa fa-star" ></i> <i class="fa fa-star" ></i>';   
              }else if(event =="start-5"){
                name = '<i class="fa fa-star" ></i> <i class="fa fa-star" ></i> <i class="fa fa-star" ></i> <i class="fa fa-star" ></i> <i class="fa fa-star" ></i>'; 
              }else if(event =="non-kontrak"){
                name = 'Non Kontrak'; 
              }else if(event =="kontrak"){
                name = 'Kontrak';   
              }else{
                 if(event !=undefined)
                {
                   name = event.substr(0,1).toUpperCase()+event.substr(1);
                }else{
                   name = 'All'; 
                }
                 
              }
                
                   
              this.category_name = name;   
               
            },
            

           filterForm(data){
             
             this.showModalFilter = false;
              
              if(data.pr_request_id)
              {  
                const find = this.NoPRrequest.filter((item) => item.project_id === data.project_id);
                let request_pr = {
                    filter_type:'filter_sort',
                    project_id:find[0].project_id,
                    pr_request_id:find[0].value,
                    pr_request:find[0].text,
                };
                this.showDetailPR = true;
                localStorage.setItem('request_pr',JSON.stringify(request_pr));
              }
                    
             this.checkLocalStorage();
             this.$emit('filtersearch', data);

           },
           
           onScrollCart(e) {
           this.windowTop = e.target.documentElement.scrollTop;
          

              if(this.windowTop > 551)
              {
                 this.catSticky = true;
              }else{
                this.catSticky = false;
              }  
           },
           onScrollPreview(e) {
           this.windowTop = e.target.documentElement.scrollTop;
          

              if(this.windowTop > 200)
              {
                 this.catSticky = true;
              }else{
                this.catSticky = false;
              }  
           },
           socketMessage(){

                const self = this;  
                // this.socket.on('cart_count', (data) => 
                // {        

                //     if(data !=null)
                //     {
                //         if(data.to == self.notify)
                //         {
                //          this.countCart = data.count;
                //          var audio = new Audio('https://soundbible.com/mp3/Air%20Plane%20Ding-SoundBible.com-496729130.mp3');
                //          audio.play(); 
                //         }  
                //     }    
                   
                // });

                this.socket.on('order_count', (data) => 
                {        

                    if(data !=null)
                    {
                        if(data.to == self.notify)
                        {
                         this.countOrder = data.count;
                         var audio = new Audio('https://soundbible.com/mp3/Air%20Plane%20Ding-SoundBible.com-496729130.mp3');
                         audio.play(); 
                        }  
                    }    
                   
                });
             
                // this.socket.on('chat_count', (data) => 
                // {    
               
                //     if(data !=null)
                //     {
                //         if(data.to == self.notify)
                //         {
                //          this.countMessage = data.count;
                //          var audio = new Audio('/file/whatsapp_ringtone_.mp3');
                //          audio.play(); 
                //         }  
                //     }    
                   
                // });

                
                 this.socket.on('chat_message', (data) => 
                {   
                    if(data !=null)
                    {
                        if(data.to == self.notify)
                        { 
                          this.$vToastify.success(data.textmessages,data.from_fullname);      
                          this.$emit('chattext',  data.textmessages);
                        }
                    }    
                });

                

               

           },
           Notif(){
              
                const self = this; 
                let listUrl = "";
                listUrl = BASE_URL + '/api/user/check-notif';    
                axios.get(listUrl).then((response) => {
                    
                      self.notify = response.data.user.id;  
                      this.$emit('notif',  self.notify);


                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                
                });

              

           },   
           HomePage(){
             window.location.href = BASE_URL+ '/';
           },
           ratingStar(val){
              this.$router.push({ path: '/category/start-'+ val }) // -> /user
           },
           dropNotification(classOpenN){
              if(classOpenN =="")
              {
                  this.updateViewCount();
                  this.classOpenN = 'open';
                  this.classOpenP = '';  
                  this.classOpenR = '';
                  this.classOpenF = '';
              }else{
                  this.classOpenN = ''; 
                  this.classOpenP = '';  
                  this.classOpenR = '';
                  this.classOpenF = '';
              }  
              
           },
           dropProfile(classOpenP){
              if(classOpenP =="")
              {
                  this.classOpenN = ''; 
                  this.classOpenP = 'open'; 
                  this.classOpenR = '';
                  this.classOpenF = '';
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = ''; 
                  this.classOpenF = '';
                  
              }  
              
           },
           dropRating(classOpenR){
              
              if(classOpenR =="")
              {
                  this.classOpenN = '';
                  this.classOpenP = ''; 
                  this.classOpenR = 'open';
                  this.classOpenF = ''; 
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = ''; 
                  this.classOpenF = '';
              }  
              
           },
           dropFilter(classOpenF){
              if(classOpenF =="")
              {
                  this.classOpenR = '';
                  this.classOpenN = '';
                  this.classOpenP = ''; 
                  this.classOpenF = 'open';
                   
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = '';
                  this.classOpenF = '';

              }  
              
           },
           updateViewCount(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/update/count/view';    
            axios.get(listUrl).then((response) => {

                self.countView = response.data.count;

            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               // window.location.href = BASE_URL+ '/login';
                self.loading = false;
            });

           },
           updateReadCart(){
                // const self = this;
                // let listUrl = "";
                // listUrl = BASE_URL + '/api/update/count/cart';    
                // axios.get(listUrl).then((response) => {

                //     self.countCart = response.data.count;

                // }).catch((error) => {
                //     console.log(error);
                  
                // });

               

           },
           updateReadChat(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/update/count/chat';    
            axios.get(listUrl).then((response) => {

                self.countMessage = response.data.count;

            }).catch((error) => {
                console.log(error);
               
            });

           },
           getListPR(product_id){
              
            const self = this;
           
            const listUrl = product_id != null 
            ? `${BASE_URL}/api/listrequestpr?product_id=${product_id}` : `${BASE_URL}/api/listrequestpr`; 
              
            axios.get(listUrl).then((response) => {
                
                 //self.getdataAll = response.data;  
                 self.Project = self.ListProject(response.data);
                 self.NoPRrequest = response.data;
                
                 
                 
              

            }).catch((error) => {
                console.log(error);
               
            });

           },
           getUser(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/user/top';    
            axios.get(listUrl).then((response) => {
                self.lists = response.data; 
                self.user = self.lists.vendor;
                self.photo = self.user.photo;
               
            
                //self.category = self.lists.category;
                self.LocationAll = self.lists.location;
               
                self.notif = self.lists.notif;
                self.countView = self.lists.count_view;
               // self.countCart = self.lists.count_cart;
                self.countMessage  = self.lists.count_chat;
                self.socket.emit('user_chat', self.user);


                 
                 
                if(this.pathUri[1] =='location')
                {
                   this.location_id = parseInt(this.pathUri[2]);
                   let find = this.LocationAll.find(o => o.value ===  parseInt(this.pathUri[2]));
                   this.location_name = find.text;

                }     

            }).catch((error) => {
                console.log(error);
               
            });

          },
          ListProject(data){
              

             // Menghapus duplikat berdasarkan kombinasi pr_request_id dan no_pr_request
            const uniqueData = data.reduce((acc, current) => {
              const exists = acc.find(
                (item) =>
                  item.project_id === current.project_id &&
                  item.project_name === current.project_name 
                  

              );

              if (!exists) {
                acc.push(current);
              }

              return acc;
            }, []);

          
                const list = [...new Set(uniqueData)].map((item) => {
                 
                  return { text: item.project_name, value: item.project_id };
                });

                return list;

           },


          ListNoPrRequest(data){
                
                 // Ambil hanya pr_request_id dan no_pr_request
                const result = data.map(({id,project_id,project_name,location_id,
                  location_name,sda_code,sda_name,pr_volume,pr_date_required,pr_description,pr_request_id, no_pr_request }) => ({
                  id,  
                  project_id,
                  project_name,
                  location_id,
                  location_name,
                  sda_code,
                  sda_name,
                  pr_volume,
                  pr_date_required,
                  pr_description,
                  pr_request_id,
                  no_pr_request,
                }));

              //  console.log(data)

                // Menghapus duplikat berdasarkan kombinasi pr_request_id dan no_pr_request
                const uniqueData = result.reduce((acc, current) => {
                  const exists = acc.find(
                    (item) =>
                      item.no_pr_request === current.no_pr_request
                      
                  );

                  if (!exists) {
                    acc.push(current);
                  }

                  return acc;
                }, []);

          
                const list = [...new Set(uniqueData)].map((item) => {
                 
                  return { 
                        selected: false,
                        id:item.id,
                        text: item.no_pr_request,
                        value: item.pr_request_id,
                        project_id:item.project_id,
                        project_name:item.project_name,
                        location_id:item.location_id,
                        location_name:item.location_name,
                        sda_code:item.sda_code,
                        sda_name:item.sda_name,
                        pr_volume:item.pr_volume,
                        pr_date_required:item.pr_date_required, 
                        pr_description:item.pr_description
                    };
                });

                return list;

            
            
            },

            ListSumberDaya(data){
               //console.log(data)
              // Ambil hanya pr_request_id dan no_pr_request
                const result = data.map(({project_id,pr_request_id,sda_code,sda_name }) => ({

                  project_id,
                  pr_request_id,
                  sda_code,
                  sda_name,
                 
                }));

          

                // Menghapus duplikat berdasarkan kombinasi pr_request_id dan no_pr_request
                const uniqueData = result.reduce((acc, current) => {
                  const exists = acc.find(
                    (item) =>
                      item.sda_code === current.sda_code
                      
                  );

                  if (!exists) {
                    acc.push(current);
                  }

                  return acc;
                }, []);

                const list = [...new Set(uniqueData)].map((item) => {
                 
                  return {
                        selected: false,  
                        project_id:item.project_id, 
                        pr_request_id:item.pr_request_id,
                        text: item.sda_name,
                        value: item.sda_code,
                       
                    };
                });

                return list;

           },

          RequestFilter(){
               const self = this;
                   
                let srcParams = {
                    price_min:self.price_min,
                    price_max:self.price_max,
                    rating:self.rating,
                    category_id:self.category_id,
                    location_form:self.location_form,
                    status_vendor:self.status_vendor,
                    status_price:self.status_price,
                    payment_id:self.payment_id,
                   
                };

                this.$emit('filform', srcParams);
                 this.classOpenN = '';
                 this.classOpenP = '';
                 this.classOpenR = '';
                 this.classOpenF = '';
              

          },
          onChangeLocation($event)
          {
             this.location_id = $event;

          },
          postData(){
             
               const self = this;  

               let srcParams = {
                  filter_type: 'input_text',
                  text_search: self.text_search,
                  category_id: self.category_id,
                  location_id: self.location_id,
                };

                if (this.pr_request_id !='') {
                  srcParams.pr_request_id = this.pr_request_id;
                }
                
                if(self.text_search !="")
                {
                   this.$emit('filtersearch', srcParams);    
                }    

                this.text_search = "";
             


          },

    
         
            

        }
    }
   
</script>

<style>
/* Tambahkan gaya sesuai kebutuhan */
.srollDown {
  display: none;
}


.arrow-container {
    position: relative;
    bottom: 3px;
    float: left;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow1 {
    position: absolute;
    width: 12px;
    height: 12px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
    animation: moveArrow1 1s infinite alternate ease-in-out, colorChange1 1s infinite alternate ease-in-out;
}

.arrow2 {
    position: absolute;
    top: 12px;
    width: 12px;
    height: 12px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    animation: moveArrow2 1s infinite alternate ease-in-out, colorChange2 1s infinite alternate ease-in-out;
}



.arrow:nth-child(2) {
    animation-delay: 0.2s;
}

@keyframes moveArrow1 {
    from {
        transform: rotate(45deg) translateY(5px);
        opacity: 0.5;
    }
    to {
        transform: rotate(45deg) translateY(5px);
        opacity: 1;
    }
}

@keyframes colorChange1 {
    from {
        border-color: black;
    }
    to {
        border-color: white;
    }
}


@keyframes moveArrow2 {
    from {
        transform: rotate(45deg) translateY(5px);
        opacity: 1;
    }
    to {
        transform: rotate(45deg) translateY(5px);
        opacity: 0.5;
    }
}

@keyframes colorChange2 {
    from {
        border-color: white;
    }
    to {
        border-color: black;
    }
}

</style>
