<template>
 <div class="wrapper">
     <Header  
     :showPR="ShowActionPR"
     :showHistory="ShowActionHistory"
     :Page="page"
     :socketio="SocketIo"  
     :countCart="ichart"  
     :detailtext="detailtext"
     
    
     @search_location="searchLocation" 
     @filtersearch="filterSearch"
     @filterstatus="filterStatus"
     @formHistory="ShowFormHistory"   
     @notif="inotif"  
     @chattext="imessage" 
     @refreshPR="RefreshPR"

     ></Header>

     <div class="container content-menu">
        <router-view 
   
        
        
        :location_id="location_id"
        :filter="filterData"
        :status="statusParam"
        :notify="snotip" 
        :messages="messtext" 
        :refresh="refresh" 
        :Showform="formhistory"
        @cartCount="jmlChart"  
        @detailtext="Detailtext"
       
        @ShowPR="PageShowPR"
        @ShowHistory="PageShowHistory"
        @CloseFormHistory="ShowFormHistory"
        
        @Page="PageListPR"
        ></router-view>
     </div>
     
     <footer is="Footer" class="site-footer"></footer>      
</div>

</template>
<script>
   export default {
        props:["SocketIo"], 
        
        data() {
            return {
              filterData:{},
              statusParam:'',
              location_id:'0',
              category_id:'',
              project:[],
              NoPRrequest:[],
              SumberDaya:[],
              Location:[],
              vendor_name:'',
              snotip:0,
              messtext:'',
              ichart:0,
              refresh:false,
              detailtext:'',
             
              ShowActionPR:'',
              ShowActionHistory:false,
              page:'',
              formhistory:false,
              
            }
        },
        created() {  
           
        },
        mounted() {
          
        },
        
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: { 
            'Header': require('./header-new.vue').default, 
            'Footer': require('./footer.vue').default, 
        },
        methods: {
           
          
           searchLocation(location_id)
           {
           
             this.location_id = location_id;
             
           },
           filterSearch(data){
              this.filterData = data;
              
           },
           filterStatus(data){
              this.statusParam = data;
           },
           inotif(data){
              this.snotip = data; 
           },
           imessage(data){
             this.messtext = data;
    
           },
           jmlChart(data){

               this.ichart = data;
                
           },
           RefreshPR(data){
             this.refresh = data;
           },
           Detailtext(data){
              this.detailtext = data;
           },
          
           PageShowPR(data){
             this.ShowActionPR = data;
           },
           PageShowHistory(data){
             this.ShowActionHistory = data;
           },
           PageListPR(data){
             this.page = data;
           },
           ShowFormHistory(data){
              this.formhistory = data;

           },
           
 
        }
    }
   
</script>
