<template>
<div class="modal fade in" id="myLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block" >
  <div class="modal-dialog " role="document">
    <div class="modal-content border-rad8 modal-lg pull-left mod-filter-i-mobile">
      <div class="modal-header bg-header-top pull-left full">
        <button type="button" class="close col-lg-1 modal-close" @click="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="a-popover-header-content col-lg-11" id="myModalLabel">Ads by ecatalog</h4>
      </div>
            

          
        <div class="modal-body pull-left full"> 
           

          <div class="mr-ads">
   

   

        <VueSlickCarousel v-bind="settings" >
             
              <!--  <img class="imgs"  src="http://e-catalog.loc/file/ads/promoCOD.png"  >
               <img class="imgs"   src="http://e-catalog.loc/file/ads/PromoPria.png"  >
               <img class="imgs"  src="http://e-catalog.loc/file/ads/PromoWanita.png"  > -->

            
               
                    <img v-for="sl in sliders" :key="sl.id" class="imgs" :src="sl.photo"  :alt="sl.name">
               
         
        </VueSlickCarousel>


  </div>
          
                           
        </div>
          
       
 
    </div>
  </div>
</div>
</template>

<script>
  
   
    export default {
       
        data() {
            return {
               settings: {
                  dots: true,
                 // dotsClass: "slick-dots custom-dot-class",
                  edgeFriction: 0.35,
                  infinite: true,
                  arrows: true,
                  speed: 500,
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  autoplay:true,
                  fade: true,
                  autoplaySpeed:2000
                },
               sliders:[],
                
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 
        },
         
        mounted() {
          
        },
        created(){
           this.getAds();
        },
        components: {
            
        },
        methods: {
              close(){
             this.$emit('close');
          },
              getAds(){
             const self = this;
                let listUrl = BASE_URL + '/api/ecatalog-ads'; 
                
                 
                axios.get(listUrl).then((response) => {
                   
                    self.sliders = response.data.results;
                    
                  
                   
                }).catch((error) => {
                    console.log(error);
                    
                });

          },
            
        }
    }
</script>

<style >
  .slick-initialized .slick-slide {
     float: left!important;
     width: auto!important;
     margin: 0 0 0 0!important;
     border: none!important; 
     border-radius: none!important; 
     box-shadow: none!important; 
}

.mr-ads{
  padding: 11px 31px 0px;
    width: 100%;
    border: 1px solid #ddd;
    margin: 0px 0px 0px;
    border-radius: 12px;
    background: #ddd;
}
.imgs{
    display: block;
    margin: 0px 33px 0px 0px!important;
}

</style>
