<template>
<div class="modal fade in" id="myLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block" >
  <div class="modal-dialog " role="document">
    <div class="modal-content border-rad8 modal-lg pull-left mod-filter-i-mobile">
      <div class="modal-header bg-header-top pull-left full">
        <button type="button" class="close col-lg-1 modal-close" @click="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="a-popover-header-content col-lg-11" id="myModalLabel">List PR Request</h4>
      </div>
            

     
        <div class="modal-body pull-left full"> 
         <perfect-scrollbar class="scroll-group-pr" > 
               

           <div class="form-group col-lg-12 ">
                <label>No PR Request </label>
                <perfect-scrollbar class="scroll-detail-pr" >  
                <table class="table table-bordered">
                 <thead>
                     <tr>
                        <th>Pilihan</th>
                        <th>No PR Request</th>
                        <th>Project</th>
                        <th>Lokasi</th>
                        
                     </tr>   
                 </thead>
                 <tbody   >
                    
                        <tr  v-for="(list, index) in NoPRrequest" v-show="showPR == true">
                          <td><input type="radio" v-model="pr_request_id"  :value="list.value" @input="OnChangePRRequest($event)"></td> 
                          <td  :class="{ 'text-bold': list.selected }"> {{ list.text }}</td>
                          <td  :class="{ 'text-bold': list.selected }"> {{ list.project_name }}</td>
                          <td  :class="{ 'text-bold': list.selected }"> {{ list.location_name }}</td>
                         <!--  <td :class="{ 'text-bold': list.selected }"> {{ list.pr_volume }}</td> 
                          <td :class="{ 'text-bold': list.selected }"> {{ list.pr_date_required }}</td>
                          <td :class="{ 'text-bold': list.selected }"> {{ list.pr_description }}</td> -->
                        </tr>

                        <tr v-show="showPR == false" ><td colspan="4" class="text-bold" align="center">PR Request kosong.</td></tr>
                    

                        
                   </tbody>   
                </table> 
                </perfect-scrollbar>    
           </div>

           <div class="form-group col-lg-12">
                <label>Sumber Daya</label>
                <perfect-scrollbar class="scroll-detail-pr" >  
                <table class="table table-bordered">
                 <thead>
                     <tr>
                       
                        <th>Kode Sumber Daya</th>
                        <th>Nama Sumber Daya</th>
                        <th>Volume</th>
                        <th>Tgl Dibutuhkan</th>
                        <th>Keterangan</th>
                     </tr>   
                 </thead>
                 <tbody>
                    
                        <tr v-show="showSumberDaya == true" v-for="(list, index) in listSumberDaya">
                          
                          <td class="text-bold">{{ list.value }}</td>
                          <td class="text-bold">{{ list.text }}</td>
                          <td class="text-bold">{{ list.volume }}</td>
                          <td class="text-bold">{{ list.date_required }}</td>
                          <td class="text-bold">{{ list.description }}</td>
                        </tr> 
                          
                        <tr v-show="showSumberDaya == false" ><td colspan="2" class="text-bold" align="center">Sumber daya kosong pilih PR request terlebih dahulu.</td></tr>
                   </tbody>   
                </table> 
                </perfect-scrollbar>                   
           </div> 
          </perfect-scrollbar>
                    
        </div>
          
        <div class="modal-footer pull-left full">
          <button type="button" class="btn btn-default"  @click="close">Tutup</button>
          <button type="button" class="btn btn-primary" @click="Search()" v-if="NoPRrequest.length > 0">Pilih</button>
        </div>
    
  
    </div>
  </div>
</div>
</template>

<script>
  
   
    export default {
        props:["NoPRrequest"],
        data() {
            return {
               pr_request_id:'',
               listNoPR:{},
               listSumberDaya:[],
               showSumberDaya:false,
               showPR:false,
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 
        },
        created(){
          if(this.NoPRrequest.length > 0)
          {
            this.showPR = true;
          }else{
            this.showPR = false;
          }  
        },
        mounted() {
            
          
           
        },
        components: {
              
        },
        methods: {
          OnChangePRRequest(event){
                this.showSumberDaya = true;
                const find = this.NoPRrequest.find(o=> o.value === parseInt(event.target.value));
               
                let srcParams = {
                    filter_type:'filter_sort',
                    project_id:find.project_id,
                    pr_request_id:find.value,
                    pr_request:find.text,
                    sumberdaya:find.sumberdaya,
                };
                 
                 
                this.listNoPR = srcParams;
                this.listSumberDaya  = find.sumberdaya;
 
                
            },
          Search(){

            this.$emit('filtersearch', this.listNoPR);
            this.$emit('close');
          },     
          close(){
             this.$emit('close');
          },
            
            
        }
    }
</script>

<style type="text/css">
  .modal{
    padding: 0px 0px!important;
  }

.scroll-detail-pr {
  max-height: 300px;
  overflow: hidden;
}

.scroll-group-pr {
  max-height: 450px;
  overflow: hidden;
}
</style>
