<template>
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block" >
  <div class="modal-dialog " role="document">
    <div class="modal-content border-rad8 modal-lg pull-left mod-filter-i-mobile">
      <div class="modal-header bg-header-top pull-left full">
        <button type="button" class="close col-lg-1 modal-close" @click="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="a-popover-header-content col-lg-11" id="myModalLabel">Pencarian Berdasarkan</h4>
      </div>
            

       <form method="post"  @submit.prevent="RequestFilter">     
        <div class="modal-body pull-left full"> 

          <div class="form-group col-lg-12">
                <label>Project</label>

                <model-select  :options="project"
                v-model="project_id" @input="OnChangeProject($event)"

                placeholder="Pilih Nama Project">
                </model-select> 
           </div> 

           <div class="form-group col-lg-6">
                <label>No PR Request</label>
                 <model-select  :options="listNoPR" @input="OnChangePRRequest($event)"
                v-model="pr_request_id"
                :disabled="isDisabledRequestPR"
                placeholder="Pilih PR Request">
             </model-select>
           </div> 
           <div class="form-group col-lg-6">
                <label>Sumber Daya</label>

                <model-select  :options="listSumberDaya" @input="OnChangeSumberDaya($event)"
                v-model="category_id"
                placeholder="Pilih Sumber Daya">
                </model-select> 
           </div> 

         

           <div class="form-group col-lg-12">
                <label>Harga</label>
              <div class="row">
                 <div class="col-lg-6">
                      <div class="input-group"><span class="input-group-addon border-radius-left">Rp</span> 
                      
                        <input type="number" name="" v-model="price_min" placeholder="Terendah" class="border-radius-right form-control">
                      </div>
                 </div> 
                  <div class="col-lg-6">
                      <div class="input-group"><span class="input-group-addon border-radius-left">Rp</span>
                        <input type="number" name="" v-model="price_max" placeholder="Tertinggi" class="border-radius-right form-control ">
                        
                      </div>
                 </div>
              </div>  
               
            </div>
           
           

           
           <div class="form-group col-lg-6">
                <label>Rating</label>     
                  <div class="rating-container">
                    <span
                      v-for="(star, index) in totalStars"
                      :key="index"
                      class="star "
                      @mouseover="setHover(index + 1)"
                      @mouseleave="resetHover"
                      @click="setRating(index + 1)"
                    >

                      <i 
                        :class="[
                          'fa',
                          isStarActive(index) ? 'fa-star fa-2x rate-yellow' : 'fa-2x fa-star-o'
                        ]"
                      ></i>
                    </span>
                    <p>Rating: {{ rating }}</p>
                  </div>


           </div>
           <div class="form-group col-lg-6">
                <label>Status Vendor</label>
                <div class="radio">
                    <label class="pull-left full">
                       <input type="radio" name="status_vendor" v-model="status_vendor" id="optionsRadios1" value="non-kontrak">
                        <div class="group-start">
                           Non kontrak
                        </div>
                    </label>
                     <label class="pull-left full">
                      <input type="radio" name="status_vendor" v-model="status_vendor" id="optionsRadios1" value="terkontrak">
                        <div class="group-start">
                           Terkontrak
                        </div>
                    </label>
                </div>    
           </div> 

           <div class="form-group col-lg-6"></div> 

           <div class="form-group col-lg-6">
                <label>Status Harga</label>
                <div class="radio">
                    <label class="pull-left full">
                      <input type="radio" v-model="status_price" name="status_price" id="optionsRadios1" value="verified">
                        <div class="group-start">
                           Verified
                        </div>
                    </label>
                     <label class="pull-left full">
                      <input type="radio" name="status_price" v-model="status_price" id="optionsRadios1" value="unverified">
                        <div class="group-start">
                           Un-verified
                        </div>
                    </label>
                </div>    
           </div>
          
                           
        </div>
          
        <div class="modal-footer pull-left full">
            
      <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary" >Cari</button>
        </div>
     </form>
    </div>
  </div>
</div>
</template>

<script>
  
    import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css'; 
    export default {
        props:["project","NoPRrequest"],
        data() {
            return {
               price_min:'',
               price_max:'',
               location_form:'',
               location_name:'',
               category_id:'',
               payment_id:'',
               status_vendor:'',
               status_price:'',
               project_id:'',
               project_name:'',
               pr_request_id:'',
               pr_request:'',
               listNoPR:[],
               totalStars: 5,   
               rating: '',        
               hoverRating: 0,
               listSumberDaya:[],
               listLocation:[],

               ProjectSelected :[],
               NoPRSelected:[], 
               SumberDaya:[],
               isDisabledRequestPR:false,
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 
        },
        mounted() {
           
        },
        components: {
              ModelSelect,
        },
        methods: {
            
           // Mengatur nilai hover rating
          setHover(value) {
            this.hoverRating = value;
          },
          // Mengembalikan hover rating ke 0
          resetHover() {
            this.hoverRating = 0;
           // this.rating = 0;
          },
          // Mengatur nilai rating saat klik
          setRating(value) {
            this.rating = value;
          },
          // Mengecek apakah bintang aktif
          isStarActive(index) {
            return index < (this.hoverRating || this.rating);
          },

          OnChangeProject(event){
            
             const find = this.project.find(o=> o.value === event);
             this.listNoPR = this.NoPRrequest.filter((item) => item.project_id === find.value);
             this.project_name = find.text;
             this.ProjectSelected = find;
             
            
          },

          OnChangePRRequest(event){
             const find = this.listNoPR.find(o=> o.value === event);
             this.listSumberDaya = find.sumberdaya;
             this.pr_request = find.text;
             var UpdatePRrequest = this.listNoPR.find(o=> o.selected === true);
             if(UpdatePRrequest)
             {
                 UpdatePRrequest.selected = false;
             } 
          
             find.selected = true;
            
          },
          OnChangeSumberDaya(event){
            const find = this.listSumberDaya.find(o=> o.value === event);
            this.category_id =  find.value;
            var UpdateSumberDaya = this.listSumberDaya.find(o=> o.selected === true);
             if(UpdateSumberDaya)
             {
                 UpdateSumberDaya.selected = false;
             } 

             find.selected = true;
            
             // this.listLocation = this.Location.filter(item => item.sda_code === event);

             // if(this.listLocation.length <2)
             // {
             //     this.location_id = this.listLocation[0].value;
             // } 

             // console.log(this.location_id)
       
            

          },
          
          onChangeCategory(){
             this.category_id = $event;
          },
          close(){
             this.$emit('close');
          },
          RequestFilter(){
              
                let srcParams = {
                    filter_type:'filter_form',
                    price_min:this.price_min,
                    price_max:this.price_max,
                    rating:this.rating,
                    category_id: this.category_id.substring(0, 2),
                    location_form:this.location_form,
                    status_vendor:this.status_vendor,
                    status_price:this.status_price,
                    project_id:this.project_id,
                    pr_request_id:this.pr_request_id,
                    project_name:this.project_name,
                    pr_request:this.pr_request,
                    
                };

                this.$emit('filterSearch', srcParams);
                 
               

          },
            
            
        }
    }
</script>

<style type="text/css">
  .modal{
    padding: 0px 0px!important;
  }
</style>
