<template>
<div class="modal fade in" id="myLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block" >
  <div class="modal-dialog " role="document">
    <div class="modal-content border-rad8 modal-sm margin-modal ">
      <div class="modal-header bg-header-top">
        <button type="button" class="close" @click="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="a-popover-header-content" id="myModalLabel">Choose your location</h4>
      </div>
     
          
                <model-select class="modal-body loc-modal" @input="onChangeLocation($event)" :options="location"
                v-model="location_form"
                placeholder="Pilih lokasi Produk">
                </model-select> 

          
      <div class="modal-footer">
      <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" @click="SubmitLoc();">Cari</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  
    import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css'; 
    export default {
        props:["location"],
        data() {
            return {
               
               location_id:'',
               location_form:''
              
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 
        },
        mounted() {
           
        },
        components: {
              ModelSelect,
        },
        methods: {
          
          onChangeLocation($event){
              this.location_id = $event;

          },
          close(){
             this.$emit('close');
          },
          SubmitLoc(){
              
              this.$router.push({ path: '/location/'+ this.location_id  }) // -> /user

              this.$emit('gtlocation', this.location_id);
              this.$emit('close');
             
          },
            
            
        }
    }
</script>
