<template>
 <div class="modal fade modal-menu-mobile" id="hmenu-container" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div id="hmenu-container" style="display: block;" class="celwidget nav-sprite-v3 hmenu-visible" >
  <div id="hmenu-canvas-background" class="hmenu-dark-bkg-color hmenu-opaque" data-dismiss="modal" aria-label="Close">
    <div class="nav-sprite hmenu-close-icon"></div>
  </div>
  <div id="hmenu-canvas" class="nav-ignore-pinning hmenu-translateX">
    
    
    <div id="hmenu-content">
      

<a id="hmenu-close-menu" class="hmenu-hidden-link" >
  <div>Close menu</div>
</a>
<ul class="hmenu header-enabled hmenu-visible" data-menu-id="1">
<li>
<div id="hmenu-header">
    <div id="hmenu-header-top">
        <a id="hmenu-header-account" data-recognized="1" href="javascript:void(0)">
            <div id="hmenu-header-account-text">rizal's Account</div>
            <div id="hmenu-header-account-icon" class="nav-sprite"></div>
        </a>
    </div>
    <div id="hmenu-header-bottom">
      <a id="hmenu-header-title" href="/?ref_=navm_em_header_title_home">
          <div id="hmenu-header-title-line1">Browse</div>
          <div id="hmenu-header-title-line2">Ecatalog</div>
      </a>
    </div>
</div>
</li>
<li>
<a id="hmenu-home-link" href="">
    <div id="hmenu-home-container">
        <div id="hmenu-home-left">
            <div id="hmenu-home-text">Ecatalog Dasboard</div>
        </div>
        <div id="hmenu-home-right">
            <div id="hmenu-home-icon" class="nav-sprite"></div>
        </div>
    </div>
</a>
</li>
<li class="hmenu-separator"></li>
<li><div class="hmenu-item hmenu-title ">Akun & List</div></li>
<li><router-link class="hmenu-item" :to="{path: '/wishlist'}">Wishlist</router-link></li>
<li><router-link class="hmenu-item" :to="{path: '/chat'}">Message</router-link></li>
<li><router-link class="hmenu-item" :to="{path: '/history'}">History</router-link></li>
<li><a class="hmenu-item"  @click="logout()">logout</a></li>
<li class="hmenu-separator"></li>



<!-- <li><div class="hmenu-item hmenu-title ">Rating</div></li>
<li><a href="" class="hmenu-item"><i class="fa fa-star"></i></a></li>
<li><a href="" class="hmenu-item"><i class="fa fa-star"></i> <i class="fa fa-star"></i></a></li>
<li><a href="" class="hmenu-item"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></a></li>
<li><a href="" class="hmenu-item"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></a></li>
 -->


<li>
    <a class="hmenu-item hmenu-compressed-btn" href=""><div>see all</div>
        <i class="nav-sprite hmenu-arrow-more"></i>
    </a>
</li>
</ul>

    



        
        
        








</div>
    <a id="hmenu-back-to-top" class="hmenu-hidden-link nav-side-menu-back-to-top" href="javascript:void(0)"><div>Back to top</div></a>
  </div>
</div>
    </div>
</template>

<script>
  
    import io from 'socket.io-client';
    export default {
        props:["socketio","user"],
        data() {
            return {
               socket: [],   
               useronline:[],
              
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 
        },
        created() {  
            this.socket = io(this.socketio) ;
        },
        mounted() {
           
        },
        components: {
             
        },
        methods: {
          
           logout(){
                this.useronline = JSON.stringify({'user_id':this.user.id,'user_chat':false,'user_chat_color':'color-offline'});

                 this.socket.emit('user_chat', this.useronline);
                 this.socket.on('logout', (data) => 
                 {   
                   
                 });
              
              window.location.href = BASE_URL+ '/logout';
          }
            
            
        }
    }
</script>
