<template>
  <div class="nav-right ">
                <div id="nav-tools" >

                    <a href="#" id="icp-nav-flyout" class="nav-a nav-a-2 icp-link-style-2" @click="ModalFilter()">
                        <span class="icp-nav-link-inner">
                            <span class="nav-line-1">
                          </span>
                          <span class="nav-line-2">
                            <span class="icp-nav-flag icp-nav-flag-us"></span>
                          </span>
                        </span>
                    </a>

                    <router-link  class="nav-notif nav-a nav-a-2 nav-progressive-attribute" id="nav-cart" :to="{path: '/notification'}">
                        <div id="nav-cart-count-container">
                          <span id="nav-cart-count"  class="nav-cart-count nav-cart-0 nav-progressive-attribute nav-progressive-content nav-notiv-count">{{ countView }}</span>
                          <span class="nav-cart-icon nav-notification nav-sprite"></span>
                        </div>    
                    </router-link>

                    <a href="#"  id="nav-link-accountList" @mouseover="classOpenP = 'open'" @mouseleave="classOpenP = ''" @click="dropProfile(classOpenP)" class="dropdown-toggle nav-a nav-a-2 nav-truncate nav-progressive-attribute"  data-toggle="dropdown" tabindex="0" aria-expanded="false"  >
                                      
                    <div class="nav-line-1-container">
                        <span id="nav-link-accountList-nav-line-1" class="nav-line-1 nav-progressive-content">Halo, {{ user.username }}</span>
                    </div>
                    <span class="nav-line-2 ">Akun &amp; Lists<span class="nav-icon nav-arrow" style="visibility: visible;"></span>
                    </span>

                    </a>


                    <div class="pull-right right-menu">
                                <ul class="nav navbar-nav box-grouping ">
                                     <li class="dropdown user user-menu" :class="classOpenP">


                                        <div class="dropdown-menu pull-right drdown-p po-drop" @mouseover="classOpenP = 'open'" @mouseleave="classOpenP = ''">
                                            <div class="nav-arrow" >
                                                 <div class="nav-arrow-inner"></div>
                                            </div> 

                                         <div class="d-menu">
                                            <ul class="menu">         
                                                
                                                 <li  class="terdp-24"><a target="_blank" :href="user.callback"><i class="fa fa-tachometer"></i> <span>Backend</span></a></li>
                                                  
                                                    <li  class="terdp-24">
                                                      <router-link :to="{path: '/wishlist'}">    <i class="fa fa-heart"></i> <span>Wishlist</span>
                                                      </router-link>
                                                    </li>
                                                 <li  class="terdp-24">
                                                    <router-link  :to="{path: '/chat'}">  <i class="fa fa-comment"></i> <span>Messages</span>
                                                    </router-link>

                                                 </li>   


                                                 <li><a class="fa-pointer" @click="logout()"> <i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                                            </ul> 


                                         </div>
                                         <div class="pull-left full">  
                                            <div class="borttom"></div>
                                         </div>   
                                          
                                        </div>






                                    </li>
                                   

                                </ul>
                    </div> 
                    
                    <router-link class="nav-a nav-a-2  nav-progressive-attribute" id="nav-orders" :to="{path: '/history'}"> 
                      <span class="nav-line-1">Riwayat</span>
                      <span class="nav-line-2">&amp; Order<span class="nav-icon nav-arrow"></span></span>
                    </router-link>

                    <router-link  class="nav-a nav-a-notif nav-a-2 nav-progressive-attribute" id="nav-cart" :to="{path: '/cart'}">
                   
                        <div id="nav-cart-count-container">
                          <span id="nav-cart-count" aria-hidden="true" class="nav-cart-count nav-cart-0 nav-progressive-attribute nav-progressive-content">{{ countCart }}</span>
                          <span class="nav-cart-icon nav-sprite"></span>
                        </div>
                        <div id="nav-cart-text-container" class=" nav-progressive-attribute">
                          <span aria-hidden="true" class="nav-line-1">
                            
                          </span>
                          <span aria-hidden="true" class="nav-line-2">
                            
                            <span class="nav-icon nav-arrow"></span>
                          </span>
                        </div>
                    </router-link>
                                
                   
                </div>
            </div>

</template>
<script>
   import io from 'socket.io-client'; 
   export default {
        props:["socketio","user","countCart"],
        
        data() {
            return {
             socket: [],   
             countView:0,   
            
             classOpenP:'',  
            }
        },
        created() {  
            this.socket = io(this.socketio);

        },
        mounted() {
        
        },
        
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: { 
            
        },
        methods: {
           dropProfile(classOpenP){
              if(classOpenP =="")
              {
                  
                  this.classOpenP = 'open';
                 
              }else{
                  this.classOpenP = ''; 
                  
              }  
              
           },
           ModalFilter(){
             this.$emit('modalFilter',  true);
           },
           logout(){
                // this.useronline = JSON.stringify({'user_id':this.user.id,'user_chat':false,'user_chat_color':'color-offline'});

                //  this.socket.emit('user_chat', this.useronline);
                //  this.socket.on('logout', (data) => 
                //  {   
                   
                //  });
              localStorage.clear();
              window.location.href = BASE_URL+ '/logout';
          }
         
           
 
        }
    }
   
</script>
