<template>
  <div> 
         

        <div class="box-room box-form" >
                           
            <div class="top-logo">
                <div class="i-order">   
                    <img class="cov-img" :src="img" />
                </div>      
           
                <div class="bottom-logo">
                     <h3>Oops... Data Belum Tersedia</h3>
                     <span><p>Yuk Bantu Melengkapi Dengan Registrasi Vendor Terkait Ke E-catalogue</p></span>
                </div> 
            </div>
                      
        </div>
  </div> 
</template>
<script>
   export default {
       
       
        data() {
            return {
              img:'',
               
            }
        },
         created() {  
           this.img = BASE_URL + '/img/cover.png';
        },
         computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        
    }
   
</script>
