<template>
 
<div class="a-section glow-toaster glow-toaster-theme-default glow-toaster-slot-default nav-coreFlyout nav-flyout" role="alertdialog" style="display: flex;">
    <div class="glow-toaster-content">
        
            <div class="nav-arrow">
                <div class="nav-arrow-inner"></div>
            </div>

      <div class="pull-left full">       
          <h5 id="glow-toaster-title" class="glow-toaster-title aok-hidden">
              Cari Produk berdasarkan lokasi vendor
          </h5>

          <div @click="close()" class="pull-right margin-5-0 pointer">
            <i class="fa fa-times"></i>
          </div>
      </div>  




      <div id="glow-toaster-body" class="a-section a-spacing-none glow-toaster-body pull-left">
          <span class="a-size-base">
              
                  <div class="a-box a-alert a-alert-error glow-toaster-error a-spacing-base" role="alert">
                  
                     
                           <model-select class="a-box-inner a-alert-container border-radius-12" @input="onChangeLocation($event)" :options="location"
                            v-model="location_form"
                            placeholder="Pilih lokasi Produk">
                            </model-select> 
                     
                  
                  </div>
             
              <div class="span-text">
                     
                      Kami menunjukkan produk berdasarkan lokasi <strong> Vendor</strong>. Untuk melihat produk di provinsi lain, ubah lokasinya.
               </div>    
              
          </span>
      </div>

        
            <div class="glow-toaster-footer  pull-left full"> 
                   <button type="button" class="btn btn-primary" @click="SubmitLoc();">Cari Lokasi</button>
            </div>
        
    </div>
</div>
</template>

<script>
  
     import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css'; 
    export default {
        props:["location"],
        data() {
            return {
               
               location_id:'',
               location_form:''
              
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 
        },
        mounted() {
           
        },
        components: {
            ModelSelect,
        },
        methods: {
          
          onChangeLocation($event){
              this.location_id = $event;

          },
          close(){
             this.$emit('close');
          },
          SubmitLoc(){
              
             // this.$router.push({ path: '/location/'+ this.location_id  }) // -> /user

              this.$emit('gtlocation', this.location_id);
              this.$emit('close');
             
          },
            
            
        }
    }
</script>

<style>
  .glow-toaster-slot-default {
    position: absolute;
    top: 53px !important;
    left: 114px;
    width: 450px !important;
    z-index: 100;
}
#glow-toaster-title{
  float: left;
  width: auto;
}
.glow-toaster-slot-default {
    background: #fff;
    color: inherit;
}
.glow-toaster {
    font-family: inherit;
    padding: 6px 18px;
}

#glow-toaster-body{
  min-height: 200px;
}
.a-alert-error {
    border-color: #cc0c39;
    border-radius: 12px;
}
.a-alert-error, .a-alert-info, .a-alert-success, .a-alert-warning {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
}

.span-text{
  color: black;
  padding: 12px 0px;
}

.a-alert-error .a-alert-container, .a-alert-info .a-alert-container, .a-alert-success .a-alert-container, .a-alert-warning .a-alert-container {
    background-color: var(--__N4QdChibkmGo, #fff);
    padding: 12px 12px;
}
.a-box .a-box-inner {
    border-radius: 8px;
    position: relative;
    padding: 14px 18px;
}

.a-alert-error .a-alert-container .a-icon.a-icon-alert+.a-alert-content, .a-alert-info .a-alert-container .a-icon.a-icon-alert+.a-alert-content, .a-alert-success .a-alert-container .a-icon.a-icon-alert+.a-alert-content, .a-alert-warning .a-alert-container .a-icon.a-icon-alert+.a-alert-content {
    padding-left: 28px;
}


.glow-toaster-slot-default .nav-arrow {
    margin-left: -7px;
}

.nav-flyout .nav-arrow {
    border-style: solid;
    _border-style: dashed;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid #ccc;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -9px;
}

.nav-flyout .nav-arrow-inner {
    border-style: solid;
    _border-style: dashed;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid #fff;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0px;
    left: -9px;
}

.glow-toaster-body {
    overflow: auto;
}

.glow-toaster-footer {
    text-align: right;
        border-top: 1px solid #cc0c39;
        padding: 6px 0px;
}

.a-spacing-top-base {
    margin-top: 12px !important;
}
 


</style>
