<template>
    <footer class="main-footer full pull-left">
           <div class="container footer-menu padding-index">  
             <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
             <span class="pull-right">www.escm.wika.co.id</span>
           </div>  
    </footer>
</template>
<script>
   export default {
       
        
        data() {
            return {
               year: new Date().getFullYear(),
            }
        },
        created() {  
           
        },
        mounted() {
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            
          
        },
        methods: {
         

        }
    }
   
</script>
