<template>
   <header class="main-header">
            <!-- Header Navbar -->
            <div class="container content-header">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="toogle-menu">
                    <i class="fa fa-bars fa-2x color-blue-sea menu-i"></i>
                </div>

                <div class="top">
                  <div class="cover-logo logo-index">
                   
                    <router-link class="pull-left full" :to="{path: '/'}">    
                      <img class="logo-nav" :src="logo">
                    </router-link>  
                  
                  </div>

                  <div class="cover-search">
                       <div class="full pull-left">
                         <form method="post" @submit.prevent="postData">
                            <div class="input-group input-group-sm box-group-search">
                                <input type="text" v-model="vendor_name" class="form-control input-search" placeholder="Cari Barang / Vendor">
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-info ptb-16 btn-search-rad">
                                    <i class="fa fa-search fa-btn-search fa-i-search"></i>
                                  </button>
                                </span>
                            </div>
                          </form>  
                        </div>
                     

                     <!--   <div class="col-md-2">
                            
                       </div>  -->
                  </div>

                  <div class="cover-menu">
                         <div class="pull-left full">
                            <div class="pull-left p-menu">
                                <ul class="nav navbar-nav box-grouping">
                                    <li class="dropdown messages-menu">
                                         <router-link  class="dropdown-toggle icon-heart" :to="{path: '/wishlist'}">
                                       
                                          <!--  <div class="fa-w fa-icon-love"></div>  --> 
                                          <img class="fa-w" src="/img/icon/icon-love.png">
                                         <!--  <i class="fa fa-heart f-icon-25"></i> --> 
                                          <!-- <span class="label label-success">4</span> -->
                                         </router-link> 
                                    </li>
                                    <li class="dropdown messages-menu">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/cart'}">  
                                              <img class="fa-w" src="/img/icon/icon-cart.png">
                                            <!-- <div class="fa-w fa-icon-cart"></div>  -->
                                          <!-- <i class="fa fa-cart-arrow-down f-icon-25"></i> -->
                                          <!-- <span class="label label-success">4</span> -->
                                        </router-link>  
                                    </li>
                                    <li class="dropdown messages-menu">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/history'}"> 
                                               <img class="fa-w" src="/img/icon/icon-history.png">
                                             <!--  <div class="fa-w fa-icon-history"></div> --> 
                                         <!--  <i class="fa fa-history f-icon-25"></i> -->
                                         <!--  <span class="label label-success">4</span> -->
                                          </router-link>    
                                    </li>
                                   
                                    <li class="dropdown notifications-menu" :class="classOpenN">
                                        <!-- <router-link class="dropdown-toggle icon-grey" :to="{path: '/notification'}">
                                             -->
                                           <!-- <div class="fa-w fa-icon-notification"></div> -->
                                         <!--  <i class="fa fa-bell f-icon-25"></i> -->
                                         <!--  <span class="label label-warning">10</span> -->
                                      <!--   </router-link> -->

                                        <a href="#" @click="dropNotification(classOpenN)" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false"  >
                                          <img class="fa-w" src="/img/icon/icon-notification.png">
                                        </a>

                                        <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                <div class="d-menu-border">
                                                  <div class="d-left"><h5>Notifikasi</h5></div> 
                                                  <div class="d-right"><span><router-link :to="{path: '/notification'}">Lihat Semuanya</router-link></span></div>
                                                </div>

                                                <ul class="menu">
                                                  <li>
                                                    <div class="d-li-left drop-notif">
                                                       <div class="img-list"></div>
                                                    </div>
                                                    <div class="d-li-right">
                                                         <h6>Approved</h6>
                                                         <div class="d-li-center">
                                                             <div class="spaner-r">
                                                                Order No. <span>210930003</span>
                                                             </div> 
                                                             <div class="border-sps-small"></div> 
                                                             <div class="spaner-r">30 September 2021 </div>
                                                          </div>

                                                         <div class="bt-left"><div class="span-l">Lacak</div></div>
                                                         <div class="bt-right"><div class="spn-r">Rp.500.000</div></div>
                                                    </div>   
                                                  </li>

                                                  <li>
                                                    <div class="d-li-left">
                                                       <div class="img-list"></div>
                                                    </div>
                                                    <div class="d-li-right">
                                                         <h6>Approved</h6>
                                                         <div class="d-li-center">
                                                             <div class="spaner-r">
                                                                Order No. <span>210930003</span>
                                                             </div> 
                                                             <div class="border-sps-small"></div> 
                                                             <div class="spaner-r">30 September 2021 </div>
                                                          </div>

                                                         <div class="bt-left"><div class="span-l">Lacak</div></div>
                                                         <div class="bt-right"><div class="spn-r">Rp.500.000</div></div>
                                                    </div>   
                                                  </li>
                                                  
                                                </ul> 

                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>


                                         



                                    </li>
                                    <li class="dropdown messages-menu ">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/vendor/chat'}">
                                                   <img class="fa-w" src="/img/icon/icon-message.png">
                                          <!-- <div class="fa-w fa-icon-message"></div> -->
                                         <!--  <span class="label label-success">4</span> -->
                                        </router-link>  
                                    </li>
                                </ul>
                            </div>

                            <div class="spasi-border-1"></div>

                            <div class="pull-right">
                                <ul class="nav navbar-nav box-grouping mtb-5">
                                     <li class="dropdown user user-menu" :class="classOpenP">
                                         <a href="#" @click="dropProfile(classOpenP)" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false"  >
                                       <!--  <router-link aria-current="page" class="dropdown-toggle icon-grey" :to="{path: '/vendor'}"> -->
                                          <img src="/img/avatar-12.jpg" class="user-image" alt="User Image"> 
                                       <!--  </router-link> -->
                                        </a>

                                        <div class="dropdown-menu pull-right drdown-p">
                                         <div class="d-menu">
                                            <ul class="menu">         
                                                <li class="terdp-24"><router-link :to="{path: '/vendor'}"><i class="fa fa-user-circle-o"></i> <span>Profile</span></router-link></li>
                                                 <li><a class="fa-pointer" @click="logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                                            </ul> 


                                         </div>
                                         <div class="pull-left full">  
                                            <div class="borttom"></div>
                                         </div>   
                                          
                                        </div>






                                    </li>
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle icon-grey" data-toggle="dropdown">
                                          <img src="/img/help.png" class="user-help" alt="">         
                                        </a>
                                    </li>

                                </ul>
                             </div>       
                            
                        </div>
                  </div>  
                </div>

                <div class="bottom">
                    <div class="one"></div>
                    <div class="two">
                        <div class="left">
                            <h6 class="color-blue-sea">Kategori</h6>
                            <ul>
                                <li>
                                    <router-link :class="this.$route.name === 'all' ? 'active' : ''" :to="{path: '/category/all'}" >All</router-link>
                                </li>
                                
                                <li>
                                    <router-link :class="this.$route.name === 'material' ? 'active' : ''" :to="{path: '/category/material'}">
                                        Material
                                    </router-link>
                                </li>

                                <li>
                                    <router-link :class="this.$route.name === 'upah' ? 'active' : ''" :to="{path: '/category/upah'}">
                                      Upah
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'alat' ? 'active' : ''" :to="{path: '/category/alat'}">
                                      Alat
                                    </router-link>
                                </li>

                                 <li>
                                    <router-link :class="this.$route.name === 'subkon' ? 'active' : ''" :to="{path: '/category/subkon'}">
                                      Subkon
                                    </router-link>
                                </li>
                            </ul>
                            <span class="spasi-border-2"></span>
                            <h6 class="color-orange">Urutkan</h6>
                            <ul>
                                <li>
                                    <router-link :class="this.$route.name === 'tertinggi' ? 'active' : ''" :to="{path: '/category/tertinggi'}">
                                        Harga Tertinggi
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'terendah' ? 'active' : ''" :to="{path: '/category/terendah'}">
                                        Harga Terendah
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'kontrak' ? 'active' : ''" :to="{path: '/category/terkontrak'}">
                                        Terkontrak
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :class="this.$route.name === 'non-kontrak' ? 'active' : ''" :to="{path: '/category/non-kontrak'}">
                                        Non-Kontrak
                                    </router-link>
                                </li>
                                
                                <li class="dropdown" :class="classOpenR">
                                    <a @click="dropRating(classOpenR)"  class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false" >Rating</a>
                                     <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                

                                                <ul class="menu">
                                                  
                                                  
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6">Rating</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                             <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox"  @click="ratingStar(0)">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox"  @click="ratingStar(1)">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(2)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(3)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 


                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(4)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="rate_single" class="radiobox" @click="ratingStar(5)">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                 </div>   
                                                            </div>    
                                                        </div> 

                                                       
                                                      </div>  
                                                  </li>

                                                  
                                                  
                                                </ul> 

                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>    
                                         
                                </li>
                               

                                <li class="dropdown" :class="classOpenF">
                                    <a  class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false" @click="dropFilter(classOpenF)" ><i class="fa fa-ellipsis-v"></i></a>

                                       <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                <div class="d-menu-border">
                                                  <div class="d-full"><h5>Pencarian Berdasarkan :</h5></div>    
                                                </div>
                                                
                                              
                                                <perfect-scrollbar class="filter-scroll"> 
                                                <ul class="menu">
                                               
                                                  <form method="post"  @submit.prevent="RequestFilter">
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Harga</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-left pading-left-input">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Rp</span>
                                                                 <input type="text" name="" v-model="price_min" placeholder="Terendah" class="filter-price">
                                                                </div>
                                                            </div>
                                                            <div class="single-left pading-right-input">
                                                                <div class="input-group">
                                                                   <span class="input-group-addon">Rp</span>
                                                                    <input type="text" name="" v-model="price_max" placeholder="Tertinggi" class="filter-price">
                                                                </div>    
                                                            </div>    
                                                        </div>    
                                                      </div>  
                                                  </li>

                                                  
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Rating</h6>
                                                        </div>

                                                         <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" v-model="rating" name="total_rate" class="radiobox" value="0">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="1">

                                                                <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                </div> 
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="2">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="3">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 


                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="4">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star  fa-pointer rate-grey" ></i>
                                                                 </div>   
                                                            </div> 

                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="total_rate" class="radiobox" v-model="rating" value="5">

                                                                 <div class="rate-box">
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                    <i aria-hidden="true" class="fa fa-star hover-active fa-pointer rate-yellow" ></i>
                                                                 </div>   
                                                            </div>    
                                                        </div> 
                                                      </div>  
                                                  </li>
                                                  
                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Kategori</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                
                                                                <model-select class="filter-price"   :options="category"
                                                                 v-model="category_id"
                                                                 placeholder="Kategori">
                                                                </model-select>      
                                                                
                                                             
                                                            </div>
                                                                
                                                        </div>    
                                                      </div>  
                                                  </li>


                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Lokasi</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                
                                                                <model-select class="filter-price"   :options="location"
                                                                 v-model="location_form"
                                                                 placeholder="Lokasi">
                                                                </model-select>       
                                                                
                                                             
                                                            </div>
                                                                
                                                        </div>    
                                                      </div>  
                                                  </li>

                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Status Vendor</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="status_vendor" v-model="status_vendor" class="radiobox" value="non-kontrak">
                                                                <label>Non-kontrak</label>
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="status_vendor" v-model="status_vendor" class="radiobox" value="terkontrak">
                                                                <label>Terkontrak</label>
                                                            </div>    
                                                        </div>    
                                                      </div>  
                                                  </li>


                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Status Harga</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" v-model="status_price" name="status_price" class="radiobox" value="verified">
                                                                <label>Verified</label>
                                                            </div>
                                                            <div class="single-full pading-left-input">
                                                                <input type="radio" name="status_price" v-model="status_price" class="radiobox" value="unverified">
                                                                <label>Un-verified</label>
                                                            </div>    
                                                        </div>    
                                                      </div>  
                                                  </li>


                                                  <li class="filter">
                                                      <div class="filter-box">
                                                        <div class="filter-box-left">
                                                           <h6 class="pad-h6-filter">Cara Bayar</h6>
                                                        </div>

                                                        <div class="filter-box-right">
                                                            <div class="single-full pading-left-input">
                                                                
                                                                 <model-select class="filter-price"   :options="payment"
                                                                 v-model="payment_id"
                                                                 placeholder="Cara Bayar">
                                                                </model-select>  
                                                             
                                                            </div>
                                                                
                                                        </div>    
                                                      </div>  
                                                  </li>

                                                   <li class="filter">
                                                      <div class="filter-box">
                                                         <button type="submit" class="btn btn-info btn-search-multi">Cari</button>
                                                      </div>
                                                   </li>     
                                                   </form>
                                                  
                                                </ul> 
                                                </perfect-scrollbar>
                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>    
                                </li>
                                
                            </ul>
                             
                             
                        </div>
                        <div class="right">
                            <span class="spasi-border-2"></span>
                           <div class="fa-maps fa-icon-maps"></div> 
                           <!--  <model-select  class="search-location"   :options="location"
                             v-model="location_id"
                             @click="onChangeLocation($event)"
                             placeholder="Cari Lokasi">
                            </model-select> -->

                                <select v-model="location_id"  @change="onChangeLocation($event)"  class="search-location" >

                                <option value="0" >Cari Lokasi</option>
                                <option  v-for="loc in location" :key="loc.id" :value="loc.value" >{{ loc.text }}</option>          
                                </select>
                          
                           <div class="user-account">
                             <span><b>Hello</b>, {{ user.username }}</span>
                           </div> 
                        </div>    

                    </div>    
                </div>    
            </nav>
            </div>
        </header>      
</template>
<script>
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["dataLoc"],
        data() {
            return {
              vendor_name:'',  

              lists:{},
              user:{}, 
              classOpenN:'',
              classOpenP:'',
              classOpenR:'',
              classOpenF:'', 
              list:{},
              price_min:'0',
              price_max:'7150',
              rating:'5',
              status_vendor:'non-kontrak',
              status_price:'unverified',
              category:[],
              category_id:'AF',
              location:[],
              location_id:'0',
              location_form:31,
              payment:[],
              payment_id:2,
              checked:true,
              year: new Date().getFullYear(),
              logo:'/img/logo.png',
            }
        },
    
        mounted() {
           this.getUser();
        },
        watch: {
            dataLoc: function(result) { 
                const self = this;
                self.location_id = result;

            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            ModelSelect,
          
        },
        methods: {
           HomePage(){
             window.location.href = BASE_URL+ '/';
           },
           ratingStar(val){
              this.$router.push({ path: '/category/start-'+ val }) // -> /user
           },
           dropNotification(classOpenN){
              if(classOpenN =="")
              {
                  this.classOpenN = 'open';
                  this.classOpenP = '';  
                  this.classOpenR = '';
                  this.classOpenF = '';
              }else{
                  this.classOpenN = ''; 
                  this.classOpenP = '';  
                  this.classOpenR = '';
                  this.classOpenF = '';
              }  
              
           },
           dropProfile(classOpenP){
              if(classOpenP =="")
              {
                  this.classOpenN = ''; 
                  this.classOpenP = 'open'; 
                  this.classOpenR = '';
                  this.classOpenF = '';
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = ''; 
                  this.classOpenF = '';
                  
              }  
              
           },
           dropRating(classOpenR){
              
              if(classOpenR =="")
              {
                  this.classOpenN = '';
                  this.classOpenP = ''; 
                  this.classOpenR = 'open';
                  this.classOpenF = ''; 
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = ''; 
                  this.classOpenF = '';
              }  
              
           },
           dropFilter(classOpenF){
              if(classOpenF =="")
              {
                  this.classOpenR = '';
                  this.classOpenN = '';
                  this.classOpenP = ''; 
                  this.classOpenF = 'open';
                   
              }else{
                  this.classOpenN = '';
                  this.classOpenP = '';
                  this.classOpenR = '';
                  this.classOpenF = '';

              }  
              
           },
           getUser(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/user/top';    
            axios.get(listUrl).then((response) => {
                self.lists = response.data;
                self.user = self.lists.vendor;
                self.category = self.lists.category;
                self.location = self.lists.location;
                self.payment = self.lists.payment;
            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               // window.location.href = BASE_URL+ '/login';
                self.loading = false;
            });

          },
          RequestFilter(){
               const self = this;
                   
                let srcParams = {
                    price_min:self.price_min,
                    price_max:self.price_max,
                    rating:self.rating,
                    category_id:self.category_id,
                    location_form:self.location_form,
                    status_vendor:self.status_vendor,
                    status_price:self.status_price,
                    payment_id:self.payment_id,
                };

                this.$emit('filform', srcParams);
                 this.$router.push({ path: '/filter'}) // -> /user 
                 this.classOpenN = '';
                 this.classOpenP = '';
                 this.classOpenR = '';
                 this.classOpenF = '';
              

          },
          onChangeLocation(event)
          {
             this.location_id = event.target.value;
             this.$router.push({ path: '/location/'+ this.location_id  }) // -> /user
             this.$emit('location', this.location_id);

          },
          postData(){
            
            // if(this.vendor_name !="")
            // {
            //   window.location.href = BASE_URL+ '/search/'+ this.vendor_name; 
              
            // }    
             


          },

    
          logout(){
              
              document.cookie = 'token' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
              document.cookie = 'access' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
              window.location.href = BASE_URL+ '/login';
          }
            

        }
    }
   
</script>
