<template>
 <div class="wrapper">
    <header is="Header" :dataLoc="location_id"  @location="searchLocation" @filform="filterSearch" ></header>
     <div class="container content-menu">
        <router-view :location_id="location_id" :filter="filterData"   @location="searchLocation" ></router-view>
     </div>

    
     <footer is="Footer" class="site-footer"></footer>       
</div>     
</template>
<script>
   export default {
         
        
        data() {
            return {
              filterData:{},
              location_id:'0',
            }
        },
        created() {  
           
        },
        mounted() {
          
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: { 
            'Header': require('./header.vue').default, 
            'Footer': require('./footer.vue').default, 
        },
        methods: {
           searchLocation(location_id)
           {
             this.location_id = location_id;
           },
           filterSearch(data){
              this.filterData = data;
              
           }

 
        }
    }
   
</script>
