<template>
 <div>
    <div class="topbar-one__left">
        <a href="#">{{ views.contact }}</a>
      
    </div><!-- /.topbar-one__left -->
    <div class="topbar-one__right">
        <a style="cursor:pointer;" @click="LoginPage()">Login</a>
   <!--      <a href="#">Register</a> -->
    </div><!-- /.topbar-one__right -->
 </div>  
</template>
<script>
   export default {
         props:["views"],
        
        data() {
            return {
             
            }
        },
        created() {  
           
        },
        mounted() {
        
          
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            
          
        },
        methods: {
           
           LoginPage(){
             window.location.href = BASE_URL+ '/login';

           },
        }
    }
   
</script>
