<template>

  <div>
    <div class="view-chat board" v-if="dasboard_chat">
        <Dashboard ></Dashboard>
    </div>
	<div class="view-chat" v-if="listpage">
        <div class="top-live-chat" v-show="live_user_on">
            
            <div class="one" >
               <img class="img-top" :src="room.photo">
            </div>
            <div class="two">
              <h5>{{ room.fullname }}</h5>
              <span class="last-time">last seen {{ room.last_chat }}</span>
            </div>
            <!-- <div class="tree" >
             <div class="spanding">
                <i class="fa fa-ellipsis-v"></i>
             </div>   
            </div> --> 

        </div>
        <LoadingActive class="top-live_p"  v-show="live_user_off"></LoadingActive>

        

        <perfect-scrollbar class="content-center" v-show="live_user_on" id="ps-mid" >
                     <div class="scroll">
                        <ul>
                            <li v-for="li in listmesssages" :key="li.id">

                            <div v-if="li.type =='text'">   
                                <div class="user-one"  v-if="li.position =='right'">
                                 <span class="text-chat">{{ li.textmessages }}</span> <span class="text-read">{{ li.created_at }}</span>
                                </div>

                                <div class="user-two" v-else>
                                    <span class="text-chat">{{ li.textmessages }}</span> <span class="text-read">{{ li.created_at }}</span>

                               </div>   
                            </div>
                                   
                                   
                            <div class="css-1et5gtj" v-else-if="li.type =='photo'">
                              <span class="text-read">{{ li.created_at }}</span>
                               <div  class="css-1v6ajq4"  v-for="oi in li.textmessages" :key="oi.id">
                                    <div class="css-5pai5s" data-testid="">
                                         <div class="css-8hcaie">
                                             <div class="css-k008qs" >
                                                <div class="css-ojqmtyd">
                                                    <div class="responsive css-pmlkiu">
                                                        <span class="responsive css-10rucli"></span>
                                                        <img class="css-1c345mg" :src="oi.photo">
                                                    </div>
                                                </div>
                                                
                                               
                                            </div>

                                            <div class="css-oq9gyy">
                                                <div  class="unf-btn unf-btn--animate unf-btn--small unf-btn--block css-11y0ckf-unf-btn egehon70  cursor-not-pointer" >
                                                    <span class="hryryr">{{ oi.replay }}</span>
                                                 </div>
                                                </div>
                                         </div>
                                    </div>
                               </div>  
                                
                            </div> 

                            <div class="css-1et5gtj" v-else-if="li.type =='json'">
                                 <span class="text-read">{{ li.created_at }}</span>  
                                <div aria-label="Chat Content" class="css-1v6ajq4"  v-for="lo in li.textmessages" :key="li.id">
                                    <div class="css-5pai5s" data-testid="crdChatProductWrapper">
                                        <div class="css-8hcaie">
                                            <div class="css-k008qs" data-testid="product-card-comms">
                                                <div class="css-ojqmmh">
                                                    <div class="responsive css-pmlkiu">
                                                        <span class="responsive css-10rucli"></span>
                                                        <img class="css-1c345mg" :src="lo.photo" :alt="lo.product_name">
                                                    </div>
                                                </div>

                                                <div class="css-1valc5w">
                                                    <div class="css-vu89b0">{{ lo.product_name }}</div>
                                                    <div class="css-1rr4io1">{{ lo.price }}</div>
                                                </div>
                                            </div>

                                            <div class="css-oq9gyy">
                                                <button @click="Preview(lo.product_id)" class="unf-btn unf-btn--animate unf-btn--small unf-btn--block css-11y0ckf-unf-btn egehon70" data-unify="Button" type="button">
                                                    <span>Preview Produk</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div> 


                            </li>
                        </ul>   
                     </div> 
        </perfect-scrollbar>

        <div class="top-logo" v-show="loadpage_active" >
            <div class="load-chat-user"><i  class=" fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
        </div>

        <div class="bottom-chat" v-show="live_user_on">
            <div class="padd-bottom">
                <form id="form"  @submit.prevent="SendText">
                    <div class="input-group input-group-sm box-group-chat">
                        <input type="text" placeholder="Masukan pesan" class="form-control input-chat" v-model="intext"> 

                        <span class="input-group-btn">
                             <a @click="chooseFiles();" class="btn-default btn-chat-open-file upload fa-pointer"><i class="fa fa-paperclip" ></i></a>
                             <input id="fileUpload" type="file" @change="setUpload" class="disp-none"> 
                          <!-- <button type="button" @click="scrollToTop()" class="btn btn-default btn-chat-open-camera"><i class="fa fa-camera"></i></button>  -->
                           
                       </span>
                    </div>
                    <div class="send-chat">
                        <button type="submit" autocomplete="off" class="btn btn-info send">
                            <div class="fa-22-19 fa-icon-chat-send" ></div>
                        </button>
                    </div>
                </form>
           </div>
        </div> 
        
        <UploadImage v-if="showUpload" :photo="photo" @close="closeUpload" @uploadImg="SendImage"></UploadImage> 

	</div>

  </div>
</template>
<script>
import io from 'socket.io-client';
export default {
        props:["GetRoom","listpage","SocketIo","notify"],
        data() {
            return {
                socket: [],
                room:[],
                listmesssages:[],
              
                loadpage_active:false,
                live_user_on:false,
                live_user_off:false,
                dasboard_chat:true,
                intext:'',
                showUpload:false,
                photo:[],
                type:'text',
               
            }
        },
        created() {  
           
            this.socket = io(this.SocketIo);

             this.$emit('ActiveList', this.listpage);
            
        },
        watch: {
            GetRoom: function(result) { 
                this.room =  result;
                
                this.GetChatRoomID(result.id)
                if(this.$route.params.id){
                    this.dasboard_chat = false;
                    this.live_user_on = false;
                    this.live_user_off= true;
                }else{
                   this.dasboard_chat = true;
                   this.live_user_on = false;
                   this.live_user_off= false;
                }    
               
            },
           
            
           
            
        },
        components: {
           'Dashboard': require('./dashboard.vue').default,
           'LoadingActive': require('../../loading/chat/useractive.vue').default,
           'UploadImage':  require('./chatupload.vue').default,
        },
        methods: {
           
            GetChatRoomID(room_id){
            const self = this;   
            self.loadpage_active = true;
            let urlBase="";
            let formData = new FormData();
            formData.append('room_id', room_id);
            urlBase = axios.post(BASE_URL+'/api/user/chatroom', formData);
            urlBase
            .then((response) => {
                self.loadpage_active = false;
                self.live_user_on = true;
                self.live_user_off= false;
               
                self.active_chat = room_id;
                self.listmesssages =  response.data.room_chat;
                self.ScrollerBottom();  
              //  self.messsage.active_chat = true;
            
            }).catch((error) => {
             
            });

          },
          Preview(product_id){
              this.$router.push({path:'/product/preview/'+ product_id});
          },
          SendImage(file){
                let data = {
                    messages:file.messages,
                    photo: JSON.stringify(file.photo,),
                };
               
               this.RequestPost(data);
               this.closeUpload();
          },
          SendText(){

            if(this.intext !="")
            {   
                let data = {
                    messages:this.intext,
                    photo:'',
                };
                this.RequestPost(data);
            }
          },
          chooseFiles() {
            document.getElementById("fileUpload").click();
          },
          setUpload(event) {
            this.showUpload = true;

            const files = event.target.files
              let filename = files[0].name
              const fileReader = new FileReader()
              fileReader.addEventListener('load', () => {
               // this.photoUrl = fileReader.result;
               
                let temp  = localStorage.getItem('photo_product');
                this.photo = JSON.parse(temp);
                
                if(this.photo == null)
                {
                    this.InsertPhotoSingle(fileReader.result);
                }else{
                    this.UpdatePhotoMulti(this.photo,fileReader.result);
                }
                   
              })
              fileReader.readAsDataURL(files[0])
          },
          InsertPhotoSingle(photo){

                var data = [];
                data.push({
                        "id":1,
                        "photo":photo
                });

                this.photo = JSON.stringify(data);
                localStorage.setItem('photo_messages', this.photo);
                this.getPhoto();
          },
          UpdatePhotoMulti(old,photo){
                let next = old.length + 1;
                
                var data1 = [];
                var data2 = [];
                data1.push({
                        "id":next,
                        "photo":photo
                });

              
                if(old.length < 4){
                    let merge = [...old,...data1];
                    this.photo = JSON.stringify(merge);
                    localStorage.setItem('photo_messages', this.photo);
                    this.getPhoto();

                }else{
                     this.$swal({
                            title: "Foto produk maksimal 4 gambar!!",
                            icon: "error"
                        }).then((result) => {
                            if (result) {
                                
                            }
                        });
                }
              
          },
          getPhoto()
           {
                    let temp  = localStorage.getItem('photo_messages');
                    var data = JSON.parse(temp);
                    if(temp != null)
                    {  
                       if(data.length >0)
                       {
                        
                        this.photo = data;
                       } 
                      
                      
                    }

           },  
            closeUpload(){
                this.showUpload = false;  
            },
          RequestPost(data){
            const self = this;  
             
               
                
                let urlBase="";
                let formData = new FormData();
                formData.append('photo', data.photo);
                formData.append('textmessages', data.messages);
                formData.append('to', self.room.user_id);
                formData.append('type', self.type);
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                    
                urlBase = axios.post(BASE_URL+'/api/chat/send', formData,config);
                urlBase
                .then((response) => {
                      

                    self.intext = '';
                    self.count = response.data.reading_count;
                    self.socket.emit('chat_count', self.count); 
                    self.socket.emit('chat_message', response.data.message);      
                    self.active_chat = response.data.room_id;

                    self.ScrollerBottom(); 

                }).catch((error) => {
                 
                });

          },
           ScrollerBottom() {
              
              setTimeout(() => {
                // Scroll to bottom on div.
                    var element = document.getElementById("ps-mid");
                    element.scrollTop = element.scrollHeight - element.clientHeight;

              }, 1);
            }, 
        } 
}
</script>
