<template>
<div class="col-md-12 margin-chat"> 
    <div class="content content-chat">
        <div class="form-parse">
            <div class="chat-box box-form-chat">
                <Sidebar :listChat="list_chat" @ActiveUser="VendorOnline"  class="list-chat box-form" >
                </Sidebar> 

                <ChatList  :notify="notify" :GetRoom="room"  :SocketIo="SocketIo" :listpage="status"  ></ChatList>

            </div>
        </div>
    </div>
 </div>           
</template>

<script>
   import io from 'socket.io-client';
   export default {
        props:["Apps","SocketIo","notify","messtext"],
        data() {
            return {
                socket: [],
                id:'',
                users: [],
                room:[],
                list_chat:[],
                room_id:'',
                status:false,
                
            }
        },
        created() {  
            document.title = this.Apps;
            this.socket = io(this.SocketIo);
            
            if(this.$route.params.id){
                this.id = this.$route.params.id;
            }
           
        },
       
        mounted() {
             this.loading = false;
             this.views = true; 
             this.getData();
          
          
        },
        
        computed: {
             base_url() {
                return BASE_URL;
            },
            

             
        },
       
        components: {
           'Sidebar': require('./sidebar.vue').default, 
           'ChatList': require('./chatlist.vue').default, 
        },
        methods: {
          
          getData(){
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/user/chat';    
                axios.get(listUrl).then((response) => {
                 
                    self.users = response.data.user_view;
                    self.list_chat = response.data.list_chat;
                     if(this.$route.params.id){
                        var checkRoom = self.list_chat.find(o => o.id == self.id); 
                        self.room = self.list_chat.find(o => o.user_id == checkRoom.user_id);
                     }

                 //   self.socket.emit('chat_count', response.data.count);   
                    
                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                   //window.location.href = BASE_URL+ '/login';
                   // self.loading = false;
                });
            

          },
          VendorOnline(data){
               this.room = data.room_chat; 
               this.status = true;
          },
          
          IsOnline(on){
             console.log(on); 

          }

        }
    }
   
</script>