<template>
	<div>
		<div class="box-padding">  
		    <h3 class="title-chat">Chat</h3>
		    <div class="input-group input-group-sm search-chat">
		       
		        <input type="text" placeholder="Cari pengguna" @input="RequestSearch()" v-model="search_name" class="form-control input-search">
		        <span class="input-group-btn">
		            <button type="button"  @click="RequestSearch()" class="btn btn-info ptb-16 btn-search-rad">
		                <i class="fa fa-search fa-btn-search fa-i-search"></i>
		            </button>
		        </span>
		       
		    </div>
		</div>

		<perfect-scrollbar class="user-list" >
			<div v-show="loadpage" is="LoadingPage"></div>
		    <ul class="history-chat" v-show="listpage">
		       <li  v-for="list in list_vendor" :key="list.id" @click="chatActive(list.id,list.user_id)" class="fa-pointer" >
		          <div class="one">
		             <img class="img-chat-list" :src="list.photo">
		          </div> 
		          <div class="two">
		             <span class="username" :class="active_chat === list.id ? 'vendor-active' : ''">{{ list.fullname }}</span>
		             <span class="last-chat" :class="active_chat === list.id ? 'vendor-active' : ''">{{ list.last_text }}</span>
		          </div>
		          <div class="tree">
		            <div class="pad-on" :class="list.user_chat_color" >
		               <i class="fa fa-circle"></i>  
		            </div>
		            <div class="padtree">
		                <span  :class="active_chat === list.id ? 'arrow-left' : ''"></span>
		            </div>  
		          </div>
		       </li> 
		    </ul> 
		</perfect-scrollbar>

                    

	</div>
</template>
<script>
export default {
        props:["listChat"],
        data() {
            return {
               loadpage:true,
               listpage:false,
               search_name:'',
               id:'',
               users: [],
               list_vendor:[],
               active_chat:'',
            }
        },
        watch: {
            listChat: function(result) { 
               this.id = this.$route.params.id;
               this.list_vendor = result;
               this.loadpage = false;
               this.listpage = true;
               if(this.$route.params.id){
                     var checkRoom = this.list_vendor.find(o => o.id == this.id); 
                     document.title = 'E-Catalog | Chat ' + checkRoom.fullname;
                     this.chatActive(checkRoom.id,checkRoom.user_id);
               }	
            },
            
        },
        components: {
           'LoadingPage': require('../../loading/chat/userlist.vue').default, 
        },
        methods: {

           chatActive(room_id,user_id){
            const self = this;
            if(room_id != self.id)
            {
               self.$router.push({path:'/chat/'+ room_id});   
            }    
           
            self.room = self.list_vendor.find(o => o.user_id == user_id); 
            self.active_chat = room_id;
        
            let srcParams = { room_chat:self.room,room_id:room_id};
            self.$emit('ActiveUser', srcParams);

          },

          RequestSearch(){
             const self = this;  
            
            if(self.search_name !="")
            {
                self.loadpage = true;
                self.listpage = false;
                let urlBase="";
                let formData = new FormData();
                
                formData.append('search_name', self.search_name);
    
                urlBase = axios.post(BASE_URL+'/api/chat/search_vendor', formData);
                urlBase
                .then((response) => {                 

                    self.users = response.data.user_view;
                    self.list_vendor = response.data.list_chat;
                    self.loadpage = false;
                    self.listpage = true;
        
                
                }).catch((error) => {
                 
                });

          
            }
     

          },
        }  
}
</script>
