<template>
  <div v-if="loadfilter ===false"> 

    <div class="row-wishlist" v-show="listpage">
       <div class="breadcrumbs flats pull-left full"> 
            <a class="pointer">Semua Lokasi</a>     
            <a class="pointer active">{{ Title }}</a>  
           
        </div>
      
            
    </div>    
    <div v-show="loadpage" is="LoadingPage"></div>
    <ListProduct v-show="listpage" class="content content-list" :lists="lists"></ListProduct> 
     <div v-show="resultNull"  is="PageNotFound" ></div>


    <div class="content-pagination">
      <div class="paginate-center">  
        <Pagination v-if="viewsPage" @change="getData" v-model="page" :page-count="lastPage" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>

      </div>
    </div>    
    
  </div> 

  <div v-else>
       <ListFilter :filter="filterData"></ListFilter>
  </div>    
</template>
<script>
 
   export default {
       
        props:["ShowPR","Page","Apps","Title","Param","filter","notify"],
        data() {
            return {
               loadfilter:false, 
               loadpage:true, 
               listpage:false,
               viewsPage:false,   
               resultNull:false,
               filterData:{},
               lists:[],
               category:{},
               lastPage: 0,
               page: 1,
             
               bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               }
            }
        },
         created() {  
           document.title = this.Apps;
           this.$emit('ShowPR',this.ShowPR);
           this.$emit('Page',this.Pages); 
           this.getData();
        },
        mounted() {
             
           
             
           
            
        },
        watch: {
            Apps: function(result) { 
              document.title = this.Apps; 
              this.loadfilter = false; 
              this.getData();
            },
            
            filter: function(result) { 
               const self = this;
                 
               if(result.filter_type !="filter_sort")
               {
                   
                  this.$store.commit('setFilterBack', result); // Buat mutation untuk menyimpan data
                  self.$router.push({ path: '/' });
                  self.loadpage = false;
                  self.listpage = false;
                  self.loadfilter = true;
               }else{
                  
                  self.pr_request_id = result.pr_request_id;               
                  self.payment_id = 0;
                  self.location_id = 0;
                  self.isQty = true;
                  const data_text = 'Menampilkan List Produk Dengan Request PR : '+ result.pr_request;
                  self.$emit('detailtext',data_text);
               }
               
              
            } 
        },
        computed: {
            base_url() {

                return BASE_URL;
            },

             
        },
        components: { 
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'ListFilter': require('./filter.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),

        },
        methods: {
           getData(){
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
                if(self.lists.page != self.Param)
                {
                    self.page = 1;
                    self.lastPage = 0; 
                }

                if(self.page > 1)
                {
                    window.scrollTo(0,0);
                }    
                        
                listUrl = BASE_URL + '/api/frontend/?param='+ self.Param +'&page='+ self.page;    
                axios.get(listUrl).then((response) => {
                   
                    self.loadpage = false;
                    self.lists = response.data.product.result;
                    //self.lists.page = self.Param;

                    if(response.data.product.total >0)
                    {    

                        self.listpage = true;
                        self.viewsPage = true;
                        self.resultNull = false;
                        self.page = response.data.product.currentPage;
                        self.lastPage = response.data.product.lastPage; 

                        
                        
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                    self.loadpage = false;
                    self.listpage = false;
                    self.viewsPage = false;
                });

                  

           },
          

        }
    }
   
</script>
