<template>
    
   <div>
    <div class="margin-category">
    <h4>Kategori Cepat</h4>
       
    <VueSlickCarousel v-bind="categoryset" v-if="category.length"  >
        <div v-for="one in category" :key="one.id">
            <div class="fa-pointer" @click="GetProductCategory(one.id)">
               
                    <div class="slide-category">
                        <img class="" :src="one.photo"  :alt="one.name"> 
                    </div>

                    <div class="slide-box-title">
                        <div class="slide-title" :class="active_title === one.id ? 'active-kategori' : ''" data-toggle="tooltip" data-placement="top" :title="one.tooltip_name">{{ one.name }}</div>
                    </div>
                </router-link>
            </div>
        </div>
    </VueSlickCarousel>
    </div>
  </div>
</template>
<script>
 
   export default {
        props:["category"],
        
        data() {
            return {
                lists:{},
                active_title:'',
                PrevShow:false,
                NextShow:true,
                first:0,
                last:7,
                firstone:0,
                lastone:0,
                default:7,
                categoryset: {
                        lazyLoad: "ondemand",
                        dots: false,
                        infinite: true,
                        speed: 500,
                        arrows: true,
                        slidesToShow: 8,
                        slidesToScroll:8,
                        autoplay: true,
                        autoplaySpeed: 3000,
                   },
            }
        },
        watch: {
            category: function(result) { 
               const self = this;
               self.lists =  result.slice(this.first,this.last);
               
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
          
        },
        methods: {
          
          GetProductCategory(id){
               this.getActiveCategory(id);
               this.$emit('categorytab', id);

          },
          getActiveCategory(id){
                let findCategory = this.category.find(o => o.id == id);
                this.active_title = findCategory.id;
          },
          
          GetCategoryPrev(){
             this.PrevShow = false;
             // var jml = this.category.length;
             // var plusjml = jml;
             // var last = this.last;
             // this.firstone = Math.ceil(this.first / 2);
             // this.lastone = Math.ceil(this.last / 2);

             // if(this.firstone == this.first && this.lastone == this.last)
             // {
             //      this.firstone  = this.firstone / 2;
             //      this.lastone =  this.lastone / 2;

             // }   
             //if(this.last < plusjml){

                // if(this.last == 7 && this.first == 1)
                // {
                //     this.first = 0;
                //     this.PrevShow = false;
                // }else{
                //     this.PrevShow = true;
                //     this.first = this.firstone;
                //     this.last = this.lastone;
                // }    

                //this.lists = this.category.slice(this.first,this.last);
               // this.$emit('categoryLoad');
             //}else{
                this.lists = this.category.slice(this.first,this.last);
                // this.PrevShow = false;
                this.NextShow = true;
             //}

             //this.first = this.firstone;
            // this.last = this.lastone;

              //  console.log(this.first+ ' - '+ this.last)
             
            
          },
          GetCategoryNext(){
             this.PrevShow = true;
              var jml = this.category.length;
             // var plusjml = jml;
             // this.firstone = this.first;
             // this.lastone = this.last;

             // this.first = this.last;
             // this.last =  this.first *2 - 1;
            
             // if(this.last < plusjml){

             //    this.lists = this.category.slice(this.first,this.last);
             //    this.$emit('categoryLoad');
             // }else{
             //     this.lists = this.category.slice(this.first-2,this.last);
                  this.NextShow = false;
             // }

             // this.firstone = this.first;
             // this.lastone = this.last;
            
             //  console.log(this.firstone+ ' - ' + this.lastone)

             this.lists = this.category.slice(0,jml);
            
          },

        }
    }
   
</script>
