<template>
       
<div class="dropdown-detail detail-popup" role="menu">
    <div class="box-content">
        <div class="nav-arrow"><div class="nav-arrow-inner"></div></div>
        <div class="pull-left full header-popup">
                  <h5 class="title-popup">Detail Produk</h5>

                  <div class="pull-right margin-5-0 pointer" @click="close()"><i class="fa fa-times"></i></div>
        </div>

        <div class="popup-content pull-left full">
            <perfect-scrollbar class="scroll-detail" >
                <div class="form-group">
                  <label class="col-sm-12 padding-none">Nama :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.name.original }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Harga :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.price.convert }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Berat :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.weight.convert  }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Status Kontrak :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.type.name }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Kontrak Dokumen :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.contract.no  }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Tanggal Kontrak :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.contract.description }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Vendor :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail"> {{ detail.vendor.tooltips }}</p>
                  </div>
                </div>

                <div class="form-group" v-if="detail.vendor.simbesi.status == true">
                  <label class="col-sm-12 padding-none">Total Quota :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail"> {{ detail.vendor.simbesi.quota.convert+' '+ detail.vendor.simbesi.quota_satuan }}</p>
                  </div>
                </div>


                <div class="form-group" v-if="detail.vendor.simbesi.status == true">
                  <label class="col-sm-12 padding-none">Sisa Quota:</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail"> {{ detail.vendor.simbesi.quota_limit.convert+' '+ detail.vendor.simbesi.quota_satuan  }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Lokasi Vendor :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail"> {{ detail.location.name }}</p>
                  </div>
                </div>

                <div class="form-group" v-if="detail.pr_request.status == true">
                  <label class="col-sm-12 padding-none">Request PR :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail"> {{ detail.pr_request.data.no_pr_request }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-12 padding-none">Status :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.status.verified.substr(0,1).toUpperCase()+detail.status.verified.substr(1) }} </p>
                  </div>
                </div>

               

               

                  <div class="form-group">
                  <label class="col-sm-12 padding-none">Keterangan :</label>

                  <div class="col-sm-12 padding-none">
                     <p class="text-detail">{{ detail.description  }}</p>
                  </div>
                </div>


                

              </perfect-scrollbar>  

                
        </div>

    </div>  
</div>
   
</template>
<script>
   
   export default {
        props:["detail"],
       
    
        methods: {
          close(){
             if(this.detail.lock === false)
            {
                this.detail.lock = true;
            }else{
                this.detail.lock = false;

            }       
            
            
          },

        }
    }
   
</script>
