<template>
  <div> 
    <div class="row-wishlist border-search" v-if="search">
        <h3 v-html="search"> </h3>    
    </div> 
     <div v-else class="row-wishlist" v-show="listpage">
       
        <div class="breadcrumbs flats">    
            <a class="pointer">{{ location_name }}</a>
            <a class="pointer">{{ category_name }}</a>      
        </div> 

      
    
      
            
    </div>       
    <div v-show="loadpage" is="LoadingPage"></div>
    <ListProduct v-show="listpage" class="content content-list"  :lists="lists"></ListProduct> 
     <div v-show="resultNull" is="PageNotFound" ></div>
    <div class="content-pagination">
      <div class="paginate-center">  
        <Pagination v-if="viewsPage" @change="getFilter" v-model="page" :page-count="lastPage" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>
      </div>
    </div>    
    
  </div> 
</template>
<script>
   export default {
       
        props:["filter"],
        data() {
            return {
               
               loadpage:true, 
               listpage:false,
               viewsPage:false,   
               resultNull:false,

               location_name:'',
               category_name:'',

               text_search:'',
               filterType:'',
               project_id:'',
               pr_request_id:'',
               category_id:'',
               location_id:'',
               payment_id:'',
              
               price_min:'',
               price_max:'',
               rating:'',
               status_vendor:'',
               status_price:'',

               search:'',
               location:'',
               lists:[],
               filterData:{},
               category:{},
               lastPage: 0,
               page: 1,
               bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               }
            }
        },
       
        watch: {
            filter: function(result) { 
               const self = this;
               self.filterData = result;
               if(this.filterData.filter_type =="input_text")
               {
                  document.title = "E-Catalog | Pencarian Data "+ this.filterData.text_search;
                  this.Search();
               }else if(this.filterData.filter_type =="filter_form"){
                  document.title = "E-Catalog | Pencarian Data";
                  this.FilterForm();
               }else if(this.filterData.filter_type =="filter_select"){
                  document.title = "E-Catalog | Pencarian Data";
                  this.filterSelected();
               }else if(this.filterData.filter_type =="filter_sort"){
                  document.title = "E-Catalog | Pencarian Data";
                  this.filterSort();
               } 


            },
        },
        created() {
           this.filterData = this.filter; 
           if(this.filterData.filter_type =="input_text")
           {
              
              this.Search();
           }else if(this.filterData.filter_type =="filter_form"){
              this.FilterForm();
           }else if(this.filterData.filter_type =="filter_select"){
              this.filterSelected();
           }else if(this.filterData.filter_type =="filter_sort"){
              this.filterSort(); 
           } 
           
          
        },
        computed: {
            base_url() {

                return BASE_URL;
            },

             
        },
        components: {
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),

        },
        methods: {
            FilterForm(){
                
                const self = this; 
               
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;

                self.filterType = self.filterData.filter_type;
                self.project_id = self.filterData.project_id;
                self.pr_request_id = self.filterData.pr_request_id; 
                self.category_id = self.filterData.category_id;
                self.location_id = self.filterData.location_form;
                self.payment_id = self.filterData.payment_id;
               
                self.price_min = self.filterData.price_min;
                self.price_max = self.filterData.price_max;
                self.rating = self.filterData.rating;
                self.status_vendor = self.filterData.status_vendor;
                self.status_price = self.filterData.status_price;      

                var param = 'project_id='+ self.project_id +'&pr_request_id='+ self.pr_request_id +'&category_id='+ self.category_id +'&price_min='+ self.price_min +'&price_max='+ self.price_max +'&rating='+ self.rating +'&status_vendor='+ self.status_vendor +'&status_price='+ self.status_price+'';       

          
                this.getFilter(param);

           }, 

           getFilter(param){
                let urlBase="";
                const self = this; 
                urlBase = axios.get(BASE_URL+'/api/frontend?'+ param +'&page='+ self.page);
                urlBase
                .then((response) => {
 
                    self.lists = response.data.product.result;
                    self.search = response.data.product.cari;
            
                    self.loadpage = false;
                    if(response.data.product.total >0)
                    {    
                        this.$emit('totalproduct', response.data.product.total);
                        self.listpage = true;
                        self.viewsPage = true;
                        self.resultNull = false;
                        self.page = response.data.product.currentPage;
                        self.lastPage = response.data.product.lastPage;     
                       
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
                
                }).catch((error) => {
                 
                   console.log(error)
                    
                        
                });

           },
           
           Search(){
                
                const self = this; 
               
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;

                self.filterType = self.filterData.filter_type;
                self.text_search = self.filterData.text_search;
                self.category_id = self.filterData.category_id;
                self.location_id = self.filterData.location_id;   
                self.pr_request_id = self.filterData.pr_request_id;
               
              
                 var param = `filter_type=${self.filterType}&param=${self.category_id}&location=${self.location_id}&text_search=${self.text_search}` + 
                 (this.pr_request_id ? `&pr_request_id=${this.pr_request_id}` : '');

                this.getFilter(param);

           },

            filterSelected(){
                
                const self = this; 
                
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;

                self.filterType = self.filterData.filter_type;
                self.text_search = self.filterData.text_search;
                self.category_id = self.filterData.category_id;

                self.category_name =  self.category_id.charAt(0).toUpperCase() + self.category_id.slice(1);
                self.location_id = self.filterData.location_id; 
                self.location_name = self.filterData.location_name;  

                var param = 'filter_type='+ self.filterType +'&param='+ self.category_id +'&location='+ self.location_id +'';
                this.getFilter(param);

           },
           filterSort(){
                
                const self = this; 
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;

                self.filterType = self.filterData.filter_type;
                self.project_id = self.filterData.project_id;
                self.pr_request_id = self.filterData.pr_request_id; 
                
               

                var param = 'project_id='+ self.project_id +'&pr_request_id='+ self.pr_request_id;       
                 

                this.getFilter(param);
                

           },
          

        }
    }
   
</script>
