<template>
  <div v-if="loadfilter ==false" > 
        <div v-show="loadcategory" is="LoadingView"></div>
        <div v-show="listcategory">
            <div class="cover-info"> <img src="/img/cover-slider.png"></div>       
            <Category  class="row-kategori"  :category="category" @categorytab="getCategory"></Category> 
        </div>

        <div v-show="loadpage" is="LoadingPage"></div>
        <ListProduct v-show="listpage" class="content content-list" :lists="lists"></ListProduct> 

        <div v-show="resultNull"  is="PageNotFound" ></div>
        <div class="content-pagination">
          <div class="paginate-center">  
               <span class="btn-rule"></span>
               <div class="btn-view-all fa-pointer" @click="pageAll()"> Lihat Semua </div>

          </div>
        </div> 

  </div> 
  <div v-else>
      <ListFilter :filter="filterData"></ListFilter>
  </div>  
</template>
<script>
   export default {
       
        props:["ShowPR","Page","Apps","filter","refresh"],
        data() {
            return {
               loadfilter:false, 
               loadcategory:true,
               loadpage:true, 
               listcategory:false,
               listpage:false,
               viewsPage:false,   
               resultNull:false,
               categoryNew:[],
               lists:[],
               filterData:{},
               category:[],
               total: 0,
               page: 1,
               lastPage:0,
               Project:[],
               NoPRrequest:[],
               SumberDaya:[],
               Location:[],
               pr_request_id:'',
             
               bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               }
              
               
            }
        },
        created() {  
           document.title = this.Apps;
            this.$emit('ShowPR',this.ShowPR);
            this.$emit('Page',this.Page);

         //  this.$emit('location', 0);

             const data = localStorage.getItem('request_pr'); 
             if(data)
             {
                const storedData = JSON.parse(data);  // Parse jika data berupa JSON
                this.pr_request_id = storedData.pr_request_id;
                 
              } 
              this.getData();
          
        },
        mounted() {

           if (this.filterBack) {
           // console.log('Filter Data:', this.filterSearch); // Tampilkan data atau lakukan sesuatu

            const self = this;
               self.filterData = this.filterBack;
               self.loadcategory = false;
               self.listcategory = false;
               self.loadfilter = true;
          }
             

        },

        
        watch: {
            filter: function(result) 
            { 
                //console.log(result)
               const self = this;
               self.filterData = result;
               self.loadcategory = false;
               self.listcategory = false;
               self.loadfilter = true; 
            },
            refresh: function(result)
            {  
                
                if(result ==true)
                {
                    this.pr_request_id = '';
                    this.filterData = {};
                    this.loadfilter = false; 
                    this.getData();
                }    
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
             filterBack() {
                return this.$store.state.filterBack;
              }
            
        },
        components: {
         'LoadingView': require('../../loading/frontend/index.vue').default,
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'Category': require('./category.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'ListFilter': require('./filter.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),
        },
        methods: {
           
           getData(){
             
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;

                
                listUrl = `${BASE_URL}/api/frontend?page=${self.page}${this.pr_request_id ? `&pr_request_id=${this.pr_request_id}` : ''}`;
  
                   
                axios.get(listUrl).then((response) => {
                    
                    self.loadcategory = false;
                    self.loadpage = false;

                    self.lists = response.data.product.result;
                    self.category = response.data.category_fast;

                    self.total = response.data.product.total;
                    if(self.total >0)
                    {    
                        self.listcategory = true;
                        self.listpage = true;
                        self.viewsPage = true;

                        self.page = response.data.product.currentPage;
                        self.lastPage = response.data.product.lastPage;     

                    }else{
                        self.resultNull = true;
                        self.listcategory = false;
                        self.listpage = false;
                        self.viewsPage = false;

                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                    self.loadcategory = false;
                    self.loadpage = false;
                    self.listcategory = false; 
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },

           

            
           

          
           pageAll(){
        
            window.scrollTo(0,0);    
            this.$router.push({path:'/category/all'});
           },

           getCategory(id){

             const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
                listUrl = BASE_URL + '/api/frontend?category_id='+ id +'&page='+ self.page; 
                
                axios.get(listUrl).then((response) => {
                    
                    self.loadcategory = false;
                    self.loadpage = false;
                    

                    self.lists = response.data.product.result;

                    self.category = response.data.category_fast;
                    
                   
                    
                    if(response.data.product.total >0)
                    {    
                        self.listcategory = true;
                        self.listpage = true;
                        self.viewsPage = true;

                        self.page = response.data.product.currentPage;
                        self.lastPage = response.data.product.lastPage;     

                    }else{
                        self.resultNull = true;
                        self.listcategory = false;
                        self.listpage = false;
                        self.viewsPage = false;

                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                    self.loadcategory = false;
                    self.loadpage = false;
                    self.listcategory = false; 
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
           loadNext(){
              this.loadcategory = true;
              this.listcategory = false;
               setTimeout(function () {  
                this.loadcategory = false;
                this.listcategory = true; 
                 }.bind(this), 500)
           },
           scrollToTop() {
            window.scrollTo(0,0);
           },
           

        }
    }
   
</script>
