<template>
    
         
        <div class="product-list full pull-left">
        <ul class="full pull-left" >

             <li class="list-border-index" v-for="(list,index) in lists">
                <div class="pull-left box-border">
                    <div class="pull-left box-product fa-pointer full">
                        <div  class="status-label">
                            <span v-if="list.type.slug ==='non-kontrak'"  class="pull-left span-left non-contract z-index2">
                            <img class="icon-contract" src="/img/doc-not-approve.png"> {{ list.type.name }}</span>
                            
                            <span v-else data-toggle="tooltip" data-placement="top" :title="list.contract.no" class="pull-left span-left contract z-index2"> <img class="icon-contract" src="/img/doc-approve.png"> {{ list.type.name }}</span>

                            <div :class="{'opastay': list.lock, 'opahover': !list.lock}"  class="pull-right btn-group status-det">
            
                              <button type="button" @click="showPopUp(list)"  class="btn span-right dropdown-toggle z-index2" >
                                <i  class="fa fa-ellipsis-v icon"></i>
                              </button>

                              <DetailPopUp v-show="list.lock"  :detail="list"  ></DetailPopUp>
                            </div>
                        </div>

                            <div class="pull-left bg-white-img full ">
                            
                            <img @click="getDetail(list.id)"
                                  class="pull-left product-img"
                                  v-for="photo in getActivePhotos(list.photo)"
                                  :key="photo.id"
                                  :src="photo.image"
                                  alt="Active Photo"
                                   :class="{'imgstay': list.lock, 'imghover': !list.lock}"
                                />
                            </div>    
                            <div class="box-image bg-white-img full" v-if="getActivePhotos(list.photo).length === 0">
                            <!-- Tampilkan placeholder jika tidak ada foto aktif -->
                            <img @click="getDetail(list.id)"
                              
                              class="pull-left product-img-none"
                              src="/img/no-image.png"
                              alt="No Image Available"
                            />
                            </div>

                       
                         <span class="pull-left product-price">{{ list.price.convert }} </span>
                            <div class="box-verified" v-if="list.status.verified ==='verified'">
                               <div class="verif_text">{{ list.status.verified.substr(0,1).toUpperCase()+list.status.verified.substr(1) }}</div> 
                               <div class="fa-w fa-icon-verified pull-left"></div>
                            </div>
                    </div> 

                    <div class="pull-left box-description" @click="getDetail(list.id)">
                        <div class="fa-pointer">
                           <!--  <div class="pull-left full min-height-55">
                                <span class="type pull-left btn-yellow pad-contract"> TP.01.03/A.DSB.00537/2019-1</span>
                            </div> -->

                            <div class="pull-left full pt-10 title">
                                <span data-toggle="tooltip" data-placement="top" :title="list.name.original" class="title-product pull-left">{{ list.name.original }}</span>
                            </div>

                            <div class="pull-left full">
                                <span data-toggle="tooltip" data-placement="top" :title="list.vendor.tooltips" class="pull-left vendor-product">{{ list.vendor.name }}</span>
                            </div>

                            <div class="pull-left full ptb-2">
                                <div class="pull-left location">
                                    <div class="fa-pos fa-w-small fa-icon-product-loc"></div>
                                    <div class="loc-text">{{ list.location.name }}</div>
                                </div>
                            </div>
                        </div> 

                        <div class="pull-left ptb-2">
                            <div class="pull-left location">
                                <div class="fa-pos fa-w-small fa-icon-product-eye"></div>
                                <div class="pull-left">{{ list.viewer.total }}</div>
                            </div>
                        </div>

                         <div class="bottom-list-product">
                            
                            <div class="rate pull-left half">
                              <i
                                v-for="n in 5"
                                :key="n"
                                class="fa fa-star"
                                :class="n <= list.vendor.rate ? 'rate-yellow' : 'rate-grey'"
                                aria-hidden="true"
                              ></i>
                            </div>

                            <div class="pull-left half">
                                <div class="box-love" @click="getWishlist(list)">

                                    <div v-if="list.wishlist == false" class="fa-pointer fa-w-love fa-icon-wistlist"></div>

                                    <div v-else-if="list.wishlist == true" class="fa-pointer fa-w-love fa-icon-wistlist-active"></div>


                                </div>    
                            </div>
                        </div>
                    </div>
                </div>

            </li>
           
            

          

        </ul>
        </div>
         

       
   
</template>
<script>


   export default {
        props:["lists"],
        data() {
            return {
               detail:null, 
            }
        },
              
        computed: {
            activePhoto() {
              // Ambil elemen pertama dengan active = true
              return this.lists.photo.find((item) => item.active === true) || null;
            },
        },
        components: {
         'DetailPopUp': require('./detail-popup.vue').default,
        },
    
        methods: {
          showPopUp(list){

            
            if(list.lock === false)
            {
                const lastTrue = this.lists.find((item) => item.lock === true);
                if (lastTrue) {
                    lastTrue.lock = false;
                } 

                list.lock = true;
            }else{
                list.lock = false;

            }      


  
          }, 
           
          getDetail(id)
          {
             this.$router.push({path:'/product/preview/'+ id });
          },
          getActivePhotos(photos) {

              // Filter photos with active: true
              return photos.filter(photo => photo.active);
          },
          getWishlist(item){

                const self = this; 
                let urlBase="";
                let formData = new FormData();
                if(item.wishlist == true)
                {
                    self.status = false;
                }else{
                     self.status = true;
                }  
                formData.append('status',self.status);
                formData.append('product_id', item.id);
                formData.append('vendor_id', item.vendor_id);
               
                urlBase = axios.post(BASE_URL+'/api/wishlist/save', formData);
                urlBase
                .then((response) => {
                    
                    self.$vToastify.success(response.data.messages);
                    let findwishlist = self.lists.find(o => o.id === item.id);
                    if(findwishlist.wishlist == false)
                    {
                      findwishlist.wishlist = true;  
                    }else{
                      findwishlist.wishlist = false;
                      self.$emit('reload'); 
                    }    
   
                }).catch((error) => {
                    console.log(error)
                });

          }

        }
    }
   
</script>

<style>
.bg-white-img{
   border-radius: 15px 15px 0px 15px;
    background: #fff; 
}
.box-image{
    display: flex;
    width: 100%;
    float: left;
    
    position: relative;
    margin: 0px 0px -30px;
    bottom: 33px;
}    
  /* Elemen back */
.product-img{
    position: relative;
    z-index: 1;
    margin-bottom: -30px;
    bottom: 32px;
}



.product-img-none{
    width: 140px;
    height: 140px;
    margin: 0px auto;
}

.status-label {
    position: relative;
   
    top: 10px;
    padding: 2px 9px;
    
}

.imghover{
   opacity: 1; 
}

.box-product .product-img:hover{
   opacity: 0.8; 
}

.opahover{
   opacity: 0; 
}

.opastay{
   opacity: 1; 
}

.icon-contract{
    width: 16px;
    height: 16px;
}

.z-index2{
      position: relative;
     z-index: 2;
}

.box-border:hover .box-product .status-label,.box-border:hover .box-product .status-label .status-det{
    opacity: 1
}

.status-label .span-left{
    font-size: 12px;
    font-weight: bold;
    
    border-radius: 24px;
    margin: 0px 10px;
}

.contract{
    background: #ffeb3b;
    color: #404040 !important;
    opacity: 1;
}

.non-contract{
    background: #c90000;
    color: #ffffff !important;
    opacity: 1;
}

.span-right{
    background: #000000;
    border-radius: 6px;
    padding: 0px!important;
    margin: 0px 0
}

.span-right .icon{
        color: #ffffff;
    padding: 7px 12px;
}

/* Warna label untuk "Non-kontrak" */
.product-card.non-kontrak .status-label {
  background-color: rgba(255, 0, 0, 0.8); /* Warna merah untuk "Non-kontrak" */
}
/*.box-border {
   
    position: relative;
   
}*/

.dropdown-detail{
    left: 42px!important;
    width: 324px;

    top: -1px;
     padding: 6px 18px!important;
     z-index: 4;
}

.detail-popup {
    position: absolute;
   
    border-radius: 0px 3px 3px 3px;
    background: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

}

.box-content{
    float: left;
    width: 100%;
   /* min-height: 369px;*/
}
.scroll-detail {
  max-height: 300px;
  overflow: hidden;
}

.box-content .nav-arrow {
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top: 14px solid transparent;
    border-right: 14px solid #ccc;
    border-bottom: 14px solid transparent;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -1px;
    left: -23px;
   
    
}

.box-content .nav-arrow-inner {
    border-style: solid;
    border-width: 14px;
    border-color: transparent;
    border-top: 14px solid transparent;
    border-right: 14px solid #ffffff;
    width: 0;
    border-bottom: 14px solid transparent;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -13px;
    left: -13px;
}

.header-popup{
   border-bottom: 2px solid #3da8e8;
}

.header-popup .title-popup{
    float: left;
    width: auto;
    color: #3da8e8;
}

.popup-content{
    padding: 8px 0px;
}

.text-detail{
    padding: 0px!important;
    color: rgb(96, 96, 96)!important;
    font-weight: normal!important;
}





</style>
