<template>
  
   <div v-if="loadfilter ===false"> 


    <div class="row-wishlist" v-show="listpage">
           
        <div class="breadcrumbs flats pull-left full">    
            <a class="pointer active">{{  location  }}</a> 
            <a class="pointer"> Semua Kategori</a>  
            
        </div>    
    </div>    
    <div v-show="loadpage" is="LoadingPage"></div>
    <ListProduct v-show="listpage" class="content content-list" :lists="lists"></ListProduct> 
    <div v-show="resultNull"  is="PageNotFound" ></div>
    <div class="content-pagination">
      <div class="paginate-center">  
        <Pagination v-if="viewsPage" @change="getData" v-model="page" :page-count="lastPage" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>
      </div>
    </div>    
    
 </div>

  <div v-else>
       <ListFilter :filter="filterData"></ListFilter>
  </div> 
</template>
<script>
   export default {
       
        props:["Apps","Title","location_id","filter"],
    
        data() {
            return {
               loadfilter:false, 
               loadpage:true, 
               listpage:false,
               viewsPage:false,   
               resultNull:false,
               id:'',
               location:'',
               lists:[],
               category:{},
               filterData:[],
               lastPage: 0,
               page: 1,

               bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               }
            }
        },
         created() {  
           document.title = this.Apps;
         
        },
        watch: {
            Apps: function(result) { 
              document.title = this.Apps; 
              this.loadfilter = false; 

             // this.getData();
            },
            filter: function(result) { 
               const self = this;
               self.filterData = result;
               self.loadpage = false;
               self.listpage = false;
               self.loadfilter = true;
                 
            },
            location_id: function(result) {
                 const self = this;
                 self.id = result;
                 this.getData();
            }    
        },
        mounted() {
            this.id = this.$route.params.id;
            this.getData();
          
        },
        computed: {
            base_url() {

                return BASE_URL;
            },

             
        },
        components: {
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'ListFilter': require('./filter.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),

        },
        methods: {
           getData(){
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
                self.resultNull = false;
                

                listUrl = BASE_URL + '/api/frontend?location='+ self.id +'&page='+ self.page;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadpage = false;
                    self.lists = response.data.product.result;
                   
                    if(response.data.product.total >0)
                    {    
                        self.listpage = true;
                        self.viewsPage = true;
                        self.location = response.data.product.title;
                        self.page = response.data.product.currentPage;
                        self.lastPage = response.data.product.lastPage;     
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
               }).catch((error) => {
                   console.log(error);
                    self.resultNull = true;
                    self.loadpage = false;
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
          

        }
    }
   
</script>
