<template>
  <div v-if="loadfilter ==false" >
    <div class="preview-product">  
        <div class="preview-left" v-show="listpage">
            <div class="box-preview-left">
              
                <img :src="photo_cover" class="img-preview" >
                <div class="thumb-nail">
                    <ul>
                      <li class="fa-pointer" v-for="(list,index) in lists.photo" :key="list.id">

                            <img v-if="list.active ===true" :class="active" @click="getPhoto(list.id)" :src="list.image" class="thumb box-form fa-pointer">
                            <img v-else @click="getPhoto(list.id)" :src="list.image" class="thumb box-form fa-pointer">
                          
                      </li>
                      
                    </ul>    
                </div>    

            </div>
        </div> 
        
        <div class="box-preview-center" v-show="listpage">
          <div class="list-ergt">
                    
                        <button 
                          class="btn btn-type pull-left" 
                          :class="{'btn-red': lists.type.slug === 'non-kontrak', 'btn-yellow': lists.type.slug === 'terkontrak'}">
                          {{ lists.type.name }}
                        </button>

                        <div class="rate-det ">   
                            <div class="pull-left start-rating">
                                  <i
                                    v-for="n in 5"
                                    :key="n"
                                    class="fa fa-star"
                                    :class="n <= lists.vendor.rate ? 'rate-yellow' : 'rate-grey'"
                                    aria-hidden="true"
                                  ></i>
                            </div>
                        </div>

                        <h3 class="full pull-left">{{ lists.name.original }}</h3> 
                        <span class="text-desc pull-left full">{{ lists.name.code }}</span>
                        <h3 class="text-price">{{ lists.price.convert }}</h3>
                        <div class="text-verified">
                          <div class="border-verified" v-if="lists.status.verified ==='verified'">
                            <div class="text-verif">{{ lists.status.verified.substr(0,1).toUpperCase()+lists.status.verified.substr(1) }} </div>
                            <img class="verif-blue" src="/img/icon/icon-verified-blue.png">
                          </div>  
                        </div>

                        <div class="box-list-right" v-if="lists.vendor.simbesi.status == true"> 
                            <h5 class="full pull-left color-blue-sea text-label-det" >Total Quota</h5>
                            <span class="pull-left full color-grey font-12 fw-400">{{ lists.vendor.simbesi.quota.convert+' '+ lists.vendor.simbesi.quota_satuan }}</span>
                        </div>

                         <div class="box-list-right" v-if="lists.vendor.simbesi.status == true"> 
                            <h5 class="full pull-left color-orange text-label-det">Sisa Quota</h5>
                            <span class="pull-left full color-grey font-12 fw-400">{{ lists.vendor.simbesi.quota_limit.convert+' '+ lists.vendor.simbesi.quota_satuan }}</span>
                        </div>

                        <div class="box-list-right"> 
                            <h5 class="full pull-left color-blue-sea text-label-det">Contract</h5>
                            <span class="pull-left full color-grey font-12 fw-400">{{ lists.contract.description }}</span>
                        </div>
                        <div class="box-list-right"> 
                            <h5 class="full pull-left color-orange text-label-det">Status Matgis</h5>
                            <span class="pull-left full color-grey font-12 fw-400">{{ lists.status.matgis }}</span>
                        </div>
                        <div class="box-list-right"> 
                         <h5 class="full pull-left color-blue-sea text-label-det">Update</h5>
                         <span class="pull-left full color-grey font-12 fw-400">{{ lists.updated_at }}</span>
                        </div>

                        <div class="box-list-right"> 
                             <h5 class="full pull-left color-orange text-label-det">Contract & Volume Availability</h5>
                             <span class="pull-left full color-grey font-12 fw-400">{{ lists.contract.no }}</span>
                             <span class="color-orange font-12 fw-400 label-volume">Volume </span> <span class="color-grey font-12 fw-400 text-volume">{{ lists.volume }}</span>
                        </div>
                        <div class="box-list-right">
                            <span class="text-info font-12 fw-400">Berat /Unit</span>
                            <span class="pull-left full color-blue-sea font-12 fw-300">{{ lists.weight.convert }}</span>
                        </div> 

                        <div class="box-list-right">
                            <span class="text-info font-12 fw-400">Deskripsi</span>
                            <span class="pull-left full  color-grey font-12 fw-300">{{ lists.description }}</span>
                        </div>  


                        <div class="box-list-right">
                            <span class="text-info font-12 fw-400 pull-left full">Vendor</span>
                            <h5 class="vendor-text fw-400">{{  lists.vendor.tooltips }}</h5>
                            <span class="pull-left full ">
                                <div class="fa-pos fa-w-small fa-icon-product-loc"></div>   
                                <span class="fw-400 color-grey">{{ lists.location.name }}</span>
                            </span>

                            <div class="pull-left full mtb-8">
                               <div class="btn-chat fa-pointer" @click="OpenChat(lists.vendor.id)">
                                   <div class="fa-w-love fa-icon-chat pull-left"></div>
                                   <span class="text-btn-chat color-blue-sea">Chat</span>
                               </div> 
                            </div>    
                        </div> 
          
          </div>
        </div>

        <div class="box-preview-right" v-show="listpage">
            <div class="prew-right-padd" v-show="Boxright">
                <div class="pull-left full btn-top-right">
                   <div class="btn-orange">
                         Produk Berdasarkan Term Of Payment
                   </div> 
                </div>
                <div class="pull-left full mtb-8">
                    <div class="pull-left box-border full bg-white ">
                        <div class="padd-box-right">    
                          <h4>{{ lists.name.original }}</h4>
                         
                          <span class="text-right-small pull-left full color-grey font-12 fw-400">Term Of Payment </span>
                        
                          <div class="pull-left full">
                             <select class="det-list-payment full" v-model="payment_id"  @change="onChangePrice($event)">
                                 <option value="0" >Pilih Term Of Payment</option>
                                 <option  v-for="pay in payment" :key="pay.value" :value="pay.value" >{{ pay.text }}</option>
                             </select>
                          </div>  

                        
                            <div class="pull-left full">
                                <span class="text-right-price">{{ lists.price.convert }}</span>
                            </div> 
                            
                            <div class="pull-left absolute">
                                
                               <div class="pull-left full" v-html="quotaLimitInfo"></div>
                               <div class="pull-left full" v-html="quotaInfoMax"></div>
                               <div class="pull-left full" v-html="statusProductPR"></div>
                               <div class="pull-left full" v-html="infoPR"></div>
                               <div class="pull-left full" v-html="infoStatusProduct"></div>
                               <div class="pull-left full" v-html="infoRevisi"></div>
                               <div class="pull-left full" v-html="infoAccessApprov"></div>
                               <div class="pull-left full" v-html="infoAccessGroup"></div>
                               <div class="pull-left full" v-html="infoContract"></div>                               
                            </div>

                            <div class="m-b-15">
                                 <div class="box-right-one">
                                         <model-select class="slct-loc"   :options="location"
                                         v-model="location_id" :isDisabled="isLocation"
                                         :placeholder="location_loading" @input="onChangeLocation($event,lists.btn_active,lists.vendor.simbesi,lists.info_product_rev,lists.info_not_approval,lists.info_not_access,lists.info_contract)">
                                        </model-select>
                                        <div class="full pull-left">
                                            <input  @keypress="onlyNumber" @keyup="InputFastQty($event,lists.vendor.simbesi.quota_limit.original,lists.info_product_rev,lists.info_not_approval,lists.info_not_access,lists.info_contract)" :disabled="isQty"   type="text" class="inpt" placeholder="Jumlah" v-model="qty">
                                        </div>
                                  </div>

                                  <div class="box-right-two">
                                    <button @click="postDataStorage();" class="btn btn-info btn-icon-cart" :disabled="BtnOrder">
                                        <img src="/img/icon/icon-chart-btne.png">
                                    </button>
                                  </div> 
                           
                            </div>
                        </div>
                    </div>    
                </div>    
            </div>

            <div v-if="rightSticky == true" class=" sticky-review desktop-v">
                        
                <div class="box-stiky box-border">
                    <div class="pull-left full btn-top-right">
                        <div class="btn-orange bg-white">Produk Berdasarkan Term Of Payment</div>
                    </div>
                </div> 

                <div class="pull-left full mtb-8">
                  <div class="pull-left box-border full bg-white">
                    <div class="padd-box-right">
                        <h4>{{ lists.name.original }}</h4>

                        <span class="text-right-small pull-left full color-grey font-12 fw-400">Term Of Payment</span>
                        
                        <div class="pull-left full">
                         <select class="det-list-payment full" v-model="payment_id"  @change="onChangePrice($event)">
                             <option value="0" >Pilih Term Of Payment</option>
                             <option  v-for="pay in payment" :key="pay.value" :value="pay.value" >{{ pay.text }}</option>
                         </select>
                        </div>  

                        <div class="pull-left full">
                            <span class="text-right-price">{{ lists.price.convert }}</span>
                        </div>

                        <div class="pull-left absolute">

                           <div class="pull-left full" v-html="quotaLimitInfo"></div>
                           <div class="pull-left full" v-html="quotaInfoMax"></div>
                           <div class="pull-left full" v-html="statusProductPR"></div>
                           <div class="pull-left full" v-html="infoPR"></div>
                           <div class="pull-left full" v-html="infoStatusProduct"></div>
                           <div class="pull-left full" v-html="infoRevisi"></div> 
                           <div class="pull-left full" v-html="infoAccessApprov"></div> 
                           <div class="pull-left full" v-html="infoAccessGroup"></div>
                           <div class="pull-left full" v-html="infoContract"></div>
                        </div>

                        <div class="m-b-15">
                                 <div class="box-right-one">
                                         <model-select class="slct-loc"   :options="location"
                                         v-model="location_id" :isDisabled="isLocation"
                                         :placeholder="location_loading" @input="onChangeLocation($event,lists.btn_active,lists.vendor.simbesi,lists.info_product_rev,lists.info_not_approval,lists.info_not_access,lists.info_contract)">
                                        </model-select>
                                        <div class="full pull-left">
                                            <input  @keypress="onlyNumber" :disabled="isQty" @keyup="InputFastQty($event,lists.vendor.simbesi.quota_limit.original,lists.info_product_rev,lists.info_not_approval,lists.info_not_access,lists.info_contract)"    type="text" class="inpt" placeholder="Jumlah" v-model="qty">
                                        </div>
                                  </div>

                                  <div class="box-right-two">
                                    <button @click="postDataStorage();" class="btn btn-info btn-icon-cart" :disabled="BtnOrder">
                                        <img src="/img/icon/icon-chart-btne.png">
                                    </button>
                                  </div> 
                           
                        </div>


                    </div>
                  </div>
                </div>    
                         
            </div> 

        </div> 

            

        <LoadingPage v-show="loadpage" ></LoadingPage>
      <!--  <div class="preview-product" v-if="loadfilter ===false"> </div>
       <div v-else is="ListFilter" :filter="filterData"></div> -->
    </div>
         
 </div>
 <div v-else>
       <ListFilter  :filter="filterData"></ListFilter>
  </div>  
</template>
<script>
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css'; 
   import io from 'socket.io-client';
   export default {
       
        props:["ShowPR","Page","Apps","filter","SocketIo","refresh"],
        data() {
            return {
              socket: [],  
              isLocation:true,
              isQty:true,
              location_loading:'Pilih Lokasi',
              photo_null:'padd-left-img',
              photo_cover :'/img/no-image.png',
              loadfilter:false,
              loadpage:true,
              listpage:false,  
              location_id:0,
              payment_id:0,  
             
              payment:[],
              photo:[],
              lists:{
                name:{},
                price:{},
                contract:{},
                weight:{},
                status:{},
                type:{},
                location:{},
                uoms:{},
                vendor:{
                    simbesi:{}
                },
              },
              
              project_id:'',
              pr_request:[],
              pr_request_id:null,
              id:'',
              location:[],
              qty:1,
              active:'img-active',
              cart :[],
              filterData:[],
              quantity:'',
              total:0,
              total_price:0,
              total_weight:1,
              total_volume:1,
              payment_name:'',
              weight:'',
              BtnOrder:true,
            
              Boxright:true,
              rightSticky:false,
              project_id:0,
              HeadertextInfoPR:'',
             


              infoPR:'',
              statusProductPR:'',
              infoAccessApprov:'',
              infoAccessGroup:'',
              infoStatusProduct:'',
              quotaLimitInfo:'', 
              quotaInfoMax:'',
              infoRevisi:'',
              infoContract:'',
            }
        },
        created() {  
            this.socket = io(this.SocketIo);
            this.$emit('ShowPR',this.ShowPR);
            this.$emit('Page',this.Page);
            
            this.id = this.$route.params.id;
           
            const data = localStorage.getItem('request_pr'); 
             if(data)
             {
                const storedData = JSON.parse(data);  // Parse jika data berupa JSON
                this.pr_request_id = storedData.pr_request_id;
                this.project_id =   storedData.project_id;
                this.HeadertextInfoPR = 'Menampilkan Detail Produk Dengan Request PR  <span class="no-pr-color"> '+ storedData.pr_request+'</span>';
                
             }
             this.$emit('detailtext',this.HeadertextInfoPR);
             this.CheckRequestPR(this.pr_request_id);
             this.GetPreview(); 
           
        },
        mounted() {
          window.addEventListener("scroll", this.onScrollPreview)             
        },
        watch: {
            refresh: function(result) {
                
               if(result ==true)
               {
                  this.pr_request_id = null;
                  this.payment_id = 0;
                  this.location_id = 0;
                  this.GetPreview(); 
               } 
            },
            filter: function(result) { 
               const self = this;
                 
               if(result.filter_type !="filter_sort")
               {
                   
                  this.$store.commit('setFilterBack', result); // Buat mutation untuk menyimpan data
                  self.$router.push({ path: '/' });
                  // self.loadpage = false;
                  // self.listpage = false;
                  self.loadfilter = true;
               }else{
                  
                  self.pr_request_id = result.pr_request_id;               
                  self.payment_id = 0;
                  self.location_id = 0;
                  self.isQty = true;
                  const data_text = 'Menampilkan Detail Produk Dengan Request PR : '+ result.pr_request;
                  self.$emit('detailtext',data_text);
                  
                  self.GetPreview(); 

               }
               
              
            } 
        },
        beforeDestroy() {
          window.removeEventListener("scroll", this.onScrollPreview)
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
             ModelSelect,
            'LoadingPage': require('../../loading/frontend/preview.vue').default,
            'ListFilter': require('./filter.vue').default,
        },
        methods: {
            checkLocalStorage() {
              const data = localStorage.getItem('request_pr'); 
              if (data) {
                const storedData = JSON.parse(data);  // Parse jika data berupa JSON
                this.pr_request_id = storedData.pr_request_id;
                this.project_id =   storedData.project_id; 
              } 
            },

            onScrollPreview(e) {
               this.windowTop = e.target.documentElement.scrollTop;
              

                  if(this.windowTop > 50)
                  {
                     this.rightSticky = true;
                     this.Boxright = false;
                  }else{
                    this.rightSticky = false;
                     this.Boxright = true;
                  }  
            } , 
            onChangeLocation(event,btn,simbesi,product_rev,not_approval,not_access,info_contract){

                 this.isQty = !btn;
                 if (btn) {
                    this.BtnOrder = !(this.pr_request_id !== '' && simbesi.quota_limit.original > 0) || product_rev || not_approval || not_access || info_contract;
                  } else {
                    this.BtnOrder = product_rev || not_approval || not_access || info_contract ||true;
                  }
                              

                  
             
            },
            
            OpenChat(vendor_id){
                const self = this; 
                let urlBase="";
                

                let formData = new FormData();
                formData.append('vendor_id', vendor_id);
                formData.append('messages', JSON.stringify([{'product_id':self.lists.id,'product_name':self.lists.name,'photo':self.lists.photo_cover,'price':self.lists.price }]));
                urlBase = axios.post(BASE_URL+'/api/open_chat', formData);
                urlBase
                .then((response) => {
                     
                    self.$router.push({path:'/chat/'+ response.data.result});
                    
                    

                }).catch((error) => {
                 
                    console.log(error)
                                 
               
                }); 
 
            },
            onlyNumber (event) {
              const charCode = event.which ? event.which : event.keyCode;
              if (charCode < 48 || charCode > 57) {
                event.preventDefault(); // Mencegah karakter non-angka
              }

              

            
            },
            InputFastQty(event,quota_limit,product_rev,not_approval,not_access,info_contract){
                
                if (event.target._value > quota_limit) {
                    this.BtnOrder = true
                    this.quotaInfoMax ='<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4><p class="font-12">Pemesanan tidak boleh melebihi dari sisa kuota.</p></div></div>';

                }else{

                    this.BtnOrder = product_rev || not_approval || not_access || info_contract;
                    this.quotaInfoMax = '';
                }


            },
            GetPreview(){
                const self = this;
                let listUrl = "";
                
                
                self.loadpage = true;
                self.listpage = false;
                
                listUrl = BASE_URL + '/api/product/preview/'+ this.id; 
                axios.get(listUrl).then((response) => {
                  
                    self.loadpage = false;
                    self.listpage = true;
                   
                     self.lists = response.data.product.result;
                     document.title = self.Apps+' '+ self.lists.name.original;
                     
                     self.payment = self.lists.payment_list;
                     const find = self.lists.photo.find(o => o.active === true);
                     self.photo_cover = find.image;
                     self.photo_null = '';

                     this.checkLocalStorage();

                     if(self.lists.status.matgis =='Matgis' && self.lists.type.slug =='non-kontrak')
                     {
                         this.CheckTypeContract(self.lists.status.matgis,self.lists.type.slug);
                     }else{
                       
                        this.CheckRequestPR(self.pr_request_id)
                        this.CheckProductRequestPR(self.lists.project);
                        this.CheckQuotaLimit(self.lists.vendor.simbesi);
                        this.CheckPORevisi(self.lists.info_product_rev);
                        this.CheckApprovalSet(self.lists.info_not_approval);
                        this.CheckAccessGroup(self.lists.info_not_access);
                        this.CheckContract(self.lists.info_contract);
                     }
        
                    




                }).catch((error) => {
                    console.log(error);
                    // self.resultNull = true;
                    // self.loadpage = false;
                    // self.listpage = false;
                    // self.viewsPage = false;
                });

            },
            CheckTypeContract(matgis,type){
                if(matgis =='Matgis' && type =='non-kontrak')
                {
                    this.infoStatusProduct = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4><p class="font-12">Produk dengan status Matgis & tipe Non Kontrak tidak dapat melakukan pemesanan.</p></div></div>';
               }else{
                    this.infoStatusProduct = '';
               }   
                

            },
            CheckProductRequestPR(project){
               
               if(project.length ==0)
               {
                
                this.statusProductPR = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4><p class="font-12">Produk tidak bisa di pesan Request PR belum di setting oleh SCM.</p></div></div>';
               }else{
              
                this.statusProductPR = '';
               } 
            },
            CheckRequestPR(pr_request_id){

               if(pr_request_id == null)
               {
                 
                 this.infoPR = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4><p class="font-12">Belum memilih Request PR.</p></div></div>';

               }else{
                 this.infoPR = '';
               }  

            },
            CheckQuotaLimit(simbesi){
            
                if(simbesi.status == true && simbesi.quota_limit.original == 0)
                {
                              
                    this.quotaLimitInfo = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4> <p class="font-12">Kuota pemesanan untuk bulan ini sudah habis.</p></div></div>'; 
                }else{
                    this.quotaLimitInfo = '';
                }    
                 
            },

            CheckPORevisi(status){
                 if(status ==true)
                 {
                     this.infoRevisi = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4> <p class="font-12">Selesaikan Order PO Revisi dikeranjang.</p></div></div>'; 
                 }else{
                    this.infoRevisi = '';
                 }   
            },
            CheckApprovalSet(not_approval){
                if(not_approval ==true)
                {
                     this.infoAccessApprov = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4> <p class="font-12">User approve tidak ada atau belum di set.</p></div></div>'; 
                 }else{
                    this.infoAccessApprov = '';
                 } 
            },
            CheckAccessGroup(not_access){
                if(not_access ==true)
                {
                     this.infoAccessGroup = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4> <p class="font-12">General Manager tidak ada atau belum di set.</p></div></div>'; 
                 }else{
                    this.infoAccessGroup = '';
                 }  
            },
            CheckContract(contract){
                if(contract ==true)
                {
                     this.infoContract = '<div class="pull-left info-active info-width-standrt"><div class="callout callout-danger border-radius-12 margin-null"><h4 class="color-white font-14">Info!</h4> <p class="font-12">Kontrak vendor sudah expired.</p></div></div>'; 
                 }else{
                    this.infoContract = '';
                 }  
            },
            onChangePrice(event){
              const self = this;   
              let payment_id = event.target.value;

              if(payment_id !=0)
              {

                    
                    let urlBase="";
                    self.location_loading = "Loading ...";

                    let formData = new FormData();
                    formData.append('product_id', self.lists.id);
                    formData.append('payment_id', payment_id);
                    formData.append('uom_id', self.lists.uom.id);
                    urlBase = axios.post(BASE_URL+'/api/payment/preview', formData);
                    urlBase
                    .then((response) => {
                      self.location_loading = "Pilih Lokasi";  
                      self.isLocation = false; 
                      self.lists.price.convert = response.data.price.convert;
                      self.location =  response.data.location;
                      
                    }).catch((error) => {
                     
                        console.log(error)
                                     
                   
                    });
              
               }else{
                  self.BtnOrder = true;
                  self.location_id = 0;
                  self.location_loading = "Pilih Lokasi"; 
                  self.isLocation = true;
                  self.isQty = true;
               }

            },
            getPhoto(id){
                 

                let findimage2 = this.lists.photo.find(o => o.active === true);
                  findimage2.active = false;
                   
                let findimage1 = this.lists.photo.find(o => o.id === id);
                  findimage1.active = true;
               
                this.photo_cover = findimage1.image;
                this.lists.photo_cover = findimage1.image;
            },
            

            
            postDataStorage(){
                 

                var data1 = [];
                var data2 = [];
                this.checkLocalStorage();
            if(this.BtnOrder == false)
            {  
                let temp  = localStorage.getItem('list_cart');
                
                if(this.lists.weight_original ==0)
                {
                   this.total_weight = this.qty * 1;
                   this.total = this.qty * 1 * this.lists.price_original;
                }else{
                   this.total_weight =  this.qty * this.lists.weight_original;
                   this.total = this.qty * this.lists.weight_original * this.lists.price_original;  
                }

                //  if(this.lists.volume ==0)
                // {
                //    this.total_volume = this.qty * 1; 
                // }else{
                //     this.total_volume =  this.qty * this.lists.weight_original; 
                // } 

                if(this.lists.weight_original !=0)
                {
                   this.weight = this.lists.weight_original;
                }else{
                   this.weight = 1;  
                }


                 var loc = this.location.find(o => o.value == this.location_id);      
               
                
                let findpayment = this.payment.find(o => o.value == this.payment_id); 
                this.payment_name = findpayment.text;
                // console.log(this.location_id)
                 this.addSingle(loc);
               } 
              
            
                
               

            },
            
            addSingle(loc){
                                

                
                                 
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                
                formData.append('project_id', self.project_id);
                formData.append('pr_request_id', self.pr_request_id);
                formData.append('vendor_id', self.lists.vendor.id);
                formData.append('vendor_name', self.lists.vendor.tooltips);
                formData.append('location_name', loc.text);
                formData.append('location_id', self.location_id);
                formData.append('type', self.lists.type.slug);
               

                formData.append('product_id', self.lists.id);
                formData.append('product_name', self.lists.name.original);
                formData.append('photo',  self.photo_cover);
               
                formData.append('qty', self.qty);
                formData.append('price',  self.lists.price.original);   
                formData.append('volume', self.lists.volume);
                formData.append('weight', self.lists.weight.original);
                formData.append('payment_id', self.payment_id);
                formData.append('payment_name', self.payment_name);
                formData.append('product_uom_id', self.lists.uom.id);
                formData.append('product_uom_name', self.lists.uom.name);
                formData.append('status_matgis', self.lists.status.matgis);

                

    
                urlBase = axios.post(BASE_URL+'/api/sendcart', formData);
                urlBase
                .then((response) => {

                  // self.socket.emit('cart_count', response.data.count);  
                   this.$emit('cartCount',  response.data.count.count);
                   this.$emit('checkPRRequest',false);
                 //  self.$vToastify.success(response.data.message);

                   this.$router.push({path:'/cart'})

                }).catch((error) => {
                 
                        self.$swal({
                            title: error.response.data.message,
                            icon: "error"
                        }).then((result) => {
                            
                        });
                                 
               
                });
            },
           
        }
    }
   
</script>
