<template>
<div>
 <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Header Navbar -->
            <div class="container content-header">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="toogle-menu">
                    <i class="fa fa-bars fa-2x color-blue-sea menu-i"></i>
                </div>

                <div class="top">
                      <div class="cover-logo">
                       
                        <router-link class="pull-left" :to="{path: '/vendor'}">    
                          <img class="logo-nav" :src="logo">
                        </router-link>  
                      
                      </div>

                      <div class="pull-right padding-vendor">
                            <ul class="nav navbar-nav box-grouping ">
                                 <li class="dropdown user user-menu" :class="classOpenP">
                                    <a href="#" @click="dropProfile(classOpenP)" class="dropdown-toggle vendor-list"  data-toggle="dropdown" aria-expanded="false"  >
                                      <img :src="photo" class="user-image" alt="User Image"> 
                                   
                                     </a>

                                     <div class="dropdown-menu pull-right drdown-p">
                                     <div class="d-menu">
                                        <ul class="menu">         
                                            <li class="terdp-24"><router-link :to="{path: '/profile'}"><i class="fa fa-user-circle-o"></i> <span>Profile</span></router-link></li>
                                             <li><a class="fa-pointer" @click="logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                                        </ul> 


                                     </div>
                                     <div class="pull-left full">  
                                        <div class="borttom"></div>
                                     </div>   
                                      
                                    </div>
                                </li>
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle icon-grey" data-toggle="dropdown">
                                      <img src="/img/help.png" class="user-help" alt="">         
                                    </a>
                                </li>

                            </ul>
                      </div>       
                            
                        
                  
                </div>

                   
            </nav>
            </div>
        </header>  

       
         <!-- Left side column. contains the logo and sidebar -->
        <div class="container content-menu">
          <div class="row">
            <div class="col-md-3">
             <div is="Sidebar" :isdata="profile"></div>
            </div>
            <div class="content-wrapper col-md-9">
                <router-view @iprofile="UpdateProfile" :uonline="useronline"></router-view>
            </div>   
          </div>  
           
        </div>   
       
        

        <!-- Main Footer -->
        <footer is="Footer" class="site-footer"></footer> 

    </div>
</div>
</template>
<script>
        //import io from 'socket.io-client'; 
export default {
        props:["BodyLogin","BodyDashboard1","BodyDashboard2"], 
        data() {
            return {
               // socket: io('ws://localhost:3000/'),  
                //socket: io(),
                photo:'/img/2010526.png',
                profile:{},
                user:{},
                useronline:[],
                lists:{},
                notif:{},
                classOpenN:'',
                classOpenP:'',
                countMessage:0,
 				year: new Date().getFullYear(),
                logo:'/img/ecatalogue-logo-2.png',
            }
        },
         created() {  
            this.Notif();
            this.socketMessage();
            // this.socket.on('chat_count', (data) => {
            //       this.countMessage = data;
                
            // });

            
        },
        mounted(){
          this.getUser();
        },
        computed: {
           base_url() {
                return BASE_URL;
            },    
        },
        components: {
          'Sidebar': require('./Sidebar.vue').default,
          'Footer': require('../frontend/layout/footer.vue').default, 
        },
        methods: {
          Notif(){
              

                let listUrl = "";
                listUrl = BASE_URL + '/api/user/check-notif';    
                axios.get(listUrl).then((response) => {
                    
                      self.notify = response.data.user.id;  
                      this.$emit('notif',  self.notify);

                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                
                });

              

           }, 
           socketMessage(){
                // this.socket.on('user_chat', (data) => 
                // {           
                //     console.log(data)
                 

                // });

             
                // this.socket.on('chat_count', (data) => 
                // {        
                //     if(data !=null)
                //     {
                //         if(data.to == self.notify)
                //         {
                //          this.countMessage = data.count;
                //          var audio = new Audio('/file/whatsapp_ringtone_.mp3');
                //          audio.play(); 
                //         }  
                //     }    
                   
                // });


                //  this.socket.on('chat_message', (data) => 
                // {   
                //     if(data !=null)
                //     {
                //         if(data.to == self.notify)
                //         { 
                //           this.$vToastify.success(data.textmessages,data.from_fullname);      
                //           this.$emit('messages',  data.textmessages);
                //         }
                //     }    
                // });

               

           },    
          getUser(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/user/top';    
            axios.get(listUrl).then((response) => {
                self.lists = response.data;
                self.user = self.lists.vendor;
                self.photo = self.user.photo;
                self.notif = self.lists.notif;
                self.countMessage  = self.lists.count_chat;
                self.socket.emit('user_chat', self.user);
            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               // window.location.href = BASE_URL+ '/login';
               
            });

          },
          updateReadChat(){
            const self = this;
            let listUrl = "";
            listUrl = BASE_URL + '/api/update/count/chat';    
            axios.get(listUrl).then((response) => {

                self.countMessage = response.data.count;

            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               // window.location.href = BASE_URL+ '/login';
                self.loading = false;
            });

           },
          UpdateProfile(data)
          {
              this.photo = data.photo;
              this.profile = data;
          },
          dropNotification(classOpenN){
              if(classOpenN =="")
              {
                  this.classOpenN = 'open';
                  this.classOpenP = '';  
              }else{
                  this.classOpenN = ''; 
              }  
              
           },  
          dropProfile(classOpenP){
              if(classOpenP =="")
              {
                  this.classOpenN = ''; 
                  this.classOpenP = 'open'; 
              }else{
                  this.classOpenP = ''; 
              }  
              
           },
          logout(){
                 this.useronline = JSON.stringify({'user_id':this.user.id,'user_chat':false,'user_chat_color':'color-offline'});
                 this.socket.emit('user_chat', this.useronline);
               
                  window.location.href = BASE_URL+ '/logout';


          }

        }
    }

</script>