<template>
<div>
    <div class="col-md-9">
        <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Riwayat Data Lelang</h3>
                <span class="title-summary">Jangan membuat pelangganmu menunggu, yuk segera proses pesananmu!</span>
            </div> 
            <div class="btn-lelang btn-prod">
               <div class="pull-right btn-add-top"> 
                <!--  <div class="btn btn-white-blue" data-toggle="modal" data-target="#myModal" data-backdrop="false">Upload Data Lelang </div>        -->

                    <div class="btn-group">
                      <button type="button" data-toggle="modal" data-target="#myModal" data-backdrop="false" class="btn btn-info"><i class="fa fa-upload" ></i></button>
                      <button type="button"  @click="showModalSearch = true" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>              
                         
               </div>  
            </div>  
        </section>
    </div>

    <div class="col-md-9"> 
        <div class="content content-page">
            <div class="form-parse"> 
               <div class="box-body box-table">
                  <div class="card-body table-responsive p-0" >
                    <table class="table table-hover text-nowrap">
                        <thead>
                           <tr>
                              <th class="l-radius">No</th>
                              <th>Nama Uploader</th>
                              <th>Jumlah Row</th>
                              <th class="r-radius">Tanggal Upload</th>
                           </tr> 
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>2</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>3</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>4</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>5</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>6</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>7</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>8</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>9</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr>
                           <tr>
                              <td>10</td> 
                              <td>AZIS SEPTIAN BESTARI</td>
                              <td>201</td>
                              <td>19 Februari 2021 | 15:48:38</td>
                           </tr> 
                        </tbody>
                    </table>
                  </div>
               </div>       
            </div>
        </div>
    </div>

    <Upload id="myModal" v-show="showModal"  :class="showModalIn" role="dialog"></Upload>
    <Search  v-if="showModalSearch" @close="showModalSearch=false" @search="searchData"></Search>

</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
               showModal: false,
               showModalIn:'modal fade',
               showModalSearch: false,
               searchInput:[],
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          'Upload': require('./upload.vue').default,
          'Search': require('./historysearch.vue').default,
        },
        methods: {
          Upload(){
             this.showModal = true;
             this.showModalIn ="modal fade in";
          },
          searchData(data){
            this.searchInput = data;
            // this.methodGet = false;
            // this.methodPost = true;
            // this.halaman = 1;
            // this.total = 10;
            // this.getData();
          },  
        

        }
    }
   
</script>

