<template>
<div>

    <div class="col-md-9">
        <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Data Lelang</h3>
                <span class="title-summary">Jangan membuat pelangganmu menunggu, yuk segera proses pesananmu!</span>
            </div> 
            <div class="btn-lelang btn-prod">
               <div class="pull-right btn-add-top"> 
                <!--  <div class="btn btn-white-blue">Upload Data Lelang </div>

                 <div class="btn btn-white-blue">Download Excel </div> -->
                    <div class="btn-group">
                      <button type="button" @click="Upload()" class="btn btn-info"><i class="fa fa-eye" ></i></button>
                      <button type="button" @click="Download()" class="btn btn-info"><i class="fa fa-file-excel-o"></i></button>
                      <button type="button" @click="showModalSearch = true"  class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
               </div>  
            </div>  
        </section>
    </div>

    <div class="col-md-9"> 
        <div class="content content-page">
             <div class="form-parse">

                <div class="box-body box-table">
                    <div class="card-body table-responsive p-0" > 
                        <table class="table table-hover text-nowrap ">
                            <thead>
                               <tr >
                                   <th class="l-radius">Department</th>
                                   <th>Nama</th>
                                   <th>Spesifikasi</th>
                                   <th>Volume</th>
                                   <th>Tanggal Kontrak</th>
                                   <th>Harga</th>
                                   <th>Proyek Penggunaan</th>
                                   <th>Vendor</th>
                                   <th class="r-radius">Sumber Data</th>
                               </tr> 
                            </thead>
                            <tbody>
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr>
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                               <tr>
                                  <td>DSU 2</td>
                                  <td class="t-bold">SPUN PILE</td>
                                  <td>100-A3-MIDDLE-10M</td>
                                  <td>380,00 m3</td>
                                  <td>05/02/2017 - 11/03/2017</td>
                                  <td>Rp 2.462.000</td>
                                  <td>PROYEK JALAN FLY OVER KERAMASAN PALEMBANG SUMSEL</td>
                                  <td>WIKA BETON</td>
                                  <td>eSCM</td>
                               </tr> 
                                    
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>
        </div>
    </div> 

      <Search  v-if="showModalSearch" @close="showModalSearch=false" @search="searchData"></Search>      
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
               showModalSearch: false,
               searchInput:[],
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
           'Search': require('./lelangsearch.vue').default,
        },
        methods: {
          Upload(){
              this.$router.push({path:'/vendor/lelang/riwayat'})
          },
          Download(){

          },
          searchData(data){
            this.searchInput = data;
            // this.methodGet = false;
            // this.methodPost = true;
            // this.halaman = 1;
            // this.total = 10;
            // this.getData();
          },  
        

        }
    }
   
</script>

