<template>
<div>

<div class="col-md-9">
    <section class="content-header pb-10">
        <div class="title-lelang head-title">
            <h3 class="title-menu">Order Asuransi</h3>
            <span class="title-summary">Jangan membuat pelangganmu menunggu, yuk segera proses pesananmu!</span>
        </div> 
        <div class="btn-lelang btn-prod">
           <div class="pull-right btn-add-top"> 
            <!--  <div class="btn btn-white-blue" data-toggle="modal" data-target="#myModal" data-backdrop="false">Upload Data Lelang </div>        -->

                <div class="input-group margin">
                    <input type="text" class="form-control search-order" placeholder="Cari nama project/ PO/ alamat project">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat btn-se"><i class="fa fa-search"></i></button>
                    </span>
                </div>              
                     
           </div>  
        </div>  
    </section>
</div>

<div class="col-md-9"> 
    <div class="content content-page">
        <div class="form-parse">

            <div class="full pull-left box-tab">
                <ul>
                  <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Semua Transaksi</a></li>
                  <li><a href="#tab_2" data-toggle="tab" aria-expanded="true">Pesanan Baru</a></li>
                  <li><a href="#tab_3" data-toggle="tab" aria-expanded="true">Siap Dikirim</a></li>
                  <li><a href="#tab_4" data-toggle="tab" aria-expanded="true">Dalam Perjalanan</a></li>
                  <li><a href="#tab_5" data-toggle="tab" aria-expanded="true">Pesanan dikomplain</a></li>
                  <li><a href="#tab_6" data-toggle="tab" aria-expanded="true">Pesanan Selesai</a></li>
                  <li><a href="#tab_7" data-toggle="tab" aria-expanded="true">Pesanan dibatalkan</a></li>

                </ul>    
            </div>  

            <div class="full pull-left box-form">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>
                    <div class="tab-pane" id="tab_2">
                         <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                         <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_4">
                         <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_5">
                         <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_6">
                         <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_7">
                        <div class="box-room">
                            <div class="full pull-left">
                                <h4 class="title-menu color-blue text-cap">PO Asuransi</h4>
                                <div class="tab-active-menu">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>
                            <h4 class="full pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                            <span class="text-info font-13">Franco</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang</span>
                                        <span><i class="fa fa-ellipsis-h font-last"></i></span>
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   <div class="top-right"> 
                                        <span class="text-info font-14 pad-right pad-left bord-tr fw-600">Ronny</span>
                                        <span class="text-info font-14 pad-left fw-600">DKI Jakarta</span>
                                    </div>
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>    
            </div>  

        </div>
    </div>
</div>            

    

           




     
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
               showModal: false,
               showModalIn:'modal fade',
               showModalSearch: false,
               searchInput:[],
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          'Search': require('./asuransisearch.vue').default,
        },
        methods: {
          searchData(data){
            this.searchInput = data;
            // this.methodGet = false;
            // this.methodPost = true;
            // this.halaman = 1;
            // this.total = 10;
            // this.getData();
          },  
        

        }
    }
   
</script>

