<template>
<div>

<section class="content-header">
      <h1>Upload Data Lelang</h1>
      <h5>Upload dalam format Excel atau PDF</h5>
</section>

    <div class="content">
        <!-- <div class="col-md-4 box-menu">
         <div class="col-md-8">
            <h5>Tambah Produk</h5>
            <p>Tambahkan foto dan deskripsikan produkmu</p>
         </div>
         <div class="col-md-4">
             <button class="btn btn-info btn-flat"></button>
         </div>   
        </div>  -->


        
    </div>
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          
        },
        methods: {
          
        

        }
    }
   
</script>

