<template>
<div>

    <div class="col-md-9">
        <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Data RFQ</h3>
                <span class="title-summary">Jangan membuat pelangganmu menunggu, yuk segera proses pesananmu!</span>
            </div> 
            <div class="btn-lelang btn-prod">
               <div class="pull-right btn-add-top"> 
                <!--  <div class="btn btn-white-blue">Upload Data Lelang </div>

                 <div class="btn btn-white-blue">Download Excel </div> -->
                    <div class="btn-group">
                      <button type="button" @click="add()" class="btn btn-info"><i class="fa fa-plus" ></i></button>
                     <!--  <button type="button" @click="Download()" class="btn btn-info"><i class="fa fa-file-excel-o"></i></button> -->
                      <button type="button" @click="showModalSearch = true"  class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
               </div>  
            </div>  
        </section>
    </div>

    <div class="col-md-9"> 
        <div class="content content-page">
             <div class="form-parse"> 
                <div class="box-body box-table" >
                    <div class="card-body table-responsive p-0" >
                        <table class="table table-hover text-nowrap ">
                            <thead>
                               <tr>
                                   <th class="l-radius">No</th>
                                   <th >Nama</th>
                                   <th >Kode Produk</th>
                                   <th >Sumber Daya</th>
                                   <th >Tanggal</th>
                                   <th class="r-radius">Action</th>

                               </tr> 
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>1</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>2</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                 <tr>
                                    <td>3</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                 <tr>
                                    <td>4</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>5</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                 <tr>
                                    <td>7</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>8</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>9</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>10</td>
                                    <td>SPUN PILE</td>
                                    <td>AF1600</td>
                                    <td>Semen ordinary portland semen</td>
                                    <td>05/02/2017 - 11/03/2017</td>
                                    <td>     
                                        <button type="button" class="btn btn-tbl btn-info">Edit</button>
                                        <button type="button" class="btn btn-tbl btn-danger">Non-Aktifkan</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>         
                </div>
        </div>
    </div> 

      <Search  v-if="showModalSearch" @close="showModalSearch=false" @search="searchData"></Search>      
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
               showModalSearch: false,
               searchInput:[],
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
           'Search': require('./search.vue').default,
        },
        methods: {
          Upload(){
              this.$router.push({path:'/vendor/rfq/add'})
          },
          Download(){

          },
          searchData(data){
            this.searchInput = data;
            // this.methodGet = false;
            // this.methodPost = true;
            // this.halaman = 1;
            // this.total = 10;
            // this.getData();
          },  
        

        }
    }
   
</script>

