<template>
<div >


      
<!-- <vue-content-loading :width="300" :height="41" >  
     <rect x="0" y="7" rx="25" ry="25" width="30" height="30" /> 
     <rect x="34" y="10" rx="5" ry="5" width="120" height="10" />
     <rect x="34" y="28" rx="5" ry="5" width="160" height="10" />
</vue-content-loading>  -->

<vue-content-loading :width="300" :height="20" >  
     <rect x="0" y="2" rx="25" ry="25" width="18" height="18" /> 
     <rect x="28" y="3" rx="5" ry="5" width="40" height="6" />
     <rect x="28" y="11" rx="5" ry="5" width="60" height="6" />
</vue-content-loading> 


</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';
    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>