<template>
<div >


      
            <vue-content-loading :width="300" :height="457" >  
                 
                 <rect x="13" y="16" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="22" rx="5" ry="5" width="200" height="12" />
                 <rect x="75" y="40" rx="5" ry="5" width="80" height="10" />


                 <rect x="13" y="76" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="82" rx="5" ry="5" width="200" height="12" /> 
                 <rect x="75" y="100" rx="5" ry="5" width="80" height="10" />

                 <rect x="13" y="135" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="142" rx="5" ry="5" width="200" height="12" /> 
                 <rect x="75" y="160" rx="5" ry="5" width="80" height="10" />

                 <rect x="13" y="195" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="202" rx="5" ry="5" width="200" height="12" /> 
                 <rect x="75" y="220" rx="5" ry="5" width="80" height="10" />


                 <rect x="13" y="255" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="262" rx="5" ry="5" width="200" height="12" /> 
                 <rect x="75" y="280" rx="5" ry="5" width="80" height="10" />

                 <rect x="13" y="315" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="322" rx="5" ry="5" width="200" height="12" /> 
                 <rect x="75" y="340" rx="5" ry="5" width="80" height="10" />

                 <rect x="13" y="375" rx="25" ry="25" width="40" height="40" /> 
                 <rect x="75" y="382" rx="5" ry="5" width="200" height="12" /> 
                 <rect x="75" y="400" rx="5" ry="5" width="80" height="10" />


            </vue-content-loading> 



</div>
</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>