<template>
    <div>
        
        <div class="row-wishlist">
                <h3>Wishlist</h3>
                <div class="input-group search-wishlist">
                <input type="text" class="form-control" placeholder="Cari barang wishlist">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-radius"><i class="fa fa-search"></i></button>
                    </span>
                </div>
        </div>    
        
        <div v-show="listpage" class="content content-wishlist" is="ListProduct" :data="lists"></div> 

        <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total"></Pagination>
          </div>
        </div> 

      

       

        
   </div>
</template>
<script>
   export default {
       
        
        data() {
            return {
               loadpage:true, 
               listPage:false,   
               resultNull:false,
               lists:{},
               total: 0,
               halaman: 1,
            }
        },
        created() {  
           
        },
        mounted() {
           this.getData();
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            'ListProduct': require('./listproduct.vue').default,
            'Pagination': require('vue-plain-pagination'),
        },
        methods: {
           getData(){
             
            const self = this;
            let listUrl = "";
            self.loadpage = true;
            self.listPage = false;
          
            listUrl = BASE_URL + '/api/wishlist?page='+ self.halaman;    
            axios.get(listUrl).then((response) => {
                
                
                self.loadpage = false; 
                self.lists = response.data.result;
               
                if(response.data.total >0)
                {            
                    self.halaman = response.data.currentPage;
                    self.total = response.data.lastPage;     
                    self.listpage = true;
                    self.viewsPage = true;

                }else{
                    self.resultNull = true;
                    self.viewsPage = false;

                }
            }).catch((error) => {
                console.log(error);
                self.resultNull = true;
                self.loadpage = false;
                self.listpage = false;
                self.viewsPage = false;
            });

           }

        }
    }
   
</script>
