<template>
    
         
        <div class="product-list full pull-left">
        <ul class="full pull-left" >


            <li class="list-border-index" v-for="list in lists" :key="list.id">
                <div class="pull-left box-border" >     
                  <div class="pull-left box-product fa-pointer" @click="getDetail(list.id)">
                      <img class="pull-left product-img" src="/img/besi1.jpg">
                      <span class="pull-left product-price">{{ list.price }} / Kg</span>

                      <div class="box-verified">
                         <div class="fa-w fa-icon-verified"></div>
                      </div>

                  </div>
                  <div class="pull-left box-description" >
                      <div @click="getDetail(list.id)" class="fa-pointer">  
                            <div class="pull-left full" >
                              <span class="type pull-left non">{{ list.status }}</span>
                            </div>
                            <div class="pull-left full pt-10">
                                <span class="title-product pull-left">{{ list.name }}</span>
                            </div>    
                            
                            <div class="pull-left full">
                                <span class="pull-left vendor-product">{{ list.vendor }}</span>
                            </div>
                            <div class="pull-left full ptb-2">
                                <div class="pull-left location">
                                 <div class="fa-pos fa-w-small fa-icon-product-loc"></div>
                                 <div class="loc-text">{{ list.location }}</div>
                                </div>
                            </div>      
                       </div>
                        
                        <div class="bottom-list-product">
                            
                            <div class="rate pull-left half" v-if="list.rate =='0'">

                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                            </div>

                            <div class="rate pull-left half" v-else-if="list.rate == '1'">

                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>  
                            </div>

                             <div class="rate pull-left half" v-else-if="list.rate == '2'">

                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                            </div>

                            <div class="rate pull-left half" v-else-if="list.rate == '3'">

                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                            </div>

                            <div class="rate pull-left half" v-else-if="list.rate == '4'">

                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
                                  <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                            </div>

                             <div class="rate pull-left half" v-else-if="list.rate == '5'">

                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
                                  <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                            </div>

                            <div class="pull-left half">
                                <div class="box-love" @click="getWishlist(list.id,list.wishlist)">

                                    <div v-if="list.wishlist == false" class="fa-pointer fa-w-love fa-icon-wistlist"></div>

                                    <div v-else-if="list.wishlist == true" class="fa-pointer fa-w-love fa-icon-wistlist-active"></div>


                                </div>    
                            </div>
                        </div>

                  </div> 
                </div>  
            </li>
            
        </ul>
        </div>
         

       
   
</template>
<script>
   
   export default {
        props:["data"],
        data() {
            return {
               lists:{},
            }
        },
        watch: {
            data: function(result) { 
               const self = this;
               self.lists =  result;
               
            }
        },
        created() {
          
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
          
        },
        methods: {
          getDetail(id)
          {
             this.$router.push({path:'/product/preview/'+ id });
          },
          getWishlist(id,status){

                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('status', status);
                formData.append('product_id', id);
               
                urlBase = axios.post(BASE_URL+'/api/wishlist/save', formData);
                urlBase
                .then((response) => {
                    
                    let findwishlist = self.lists.find(o => o.id === id);
                    if(findwishlist.wishlist == false)
                    {
                      findwishlist.wishlist = true;  
                    }else{
                      findwishlist.wishlist = false;
                    }    
   
                }).catch((error) => {
                    console.log(error)
                });

          }

        }
    }
   
</script>
