<template>
<div >
    
      
       
          <vue-content-loading :width="300" :height="245" >  
                 
                 <rect x="0" y="10" rx="5" ry="5" width="73" height="110" />   
                 <rect x="75" y="10" rx="5" ry="5" width="73" height="110" />    
                 <rect x="150" y="10" rx="5" ry="5" width="73" height="110" />
                 <rect x="224" y="10" rx="5" ry="5" width="73" height="110" />
                 


                 <rect x="0" y="130" rx="5" ry="5" width="73" height="110" />   
                 <rect x="75" y="130" rx="5" ry="5" width="73" height="110" />    
                 <rect x="150" y="130" rx="5" ry="5" width="73" height="110" />
                 <rect x="224" y="130" rx="5" ry="5" width="73" height="110" />
                
            </vue-content-loading> 
 
            

</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>