<template>
<div >
    
                 
              
                <vue-content-loading :width="300" :height="160" >  
                    <rect x="0" y="0" rx="3" ry="3" width="150" height="103" />


                    <rect x="0" y="113" rx="3" ry="3" width="28" height="24" /> 
                    <rect x="30" y="113" rx="3" ry="3" width="28" height="24" />
                    <rect x="60" y="113" rx="3" ry="3" width="28" height="24" />
                    <rect x="90" y="113" rx="3" ry="3" width="28" height="24" />
                    <rect x="120" y="113" rx="3" ry="3" width="28" height="24" />


                    <rect x="159" y="0" rx="3" ry="3" width="70" height="8" />
                    <rect x="159" y="15" rx="2" ry="2" width="120" height="8" />
                    

                    <rect x="159" y="35" rx="2" ry="2" width="100" height="6" />
                    

                    <rect x="159" y="45" rx="2" ry="2" width="50" height="7" />
                    

                    <rect x="159" y="60" rx="2" ry="2" width="35" height="5" />
                    <rect x="159" y="66" rx="2" ry="2" width="40" height="4" />
                    
                    <rect x="159" y="75" rx="2" ry="2" width="35" height="5" />
                    <rect x="159" y="81" rx="2" ry="2" width="25" height="4" />
                    
                    <rect x="159" y="88" rx="2" ry="2" width="35" height="5" />
                    <rect x="159" y="95" rx="2" ry="2" width="25" height="4" />
                    
                    <rect x="159" y="103" rx="2" ry="2" width="60" height="5" />
                    <rect x="159" y="109" rx="2" ry="2" width="25" height="4" />
                    
                    <rect x="159" y="115" rx="2" ry="2" width="15" height="4" />
                    <rect x="175" y="115" rx="2" ry="2" width="15" height="4" />
                    
                    <rect x="159" y="124" rx="2" ry="2" width="35" height="4" />
                    <rect x="159" y="130" rx="2" ry="2" width="15" height="4" />

                    <rect x="159" y="138" rx="2" ry="2" width="35" height="4" />
                    <rect x="159" y="145" rx="2" ry="2" width="25" height="4" />
                    
                </vue-content-loading> 
               

         
            


</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>