<template>
    <div>
        
        <div class="row-cart">

            <div class="center-cart">

                <div class="pull-left full mtb-8">
                    <h3>Keranjang </h3>
                </div>

                <div  class="i-cart-left">
                    <div class="cart-left box-border">
                        <div class="margin-cart">
                            <div class="full pull-left">   
                               <div class="title-one ">
                                 <div class="icheckbox_square-blue">
                                   <input type="checkbox" id="jack" value="Jack" v-model="checkedvendor">
                                 </div>  
                               </div>  
                               <div class="title-two">
                                   <h4>HANIL JAYA STEEL</h4>
                                   <span>DKI Jakarta</span>
                               </div> 
                            </div>

                            <div class="second-top">
                               <div class="spasi-select"></div> 
                               <div class="tree-select">
                                 <div class="separo pull-left">
                                   <select class="text-cart-1">
                                       <option>Pilih Project</option>
                                   </select>
                                 </div>
                                
                                 <div class="separo pull-right">
                                    <input type="text" class="text-cart-1" placeholder="Jl. Letkol Kesuma, No.39, PT. Minyak Tanah, Tangerang, Bant....">
                                 </div>   
                               </div>  
                            </div>  

                            <div class="list-cart">   
                                <div class="title-one ">
                                 <div class="icheckbox_square-blue">
                                   <input type="checkbox" v-model="checkvendor1">
                                 </div>  
                                </div>  
                                <div class="title-two bor-bot">
                                    <div class="cart-item">  

                                        <div class="one">
                                            <div class="img-cart"> </div>
                                        </div>

                                        <div class="two">
                                         <div class="top">
                                           <h4>AF6200 BESI BETON POLOS BJTP 280 DIA . . .</h4>  
                                         </div> 
                                         <div class="top pt-8">
                                           <div class="cart-delete ptb-2">
                                                <div class="fa-icon-trush fa-21 fa-pointer"></div>
                                           </div> 
                                           <div class="cart-edit">
                                                <div class="fa-icon-minus fa-21 fa-pointer pull-left mtb-2"></div> 
                                                <input type="text" class="qty-cart" placeholder="100">
                                                <div class="fa-icon-add fa-21 fa-pointer pull-left mtb-2"></div> 
                                           </div> 
                                           <div class="border-cart-right"></div>

                                           <div class="cart-item-kg ">
                                              <div class="pertext">120 Kg</div>
                                           </div>
                                           <div class="border-cart-right"></div>
                                            <div class="cart-ksd ">
                                              <select class="pertext selec-cart1">
                                                 <option>SCF 90 Hari</option> 
                                              </select>  
                                              
                                           </div>
                                         </div> 
                                        </div>

                                        <div class="tree">
                                          <div class="top">
                                           <h6>Rp.5.000</h6>  
                                          </div> 
                                          <div class="top">
                                            <h4 class="pt-10">Rp. 500.000</h4>  
                                          </div> 
                                        </div> 

                                    </div>  
                                </div> 
                            </div>

                            <div class="list-cart">   
                                <div class="title-one ">
                                 <div class="icheckbox_square-blue">
                                   <input type="checkbox" v-model="checkvendor2">
                                 </div>  
                                </div>  
                                <div class="title-two bor-bot">
                                    <div class="cart-item">  

                                        <div class="one">
                                            <div class="img-cart"> </div>
                                        </div>

                                        <div class="two">
                                         <div class="top">
                                           <h4>AF6200 BESI BETON POLOS BJTP 280 DIA . . .</h4>  
                                         </div> 
                                         <div class="top pt-8">
                                           <div class="cart-delete ptb-2">
                                                <div class="fa-icon-trush fa-21 fa-pointer"></div>
                                           </div> 
                                           <div class="cart-edit">
                                                <div class="fa-icon-minus fa-21 fa-pointer pull-left mtb-2"></div> 
                                                <input type="text" class="qty-cart" placeholder="100">
                                                <div class="fa-icon-add fa-21 fa-pointer pull-left mtb-2"></div> 
                                           </div> 
                                           <div class="border-cart-right"></div>

                                           <div class="cart-item-kg ">
                                              <div class="pertext">120 Kg</div>
                                           </div>
                                           <div class="border-cart-right"></div>
                                            <div class="cart-ksd ">
                                              <select class="pertext selec-cart1">
                                                 <option>SCF 90 Hari</option> 
                                              </select>  
                                              
                                           </div>
                                         </div> 
                                        </div>

                                   <div class="tree">
                                      <div class="top">
                                       <h6>Rp.7.600</h6>  
                                      </div> 
                                      <div class="top">
                                        <h4 class="pt-10">Rp. 760.000</h4>  
                                      </div> 
                                   </div> 
                                </div> 
                            </div>

                            <div class="full pull-left list-bottom-cart">   
                                <div class="title-one hide-hipe">
                                
                                </div>  
                                <div class="title-two bor-bot total-volume">
                                    <div class="one hide-hipe">
                                       
                                    </div>

                                    <div class="two">
                                     <div class="top">
                                        <div class="volume font-12">Total Volume</div> 
                                        <div class="total font-14">240 Kg</div>
                                     </div> 

                                    </div>

                                   <div class="tree">
                                      <div class="top">
                                        <h4>Rp. 1.260.000</h4>  
                                      </div> 
                                   </div> 
                                </div> 
                            </div>

                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1">Jenis Pengiriman</label>
                                </div> 
                                <div class="label-right-value">
                                     <model-select class="select-shipping"   :options="shipping"
                                     v-model="shipping_id"
                                     placeholder="Pilih Jenis Pengiriman">
                                    </model-select>
                                </div>   
                              </div>   
                            </div> 

                            <div class="shipping">
                               <div class="left"></div> 
                               <div class="right">
                                 <div class="tr-checkbox">
                                    <div class="pull-left icheckbox_square-blue">
                                     <input type="checkbox" v-model="checkedtrans.checkbox1" >
                                    </div> 
                                    <label class="pull-left lab-ship2">Menggunakan Transportasi</label>
                                 </div>
                                 <div class="tr-price" v-if="checkedtrans.checkbox1 ==true">
                                      <div class="top">
                                       <h6>Rp. 1.675</h6>  
                                      </div> 
                                      <div class="top">
                                        <h4 class="pt-10">Rp. 402.000</h4>  
                                      </div> 
                                 </div>   
                               </div>   
                            </div> 

                            <div class="transport">
                                <div class="left"></div>
                                <div class="right" v-if="checkedtrans.checkbox1 ==true">

                                    <div class="one">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Vendor">
                                        </model-select>   
                                    </div>
                                    <div class="two">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Transportasi">
                                        </model-select>
                                    </div>
                                    <div class="tree">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Harga">
                                        </model-select>
                                    </div>

                                </div>        
                            </div> 


                             <div class="shipping">
                               <div class="left"></div> 
                               <div class="right ptb-10">

                                <div class="tr-checkbox">

                                     <div class="tr-checkbox">
                                        <div class="pull-left icheckbox_square-blue">
                                         <input type="checkbox" v-model="checkedinsurance.checkbox1">
                                        </div> 
                                        <label class="lab-ship2">Asuransi</label>
                                         
                                     </div>
                                     
                                     <div class="tr-checkbox" v-if="checkedinsurance.checkbox1 ==true">
                                        <div class="box-5"></div>  
                                        <div class="premi">Nilai Premi</div> 
                                        <div class="premi-persen">1,5%</div>
                                     </div>    
                                </div>
                                
                                 <div class="tr-price" v-if="checkedinsurance.checkbox1 ==true">
                                      
                                      <div class="top ptb-8">
                                        <h4 >Rp. 200.000</h4>  
                                      </div> 
                                 </div>   
                               </div>   
                            </div> 

                            <div class="transport" v-if="checkedinsurance.checkbox1 ==true">
                                <div class="left"></div>
                                <div class="right" >

                                    <div class="one">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Vendor Asuransi">
                                        </model-select>   
                                    </div>

                                </div>        
                            </div> 


                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                 <div class="label-right">
                                    <label class="lab-ship1">Pengambilan</label>
                                 </div>
                                 <div class="label-right-value">
                                     <model-select class="select-shipping"   :options="shipping"
                                     v-model="shipping_id"
                                     placeholder="Pilih Tanggal">
                                    </model-select>  
                                 </div> 
                              </div>   
                            </div> 


                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1">Perihal</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize"></textarea>
                                </div> 
                              </div>   
                            </div> 

                             <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1">Noted</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize"> </textarea> 
                                </div> 
                              </div>   
                            </div> 



                        </div>  
                       </div>
                    </div>

                     <div class="cart-left box-border">
                        <div class="margin-cart">
                            <div class="full pull-left">   
                               <div class="title-one ">
                                 <div class="icheckbox_square-blue">
                                  <input type="checkbox" id="john" value="John" v-model="checkedvendor">
                                 </div>  
                               </div>  
                               <div class="title-two">
                                   <h4>HANIL JAYA STEEL</h4>
                                   <span>DKI Jakarta</span>
                               </div> 
                            </div>

                            <div class="second-top">
                               <div class="spasi-select"></div> 
                               <div class="tree-select">
                                 <div class="separo pull-left">
                                   <select class="text-cart-1">
                                       <option>Pilih Project</option>
                                   </select>
                                 </div>
                                
                                 <div class="separo pull-right">
                                    <input type="text" class="text-cart-1" placeholder="Jl. Letkol Kesuma, No.39, PT. Minyak Tanah, Tangerang, Bant....">
                                 </div>   
                               </div>  
                            </div>  

                            <div class="list-cart">   
                                <div class="title-one ">
                                 <div class="icheckbox_square-blue">
                                   <input type="checkbox" v-model="checkvendor1">
                                 </div>  
                                </div>  
                                <div class="title-two bor-bot">
                                    <div class="cart-item">  

                                        <div class="one">
                                            <div class="img-cart"> </div>
                                        </div>

                                        <div class="two">
                                         <div class="top">
                                           <h4>AF6200 BESI BETON POLOS BJTP 280 DIA . . .</h4>  
                                         </div> 
                                         <div class="top pt-8">
                                           <div class="cart-delete ptb-2">
                                                <div class="fa-icon-trush fa-21 fa-pointer"></div>
                                           </div> 
                                           <div class="cart-edit">
                                                <div class="fa-icon-minus fa-21 fa-pointer pull-left mtb-2"></div> 
                                                <input type="text" class="qty-cart" placeholder="100">
                                                <div class="fa-icon-add fa-21 fa-pointer pull-left mtb-2"></div> 
                                           </div> 
                                           <div class="border-cart-right"></div>

                                           <div class="cart-item-kg ">
                                              <div class="pertext">120 Kg</div>
                                           </div>
                                           <div class="border-cart-right"></div>
                                            <div class="cart-ksd ">
                                              <select class="pertext selec-cart1">
                                                 <option>SCF 90 Hari</option> 
                                              </select>  
                                              
                                           </div>
                                         </div> 
                                        </div>

                                        <div class="tree">
                                          <div class="top">
                                           <h6>Rp.5.000</h6>  
                                          </div> 
                                          <div class="top">
                                            <h4 class="pt-10">Rp. 500.000</h4>  
                                          </div> 
                                        </div> 

                                    </div>  
                                </div> 
                            </div>

                            <div class="list-cart">   
                                <div class="title-one ">
                                 <div class="icheckbox_square-blue">
                                   <input type="checkbox" v-model="checkvendor2">
                                 </div>  
                                </div>  
                                <div class="title-two bor-bot">
                                    <div class="cart-item">  

                                        <div class="one">
                                            <div class="img-cart"> </div>
                                        </div>

                                        <div class="two">
                                         <div class="top">
                                           <h4>AF6200 BESI BETON POLOS BJTP 280 DIA . . .</h4>  
                                         </div> 
                                         <div class="top pt-8">
                                           <div class="cart-delete ptb-2">
                                                <div class="fa-icon-trush fa-21 fa-pointer"></div>
                                           </div> 
                                           <div class="cart-edit">
                                                <div class="fa-icon-minus fa-21 fa-pointer pull-left mtb-2"></div> 
                                                <input type="text" class="qty-cart" placeholder="100">
                                                <div class="fa-icon-add fa-21 fa-pointer pull-left mtb-2"></div> 
                                           </div> 
                                           <div class="border-cart-right"></div>

                                           <div class="cart-item-kg ">
                                              <div class="pertext">120 Kg</div>
                                           </div>
                                           <div class="border-cart-right"></div>
                                            <div class="cart-ksd ">
                                              <select class="pertext selec-cart1">
                                                 <option>SCF 90 Hari</option> 
                                              </select>  
                                              
                                           </div>
                                         </div> 
                                        </div>

                                   <div class="tree">
                                      <div class="top">
                                       <h6>Rp.7.600</h6>  
                                      </div> 
                                      <div class="top">
                                        <h4 class="pt-10">Rp. 760.000</h4>  
                                      </div> 
                                   </div> 
                                </div> 
                            </div>

                            <div class="full pull-left list-bottom-cart">   
                                <div class="title-one hide-hipe">
                                
                                </div>  
                                <div class="title-two bor-bot total-volume">
                                    <div class="one hide-hipe">
                                       
                                    </div>

                                    <div class="two">
                                     <div class="top">
                                        <div class="volume font-12">Total Volume</div> 
                                        <div class="total font-14">240 Kg</div>
                                     </div> 

                                    </div>

                                   <div class="tree">
                                      <div class="top">
                                        <h4>Rp. 1.260.000</h4>  
                                      </div> 
                                   </div> 
                                </div> 
                            </div>

                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1">Jenis Pengiriman</label>
                                </div>
                                <div class="label-right-value"> 
                                     <model-select class="select-shipping"   :options="shipping"
                                     v-model="shipping_id"
                                     placeholder="Pilih Jenis Pengiriman">
                                    </model-select> 
                                </div>   
                              </div>   
                            </div> 

                            <div class="shipping">
                               <div class="left"></div> 
                               <div class="right">
                                 <div class="tr-checkbox">
                                    <div class="pull-left icheckbox_square-blue">
                                     <input type="checkbox"  v-model="checkedtrans.checkbox2" >
                                    </div> 
                                    <label class="pull-left lab-ship2">Menggunakan Transportasi</label>
                                 </div>
                                 <div class="tr-price" v-if="checkedtrans.checkbox2 ==true">
                                      <div class="top">
                                       <h6>Rp. 1.675</h6>  
                                      </div> 
                                      <div class="top">
                                        <h4 class="pt-10">Rp. 402.000</h4>  
                                      </div> 
                                 </div>   
                               </div>   
                            </div> 

                            <div class="transport">
                                <div class="left"></div>
                                <div class="right" v-if="checkedtrans.checkbox2 ==true">

                                    <div class="one">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Vendor">
                                        </model-select>   
                                    </div>
                                    <div class="two">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Transportasi">
                                        </model-select>
                                    </div>
                                    <div class="tree">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Harga">
                                        </model-select>
                                    </div>

                                </div>        
                            </div> 


                             <div class="shipping">
                               <div class="left"></div> 
                               <div class="right ptb-10">

                                <div class="tr-checkbox">

                                     <div class="tr-checkbox">
                                        <div class="pull-left icheckbox_square-blue">
                                         <input type="checkbox" v-model="checkedinsurance.checkbox2">
                                        </div> 
                                        <label class="lab-ship2">Asuransi</label>
                                         
                                     </div>
                                     
                                     <div class="tr-checkbox"  v-if="checkedinsurance.checkbox2 ==true">
                                        <div class="box-5"></div>  
                                        <div class="premi">Nilai Premi</div> 
                                        <div class="premi-persen">1,5%</div>
                                     </div>    
                                </div>
                                
                                 <div class="tr-price " v-if="checkedinsurance.checkbox2 ==true">
                                      
                                      <div class="top ptb-8">
                                        <h4 >Rp. 200.000</h4>  
                                      </div> 
                                 </div>   
                               </div>   
                            </div> 

                            <div class="transport">
                                <div class="left"></div>
                                <div class="right"  v-if="checkedinsurance.checkbox2 ==true">

                                    <div class="one">
                                        <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Vendor Asuransi">
                                        </model-select>   
                                    </div>

                                </div>        
                            </div> 


                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                 <div class="label-right">
                                   <label class="lab-ship1">Pengambilan</label>
                                 </div>
                                 <div class="label-right-value">
                                         <model-select class="select-shipping"   :options="shipping"
                                         v-model="shipping_id"
                                         placeholder="Pilih Tanggal">
                                        </model-select>
                                  </div>         
                              </div>   
                            </div> 


                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1">Perihal</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize"></textarea> 
                                </div> 
                              </div>   
                            </div> 

                             <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1">Noted</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize"></textarea>
                                </div> 
                              </div>   
                            </div> 



                        </div>  
                       </div>
                    </div> 
                     

                </div>

                <div class="cart-right box-border">
                  <div class="margin-right-cart">
                    <div class="top-right">
                     <h4>Ringkasan Belanja</h4>
                    </div>
                    <div class="center-right"> 
                        <div class="group-total-cart">

                            <span class="color-blue-sea">Total Barang</span>
                            <div class="cart-total">
                                <div class="ul-center">
                                    <div class="li-left">
                                      <h5>Rp. 500.000</h5> <span>(100)</span>
                                    </div> 
                                    <div class="li-right">
                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div> 
                                    </div>
                                </div>  

                                <div class="ul-center">
                                  <div class="li-left">
                                    <h5>Rp. 500.000</h5> <span>(100)</span>
                                 </div> 
                                 <div class="li-right">
                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                 </div>
                                </div> 

                                <div class="ul-center">
                                  <div class="li-left">
                                    <h5>Rp. 500.000</h5> <span>(100)</span>
                                 </div> 
                                 <div class="li-right">
                                     <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                 </div>
                                </div>
                            </div> 
                        </div>   
                        
                        <div class="group-total-cart">
                            <span class="color-blue-sea">Total Volume</span>
                            <div class="cart-total">

                                <div class="ul-center">
                                    <div class="li-left">
                                      <h5>  360 Kg </h5> <span>(300)</span>
                                    </div> 
                                    <div class="li-right">
                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                    </div>
                                </div>  
                            </div> 
                        </div> 

                        <div class="group-total-cart">
                            <span class="color-blue-sea">Total Biaya Transportasi</span>
                            <div class="cart-total">

                                <div class="ul-center">
                                    <div class="li-left">
                                      <h5>  Rp. 402.000 </h5> 
                                    </div> 
                                    <div class="li-right">
                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                    </div>
                                </div>  
                            </div> 
                        </div> 

                        <div class="group-total-cart">
                            <span class="color-blue-sea">Total Biaya Asuransi</span>
                            <div class="cart-total">

                                <div class="ul-center">
                                    <div class="li-left">
                                      <h5>  Rp. 200.000 </h5> <span>(1.5%)</span>
                                    </div> 
                                    <div class="li-right">
                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                    </div>
                                </div>  
                            </div> 
                        </div> 

                    </div>

                    <div class="bottom-right">
                       <div class="btm-left-right">
                           <h4>Total</h4>
                       </div>
                       <div class="btm-right-right"> 
                           <h4>Rp. 2.362.000</h4>   
                       </div> 

                       <div class="rum-bottom">
                              <button @click="postData();" class="btn btn-info btn-proses">PROSES</button>
                       </div> 
                    </div>    
                  </div>  
                </div>  

            </div>                  
        </div>    

       

        

       

        
   </div>
</template>

<script> 
   
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
       
        
        data() {
            return {
              checkedtrans:{},  
              checkedvendor:[],
              checkedinsurance:{},
              checkvendor2:[],
              checkvendor3:[],
              checkedHealths: [],
              shipping:[],
              shipping_id:0,
            }
        },
        created() {  
            
        },
        mounted(){

          this.checkedtrans = {'checkbox1':true,'checkbox2':true}; 
          this.checkedinsurance = {'checkbox1':true,'checkbox2':true};      
          this.checkedvendor =['Jack','John'];     
               
           
        }, 
        computed: {
            base_url() {
                return BASE_URL;
            }, 

        },
        components: {
            ModelSelect,
            
        },
        methods: {
            
            postData(){
                
               this.$router.push({path:'/order/transaction'})

                // console.log(this.checkedtrans) 
            }
            
        }
    }
   
</script>
