<template>
<div>

 <div class="row-wishlist">
     <h3>Notifikasi</h3>           
 </div>    


<div class="pull-left full"> 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-room">
                           <div class="full pull-left"> 
                            <h4 class="title-tab pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                              
                            
                              <!--   <h4 class="title-order color-blue text-cap">PO Asuransi</h4> -->
                                 <div class="tab-download">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>
                                <div class="tab-active">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>

                            <span class="text-info font-13">DKI Jakarta</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang ...</span>
                                        
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>

                                         <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one"> <span class="fw-600">Fronco</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one fw-600 color-blue-sea">PT. Liga Adi ...</span>
                                           <span class="text-info font-12 fw-600  pad-left pad-right  bord-tr one">Dakota Express</span>

                                           <span class="text-info font-12 fw-600 bord-tr pad-right  pad-left one">Price FOT SCF</span>

                                           <span class="text-info font-12 fw-600  pad-left pad-right one">Rp.402.000</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div>  

              <div class="full pull-left box-form">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-room">
                           <div class="full pull-left"> 
                            <h4 class="title-tab pull-left color-black text-cap mt-10-vendor">MITRA CIPTA PROTEKSI <span class="color-grey text-cap text-summary">[DIVISI SUPPLY CHAIN MANAGEMENT]</span></h4> 
                              
                            
                              <!--   <h4 class="title-order color-blue text-cap">PO Asuransi</h4> -->
                                 <div class="tab-download">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>
                                <div class="tab-active">
                                    <span class="actived">Approved 1</span>
                                </div>
                            </div>

                            <span class="text-info font-13">DKI Jakarta</span> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-10 pad-right bord-tr one">Irigasi Sei Silau (Deli - Serdang)</span>
                                        <span class="text-info font-10 pad-left two">Jl. Letkol Kesuma, No.39, PT. Minyak Tanah Tangerang ...</span>
                                        
                                  </div>  

                                  <ul>
                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                    <li>
                                     <div class="box-image">
                                        
                                     </div>
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">AF6200 BESI BETON POLOS BJTP 280 DIA. 8 MM X 12 M</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">100</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">120 Kg</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">SCF 90 Hari</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">Rp. 5.000</span>
                                       <span class="text-info font-10 pad-right one fw-600">Rp. 500.000</span>
                                    </div>
                                    </li>

                                  </ul>  
                                </div>
                                <div class="box-right">
                                   
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">210930003</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">TP.01.03/D.DSU3.2105/2021</span>
                                           <span class="text-info font-12  pad-left one">30 September 2021</span>
                                        </div>

                                         <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one"> <span class="fw-600">Fronco</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one fw-600 color-blue-sea">PT. Liga Adi ...</span>
                                           <span class="text-info font-12 fw-600  pad-left pad-right  bord-tr one">Dakota Express</span>

                                           <span class="text-info font-12 fw-600 bord-tr pad-right  pad-left one">Price FOT SCF</span>

                                           <span class="text-info font-12 fw-600  pad-left pad-right one">Rp.402.000</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">Diambil Tanggal : 21 November 2021</span >
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Perihal : hsaascasjcbsajhc asycusahvc savcasgcc basjhc scbsajhcsaba</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one">Catatan : sacsajhcsa csuacbashcv ascvashgcvasc scvashc</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Total Volume <span class="fw-600">240  Kg</span></span>
                                           <span class="text-info font-12 pad-left  one">Nilai Premi <span class="fw-600">1,5%</span></span>
                                        </div>
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Nilai Min Asuransi <span class="fw-600">Rp. 10.000</span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Rp. 500.000</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div> 

        </div>
    </div>
</div>            

    

           




     
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
               showModal: false,
               showModalIn:'modal fade',
               showModalSearch: false,
               searchInput:[],
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
         
        },
        methods: {
          searchData(data){
            this.searchInput = data;
            // this.methodGet = false;
            // this.methodPost = true;
            // this.halaman = 1;
            // this.total = 10;
            // this.getData();
          },  
        

        }
    }
   
</script>

