<template>
 <transition name="modal">
    

 <div class="modal fade in" id="mySearch" ref="mySearch"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
        <div class="modal-dialog ">
            <!-- konten modal-->
            <div class="modal-content ">
                <!-- heading modal -->
                <div class="modal-header ">
                    <button type="button" class="close" @click="getClose">&times;</button>
                    <h4 class="modal-title">Pencarian Data Berdasarkan</h4>
                </div>
                <!-- body modal -->

                <div class="modal-body" v-if="loading">
                    <loading-block class="loading-table"  />
                </div> 
               
                <div class="modal-body" v-show="viewForm">
                        
                        <div class="box-body border-grup margin-first"  >  
                            <div class="col-xs-12">
                                <label class="col-sm-3 control-label padding-label">Nama Uploder </label>
                                <div class="col-sm-9">
                                   <input  type="text" class="form-control">
                                </div>  
                            </div>

                        </div>

                        <div class="box-body border-grup margin-first"  >  
                            <div class="col-xs-12">
                                <label class="col-sm-3 control-label padding-label">Tanggal Upload </label>
                                <div class="col-sm-9">
                                   <date-picker v-model="daterange" range></date-picker>
                                </div>  
                            </div>

                        </div>


                         
    
                </div>
                <!-- footer modal -->
              
              <div class="modal-footer">
                <button type="button"  class="btn btn-default" @click="getClose">Tutup</button>
                <button type="submit"  class="btn btn-info"  @click="Search">Cari</button>
              </div>
               
            </div>
        </div>
 </div>

  </transition>
</template>
<script>
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   import DatePicker from 'vue2-datepicker';
   import 'vue2-datepicker/index.css';
   export default {
        data() {
            return {   
               loading:true,
               viewForm:false,
               daterange: null,
            }
        },
        mounted() {
           this.OpenModal();
        },
        components: {
            ModelSelect,
            DatePicker,
        },
        methods: {
          OpenModal(){
            this.loading = true;
            this.selectAdd(); 
          },
          getClose(){
            this.$emit('close');
          },
          selectAdd(){
             this.loading = false;
             this.viewForm = true;
          },
          Search(){

                let searchParams = {
                    student_id: this.student_id,
                    semester_id: this.semester_id,
                    academic_id: this.academic_id,
                    class_id: this.class_id,
                };
               
                this.$emit('search', searchParams);
                this.$emit('close');

          }
            

        }
    }
   
</script>
