<template>
	<div>
		<div class="modal-dialog ">
            <!-- konten modal-->
            <div class="modal-content ">
                <!-- heading modal -->
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" @click="$emit('close')">&times;</button>
                    <h4 class="modal-title">Upload Data Lelang</h4>
                </div>
                <!-- body modal -->
                <form  enctype="multipart/form-data" method="post"  @submit.prevent="ImportExel">
                <div class="modal-body">

                        <div v-show="InptFile" class="form-group " :class="errors.messages.file ? 'has-error' : ''">
                             <label>File :</label>
                             <input type="file" class="form-control" @change="previewFile">
                             <span class="help-block" v-if="errors.messages.hasOwnProperty('file')">
                                <strong>{{ errors.messages.file }}</strong>
                             </span>
                             <span class="mod-sample"> Contoh format exel bisa di download  
                             <router-link :to="{path: '/file/sample_dosen.xlsx'}" target="_blank"> di sini </router-link> </span>
                        </div>

                        
                              
                            
                        <div class="progress loading-submit" v-show="InptLoading">
                            <div class="progress-bar progress-bar-striped" :class="bgprogress" v-bind:style="sProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <span class="pa-count"> {{persen}} </span>

                            </div>
                        </div>
                         
                    
                </div>
                <!-- footer modal -->
              
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                    <button type="submit" v-show="btnImport" class="btn btn-info">Upload</button>
                </div>
                </form>
            </div>
        </div>

    </div>		
</template>
<script>
   
   export default {
        props:["Apps"],
        
        data() {
            return {
               errors: {
                    messages: {
                        file:'',    
                    },
               }, 
               
               InptFile: true,
               InptLoading:false,
               btnImport:true,
               showModal: false,
               showModalIn:'modal fade',
               file:'',

               bgprogress:'',
               sProgress:{},
               persen: 0,
              
              
            }
        },
        created() {  
           
        },
        mounted() {
          
        },
        computed: {
            base_url() {
                return BASE_URL;
            }, 

        },
        components: {
           
          
        },
        methods: {
          
          previewFile: function(event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        
                    }
                    // Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0]);
                    this.file = input.files[0];
                    
                }
            },
          
          
          

          ImportExel(){
                const self = this;
    
                self.file = '';   
                self.InptFile = false;
                self.InptLoading = true;
                self.btnImport = false;    
                self.proggresbar();

               

          },
          proggresbar(){
                   
                this.bgprogress = 'bg-danger';
                var size = 0;
                var interval =  setInterval(() =>{
                    size = size + 1;
                    this.sProgress = { width: size + '%'};
                    this.persen = size+'%';
                    if(size >= 50 && size < 100){
                        this.bgprogress = 'bg-warning';
                    }else if(size>= 100){
                        clearInterval(interval);
                        this.bgprogress = 'bg-success';
                        this.persen = 'Done';
                        //this.$router.go()
                    }
                   
                }, 1000);

          },
          
          

        }
    }
   
</script>