<template>
<div >

    <div class="col-md-12">
        <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Dashboard</h3>
                <span class="title-summary">Kelola Tokomu dan tambah produk terbaru!</span>
            </div> 
             
        </section>
    </div>

    <div class="col-md-12"> 
        <div class="content content-page">
            <div class="form-parse m-b-15">

                <div class="box-form box-button mrgn-btn">
                    <div class="one">
                       <h5>Tambah Produk</h5>
                       <span class="text-info font-12">Tambahkan foto dan deskripsikan produkmu</span>
                    </div>
                    <div class="two">
                     
                        <div class="fa-icon-btn icon-add-circle"></div>
                     
                    </div>    

                </div>

                 <div class="box-form box-button">
                    <div class="one">
                       <h5>Total Pengunjung</h5>
                       <span class="text-info font-12"> {{ store.viewer_all }}</span>
                    </div>
                    <div class="two">
                        <div class="fa-icon-btn icon-edit-circle"></div>

                    </div>    

                </div>        
            </div>

            <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Pesanan</h3>
                <span class="title-summary">Konfirmasikan pesanan dan segera kirim produkmu!</span>
            </div>  
            </section>

            <div class="form-parse mt-10">
                 <ul class="list-dasboard">
                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Semua Pesanan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">{{ order.all }}</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan Baru</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">{{ order.new }}</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan Revisi</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">{{ order.revision }}</span>
                              </div>  
                         </div>   
                     </li>

                     <!-- <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan dikomplain</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pesanan Selesai</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Dibatalkan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li> -->

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">RFQ</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>
                 </ul>   
            </div>

            <section class="content-header pb-10">
            <div class="title-lelang head-title">
                <h3 class="title-menu">Analisis Toko & Produk</h3>
                <span class="title-summary">Update Terakhir: <span class="bold">25 October 2021 | 13:00 WIB</span></span>
            </div>  
            </section>

            <div class="form-parse mt-10">
                 <ul class="list-dasboard">
                     <li>
                         <div class="list-box box-form border-active">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Pendapatan baru</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Produk dilihat</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                <router-link class="count"  :to="{path: '/product-report'}">{{ store.viewer_product }} </router-link>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">User Yang Melihat</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">{{ store.viewer_user}}</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form">
                              <div class="box-top">
                                  <span class="text-info font-12 pull-left">Produk terpesan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">0</span>
                              </div>  
                         </div>   
                     </li>

                     <li>
                         <div class="list-box box-form ">
                              <div class="box-top ">
                                  <span class="text-info font-12 pull-left">Produk difavoritkan</span>
                                  <span class="icon-title"><div class="fa-14-15 fa-icon-info "></div></span>
                              </div>
                              <div class="box-bottom">
                                 <span class="count">{{ store.wishlist }}</span>
                              </div>  
                         </div>   
                     </li>

                     
                 </ul>   
            </div>  

        </div>
    </div> 

    
           
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               store:[],
               order:[],
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
           this.getDashboard();
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          
        },
        methods: {
          
          getDashboard(){
              
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/dashboard';    
                axios.get(listUrl).then((response) => {
                  
                    self.store = response.data.store;
                    self.order = response.data.order;
                   
                }).catch((error) => {
                    console.log(error);
                
                    
                });
             
            },

        }
    }
   
</script>

