<template>
<div>
 <div class="wrapper">
        <!-- Main Header -->
         <header class="main-header">
            <!-- Header Navbar -->
            <div class="container content-header">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="toogle-menu">
                    <i class="fa fa-bars fa-2x color-blue-sea menu-i"></i>
                </div>

                <div class="top">
                  <div class="cover-logo logo-index">
                   
                    <router-link class="pull-left full" :to="{path: '/'}">    
                      <img class="logo-nav" :src="logo">
                    </router-link>  
                  
                  </div>

                  <div class="cover-search">
                       <div class="full pull-left">
                            <div class="input-group input-group-sm box-group-search">
                                <input type="text" class="form-control input-search" placeholder="Cari Barang / Vendor">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-info ptb-16 btn-search-rad">
                                    <i class="fa fa-search fa-btn-search fa-i-search"></i>
                                  </button>
                                </span>
                            </div>
                        </div>
                     

                     <!--   <div class="col-md-2">
                            
                       </div>  -->
                  </div>

                  <div class="cover-menu">
                         <div class="pull-left full">
                            <div class="pull-left p-menu">
                                <ul class="nav navbar-nav box-grouping">
                                    <li class="dropdown messages-menu">
                                         <router-link  class="dropdown-toggle icon-heart" :to="{path: '/wishlist'}">
                                       
                                          <!--  <div class="fa-w fa-icon-love"></div>  --> 
                                          <img class="fa-w" src="/img/icon/icon-love.png">
                                         <!--  <i class="fa fa-heart f-icon-25"></i> --> 
                                          <!-- <span class="label label-success">4</span> -->
                                         </router-link> 
                                    </li>
                                    <li class="dropdown messages-menu">
                                        <router-link class="dropdown-toggle icon-grey" :to="{path: '/cart'}">  
                                              <img class="fa-w" src="/img/icon/icon-cart.png">
                                            <!-- <div class="fa-w fa-icon-cart"></div>  -->
                                          <!-- <i class="fa fa-cart-arrow-down f-icon-25"></i> -->
                                          <!-- <span class="label label-success">4</span> -->
                                        </router-link>  
                                    </li>
                                    <li class="dropdown messages-menu">
                                        <a href="#" class="dropdown-toggle icon-grey" data-toggle="dropdown">
                                               <img class="fa-w" src="/img/icon/icon-history.png">
                                             <!--  <div class="fa-w fa-icon-history"></div> --> 
                                         <!--  <i class="fa fa-history f-icon-25"></i> -->
                                         <!--  <span class="label label-success">4</span> -->
                                        </a>  
                                    </li>
                                   
                                    <li class="dropdown notifications-menu" :class="classOpenN">
                                        <a href="#" @click="dropNotification(classOpenN)" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false"  >
                                            <img class="fa-w" src="/img/icon/icon-notification.png">
                                           <!-- <div class="fa-w fa-icon-notification"></div> -->
                                         <!--  <i class="fa fa-bell f-icon-25"></i> -->
                                         <!--  <span class="label label-warning">10</span> -->
                                        </a>

                                         <div class="dropdown-menu pull-right drdown-n">
                                            <div class="d-menu">
                                                <div class="d-menu-border">
                                                  <div class="d-left"><h5>Notifikasi</h5></div> 
                                                  <div class="d-right"><span><router-link :to="{path: '/notification'}">Lihat Semuanya</router-link></span></div>
                                                </div>

                                                <ul class="menu">
                                                  <li>
                                                    <div class="d-li-left">
                                                       <div class="img-list"></div>
                                                    </div>
                                                    <div class="d-li-right">
                                                         <h6>Approved</h6>
                                                         <div class="d-li-center">
                                                             <div class="spaner-r">
                                                                Order No. <span>210930003</span>
                                                             </div> 
                                                             <div class="border-sps-small"></div> 
                                                             <div class="spaner-r">30 September 2021 </div>
                                                          </div>

                                                         <div class="bt-left"><div class="span-l">Lacak</div></div>
                                                         <div class="bt-right"><div class="spn-r">Rp.500.000</div></div>
                                                    </div>   
                                                  </li>

                                                  <li>
                                                    <div class="d-li-left">
                                                       <div class="img-list"></div>
                                                    </div>
                                                    <div class="d-li-right">
                                                         <h6>Approved</h6>
                                                         <div class="d-li-center">
                                                             <div class="spaner-r">
                                                                Order No. <span>210930003</span>
                                                             </div> 
                                                             <div class="border-sps-small"></div> 
                                                             <div class="spaner-r">30 September 2021 </div>
                                                          </div>

                                                         <div class="bt-left"><div class="span-l">Lacak</div></div>
                                                         <div class="bt-right"><div class="spn-r">Rp.500.000</div></div>
                                                    </div>   
                                                  </li>
                                                  
                                                </ul> 

                                                
                                            </div>      
                                            <div class="pull-left full">  
                                                    <div class="borttom"></div>
                                            </div>
                                         
                                        </div>
                                    </li>
                                    <li class="dropdown messages-menu ">
                                        <a href="#" class="dropdown-toggle icon-grey" data-toggle="dropdown">
                                                   <img class="fa-w" src="/img/icon/icon-message.png">
                                          <!-- <div class="fa-w fa-icon-message"></div> -->
                                         <!--  <span class="label label-success">4</span> -->
                                        </a>  
                                    </li>
                                </ul>
                            </div>

                            <!-- <div class="spasi-border-1"></div> -->

                            <div class="pull-right">
                                <ul class="nav navbar-nav box-grouping mtb-5">
                                     <li class="dropdown user user-menu" :class="classOpenP">
                                        <a href="#" @click="dropProfile(classOpenP)" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false"  >
                                          <img src="/img/avatar-12.jpg" class="user-image" alt="User Image"> 
                                       
                                         </a>

                                         <div class="dropdown-menu pull-right drdown-p">
                                         <div class="d-menu">
                                            <ul class="menu">         
                                                <li class="terdp-24"><router-link :to="{path: '/vendor'}"><i class="fa fa-user-circle-o"></i> <span>Profile</span></router-link></li>
                                                 <li><a class="fa-pointer" @click="logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                                            </ul> 


                                         </div>
                                         <div class="pull-left full">  
                                            <div class="borttom"></div>
                                         </div>   
                                          
                                        </div>
                                    </li>
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle icon-grey" data-toggle="dropdown">
                                          <img src="/img/help.png" class="user-help" alt="">         
                                        </a>
                                    </li>

                                </ul>
                             </div>       
                            
                        </div>
                  </div>  
                </div>

                   
            </nav>
            </div>
    </header>  

       
         <!-- Left side column. contains the logo and sidebar -->
        <div class="container content-menu">
          <div class="row">
            <div class="col-md-3">
             <div is="Sidebar"></div>
            </div>
            <div class="content-wrapper">
                <router-view></router-view>
            </div>   
          </div>  
           
        </div>   
       
        

        <!-- Main Footer -->
        <footer class="main-footer full pull-left">
           <div class="container footer-menu padding-none">  
             <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
             <span class="pull-right">www.escm.wika.co.id</span>
           </div>  
        </footer>

    </div>
</div>
</template>
<script>
export default {
        props:["BodyLogin","BodyDashboard1","BodyDashboard2"], 
        data() {
            return {
                classOpenN:'',
                classOpenP:'',
 				year: new Date().getFullYear(),
                logo:'/img/logo.png',
            }
        },
        created() {
          // document.body.classList.remove(this.BodyLogin);
          // document.body.classList.add(this.BodyDashboard1,this.BodyDashboard2);
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            },    
        },
        components: {
          'Sidebar': require('./Sidebar.vue').default,   
        },
        methods: {
          dropNotification(classOpenN){
              if(classOpenN =="")
              {
                  this.classOpenN = 'open';
                  this.classOpenP = '';  
              }else{
                  this.classOpenN = ''; 
              }  
              
           },  
          dropProfile(classOpenP){
              if(classOpenP =="")
              {
                  this.classOpenN = ''; 
                  this.classOpenP = 'open'; 
              }else{
                  this.classOpenP = ''; 
              }  
              
           },
          logout(){
              
              document.cookie = 'token' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
              document.cookie = 'access' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
              window.location.href = BASE_URL+ '/login';
          }

        }
    }

</script>