<template>
  <div class="col-md-12 border-sidebar">
      <div class="user-panel pull-left">
        <div class="pull-left image">
          <img src="/img/avatar-12.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <h5 class="mt-4 text-cap">{{ user.vendor_name }}</h5>
          <p class="font-vendor text-cap ">{{ user.description }}</p>
        </div>
      </div>

       <div class="user-panel pull-left">
          <h6 class="mt-4 text-cap">{{ user.position }}</h6>
          <span class="text-info font-12 m-b-15">{{ user.vendor_owner }}</span>
          <h6 class="bold mt-4">Kontak</h6>
          <span class="text-info font-12 m-b-15">{{ user.phone }}</span>
          <h6 class="bold mt-4">Alamat</h6>
          <span class="text-info font-12 m-b-15">{{ user.address }}</span>
           <h6 class="bold mt-4">Rating</h6>
           <div class="col-md-8 start-rating">
                <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
           </div> 
           <div class="col-md-4 start-rating">
            <router-link :to="{path: '/vendor/profile'}" class="btn-e-p onButton-edit-p fw-400">Edit Profile</router-link>
             
           </div>
           <div class="mt-border pull-left full">
                <div class="col-md-4 start-rating">
                    <h6 class="fw-400 mt-4">Saldo</h6>
                </div>
                <div class="col-md-8 start-rating">
                    <h6 class="bold text-right mt-4">Rp.0</h6>
                </div>
           </div> 

           <div data-widget="tree" class="sidebar-menu tree full pull-left">
                 
                    <li class="treeview">

                    <router-link aria-current="page" class="padding-menu" :to="{path: '/vendor'}">
                        <div class="ml-10 fa-20 fa-icon-home-menu pull-left"></div>
                        <span>Dashboard Toko</span>
                    </router-link>

                    </li>
                    <li class="treeview">
                        <router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/product'}">
                           <div class="ml-10 fa-20 fa-icon-product-menu pull-left"></div>
                            <span>Product</span>
                        </router-link> 
                    </li>
                  <!--   <li class="treeview">
                        <router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/lelang'}">
                            <i class="fa fa-list-ol"></i>
                            <span>Lelang</span>
                        </router-link> 
                    </li>
                    <li class="treeview">
                        <router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/rfq'}">
                           <div class="ml-10 fa-20 fa-icon-chat pull-left"></div>
                            <span>RFQ</span>
                        </router-link> 
                    </li> -->
                    <li class="treeview">
                        <router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/chat'}">
                            <div class="ml-10 fa-20 fa-icon-chat-menu pull-left"></div>
                            <span>Chat</span>
                        </router-link> 
                    </li>

                    <li class="treeview">
                        <a href="" aria-current="page" class="padding-menu">
                            <div class="ml-10 fa-20 fa-icon-order-menu pull-left"></div>
                            <span>Order </span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu" style="display: none;">
                            <li><router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/order'}">
                                <span>Vendor</span>
                            </router-link> </li>
                            <li><router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/order-asuransi'}">
                                <span>Asuransi</span>
                            </router-link></li>
                            <li><router-link aria-current="page" class="padding-menu" :to="{path: '/vendor/order-transportasi'}">
                                <span>Transportasi</span>
                            </router-link></li>
                        </ul>
                    </li>
               
           </div> 

           <!-- <div class="sidebar-menu tree pull-left full">
                <li class="treeview">
                    <a href="/panel-admin" aria-current="page" class="padding-menu">
                        <i class="fa fa-home"></i> 
                        <span>Dashboard Toko</span>
                    </a> 
                </li>
                 <li class="treeview">
                    <a href="/panel-admin" aria-current="page" class="padding-menu">
                        <i class="fa fa-gift"></i> 
                        <span>Product</span>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="/panel-admin" aria-current="page" class="padding-menu">
                        <i class="fa fa-comment"></i> 
                        <span>Chat</span>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="" class="padding-menu">
                        <i class="fa fa-list"></i> 
                        <span>Order Vendor</span> 

                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a> 

                    <ul class="treeview-menu" style="display: none;">
                        <li>
                            <a href="/admin" class="">
                                <i class="fa fa-circle-o"></i> Admin</a>
                        </li>
                    </ul>
                </li>
           </div>  -->


       </div>  


  </div>  

</template>
<script>
export default {
        data() {
            return {
 				lists:{},
                user:{},
                menu:{},
                cookie:'',
            }
        },
        
        mounted() {
            this.GetSidebar();
            this.cookie = this.$cookies.get('token');
        },
        computed: {
               
        },
        components: {
             
        },
        methods: {
          GetSidebar(){
            const self = this;
           // const config = {
                      //  headers: { 'Authorization': 'bearer '+ this.cookie }
               // }
            let listUrl = "";
            listUrl = BASE_URL + '/api/user/menu';    
            axios.get(listUrl).then((response) => {
                self.lists = response.data;
                self.user = self.lists.vendor;
                self.menu = self.lists.menu;
            }).catch((error) => {
                console.log(error);
               // $cookies.remove('token');
               // window.location.href = BASE_URL+ '/login';
                self.loading = false;
            });

          },
        }
    }

</script>