<template>
  <div> 
    
        <div class="row-wishlist" v-show="listpage">
            <h3>{{ Title }}</h3>    
        </div>    
        <div v-show="loadpage" is="LoadingPage"></div>
        <div v-show="listpage" class="content content-list" is="ListProduct" :data="lists"></div> 
        <div v-show="resultNull"  is="PageNotFound" ></div>

        
        <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total"></Pagination>
          </div>
        </div> 


         <!-- <div class="content-pagination">
           <div class="paginate-center">
             <ul>
                <li><a><i class="fa fa-angle-double-left" ></i></a></li>
                <li><a><i class="fa fa-angle-left" ></i></a></li>
                <li><a>1</a></li> 
                <li><a>2</a></li> 
                <li><a>3</a></li> 
                <li><a>4</a></li> 
                <li><a>5</a></li>
                <li><a><i class="fa fa-angle-right" ></i></a></li>
                <li><a><i class="fa fa-angle-double-right" ></i></a></li>
             </ul>
           </div> 
        </div>  -->
            
    
  </div> 
</template>
<script>
   export default {
       
        props:["Apps","Title","Param"],
        data() {
            return {
               loadpage:true, 
               listpage:false,
               viewsPage:false,   
               resultNull:false,

               lists:{},
               category:{},
               total: 0,
               halaman: 1,
            }
        },
        created() {  
           document.title = this.Apps;
           this.$emit('location', 0);
        },
        mounted() {
          
           this.getData();
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),
        },
        methods: {
           getData(){                
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
              
                listUrl = BASE_URL + '/api/page/'+ this.Param +'?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadpage = false;
                    self.lists = response.data.result;
                    if(response.data.total >0)
                    {    
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;

                    }

                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                   
                    self.loadpage = false;
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
          

        }
    }
   
</script>
