<template>
    <div>
                     
   
        <h4>Kategori Cepat</h4>
        
        <ul>
             
            <li class="cat-shadow" v-for="list in lists" :key="list.id">
                <a @click="GetProductCategory(list.id)">   
                    <div class="img-kategori"> <img  src="/img/besi1.jpg"></div>
                    <h6>{{ list.name }}</h6>  
                </a>
            </li>
             
           
        </ul>    

    
   </div>  
</template>
<script>
 
   export default {
        props:["category"],
        
        data() {
            return {
                lists:{},
            }
        },
        watch: {
            category: function(result) { 
               const self = this;
               self.lists =  result;
               
            }
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
          
        },
        methods: {
          
          GetProductCategory(id){
              
               this.$emit('categorytab', id);

          },

        }
    }
   
</script>
