<template>
  <div> 
    <div class="row-wishlist" v-show="listpage">
        <h3>{{ search }} </h3>    
    </div>    
    <div v-show="loadpage" is="LoadingPage"></div>
    <div v-show="listpage" class="content content-list" is="ListProduct" :data="lists"></div> 
     <div v-show="resultNull"  is="PageNotFound" ></div>
    <div class="content-pagination">
      <div class="paginate-center">  
        <Pagination v-if="viewsPage" @change="getFilter" v-model="halaman" :page-count="total"></Pagination>
      </div>
    </div>    
    
  </div> 
</template>
<script>
   export default {
       
        props:["Apps","filter"],
        data() {
            return {
              
               loadpage:true, 
               listpage:false,
               viewsPage:false,   
               resultNull:false,
               search:'',
               location:'',
               lists:{},
               filterData:{},
               category:{},
               total: 0,
               halaman: 1,
            }
        },
         created() {  
           document.title = this.Apps;
           this.$emit('location', 0);
        },
        watch: {
            filter: function(result) { 
               const self = this;
               self.filterData = result;
               self.getFilter();
            } 
        },
        mounted() {
           this.filterData = this.filter; 
           this.getFilter();
          
        },
        computed: {
            base_url() {

                return BASE_URL;
            },

             
        },
        components: {
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),

        },
        methods: {
           getFilter(){
                
                const self = this; 
                let urlBase="";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;

                let formData = new FormData();
                formData.append('price_min', self.filterData.price_min);
                formData.append('price_max', self.filterData.price_max);
                formData.append('rating', self.filterData.rating);
                formData.append('category_id', self.filterData.category_id);
                formData.append('location_id', self.filterData.location_form);
                formData.append('status_vendor', self.filterData.status_vendor);
                formData.append('status_price', self.filterData.status_price);
                formData.append('payment_id', self.filterData.payment_id);

                urlBase = axios.post(BASE_URL+'/api/search-filter?page='+ self.halaman, formData);
                urlBase
                .then((response) => {

                    self.lists = response.data.result;
                    self.search = response.data.cari;
                    self.loadpage = false;
                    if(response.data.total >0)
                    {    

                       
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     
                       
                        

                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
                   
                
                }).catch((error) => {
                 
                   console.log(error)
                    
                        
                });

           }
          

        }
    }
   
</script>
