<template>
  <div  > 
        <div v-show="loadcategory" is="LoadingView"></div>
        <div v-show="listcategory">
            <div class="cover-info">
              <img src="/img/cover-slider.png">
            </div>
            <div  class="row-kategori" is="Category" :category="category" @categorytab="getCategory"></div>  
        </div>

        <div v-show="loadpage" is="LoadingPage"></div>
        <div v-show="listpage" class="content content-list" is="ListProduct" :data="lists"></div> 
        <div v-show="resultNull"  is="PageNotFound" ></div>
        <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total"></Pagination>
          </div>
        </div> 

  </div> 
   
</template>
<script>
   export default {
       
        props:["Apps"],
        data() {
            return {
               loadcategory:true,
               loadpage:true, 
               listcategory:false,
               listpage:false,
               viewsPage:false,   
               resultNull:false,
               search:'',
               lists:{},
               filterData:{},
               category:{},
               total: 0,
               halaman: 1,
            }
        },
        created() {  
           document.title = this.Apps;
           this.$emit('location', 0);
            
        },
        mounted() {
           this.getData();

        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
         'LoadingView': require('../../loading/frontend/index.vue').default,
         'LoadingPage': require('../../loading/frontend/page.vue').default,
         'Category': require('./category.vue').default,
         'ListProduct': require('./listproduct.vue').default,
         'PageNotFound': require('../layout/404.vue').default,
         'Pagination': require('vue-plain-pagination'),
        },
        methods: {
           getData(){
             
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
              
                listUrl = BASE_URL + '/api/frontend?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadcategory = false;
                    self.loadpage = false;


                    self.lists = response.data.result;
                    self.category = response.data.category_fast;
                   
                    
                    if(response.data.total >0)
                    {    
                        self.listcategory = true;
                        self.listpage = true;
                        self.viewsPage = true;

                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     
                       
                        

                    }else{
                        self.resultNull = true;
                        self.listcategory = false;
                        self.listpage = false;
                        self.viewsPage = false;

                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                    self.loadcategory = false;
                    self.loadpage = false;
                    self.listcategory = false; 
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
           getCategory(id){

             const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
              
                listUrl = BASE_URL + '/api/category/'+ id +'?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadcategory = false;
                    self.loadpage = false;


                    self.lists = response.data.result;
                    self.category = response.data.category_fast;
                   
                    
                    if(response.data.total >0)
                    {    
                        self.listcategory = true;
                        self.listpage = true;
                        self.viewsPage = true;

                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     

                    }else{
                        self.resultNull = true;
                        self.listcategory = false;
                        self.listpage = false;
                        self.viewsPage = false;

                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                    self.loadcategory = false;
                    self.loadpage = false;
                    self.listcategory = false; 
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
           

        }
    }
   
</script>
