<template>
    <div class="preview-product">
      <div class="preview-left">
            <div class="box-preview-left">
                <div class="box-form img-preview"></div>

                <div class="thumb-nail">
                    <ul>
                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>
                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>

                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>

                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>
                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>
                    </ul>    
                </div>    

            </div>
      </div> 

      <div class="box-preview-center">
          <div class="list-ergt">
                    <button class="btn btn-red pull-left">Non-Kontrak</button>
                    
                    <div class="rate-det ">   
                        <div class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                        </div>
                    </div>
                    <h3 class="full pull-left">BJTS 40 Dia 10 mm x 12 m</h3>
                    <span class="text-desc pull-left full">AF1300 BJTS 40 Dia 10 mm x 12 m</span>
                    <h3 class="text-price">Rp 7.600 / Kg</h3>
                    <div class="text-verified">
                      <div class="border-verified">
                        <div class="text-verif">Verified </div>
                        <img class="verif-blue" src="/img/icon/icon-verified-blue.png">
                      </div>  
                    </div>    

                    <div class="box-list-right"> 
                        <h5 class="full pull-left color-blue-sea text-label-det">Contract</h5>
                        <span class="pull-left full color-grey font-12 fw-400">22 May 2019 - 17 December 2021</span>
                    </div>
                    <div class="box-list-right"> 
                     <h5 class="full pull-left color-orange text-label-det">Update</h5>
                     <span class="pull-left full color-grey font-12 fw-400">16 July 2020</span>
                    </div>

                    <div class="box-list-right"> 
                     <h5 class="full pull-left color-blue-sea text-label-det">Contract & Volume Availability</h5>
                     <span class="pull-left full color-grey font-12 fw-400">TEST CONTRACT-Amd4</span>
                     <span class="color-orange font-12 fw-400 label-volume">Volume </span> <span class="color-grey font-12 fw-400 text-volume">49.762.516</span>
                    </div>
                    <div class="box-list-right">
                        <span class="text-info font-12 fw-400">Berat /Unit</span>
                        <span class="pull-left full color-blue-sea font-12 fw-300">4.740 Kg</span>
                    </div> 

                    <div class="box-list-right">
                        <span class="text-info font-12 fw-400">Deskripsi</span>
                        <span class="pull-left full  color-grey font-12 fw-300">Lorem ipsum sad akndjasb jbsjhabhas  chsabcahsjc sacbscsa  kbcahjvsbchvascsacas scba acassjh cbasc ascjhbasjhc cascascba sank asbcascas scubas causygcasc shchascbascsa casjh sacasbcs hgvaschgvasc scvas cashcbash</span>
                    </div>  


                     <div class="box-list-right">
                        <span class="text-info font-12 fw-400 pull-left full">Vendor</span>
                        <h5 class="vendor-text fw-400">HANIL JAYA STEEL </h5>
                        <span class="pull-left full ">
                            <div class="fa-pos fa-w-small fa-icon-product-loc"></div>   
                            <span class="fw-400 color-grey">DKI Jakarta</span>
                        </span>

                        <div class="pull-left full mtb-8">
                           <div class="btn-chat">
                               <div class="fa-w-love fa-icon-chat pull-left"></div>
                               <span class="text-btn-chat color-blue-sea">Chat</span>
                           </div> 
                        </div>    
                    </div>   

                </div>    
      </div> 

      <div class="box-preview-right">
        <div class="prew-right-padd">
            <div class="pull-left full mtb-8">
               <div class="btn-orange">
                     Produk Berdasarkan Metode Pembayaran
               </div> 
            </div>
            <div class="pull-left full mtb-8">
                <div class="pull-left box-border">
                  <div class="padd-box-right">    
                      <h4>AF6200 Besi Beton Polos BJTP 280 Dia. 8 mm x 12 m</h4>
                      <span class="text-right-small pull-left full color-grey font-12 fw-400">Metode Pembayaran</span>
                      <div class="pull-left full">
                        <span class="select-right color-orange">SCF 90 Hari</span>
                        <i class="dropdown-right fa fa-angle-down" a></i>
                      </div> 
                      <div class="pull-left full">
                            <span class="text-right-price">Rp 7.600 / Kg</span>
                      </div> 
                      <div class="m-b-15">
                        <div class="box-right-one">
                             <model-select class="slct-loc"   :options="location"
                             v-model="location_id"
                             placeholder="Pilih Lokasi">
                            </model-select>  
                            <input type="text" class="inpt" placeholder="Pilih Lokasi Jumlah">
                        </div>
                        <div class="box-right-two">
                           <button @click="postData();" class="btn btn-info btn-icon-cart"><div class="fa-w-large fa-icon-chart-btn"></div></button>
                        </div> 
                      
                      </div>
                  </div>
                </div>    
            </div>    
        </div>
      </div>  


        
   </div>
</template>
<script>
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css'; 
   export default {
       
        
        data() {
            return {
              location_id:0,  
              location:[],
            }
        },
        created() {  
           
        },
        mounted() {
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
            ModelSelect,
        },
        methods: {
         
             postData(){
                
               this.$router.push({path:'/cart'})

                // console.log(this.checkedtrans) 
            }
        }
    }
   
</script>
