<template>
    <div>
    <div class="col-md-9">
        <section class="content-header pb-10">
            <div class="col-sm-9 head-title">
                <h3 class="title-menu">Tambah Produk</h3>
                <span class="title-summary">Tambah foto dan deskripsi produkmu serta masukan harga terbaikmu</span>
            </div>  
        </section>
    </div>

    <div class="col-md-9"> 
        <div class="content content-page">
            <div class="box-form pull-left full">
                <div class="head-box"> 
                    <h5 class="box-title head-blue">FOTO PRODUK</h5>
                </div>


                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Upload Foto Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions  label-one">Tambah foto produk format, jpg, jpeg, png dan ukuran minimum 300 x 300px dan maksimal 700 x 700px (2 MB),</span>

                         <span class="label-descriptions label-two">Pilih minimal 3 foto produkmu atau seret foto ke bagian box foto</span>
                    </div>
                    <div class="pull-left form-value">
                           <ul class="box-foto">
                                <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto Utama</span>
                                </li>
                                <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 2</span>
                                </li>
                                <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 3</span>
                                </li>
                                <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 4</span>
                               </li>
                               <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 5</span>
                               </li>
                           </ul> 
                    </div>
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Upload Brosur <span class="not-null">*</span></h5>
                         <span class="label-descriptions  label-one">Upload Brosur agar pembeli dapat melihat berbagai macam produkmu</span>
                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input">
                            <div class="input-file">
                                <span class="text-file">Masukan File Berbentuk PDF</span>
                            </div>
                            <div class="btn-file">Pilih File</div>    
                        </div>
                    </div>    
                </div>    
            </div> 

            <div class="box-form pull-left full">
                <div class="head-box"> 
                    <h5 class="box-title head-blue">INFORMASI PRODUK</h5>
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Nama Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions  label-tree">Masukan Brand/Nama Produk maksimum 50 karakter. </span>
                         <span class="label-descriptions label-one">Nama produk yang detail akan lebih mudah ditemukan pembeli</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <textarea class="form-control name-product text-resize" placeholder="Contoh:  Sepatu Safety (Jenis/Kategori Produk) + KINGS (Merek/Brand) +  Warna Coklat (Keterangan)"></textarea>
                            
                        </div>
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Kategori Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Pilih kategori produk untuk memudahkan pencarian berdasarkan kategori</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <model-select class="select-weight"   :options="category"
                             v-model="category_id"
                             placeholder="Pilih Kategori">
                            </model-select>   
                        </div>
                    </div>    
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Sub Kategori <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Pilih sub kategori untuk memudahkan pencarianlewat kategori cepat</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input">
                            <div class="pad-input-sub form-group pull-left">
                                <model-select class="select-weight"   :options="category"
                                 v-model="category_id"
                                 placeholder="Level 2">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-right">
                                <model-select class="select-weight"   :options="category"
                                 v-model="category_id"
                                 placeholder="Level 3">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-left">
                                <model-select class="select-weight"   :options="category"
                                 v-model="category_id"
                                 placeholder="Level 4">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-right">
                                <model-select class="select-weight"   :options="category"
                                 v-model="category_id"
                                 placeholder="Level 5">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-left">
                                <model-select class="select-weight"   :options="category"
                                 v-model="category_id"
                                 placeholder="Level 6">
                                </model-select>   
                            </div>
                        </div>    
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Berat Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Masukan total berat Produk setelah dikemas</span>
                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input">
                            <div class="pad-input-berat-one form-group sub-margin">
                                <model-select class="select-weight"   :options="category"
                                 v-model="category_id"
                                 placeholder="Kg / Unit">
                                </model-select>   
                            </div>

                            <div class="pad-input-berat-two form-group">
                                    <input type="text" class="form-control" placeholder="Masukan berat produk"> 
                            </div>

                           
                        </div>    
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Ukuran Produk</h5>
                         <span class="label-descriptions label-one">Masukan total panjang x lebar setelah dikemas</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <div class="box-ukuran sub-margin">
                                 <h6 class="title">Panjang</h6>
                                 <div class="ukuran-inpt">
                                   <input type="text" class="form-control" placeholder="Pilih ukuran">
                                 </div>
                                 <div class="ukuran-sclt">
                                    <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="m">
                                    </model-select>
                                 </div> 
                            </div>

                            <div class="box-ukuran">
                                 <h6 class="title">Lebar</h6>
                                 <div class="ukuran-inpt">
                                    <input type="text" class="form-control" placeholder="Pilih ukuran">
                                 </div>
                                 <div class="ukuran-sclt">
                                    <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="mm">
                                    </model-select>
                                 </div>
                            </div>    
                             
                        </div>
                    </div>    
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Term of Delivery <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Pilih term of delivery untuk produkmu</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <model-select class="select-weight"   :options="category"
                             v-model="category_id"
                             placeholder="Pilih term of delivery">
                            </model-select>   
                        </div>
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Deskripsi Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Beri penjelasan detail produk dan sertakannote bila diperlukan</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
<textarea class="form-control prod-des-input text-resize" placeholder="Contoh Catatan : 
Sepatu Safety KINGS Warna Coklat tipe 001KNG! 
&nbsp;
- Model Simple-Standar Konstruksi
- Paling sering dipakai di Proyek WIKA
- Tersedia warna lainnya
- Kuat, standar, dan tahan lama
&nbsp;
Bahan :
Upper : Bagian atas sepatu di atas sol, terdiri dari bagian depan, bagian samping, lapis yang direkatkan pada sol sepatu">

</textarea>   
                        </div>
                    </div>    
                </div> 


                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Contract</h5>
                         <span class="label-descriptions label-tree">Pilih tanggal mulai dan berakhir kontrak produkmu</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <div class="box-date">      
                                 <div class="date-inpt">
                                   <input type="text" class="form-control" placeholder="Pilih tanggal mulai kontrakmu">
                                 </div>
                            </div>

                            <div class="box-date-sub">
                               <span>-</span>
                            </div>  

                            <div class="box-date">
                                 <div class="date-inpt">
                                    <input type="text" class="form-control" placeholder="Pilih tanggal berakhir kontrak">
                                 </div>
                            </div>    
                             
                        </div>
                    </div>    
                </div>


            </div>

            <div class="box-form pull-left full">
                <div class="head-box"> 
                    <h5 class="box-title head-blue">HARGA & PENGIRIMAN</h5>
                </div>

                <div class="form-parse"> 
                    <table class="table-price">
                        <thead>
                           <tr >
                               <th><span class="title">Metode Pembayaran</span></th>
                               <th><span class="title">Lokasi</span></th>
                               <th><span class="title">Harga</span></th>
                               <th><span class="title">Notes</span></th>
                               <th class="action"><button type="button" class="btn-icon btn btn-info"><i aria-hidden="true" class="fa fa-plus "></i></button></th>
                           </tr> 
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="SCF 90 Hari">
                                    </model-select>   
                                </td>
                                <td>
                                     <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="DKI Jakarta">
                                    </model-select>  
                                </td>
                                <td>
                                    <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="Masukan Harga">
                                    </model-select> 
                                </td>
                                <td>
                                     <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="Masukan Notes">
                                    </model-select>
                                </td>
                                <td class="trash">
                                    <span><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="SCF 90 Hari">
                                    </model-select>   
                                </td>
                                <td>
                                     <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="Masukan Lokasi">
                                    </model-select>  
                                </td>
                                <td>
                                    <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="Masukan Harga">
                                    </model-select> 
                                </td>
                                <td>
                                     <model-select class="select-weight"   :options="category"
                                     v-model="category_id"
                                     placeholder="Masukan Notes">
                                    </model-select>
                                </td>
                                <td class="trash">
                                     <span><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>

            <div class="footer-button pull-left full">
                <div class="one">
                    <span>*Keterangan Wajib diisi</span>
                </div>
                <div class="two">
                    <div class="right-side">
                        <button class="btn btn-cancel btn-secondary">Batalkan</button>
                        <button class="btn btn-info btn-submit">Simpan</button>
                    </div>
                </div>
            </div>

               
        </div>    
    </div>
    </div>
</template>
<script>
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["Apps"],
        data() {
            return {
               loading:false,
               views:true,
               category:[],
               category_id:'',
            }
        },
        created() {  
           document.title = this.Apps;
        },
        mounted() {
            
            
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
           ModelSelect
        },
        methods: {

            

        }
    }
   
</script>