<template>
<div>
<section class="content-header">
        <h1>
            Edit Akun Bank
        </h1>
    </section>
    <div class="content">
       
        <div class="box box-primary">

            <div class="box-body">
                 <div class="row" v-if="loading">  
                    <div class="form-group col-sm-12">
                     <loading-block class="loading-table"  />
                    </div>
                  </div> 
                <div class="row" v-if="views">
                <form  enctype="multipart/form-data" method="post"  @submit.prevent="RequestUpdate">
                       
                      
                       <div class="form-group col-sm-6">
                        <div class="form-group col-sm-12" :class="errors.messages.bank_id ? 'has-error' : ''">
                            <label>Bank Owner :</label>
                             <model-select  class="select-weight" :options="bank"
                             v-model="bank_id"
                             placeholder="Pilih Bank Owner">
                             </model-select>

                            <span class="help-block" v-if="errors.messages.hasOwnProperty('bank_id')">
                                <strong>{{ errors.messages.bank_id }}</strong>
                             </span>
                        </div>

                        <div class="form-group col-sm-12" :class="errors.messages.account_number ? 'has-error' : ''">
                             <label>No Rekening :</label>
                             <input v-model="account_number" type="number" class="form-control">
                             <span class="help-block" v-if="errors.messages.hasOwnProperty('account_number')">
                                <strong>{{ errors.messages.account_number }}</strong>
                             </span>
                        </div>

                        <div class="form-group col-sm-12" :class="errors.messages.account_name ? 'has-error' : ''">
                             <label>Rekening Atas Nama :</label>
                             <input v-model="account_name" type="text" class="form-control">
                             <span class="help-block" v-if="errors.messages.hasOwnProperty('account_name')">
                                <strong>{{ errors.messages.account_name }}</strong>
                             </span>
                        </div>


                        <div class="form-group col-sm-12" :class="errors.messages.status ? 'has-error' : ''">
                               <label>Status :</label>
                              <div class="radio">
                                <label>
                                  <input v-model="status" type="radio" name="status" id="" value="P" checked>
                                  Publish
                                </label>
                              </div>
                             

                              <div class="radio">
                                <label>
                                  <input v-model="status"  type="radio" name="status" id="" value="NA">
                                 Non Aktif
                                </label>
                           </div>
                        </div>                  


                   </div>

                   <div class="form-group col-sm-6">

                   </div>
                        
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-warning">Update</button>
                             <router-link :to="{path: '/account/bank'}" class="btn btn-default">Cancel</router-link>
                        </div>  
                    </div>
                </form>
                    

                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["Apps"],
        data() {
            return {
               errors: {
                    messages: {
                        bank_id:'',
                        account_number:'',
                        account_name:'',
                        status:'',
                    },
               },  
               loading:true,
               views:false,
              
               id:'',
               bank_id:'',
               account_number:'',
               account_name:'',
               status:'',
               
               bank:[],
               

            }
        },
        created() {  
           document.title = this.Apps;
        },
        mounted() {
    
             this.id = this.$route.params.id;
             this.edit(this.id);
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          ModelSelect
        },
        methods: {
           selectAdd(){
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/account/bank/create';    
                axios.get(listUrl).then((response) => {
                 
                    self.bank = response.data.bank;
                
                   
                }).catch((error) => {
                    console.log(error);
                   
                });
          
            },
          edit(id){
            const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/account/bank/edit/'+id;    
                axios.get(listUrl).then((response) => {
                    self.lists = response.data;
                   
                    self.bank_id = self.lists.bank_id;
                    self.account_number = self.lists.account_number;
                    self.account_name = self.lists.account_name;
                    self.status = self.lists.status;
                    self.selectAdd();

                    self.loading = false;
                    self.views = true;
                }).catch((error) => {
                    console.log(error);
                   
                });

          },

          
          RequestUpdate(){
             

              const self = this; 
                let urlBase="";
                let formData = new FormData();
                self.id = self.$route.params.id;
                formData.append('bank_id', self.bank_id);
                formData.append('account_number', self.account_number);
                formData.append('account_name', self.account_name);
                formData.append('status', self.status);
                formData.append("_method", "put");  

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                
                urlBase = axios.post(BASE_URL+'/api/account/bank/'+ self.id, formData);
                urlBase
                .then((response) => {
                    if(response.data.status == true){
                        self.$swal({
                            title: "Berhasil Di Update",
                            icon: "success"
                        }).then((result) => {
                            if (result) {
                                 this.$router.push({path:'/account/bank'});
                            }
                        });
                    }
                
                }).catch((error) => {
                 
                    self.errors = error.response.data;
                   

                });


          }, 

        }
    }
   
</script>