<template>
    <div> 
        <div class="col-md-9">
            <section class="content-header pb-10">
                <div class="col-sm-9 head-title">
                    <h3 class="title-menu">Produk</h3>
                    <span class="title-summary">Produk original meningkatkan penjualanmu</span>
                </div> 
                <div class="col-sm-3 btn-prod">
                   <div class="pull-right btn-add-top"> 
                     <div @click="Add()" class="btn btn-aff">Tambah Produk <button type="button" class="btn-icon btn btn-info"><i class="fa fa-plus " aria-hidden="true"></i></button></div>
                   </div>  
                </div>  
            </section>
        </div>

        <div class="content content-product">
            <div class="product-list full pull-left">
                <ul class="full pull-left">
                    <li class="list-border" v-for="list in lists" :key="list.id">
                         <div class="pull-left box-border" >  
                       
                          <div class="pull-left box-product fa-pointer" @click="getDetail(list.id)">
                              <img class="pull-left product-img" src="/img/besi1.jpg">
                              <span class="pull-left product-price">{{ list.price }} / Kg</span>

                              <div class="box-verified">
                                 <div class="fa-w fa-icon-verified"></div>
                              </div>
                              
                          </div>
                          <div class="pull-left box-description">
                                <div class="pull-left full fa-pointer" @click="getDetail(list.id)" >
                                  <span class="type pull-left non">{{ list.status }}</span>
                                </div>
                                <div class="pull-left full pt-10">
                                    <span class="title-product pull-left">{{ list.name }}</span>
                                </div>    
                                
                                <div class="pull-left full">
                                    <span class="pull-left vendor-product">{{ list.vendor }}</span>
                                </div>
                                <div class="pull-left full ptb-2">
                                    <div class="pull-left location">
                                     <div class="fa-pos fa-w-small fa-icon-product-loc"></div>
                                     <div class="loc-text">{{ list.location }}</div>
                                    </div>
                                </div>    

                             
                                <div class="rate pull-left half" v-if="list.rate =='0'">

                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '1'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>  
                                </div>

                                 <div class="rate pull-left half" v-else-if="list.rate == '2'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '3'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '4'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '5'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                </div>


                                <div class="pull-left full ptb-2">
                                    <div class="fot-50"> 
                                        <span class="pull-left pcs">Terjual 1.500 Pcs</span>
                                    </div>
                                    <div class="fot-50">
                                        <span class="pull-right edit" @click="Edit()">
                                            <i class="fa fa-pencil-square-o font-20" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>   

                          </div> 
                        </div>  
                    </li>
                    
                </ul>
            </div>


              <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total"></Pagination>
          </div>
        </div> 


           <!--  <div class="content-pagination">
                <div class="paginate-center">
                 <ul>
                    <li><a><i class="fa fa-angle-double-left" ></i></a></li>
                    <li><a><i class="fa fa-angle-left" ></i></a></li>
                    <li><a>1</a></li> 
                    <li><a>2</a></li> 
                    <li><a>3</a></li> 
                    <li><a>4</a></li> 
                    <li><a>5</a></li>
                    <li><a><i class="fa fa-angle-right" ></i></a></li>
                    <li><a><i class="fa fa-angle-double-right" ></i></a></li>
                 </ul>
                </div> 
            </div> -->
        </div>


    </div>
</template>
<script>
   export default {
        props:["Apps"],
        data() {
            return {
               loadcategory:true,
               loadpage:true, 
               listcategory:false,
               listpage:false,
               viewsPage:false,   
               resultNull:false,

               lists:{},
               category:{},
               total: 0,
               halaman: 1,
            }
        },
        created() {  
           document.title = this.Apps;
        },
        mounted() {
            this.getData();
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
           'Pagination': require('vue-plain-pagination'),
          
        },
        methods: {
          getData(){
                
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
              
                listUrl = BASE_URL + '/api/product/vendor?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadpage = false;
                    self.lists = response.data.result;
                    if(response.data.total >0)
                    {    
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                   
                    self.loadpage = false;
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
          Add(){

            this.$router.push({path:'/vendor/product/add'})

          },

          Edit(){

            this.$router.push({path:'/vendor/product/add'})

          },
           getDetail(id)
          {
             this.$router.push({path:'/product/preview/'+ id });
          },

        }
    }
   
</script>
