<template>
<div>

<div class="col-md-9">
    <section class="content-header pb-10">
        <div class="col-sm-9 head-title">
            <h3 class="title-menu">Preview Produk</h3>
            <span class="title-summary">Tampilan di halaman vendor sama dengan tampilan user</span>
        </div> 
        <div class="col-sm-3 btn-prod">
           <div class="pull-right btn-add-top"> 
             <div @click="Edit()" class="btn btn-aff">Edit Produk <span class="btn-pad color-blue"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></span></div>
           </div>  
        </div>  
    </section>
</div>

<div class="col-md-9"> 
    <div class="content content-page">
        <div class="form-parse">

            <div class="box-preview-left ">
                <div class="box-form img-preview"></div>

                <div class="thumb-nail">
                    <ul>
                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>
                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>

                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>

                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>
                      <li>
                          <div class="thumb box-form">

                          </div>  
                      </li>
                    </ul>    
                </div>    

            </div>
            <div class="box-preview-right">
                <div class="list-ergt-v">
                    <button class="btn btn-red pull-left">Non-Kontrak</button>
                    
                    <div class="rate-det">   
                        <div class="full pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                        </div>
                    </div>
                    <h3 class="full pull-left">BJTS 40 Dia 10 mm x 12 m</h3>
                    <span class="text-desc pull-left full">AF1300 BJTS 40 Dia 10 mm x 12 m</span>
                    <h3 class="full pull-left text-price">Rp 7.600 / Kg</h3>
                    <div class="text-verified">
                      <div class="border-verified">
                        <div class="text-verif">Verified </div>
                        <img class="verif-blue" src="/img/icon/icon-verified-blue.png">
                      </div>  
                    </div>    
                    <div class="box-list-right"> 
                        <h5 class="full pull-left color-blue-sea text-label-det">Contract</h5>
                        <span class="pull-left full color-grey font-12 fw-400">22 May 2019 - 17 December 2021</span>
                    </div>
                    <div class="box-list-right"> 
                     <h5 class="full pull-left color-orange text-label-det">Update</h5>
                     <span class="pull-left full color-grey font-12 fw-400">16 July 2020</span>
                    </div>

                    <div class="box-list-right"> 
                     <h5 class="full pull-left color-blue-sea text-label-det">Contract & Volume Availability</h5>
                     <span class="pull-left full color-grey font-12 fw-400">TEST CONTRACT-Amd4</span>
                     <span class="color-orange font-12 fw-400 label-volume">Volume </span> <span class="color-grey font-12 fw-400 text-volume">49.762.516</span>
                    </div>
                    <div class="box-list-right">
                        <span class="text-info font-12 fw-400">Berat /Unit</span>
                        <span class="pull-left full color-blue-sea font-12 fw-300">4.740 Kg</span>
                    </div> 

                    <div class="box-list-right">
                        <span class="text-info font-12 fw-400">Deskripsi</span>
                        <span class="pull-left full  color-grey font-12 fw-300">Lorem ipsum sad akndjasb jbsjhabhas  chsabcahsjc sacbscsa  kbcahjvsbchvascsacas scba acassjh cbasc ascjhbasjhc cascascba sank asbcascas scubas causygcasc shchascbascsa casjh sacasbcs hgvaschgvasc scvas cashcbash</span>
                    </div>  


                     <div class="box-list-right">
                        <span class="text-info font-12 fw-400 pull-left full">Vendor</span>
                        <h5 class="vendor-text fw-400">HANIL JAYA STEEL </h5>
                        <span class="pull-left full ">
                            <div class="fa-pos fa-w-small fa-icon-product-loc"></div>   
                            <span class="fw-400 color-grey">DKI Jakarta</span>
                        </span>
                    </div>   

                </div>    
            </div>

        </div>
    </div>
</div>            
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
          
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          
        },
        methods: {
          
          Edit(){

            this.$router.push({path:'/vendor/product/add'})

          },

        }
    }
   
</script>

