<template>
<div>

<div class="col-md-12">
    <section class="content-header pb-10">
        <div class="title-lelang head-title">
            <h3 class="title-menu">Detail Order</h3>
            <span class="title-summary">Jangan membuat pelangganmu menunggu, yuk segera proses pesananmu!</span>
        </div> 
         
    </section>
</div>

<FormVerif  v-if="showModal" :order="list.order_code" @close="closeModal" @success="successReload" ></FormVerif>
<div class="col-md-9" v-show="ShowAlert"> 
    <div class="row-wishlist border-alert-error" v-if="alert.status ==false"><h3><i class="fa fa-times" ></i> {{ alert.message }}</h3></div>
    <div class="row-wishlist border-alert-success" v-else><h3><i class="fa fa-check" ></i> {{ alert.message }}</h3></div>
</div>
<div class="col-md-12"> 
    <div class="content content-page">
        <div class="form-parse">

            <div class="full pull-left ">
                <div class="tab-content">
                   
                        <div v-show="loadpage" is="LoadingPage"></div>
                        
                        <div  v-show="listpage" class="box-room box-form box-room-vendor">
                            <div class="pull-left wid-64">
                                <div class="title-tab-vendor">  
                                    <h4 class="pull-left color-black text-cap mt-10-vendor">PO Vendor </h4> 
                                </div> 
                               
                            </div>

                            <div class="right-btn">  
                                
               
                                <div class="tab-active-menu">
                                    <span class="actived" :class="list.status_color">{{ list.status_approved }}</span>
                                </div>

                                 <div class="tab-download fa-pointer" @click="getPdf(list.pdf_vendor);" v-if="list.pdf_status =='active'">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>

                                <div v-else class="tab-download fa-pointer">
                                    <span class="actived status-grey"  @click="showModalIn();">Revisi <i class="fa fa-undo"></i> </span>
                                </div>   

                              

                              </div> 

                           <!--  <span class="text-info font-13">{{ list.shipping }}</span>   -->


                            <div class="box-descript mt-20">
                                <div class="full pull-left">
                                    <span class="text-info font-15 pad-right one fw-600"> {{ list.project_name }}</span>
                                </div>    
                                <div class="box-left-vendor"> 

                                  
                                  
                                    <div class="top-left" > 
                                        <i class="fa fa-map-marker pull-left padd-maps" ></i>  
                                        <span class="text-info font-15 pad-right one pull-left">{{ list.origin }}</span>

                                        <i class="pull-left font-20 color-blue-sea fa fa-exchange"></i>
                                        <span class="text-info font-15 pad-left two">{{ list.destination }}</span>
                                        
                                    </div> 
                                     
                                  
                                 
                                  <perfect-scrollbar class="product-list-vendor" >
                                  <ul >
                                    <li v-for="pro in list.product" :key="pro.id">
                                    
                                        <img class="box-image" :src="pro.photo">
                                   
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">{{ pro.product_name }}</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">{{ pro.qty }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                       <span class="text-info font-10 pad-right one fw-600">{{ pro.total_price }}</span>
                                    </div>
                                    </li>
                                  </ul> 
                                  </perfect-scrollbar>
                                  
                                  <div class="border-bottom"></div>

                                  <div class="pull-left product-info"> 
                                                                             
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div> 
                                    

                                </div>
                                <div class="box-right-vendor">
                                   
                                    <div class="list-bord-bottom">
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">{{ list.order_code }} <span class="fw-600"><span class="color-grey text-cap text-summary rev" v-if="list.status_order !=0">{{ list.status_order }}</span></span> </span></span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one">{{ list.created_at }}</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Diambil Tanggal : </span> {{ list.tgl_diambil }}</span >
                                        </div>  
                                         


                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Perihal : </span>{{ list.about }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Catatan : </span> {{ list.notes }}</span>
                                        </div>

                                      

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">
                                                <span class="fw-600 pull-left">Approval : </span> 
                                                <div class="list-appv" v-for="(ap,index) in list.approv" :key="ap.id">
                                                   
                                                       <div v-if="index ==0" class="bord-tr pad-right-7">
                                                       <i class="fa fa-check-square" v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                       <div v-else>
                                                       <i class="fa fa-check-square"  v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                   
                                                </div> 

                                            </span >   
                                        </div>   

                                        </div>


                                        


                                        <div class="list-descrpt-right"> 
                                           <!--  <span class="text-info font-12 pad-right  one"><span class="fw-600">Dibuat : </span> {{ list.created_at }}</span> -->
                                        </div>

                                        <div class="list-price">
                                            <div class="ones">
                                              <!--  <span class="text-info font-14 pad-right one pull-left"><i class="fa fa-truck" ></i> <span class="fw-600">Rp. 10.000</span></span>  -->
                                            </div> 
                                            <div class="twos">
                                                <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Total : {{ list.total_price }}</span>
                                            </div>   
                                        </div>   
                                        
                                    </div>

                                      
                                </div>
                            </div>  
                        </div>

                        <div  v-show="listpage" class="box-room box-form box-room-vendor" v-if="list.transport_status ==true">
                            <div class="pull-left wid-64">
                                <div class="title-tab-vendor">  
                                    <h4 class="pull-left color-black text-cap mt-10-vendor">PO Transport </h4> 
                                </div> 
                               
                            </div>

                            <div class="right-btn">  
                                
               
                                <div class="tab-active-menu">
                                    <span class="actived" :class="list.status_color">{{ list.status_approved }}</span>
                                </div>

                                <div class="tab-download fa-pointer" @click="getPdf(list.pdf_vendor);" v-if="list.pdf_status =='active'">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>

                                <div v-else class="tab-download fa-pointer">
                                    <span class="actived status-grey"  @click="showModalIn();">Revisi <i class="fa fa-undo"></i> </span>
                                </div>   

                              </div> 

                           <!--  <span class="text-info font-13">{{ list.shipping }}</span>   -->


                            <div class="box-descript mt-20">
                                <div class="full pull-left">
                                    <span class="text-info font-15 pad-right one fw-600"> {{ list.transport.vendor_transport }} </span>
                                </div>    
                                <div class="box-left-vendor"> 

                                  
                                  
                                    <div class="top-left" > 
                                        <i class="fa fa-map-marker pull-left padd-maps" ></i>  
                                        <span class="text-info font-15 pad-right one pull-left">{{ list.origin }}</span>

                                        <i class="pull-left font-20 color-blue-sea fa fa-exchange"></i>
                                        <span class="text-info font-15 pad-left two">{{ list.destination }}</span>
                                        
                                    </div> 
                                     
                                  
                                 
                                  <perfect-scrollbar class="product-list-vendor" >
                                  <ul >
                                    <li v-for="pro in list.product" :key="pro.id">
                                    
                                        <img class="box-image" :src="pro.photo">
                                   
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">{{ pro.product_name }}</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">{{ pro.qty }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                       <span class="text-info font-10 pad-right one fw-600">{{ pro.total_price }}</span>
                                    </div>
                                    </li>
                                  </ul> 
                                  </perfect-scrollbar>
                                  
                                  <div class="border-bottom"></div>

                                  <div class="pull-left product-info"> 
                                                                             
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div> 
                                    

                                </div>
                                <div class="box-right-vendor">
                                   
                                    <div class="list-bord-bottom">
                                       <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">{{ list.order_code }} <span class="fw-600"><span class="color-grey text-cap text-summary rev" v-if="list.status_order !=0">{{ list.status_order }}</span></span> </span></span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one">{{ list.created_at }}</span>
                                        </div>

                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">
                                                <span class="fw-600">Jenis Pengiriman : </span> 
                                                {{ list.shipping }}
                                            </span >
                                            <span class="text-info font-12 pad-left one"> {{ list.transport.transport_name }}</span >
                                        </div>         

                                         <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Tujuan : </span> {{ list.destination }}</span >
                                        </div>  
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right bord-tr one">
                                                <span class="fw-600">Fee Transport : </span>
                                                 {{ list.transport.fee_transport }}
                                            </span >

                                             <span class="text-info font-12 pad-left one"><span class="fw-600">Berat Minimum : </span> {{ list.transport.berat_min_ton }} Ton / {{ list.transport.berat_min_kg }} Kg</span >


                                        </div>

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">
                                                <span class="fw-600 pull-left">Approval : </span> 
                                                <div class="list-appv" v-for="(ap,index) in list.approv" :key="ap.id">
                                                   
                                                       <div v-if="index ==0" class="bord-tr pad-right-7">
                                                       <i class="fa fa-check-square" v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                       <div v-else>
                                                       <i class="fa fa-check-square"  v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                   
                                                </div> 

                                            </span >   
                                        </div>

                                        </div>


                                        


                                        <div class="list-descrpt-right"> 
                                           <!--  <span class="text-info font-12 pad-right  one"><span class="fw-600">Dibuat : </span> {{ list.created_at }}</span> -->
                                        </div>

                                        <div class="list-price">
                                            <div class="ones">
                                              <!--  <span class="text-info font-14 pad-right one pull-left"><i class="fa fa-truck" ></i> <span class="fw-600">Rp. 10.000</span></span>  -->
                                            </div> 
                                            <div class="twos">
                                                <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Total : {{ Rupiah(list.transport.total_transport) }}</span>
                                            </div>   
                                        </div>   
                                        
                                    </div>

                                      
                                </div>
                            </div>  
                        </div>

                        <div  v-show="listpage" class="box-room box-form box-room-vendor" v-if="list.insurance_status ==true">
                            <div class="pull-left wid-64">
                                <div class="title-tab-vendor">  
                                    <h4 class="pull-left color-black text-cap mt-10-vendor">PO Asuransi </h4> 
                                </div> 
                               
                            </div>

                            <div class="right-btn">  
                                
               
                                <div class="tab-active-menu">
                                    <span class="actived" :class="list.status_color">{{ list.status_approved }}</span>
                                </div>

                                <div class="tab-download fa-pointer" @click="getPdf(list.pdf_vendor);" v-if="list.pdf_status =='active'">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>

                               

                                <div v-else class="tab-download fa-pointer">
                                    <span class="actived status-grey"  @click="showModalIn();">Revisi <i class="fa fa-undo"></i> </span>
                                </div>    

                              

                              </div> 

                           <!--  <span class="text-info font-13">{{ list.shipping }}</span>   -->


                            <div class="box-descript mt-20">
                                <div class="full pull-left">
                                    <span class="text-info font-15 pad-right one fw-600"> {{ list.insurance.vendor_name }} </span>
                                </div>    
                                <div class="box-left-vendor"> 

                                  
                                  
                                    <div class="top-left" > 
                                        <i class="fa fa-map-marker pull-left padd-maps" ></i>  
                                        <span class="text-info font-15 pad-right one pull-left">{{ list.origin }}</span>

                                        <i class="pull-left font-20 color-blue-sea fa fa-exchange"></i>
                                        <span class="text-info font-15 pad-left two">{{ list.destination }}</span>
                                        
                                    </div> 
                                     
                                  
                                 
                                  <perfect-scrollbar class="product-list-vendor" >
                                  <ul >
                                    <li v-for="pro in list.product" :key="pro.id">
                                    
                                        <img class="box-image" :src="pro.photo">
                                   
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">{{ pro.product_name }}</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">{{ pro.qty }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                       <span class="text-info font-10 pad-right one fw-600">{{ pro.total_price }}</span>
                                    </div>
                                    </li>
                                  </ul> 
                                  </perfect-scrollbar>
                                  
                                  <div class="border-bottom"></div>

                                  <div class="pull-left product-info"> 
                                                                             
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div> 
                                    

                                </div>
                                <div class="box-right-vendor">
                                   
                                    <div class="list-bord-bottom">
                                       <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">{{ list.order_code }} <span class="fw-600"><span class="color-grey text-cap text-summary rev" v-if="list.status_order !=0">{{ list.status_order }}</span></span> </span></span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one">{{ list.created_at }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right bord-tr  one">
                                                <span class="fw-600">Premi Asuransi : </span>
                                            {{ list.insurance.premi }} %
                                            </span>

                                            <span class="text-info font-12 pad-left one">
                                                <span class="fw-600">Total Min Asuransi : </span>
                                            {{ list.insurance.nilai_min_premi }}
                                            </span>
                                        </div>


                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">
                                                <span class="fw-600 pull-left">Approval : </span> 
                                                <div class="list-appv" v-for="(ap,index) in list.approv" :key="ap.id">
                                                   
                                                       <div v-if="index ==0" class="bord-tr pad-right-7">
                                                       <i class="fa fa-check-square" v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                       <div v-else>
                                                       <i class="fa fa-check-square"  v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                   
                                                </div> 

                                            </span >   
                                        </div>


                                        </div>


                                        


                                        <div class="list-descrpt-right"> 
                                           <!--  <span class="text-info font-12 pad-right  one"><span class="fw-600">Dibuat : </span> {{ list.created_at }}</span> -->
                                        </div>

                                        <div class="list-price">
                                            <div class="ones">
                                              <!--  <span class="text-info font-14 pad-right one pull-left"><i class="fa fa-truck" ></i> <span class="fw-600">Rp. 10.000</span></span>  -->
                                            </div> 
                                            <div class="twos">
                                                <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Total : {{ Rupiah(list.insurance.total_insurance) }}</span>
                                            </div>   
                                        </div>   
                                        
                                    </div>

                                      
                                </div>
                            </div>  
                        </div> 

                        <div v-show="resultNull"  is="PageNotFound" ></div>
                          
                        
                    
                </div>    
            </div>  

        </div>
    </div>
</div>            

    

           




     
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               id:'',
               showModal:false,
               ShowAlert:false,
               dropdown:false,
               loadpage:true,
               list:[],
               listpage:false,
               resultNull:false,
               alert:{},
            }
        },
        created() {  
           document.title = this.Apps;
        },
         mounted() {
           this.getDetail();
          
        },
        computed: {
           base_url() {
               return BASE_URL;
            },     
        },
        components: {
          'FormVerif': require('./verification.vue').default,
          'LoadingPage': require('../loading/order/index.vue').default,
          'LoadingProduct': require('../loading/order/product.vue').default,
          'PageNotFound': require('../frontend/layout/order404.vue').default,
        
        },
        methods: {
           showModalIn(){
               this.showModal = true;
              
            },
            closeModal(){
                this.showModal = false;
            },

             successReload(messages){
                console.log(messages);
                this.ShowAlert = true;
                this.alert = messages;

                this.closeModal();
                this.getDetail();
            },
           
           getDetail(){
                const self = this;
                let listUrl = "";
                this.id = this.$route.params.id;
                
                listUrl = BASE_URL + '/api/order-detail/'+ this.id;    
                axios.get(listUrl).then((response) => {

                   self.loadpage = false;
                   self.listpage = true;
                   self.list = response.data.result;
                 
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

            },
            getPdf(pdf_name){
            window.open(pdf_name);
            },

         
          Rupiah(value)
          {
                let val = (value/1).toFixed(0).replace('.', ',');
                return 'Rp '+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          },   
        

        }
    }
   
</script>

