<template>
<div>

<div class="col-md-12">
    <section class="content-header pb-10">
        <div class="title-lelang head-title">
            <h3 class="title-menu">Order PO</h3>
            <span class="title-summary">Jangan membuat pelangganmu menunggu, yuk segera proses pesananmu!</span>
        </div> 
        <div class="btn-lelang btn-prod">
           <div class="pull-right btn-add-top"> 
            <!--  <div class="btn btn-white-blue" data-toggle="modal" data-target="#myModal" data-backdrop="false">Upload Data Lelang </div>        -->
               
                <form method="post" @submit.prevent="searchData">
                    <div class="input-group margin">
                        <input type="text" v-model="searchInput" class="form-control search-order" placeholder="Cari nama project/ PO/ alamat project">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-info btn-flat btn-se"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>              
                     
           </div>  
        </div>  
    </section>
</div>

<div class="col-md-12"> 
    <div class="content content-page">
        <div class="form-parse">

            <div class="full pull-left box-tab" v-if="Navigate">
                <ul>
                  <li @click="getData();" class="fa-pointer" :class="active_all"><a >Semua Produk <b class="color-red">( {{totalPage}} )</b></a></li>
                  <li class="fa-pointer" @click="getDataNew();" :class="active_new"><a >Pesanan Baru <b class="color-red">( {{totalNew}} )</b></a></li>
                  <li class="fa-pointer"  @click="getDataRevision();" :class="active_rev"><a >Revision <b class="color-red">( {{totalRev}} )</b></a></li>
                </ul>    
            </div>  

            <div class="row-wishlist border-search-order" v-show="ShowSearchAll">
                <h3 v-html="search"> </h3>    
            </div>

            <div class="full pull-left ">
                <div class="tab-content">
                   
                        <div v-show="loadpage" is="LoadingPage"></div>
                        
                        <div  v-show="listpage" class="box-room box-form box-room-vendor"  v-for="list in lists" :key="list.id">
                            <div class="pull-left wid-64">
                                <div class="title-tab-vendor">  
                                    <h4 class="pull-left color-black text-cap mt-10-vendor">{{ list.project_name }} </h4> 
                                </div> 
                               
                            </div>

                            <div class="right-btn">  
                                <div class="dropdown" @click="OpenList()" :class="classOpen">
                                    <div  class="tab-active-menu fa-pointer dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="actived"><i class="fa fa-angle-down" ></i> </span>
                                    </div>
                                     <ul  class="dropdown-menu pull-right history-dropdown" v-show="dropdown" >
                                        
                                        <li v-if="list.pdf_status =='active'">
                                            <a class="fa-pointer" @click="getPdf(list.pdf_name);"><i class="fa fa-download" aria-hidden="true"></i>Download PDF</a>
                                        </li>

                                        <li><a class="fa-pointer" @click="getDetail(list.order_code);"><i class="fa fa-eye" aria-hidden="true"></i>Detail</a></li>

                                        <li  @click="ForwordToCart(list.order_code);"><a class="fa-pointer"><i class="fa fa-undo" aria-hidden="true"></i>Revisi</a></li>


                                      </ul>
                                </div>
                               
                                                                 
                                <div class="tab-active-menu">
                                    <span class="actived" :class="list.status_color">{{ list.status_approved }}</span>
                                </div>

                              

                              </div> 

                            <span class="text-info font-13">{{ list.shipping }}</span>  


                            <div class="box-descript mt-20">
                                <div class="box-left-vendor"> 
                                  
                                    <div class="top-left" > 
                                        <i class="fa fa-map-marker pull-left padd-maps" ></i>  
                                        <span class="text-info font-15 pad-right one pull-left">{{ list.origin }}</span>

                                        <i class="pull-left font-20 color-blue-sea fa fa-exchange"></i>
                                        <span class="text-info font-15 pad-left two">{{ list.destination }}</span>
                                        
                                    </div> 
                                     
                                  
                                 
                                  <perfect-scrollbar class="product-list-vendor" >
                                  <ul >
                                    <li v-for="pro in list.product" :key="pro.id">
                                    
                                        <img class="box-image" :src="pro.photo">
                                   
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full">{{ pro.product_name }}</span> 
                                       <span class="text-info font-10 pad-right bord-tr one">{{ pro.qty }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                       <span class="text-info font-10 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                       <span class="text-info font-10 pad-right one fw-600">{{ pro.total_price }}</span>
                                    </div>
                                    </li>
                                  </ul> 
                                  </perfect-scrollbar>
                                  
                                  <div class="border-bottom"></div>

                                  <div class="pull-left product-info"> 
                                                                             
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div> 
                                    

                                </div>
                                <div class="box-right-vendor">
                                   
                                    <div class="list-bord-bottom">
                                       <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No.  {{ list.order_code }} <span class="fw-600"><span class="color-grey text-cap text-summary rev" v-if="list.status_order !=0">{{ list.status_order }}</span></span> </span>
                                           <span class="text-info font-12  pad-left  one">{{ list.no_surat }}</span>
                                           
                                        </div>

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Diambil Tanggal : </span> {{ list.tgl_diambil }}</span >
                                        </div>  

                                        <div class="list-descrpt-right" v-if="list.transport.status ==true">
                                           <div class="text-info font-12 pad-right fw-600 full">Transportasi</div>
                                            
                                           <span class="text-info font-12  pad-right one fw-600 bord-tr"> {{ list.transport.shipping }} </span>

                                            <span class="text-info fa-pointer font-12 pad-left pad-right one fw-600 color-blue-sea bord-tr" data-toggle="tooltip" data-trigger="focus" :title="list.transport.vendor_address" :data-content="list.transport.vendor_address">{{ list.transport.vendor_transport }}</span>

                                            <span class="text-info  font-12 one" >{{ list.transport.transport_name }}</span>
                                            
                                             <div class="pull-left full">
                                            <span class="text-info font-12 one pad-right bord-tr">
                                                <span class="pad-right">Minimum Berat :</span> {{ list.transport.berat_min_kg }} Kg 
                                            </span>
                                          
                                            <span class="text-info font-12 one pad-left pad-right">
                                                <span class="pad-right">Total Transportasi :</span> {{ Rupiah(list.transport.total_transport) }} 
                                            </span>

                                            </div> 

                                        </div>

                                        <div class="list-descrpt-right" v-if="list.insurance.status ==true">

                                            <span class="text-info font-12 one bord-tr pad-right">
                                                <span class="pad-right">Minimal Harga Premi :</span> {{ list.insurance.nilai_min_premi }}
                                            </span>
                                            
                                             <span class="text-info font-12 bord-tr one pad-left pad-right">
                                                <span class="pad-right">Premi :</span> {{ list.insurance.premi }} %
                                             </span> 
                                            <span class="text-info font-12 one  pad-left">
                                                <span class=" pad-right">Total Asuransi :</span>
                                                 {{ Rupiah(list.insurance.total_insurance) }}
                                            </span> 
                                        </div>


                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Perihal : </span>{{ list.about }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Catatan : </span> {{ list.notes }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Dibuat : </span> {{ list.created_at }}</span>
                                        </div>    

                                        </div>


                                        


                                        <div class="list-descrpt-right"> 
                                           <!--  <span class="text-info font-12 pad-right  one"><span class="fw-600">Dibuat : </span> {{ list.created_at }}</span> -->
                                        </div>

                            
                                        
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                          <!--  <span class="text-info font-14 pad-right one pull-left"><i class="fa fa-truck" ></i> <span class="fw-600">Rp. 10.000</span></span>  -->
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">{{ list.total }}</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>  
                        </div> 

                        <div v-show="resultNull"  is="PageNotFound" ></div>
                          
                        <div class="content-pagination">
                          <div class="paginate-center">  
                            <Pagination v-if="viewsPage"  @change="getData" v-model="halaman" :page-count="total" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>
                          </div>
                        </div> 
                    
                </div>    
            </div>  

        </div>
    </div>
</div>            

    

           




     
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               showModal: false,
               classOpen:'',
               dropdown:false,
               showModalIn:'modal fade',
               showModalSearch: false,
               loadProduct:'',
               loadpage:true,
               lists:[],
               halaman:1,
               total:0,
               resultNull:false,
               active_all:'active',
               active_new:'',
               active_rev:'',
               viewsPage:false,
             
               
               Navigate:true,
               ShowSearchAll:false,
               searchInput:'',
               search:'',
               halamanSearch:1,

               currentPage: 0,
               nextpage:0,

               totalPage:0,
               totalNew:0,
               totalRev:0,
               finder:{},

                bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               },
             
            }
        },
        created() {  
           document.title = this.Apps;
        },
         mounted() {
           this.getDataRevision();
          
        },
        computed: {
           base_url() {
               return BASE_URL;
            },     
        },
        components: {
        
          'LoadingPage': require('../loading/order/index.vue').default,
          'LoadingProduct': require('../loading/order/product.vue').default,
          'PageNotFound': require('../frontend/layout/order404.vue').default,
          'Pagination': require('vue-plain-pagination'),
        },
        methods: {

           OpenList(){
               if(this.dropdown ==false)
               {
                  this.classOpen = 'open';
                  this.dropdown = true;
               }else{
                  this.classOpen = '';
                  this.dropdown = false;
               } 
              
            }, 
           getData(){
                this.$router.push({path:'/order-product-all'});
                
           },
            getDetail(order_code){
             this.$router.push({path:'/order/detail/'+ order_code})
            },
            getDataNew(){
                this.$router.push({path:'/order-product-new'});
            },
        
           getDataRevision(){
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                // self.currentPage= 1;
                // self.nextpage=2; 
                self.active_all = "";
                self.active_new = "";
                self.active_rev = "active";
                self.resultNull = false;
                listUrl = BASE_URL + '/api/order-product/revision?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
              
                    self.lists = response.data.result;
                    self.loadpage = false;
                    if(response.data.total >0)
                    {
                        
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage; 

                       

                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }

                    self.totalPage = response.data.total_all;
                    self.totalNew = response.data.total_new;
                    self.totalRev = response.data.total_rev;
                    
                }).catch((error) => {
                    console.log(error);
                    
                });
           },
          
          searchData(){
             const self = this; 
                let urlBase="";
                self.Navigate = false;
                self.loadpage = true;
                self.listpage = false;
                let formData = new FormData();
                formData.append('search', self.searchInput);
                urlBase = axios.post(BASE_URL+'/api/filter-product?page='+ self.halamanSearch, formData);
                urlBase
                .then((response) => {

                    self.lists = response.data.result;
                    
                    if(response.data.total >0)
                    {    
                        self.searchInput = '';
                        self.ShowSearch = true;
                        self.loadpage = false;
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage; 
                        self.search =  response.data.cari;          

                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;

                    }  
                   
                
                }).catch((error) => {
                 
                   console.log(error)
                    
                        
                });
            
          },
          getDataProduct(id,order_id,page,type){
                
                const self = this;
                let listUrl = "";
              
                self.finder = self.lists.find(o => o.id === id); 
                

                self.loadProduct = id;
                     
                listUrl = BASE_URL + '/api/product-order/'+ order_id +'?page='+ page;    
                axios.get(listUrl).then((response) => {
                   
                   
                   this.finder.product = response.data.result;
                   self.loadProduct = '';
                   if(response.data.nextPageUrl !=null)
                   {
                     self.nextpage = response.data.nextPageUrl;
                   } 
                     self.currentPage = response.data.currentPage;
                
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

          },
          Rupiah(value)
          {
                let val = (value/1).toFixed(0).replace('.', ',');
                return 'Rp '+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          },   
        

        }
    }
   
</script>

