<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title pull-left" id="exampleModalLabel">Verifikasi</h5>
                <button type="button" class="close" @click="$emit('close')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post"  @submit.prevent="RequestPost">

              <div class="modal-body"> 
                <div class="row-wishlist alert-modal" v-if="messages !=''">
                    <h3><i class="fa fa-times" ></i> {{ messages }}</h3>
                </div>   
                <div class="form-group">
                  <label>Status</label>
                    <model-select class="select-weight"   :options="statusApp"
                                     v-model="status_id"
                                     placeholder="Pilih Status"   @input="onChangeStatus($event)">
                    </model-select> 

                    <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('status_id')">
                        <strong>{{ errors.messages.status_id }}</strong>
                    </span>                 
                </div>
                <div class="form-group">
                  <label>Alasan</label>
                     <model-select class="select-weight"   :options="level"
                                     v-model="level_id"
                                     placeholder="Pilih Alasan">
                     </model-select> 
                     <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('level_id')">
                        <strong>{{ errors.messages.level_id }}</strong>
                     </span>

                </div>
                
                <div class="form-group">
                  <label>Keterangan</label>
                   <input type="text" name="" class="form-control" v-model="noted">
                   <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('noted')">
                        <strong>{{ errors.messages.noted }}</strong>
                  </span>
                </div>   
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" @click="$emit('close')">Batal</button>
                <button type="submit" class="btn btn-info btn-submit" :disabled="isLoading">
                
                   <i v-if="isLoading ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                    <span v-else >Kirim</span>
                </button>
              </div>

              </form>
            </div>
          </div>
        </div>  


       </transition>
     
</template>
<script>
  
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["order"],
        data() {
            return {
               errors: {
                    messages: {
                        status_id:'',
                        level_id:'',
                        noted:'',

                    },
               },  
               isLoading:false,
               statusApp:[{'value':2,'text':'Revisi'},{'value':3,'text':'Cancel'}],
               status_id:'',
               level:[],
               level_id:'',
               noted:'',
               messages:'',
            }
        },
       
        mounted() {
           //this.getData();
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          ModelSelect,
        
        },
        methods: {
           onChangeStatus($event){
               const self = this;
                
                let listUrl = "";
                listUrl = BASE_URL + '/api/verified/'+ $event;    
                axios.get(listUrl).then((response) => {
                  
                    
                     self.level = response.data;
        

                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                   // window.location.href = BASE_URL+ '/login';
                    
                });
           },
           RequestPost(){
               
                
                const self = this; 
                let urlBase="";
                self.isLoading = true;
                let formData = new FormData();
               
                formData.append('order_no', self.order);
                formData.append('status_id', self.status_id);
                formData.append('level_id', self.level_id);
                formData.append('noted', self.noted);
                               
                urlBase = axios.post(BASE_URL+'/api/order/rev-request', formData);
                urlBase
                .then((response) => {

                    if(response.data.status == true)
                    {
                        
                        self.isLoading = false;
                        self.$emit('close');
                        self.$emit('success',response.data);
                        
                     
                        // self.$swal({
                        //     title: response.data.messages,
                        //     icon: "success"
                        // }).then((result) => {
                        //     if (result) 
                        //     {
                               
                        //         self.$router.push({path:'/token_otp'})
                        //     }
                        // });
                    }
                   

                }).catch((error) => {
                     self.isLoading = false;
                     self.$emit('close');
                     self.$emit('success',error.response.data);
                    
                });
           },
           

        }
    }
   
</script>

