<template>
<div >

   
            <div class="center-cart">

                <div  class="pull-left full mtb-8">
                   <vue-content-loading :width="300" :height="10" >
                        <rect x="0" y="2" rx="2" ry="2" width="40" height="8" /> 
                   </vue-content-loading> 
                </div>

                  <div  class="i-cart-left">
                    <div  class="headers-cart box-border">
                          <vue-content-loading :width="300" :height="15" > 
                               <rect x="4" y="5" rx="2" ry="2" width="8" height="7" /> 
                               <rect x="18" y="5" rx="2" ry="2" width="55" height="7" />
                               <rect x="267" y="5" rx="2" ry="2" width="30" height="7" />  
                          </vue-content-loading>  
                    </div>
                    <div  class="cart-left box-border" >
                        <vue-content-loading :width="300" :height="309" >  
                             <rect x="4" y="6" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="18" y="6" rx="2" ry="2" width="55" height="7" />  
                             <rect x="18" y="14" rx="2" ry="2" width="20" height="5" />  
                             
                             <rect x="18" y="21" rx="2" ry="2" width="277" height="11" /> 
                             <!-- <rect x="18" y="21" rx="2" ry="2" width="135" height="11" /> 
                             <rect x="160" y="21" rx="2" ry="2" width="137" height="11" />  --> 

                             <rect x="4" y="40" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="18" y="40" rx="2" ry="2" width="20" height="20" />
                             <rect x="54" y="40" rx="2" ry="2" width="64" height="7" />

                             <rect x="265" y="40" rx="2" ry="2" width="30" height="7" /> 

                             <rect x="54" y="49" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="64" y="49" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="75" y="49" rx="2" ry="2" width="32" height="8" /> 
                             <rect x="109" y="49" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="132" y="49" rx="2" ry="2" width="10" height="7" /> 
                             <rect x="162" y="49" rx="2" ry="2" width="50" height="7" />

                             <rect x="255" y="49" rx="2" ry="2" width="40" height="7" />

                             <rect x="4" y="72" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="18" y="72" rx="2" ry="2" width="20" height="20" />

                             <rect x="54" y="72" rx="2" ry="2" width="64" height="7" />

                             <rect x="265" y="72" rx="2" ry="2" width="30" height="7" /> 

                             <rect x="54" y="81" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="64" y="81" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="75" y="81" rx="2" ry="2" width="32" height="8" /> 
                             <rect x="109" y="81" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="132" y="81" rx="2" ry="2" width="10" height="7" /> 
                             <rect x="162" y="81" rx="2" ry="2" width="50" height="7" />

                             <rect x="255" y="81" rx="2" ry="2" width="40" height="7" />


                             <rect x="54" y="100" rx="2" ry="2" width="40" height="7" />
                             <rect x="255" y="100" rx="2" ry="2" width="40" height="7" />
                             
                             <rect x="18" y="116" rx="2" ry="2" width="40" height="7" />  
                             <rect x="63" y="114" rx="2" ry="2" width="74" height="10" /> 

                             <rect x="18" y="131" rx="2" ry="2" width="8" height="7" /> 
                             <rect x="27" y="131" rx="2" ry="2" width="69" height="7" />
                             <rect x="255" y="131" rx="2" ry="2" width="41" height="7" /> 
                             <rect x="246" y="141" rx="2" ry="2" width="50" height="7" />  

                             <rect x="18" y="153" rx="2" ry="2" width="84" height="12" />
                             <rect x="104" y="153" rx="2" ry="2" width="84" height="12" />
                             <rect x="190" y="153" rx="2" ry="2" width="84" height="12" /> 

                             <rect x="18" y="170" rx="2" ry="2" width="8" height="7" />
                             <rect x="28" y="170" rx="2" ry="2" width="20" height="7" />
                             <rect x="255" y="170" rx="2" ry="2" width="41" height="11" />

                             <rect x="28" y="178" rx="2" ry="2" width="40" height="7" />

                             <rect x="18" y="189" rx="2" ry="2" width="84" height="12" />

                             <rect x="18" y="210" rx="2" ry="2" width="32" height="8" />
                             <rect x="60" y="209" rx="2" ry="2" width="84" height="12" />

                             <rect x="18" y="226" rx="2" ry="2" width="32" height="8" />
                             <rect x="60" y="226" rx="2" ry="2" width="184" height="38" />
                             
                             <rect x="18" y="268" rx="2" ry="2" width="32" height="8" />
                             <rect x="60" y="268" rx="2" ry="2" width="184" height="38" />
                        </vue-content-loading> 
                    </div>
                       
                  </div>
                  <div class="cart-right box-border">
                        <div class="margin-right-cart">
                           <vue-content-loading :width="100" :height="176" >
                                   <rect x="0" y="5" rx="2" ry="2" width="82" height="10" />
                                   <rect x="0" y="18" rx="2" ry="2" width="55" height="7" />
                                   
                                   <rect x="0" y="28" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="35" y="28" rx="2" ry="2" width="10" height="9" />
                                   <rect x="90" y="28" rx="2" ry="2" width="10" height="9" />

                                   <rect x="0" y="39" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="35" y="39" rx="2" ry="2" width="10" height="9" />
                                   <rect x="90" y="39" rx="2" ry="2" width="10" height="9" />

                                   <rect x="0" y="50" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="35" y="50" rx="2" ry="2" width="10" height="9" />
                                   <rect x="90" y="50" rx="2" ry="2" width="10" height="9" />

                                   <rect x="0" y="66" rx="2" ry="2" width="55" height="7" /> 
                                   <rect x="0" y="75" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="35" y="75" rx="2" ry="2" width="10" height="9" />
                                   <rect x="90" y="75" rx="2" ry="2" width="10" height="9" /> 

                                   <rect x="0" y="88" rx="2" ry="2" width="68" height="7" />
                                   <rect x="0" y="98" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="35" y="98" rx="2" ry="2" width="10" height="9" />
                                   <rect x="90" y="98" rx="2" ry="2" width="10" height="9" />

                                   <rect x="0" y="110" rx="2" ry="2" width="68" height="7" />
                                   <rect x="0" y="120" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="35" y="120" rx="2" ry="2" width="10" height="9" />
                                   <rect x="90" y="120" rx="2" ry="2" width="10" height="9" />

                                   <rect x="0" y="140" rx="2" ry="2" width="33" height="9" /> 
                                   <rect x="53" y="140" rx="2" ry="2" width="47" height="9" />

                                   <rect x="0" y="155" rx="6" ry="6" width="100" height="17" /> 
                           </vue-content-loading>  
                        </div>   
                    </div>       
    
            </div>
           

</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>