<template>
<div style="
    /*
    position: relative;
    bottom: 4222px;*/

">
    
      
   
<div class="row-wishlist">
     <vue-content-loading :width="300" :height="10">
        <rect x="0" y="2" rx="3" ry="3" width="30" height="8" />
        <rect x="259" y="2" rx="3" ry="3" width="42" height="8" />
     </vue-content-loading>           
 </div>  

<div class="pull-left full" > 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form" >
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           
                         <vue-content-loading :width="300" :height="80" >  
                             <rect x="0" y="2" rx="3" ry="3" width="150" height="8" />
                             <!-- <rect x="206" y="2" rx="3" ry="3" width="39" height="8" /> -->
                             <rect x="246" y="2" rx="3" ry="3" width="41" height="8" />
                             <rect x="288" y="2" rx="3" ry="3" width="12" height="8" />
                             <rect x="0" y="13" rx="3" ry="3" width="120" height="5" />

                             <rect x="0" y="21" rx="3" ry="3" width="25" height="5" />
                             <rect x="27" y="21" rx="3" ry="3" width="12" height="5" />
                             <rect x="40" y="21" rx="3" ry="3" width="48" height="5" />

                              <rect x="0" y="30" rx="3" ry="3" width="16" height="15" />  
                              <rect x="18" y="30" rx="3" ry="3" width="110" height="6" /> 
                              <rect x="18" y="38" rx="3" ry="3" width="110" height="5" />

                              <rect x="0" y="52" rx="3" ry="3" width="16" height="15" />  
                              <rect x="18" y="52" rx="3" ry="3" width="110" height="5" /> 
                              <rect x="18" y="60" rx="3" ry="3" width="110" height="5" /> 
                              <rect x="0" y="74" rx="3" ry="3" width="110" height="5" />

                              <rect x="152" y="21" rx="2" ry="2" width="132" height="3" />   
                              <rect x="152" y="27" rx="2" ry="2" width="100" height="3" />  
                              <rect x="152" y="33" rx="2" ry="2" width="23" height="3" /> 
                              <rect x="152" y="37" rx="2" ry="2" width="85" height="3" />
                              <rect x="152" y="42" rx="2" ry="2" width="102" height="3" />
                              <rect x="152" y="48" rx="2" ry="2" width="23" height="3" />
                              <rect x="152" y="52" rx="2" ry="2" width="120" height="3" /> 
                              <rect x="152" y="58" rx="2" ry="2" width="26" height="3" /> 
                              <rect x="152" y="64" rx="2" ry="2" width="26" height="3" /> 

                              <rect x="152" y="74" rx="2" ry="2" width="42" height="4" /> 
                              <rect x="271" y="74" rx="2" ry="2" width="28" height="4" />
                         </vue-content-loading>

                            
                                
                        </div>    
                    </div>

                    
                </div>    
            </div>  

          
            
        </div>
    </div>
</div>            

<div class="pull-left full" > 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form" >
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           
                         <vue-content-loading :width="300" :height="80" >  
                             <rect x="0" y="2" rx="5" ry="5" width="150" height="8" />
                             <rect x="197" y="2" rx="5" ry="5" width="39" height="8" />
                             <rect x="237" y="2" rx="5" ry="5" width="42" height="8" />
                             <rect x="280" y="2" rx="5" ry="5" width="20" height="8" />
                             <rect x="0" y="13" rx="3" ry="3" width="120" height="5" />

                             <rect x="0" y="21" rx="3" ry="3" width="25" height="5" />
                             <rect x="27" y="21" rx="3" ry="3" width="12" height="5" />
                             <rect x="40" y="21" rx="3" ry="3" width="48" height="5" />

                              <rect x="0" y="30" rx="3" ry="3" width="16" height="15" />  
                              <rect x="18" y="30" rx="3" ry="3" width="110" height="6" /> 
                              <rect x="18" y="38" rx="3" ry="3" width="110" height="5" />

                              <rect x="0" y="52" rx="3" ry="3" width="16" height="15" />  
                              <rect x="18" y="52" rx="3" ry="3" width="110" height="5" /> 
                              <rect x="18" y="60" rx="3" ry="3" width="110" height="5" /> 
                              <rect x="0" y="74" rx="3" ry="3" width="110" height="5" />

                              <rect x="152" y="21" rx="2" ry="2" width="132" height="3" />   
                              <rect x="152" y="27" rx="2" ry="2" width="100" height="3" />  
                              <rect x="152" y="33" rx="2" ry="2" width="23" height="3" /> 
                              <rect x="152" y="37" rx="2" ry="2" width="85" height="3" />
                              <rect x="152" y="42" rx="2" ry="2" width="102" height="3" />
                              <rect x="152" y="48" rx="2" ry="2" width="23" height="3" />
                              <rect x="152" y="52" rx="2" ry="2" width="120" height="3" /> 
                              <rect x="152" y="58" rx="2" ry="2" width="26" height="3" /> 
                              <rect x="152" y="64" rx="2" ry="2" width="26" height="3" /> 

                              <rect x="152" y="74" rx="2" ry="2" width="42" height="4" /> 
                              <rect x="271" y="74" rx="2" ry="2" width="28" height="4" />
                         </vue-content-loading>

                            
                                
                        </div>    
                    </div>

                    
                </div>    
            </div>  

          
            
        </div>
    </div>
</div>            
            

</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>