<template>
<div>
    
      
            <vue-content-loading :width="300" :height="48">
                <rect x="0" y="5" rx="5" ry="5" width="300" height="42" />
            </vue-content-loading>
       
            <vue-content-loading :width="300" :height="80" >  
                 <rect x="0" y="23" rx="5" ry="5" width="45" height="5" />

                 <rect x="0" y="32" rx="5" ry="5" width="34" height="45" />   
                 <rect x="37" y="32" rx="5" ry="5" width="34" height="45" />    
                 <rect x="75" y="32" rx="5" ry="5" width="34" height="45" />
                 <rect x="113" y="32" rx="5" ry="5" width="34" height="45" /> 
                 <rect x="151" y="32" rx="5" ry="5" width="34" height="45" />   
                 <rect x="189" y="32" rx="5" ry="5" width="34" height="45" />    
                 <rect x="227" y="32" rx="5" ry="5" width="34" height="45" />
                 <rect x="265" y="32" rx="5" ry="5" width="34" height="45" /> 

            </vue-content-loading>  
            

</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>