<template>
<div style="
    
   /* position: relative;
    bottom: 988px;*/

">
    
      
   
<div class="row-wishlist">
     <vue-content-loading :width="300" :height="10">
        <rect x="0" y="2" rx="3" ry="3" width="30" height="8" />
       
     </vue-content-loading>           
 </div>  

<div class="pull-left full" > 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form" >
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           
                         <vue-content-loading :width="300" :height="201" >  
                          
                             <rect x="0" y="3" rx="3" ry="3" width="16" height="15" />  
                             <rect x="18" y="3" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="12" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="12" rx="3" ry="3" width="90" height="5" />

                             <rect x="0" y="23" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="23" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="32" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="32" rx="3" ry="3" width="90" height="5" /> 

                             <rect x="0" y="43" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="43" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="52" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="52" rx="3" ry="3" width="90" height="5" /> 

                             <rect x="0" y="63" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="63" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="72" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="72" rx="3" ry="3" width="90" height="5" />

                             <rect x="0" y="83" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="83" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="92" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="92" rx="3" ry="3" width="90" height="5" /> 

                             <rect x="0" y="103" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="103" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="112" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="112" rx="3" ry="3" width="90" height="5" /> 

                             <rect x="0" y="123" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="123" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="132" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="132" rx="3" ry="3" width="90" height="5" /> 

                             <rect x="0" y="143" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="143" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="152" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="152" rx="3" ry="3" width="90" height="5" /> 

                             <rect x="0" y="163" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="163" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="172" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="172" rx="3" ry="3" width="90" height="5" />

                             <rect x="0" y="183" rx="3" ry="3" width="16" height="15" />
                             <rect x="18" y="183" rx="3" ry="3" width="80" height="6" />
                             <rect x="18" y="192" rx="3" ry="3" width="50" height="5" />
                             <rect x="71" y="192" rx="3" ry="3" width="90" height="5" />  
                             
                         </vue-content-loading>

                            
                                
                        </div>    
                    </div>

                    
                </div>    
            </div>  

          
            
        </div>
    </div>
</div>            

<!-- <div class="pull-left full" > 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form" >
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           
                         <vue-content-loading :width="300" :height="80" >  
                             <rect x="0" y="2" rx="5" ry="5" width="150" height="8" />
                             <rect x="197" y="2" rx="5" ry="5" width="39" height="8" />
                             <rect x="237" y="2" rx="5" ry="5" width="42" height="8" />
                             <rect x="280" y="2" rx="5" ry="5" width="20" height="8" />
                             <rect x="0" y="13" rx="3" ry="3" width="120" height="5" />

                             <rect x="0" y="21" rx="3" ry="3" width="25" height="5" />
                             <rect x="27" y="21" rx="3" ry="3" width="12" height="5" />
                             <rect x="40" y="21" rx="3" ry="3" width="48" height="5" />

                              <rect x="0" y="30" rx="3" ry="3" width="16" height="15" />  
                              <rect x="18" y="30" rx="3" ry="3" width="110" height="6" /> 
                              <rect x="18" y="38" rx="3" ry="3" width="110" height="5" />

                              <rect x="0" y="52" rx="3" ry="3" width="16" height="15" />  
                              <rect x="18" y="52" rx="3" ry="3" width="110" height="5" /> 
                              <rect x="18" y="60" rx="3" ry="3" width="110" height="5" /> 
                              <rect x="0" y="74" rx="3" ry="3" width="110" height="5" />

                              <rect x="152" y="21" rx="2" ry="2" width="132" height="3" />   
                              <rect x="152" y="27" rx="2" ry="2" width="100" height="3" />  
                              <rect x="152" y="33" rx="2" ry="2" width="23" height="3" /> 
                              <rect x="152" y="37" rx="2" ry="2" width="85" height="3" />
                              <rect x="152" y="42" rx="2" ry="2" width="102" height="3" />
                              <rect x="152" y="48" rx="2" ry="2" width="23" height="3" />
                              <rect x="152" y="52" rx="2" ry="2" width="120" height="3" /> 
                              <rect x="152" y="58" rx="2" ry="2" width="26" height="3" /> 
                              <rect x="152" y="64" rx="2" ry="2" width="26" height="3" /> 

                              <rect x="152" y="74" rx="2" ry="2" width="42" height="4" /> 
                              <rect x="271" y="74" rx="2" ry="2" width="28" height="4" />
                         </vue-content-loading>

                            
                                
                        </div>    
                    </div>

                    
                </div>    
            </div>  

          
            
        </div>
    </div>
</div>   -->          
            

</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>