<template>
<div>
    
      
           
            
      
            <vue-content-loading :width="300" :height="200" >  
                 
                 <rect x="3" y="10" rx="5" ry="5" width="56" height="77" />   
                 <rect x="62" y="10" rx="5" ry="5" width="56" height="77" />    
                 <rect x="121" y="10" rx="5" ry="5" width="56" height="77" />
                 <rect x="180" y="10" rx="5" ry="5" width="56" height="77" />
                 <rect x="239" y="10" rx="5" ry="5" width="56" height="77" />


                 <rect x="3" y="98" rx="5" ry="5" width="56" height="77" />   
                 <rect x="62" y="98" rx="5" ry="5" width="56" height="77" />    
                 <rect x="121" y="98" rx="5" ry="5" width="56" height="77" />
                 <rect x="180" y="98" rx="5" ry="5" width="56" height="77" />
                 <rect x="239" y="98" rx="5" ry="5" width="56" height="77" />

            </vue-content-loading> 


</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>