<template>
<div >
    
                 
              
                <vue-content-loading :width="300" :height="120" >  
                    <rect x="3" y="0" rx="3" ry="3" width="105" height="78" />
                    <rect x="2" y="83" rx="3" ry="3" width="20" height="17" /> 
                    <rect x="24" y="83" rx="3" ry="3" width="20" height="17" />
                    <rect x="45" y="83" rx="3" ry="3" width="20" height="17" />
                    <rect x="66" y="83" rx="3" ry="3" width="20" height="17" />
                    <rect x="87" y="83" rx="3" ry="3" width="20" height="17" />


                    <rect x="115" y="0" rx="3" ry="3" width="70" height="8" />
                    <rect x="216" y="0" rx="3" ry="3" width="84" height="8" />

                    <rect x="115" y="11" rx="2" ry="2" width="60" height="6" />
                    <rect x="221" y="15" rx="2" ry="2" width="50" height="5" />

                    <rect x="115" y="20" rx="2" ry="2" width="50" height="5" />
                    <rect x="221" y="21" rx="2" ry="2" width="32" height="4" />

                    <rect x="115" y="28" rx="2" ry="2" width="25" height="7" />
                    <rect x="143" y="28" rx="2" ry="2" width="27" height="7" />
                    <rect x="221" y="27" rx="2" ry="2" width="42" height="5" />

                    <rect x="115" y="38" rx="2" ry="2" width="25" height="5" />
                    <rect x="221" y="34" rx="2" ry="2" width="28" height="6" />

                    <rect x="115" y="44" rx="2" ry="2" width="25" height="4" />


                    <rect x="221" y="44" rx="2" ry="2" width="52" height="7" />
                    <rect x="276" y="43" rx="2" ry="2" width="19" height="18" />

                    <rect x="115" y="49" rx="2" ry="2" width="25" height="4" />
                    <rect x="221" y="54" rx="2" ry="2" width="52" height="7" />

                    <rect x="115" y="54" rx="2" ry="2" width="52" height="4" />
                    <rect x="115" y="59" rx="2" ry="2" width="65" height="5" />
                    <rect x="115" y="65" rx="2" ry="2" width="25" height="4" />
                    <rect x="115" y="70" rx="2" ry="2" width="25" height="4" />
                    <rect x="115" y="75" rx="2" ry="2" width="25" height="4" />
                    <rect x="115" y="81" rx="2" ry="2" width="25" height="4" />
                    <rect x="115" y="86" rx="2" ry="2" width="25" height="4" />

                    <rect x="115" y="92" rx="2" ry="2" width="25" height="4" />
                    <rect x="115" y="97" rx="2" ry="2" width="28" height="4" />

                    <rect x="115" y="102" rx="2" ry="2" width="25" height="4" />
                    <rect x="115" y="109" rx="2" ry="2" width="22" height="8" />
                </vue-content-loading> 
               

         
            


</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>