<template>
    <div>
  

    <div class="col-md-12">
        <section class="content-header pb-10">
            <div class="col-sm-9 head-title">
                <h3 class="title-menu">Tambah Produk</h3>
                <span class="title-summary">Tambah foto dan deskripsi produkmu serta masukan harga terbaikmu</span>
            </div>  
        </section>
  

                        
        <div class="content content-page">
        <form method="post" enctype="multipart/form-data"  @submit.prevent="RequestPost">
            <div class="box-form pull-left full">
                <div class="head-box"> 
                    <h5 class="box-title head-blue">FOTO PRODUK</h5>
                </div>

               
                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Upload Foto Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions  label-one">Tambah foto produk format, jpg, jpeg, png dan ukuran minimum 300 x 300px dan maksimal 700 x 700px (2 MB),</span>

                         <span class="label-descriptions label-two">Pilih minimal 4 foto produkmu atau seret foto ke bagian box foto</span>
                    </div>
                    <div class="pull-left form-value">
                           <ul class="box-foto">
                                <li>
                                   <span class="icon full pull-left" @click="chooseFiles()"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left" @click="chooseFiles()">Upload Foto</span>
                                   <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked"/>
                                </li>

                                <li class="img-arr" v-if="photo.length > 0"  v-for="val in photo" :key="val.id">
                                   <div class="del-img">
                                     <div class="canvas" @click="deleteImg(val.id)">
                                        <i class="fa fa-times-circle"></i>
                                     </div>
                                   </div> 
                                   <img class="full pull-left" :src="val.photo">
                                </li>
                               
                                <!-- <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 2</span>
                                </li>
                                <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 3</span>
                                </li>
                                <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 4</span>
                               </li>
                               <li>
                                   <span class="icon full pull-left"><i class="fa fa-plus " aria-hidden="true"></i></span>
                                   <span class="desc full pull-left">Foto 5</span>
                               </li> -->
                           </ul> 
                    </div>
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Upload Brosur <span class="not-null">*</span></h5>
                         <span class="label-descriptions  label-one">Upload Brosur agar pembeli dapat melihat berbagai macam produkmu</span>
                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input">
                            <div class="input-file">
                                <span class="text-file" @click="choosePdf()">{{ filename }}</span>
                            </div>
                            <div class="btn-file"  @click="choosePdf()">Pilih File</div> 
                            <input type="file" style="display: none" ref="filePdf" @change="onFilePdf"/>   
                        </div>
                    </div>    
                </div>    
            </div> 

            <div class="box-form pull-left full">
                <div class="head-box"> 
                    <h5 class="box-title head-blue">INFORMASI PRODUK</h5>
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Nama Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions  label-tree">Masukan Brand/Nama Produk maksimum 50 karakter. </span>
                         <span class="label-descriptions label-one">Nama produk yang detail akan lebih mudah ditemukan pembeli</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <textarea v-model="name" class="form-control name-product text-resize" placeholder="Contoh:  Sepatu Safety (Jenis/Kategori Produk) + KINGS (Merek/Brand) +  Warna Coklat (Keterangan)"></textarea>

                            <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('name')">
                                <strong>{{ errors.messages.name }}</strong>
                            </span>  
                            
                        </div>
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Kategori Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Pilih kategori produk untuk memudahkan pencarian berdasarkan kategori</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <model-select  @input="onChangelevel1($event)" class="select-weight"   :options="category1"
                             v-model="category_id1"
                             placeholder="Pilih Kategori">
                            </model-select>

                             <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('category1')">
                                <strong>{{ errors.messages.category1 }}</strong>
                            </span> 

                        </div>
                    </div>    
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Sub Kategori </h5>
                         <span class="label-descriptions label-one">Pilih sub kategori untuk memudahkan pencarianlewat kategori cepat</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input">
                            <div class="pad-input-sub form-group pull-left">
                                <model-select  @input="onChangelevel2($event)" class="select-weight"   :options="category2"
                                 v-model="category_id2"
                                 placeholder="Level 2">
                                </model-select> 

                               

                            </div>

                            <div class="pad-input-sub form-group pull-right">
                                <model-select  @input="onChangelevel3($event)" class="select-weight"   :options="category3"
                                 v-model="category_id3"
                                 placeholder="Level 3">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-left">
                                <model-select class="select-weight" @input="onChangelevel4($event)"   :options="category4"
                                 v-model="category_id4"
                                 placeholder="Level 4">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-right">
                                <model-select class="select-weight" @input="onChangelevel5($event)"    :options="category5"
                                 v-model="category_id5"
                                 placeholder="Level 5">
                                </model-select>   
                            </div>

                            <div class="pad-input-sub form-group pull-left">
                                <model-select class="select-weight" @input="onChangelevel6($event)"    :options="category6"
                                 v-model="category_id6"
                                 placeholder="Level 6">
                                </model-select>   
                            </div>
                        </div>    
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Berat Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Masukan total berat Produk setelah dikemas</span>
                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input">
                            <div class="pad-input-berat-one form-group sub-margin">
                                <model-select class="select-weight"   :options="uom_list"
                                 v-model="uom_id"
                                 placeholder="Kg / Unit">
                                </model-select> 

                                <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('uom_id')">
                                <strong>{{ errors.messages.uom_id }}</strong>
                                </span>  
                            </div>

                            <div class="pad-input-berat-two form-group">
                                   

                                    <model-select class="select-weight"  :options="weight"
                                     v-model="weight_id"
                                     placeholder="Berat">
                                    </model-select>

                                    <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('weight_id')">
                                        <strong>{{ errors.messages.weight_id }}</strong>
                                    </span>
                            </div>

                           
                        </div>    
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Ukuran Produk</h5>
                         <span class="label-descriptions label-one">Masukan total panjang x lebar setelah dikemas</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <div class="box-ukuran sub-margin">
                                 <h6 class="title">Panjang</h6>
                                 <div class="ukuran-inpt">
                                   <input type="text" v-model="width" class="form-control" placeholder="Panjang">
                                 </div>

                                <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('width')">
                                    <strong>{{ errors.messages.width }}</strong>
                                </span>
                                  
                            </div>

                            <div class="box-ukuran sub-margin">
                                 <h6 class="title">Lebar</h6>
                                 <div class="ukuran-inpt">
                                    <input type="text" v-model="height" class="form-control" placeholder="Lebar">
                                 </div>

                                <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('height')">
                                    <strong>{{ errors.messages.height }}</strong>
                                </span>
                                 
                            </div> 

                            
                             
                        </div>
                    </div>    
                </div>

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Term of Delivery <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Pilih term of delivery untuk produkmu</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <model-select class="select-weight"   :options="tod"
                             v-model="tod_id"
                             placeholder="Pilih term of delivery">
                            </model-select>

                            <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('tod_id')">
                                    <strong>{{ errors.messages.tod_id }}</strong>
                            </span>

                        </div>
                    </div>    
                </div> 

                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Deskripsi Produk <span class="not-null">*</span></h5>
                         <span class="label-descriptions label-one">Beri penjelasan detail produk dan sertakannote bila diperlukan</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <textarea v-model="description" class="form-control prod-des-input text-resize" placeholder="Contoh Catatan : 
                            Sepatu Safety KINGS Warna Coklat tipe 001KNG! 
                            &nbsp;
                            - Model Simple-Standar Konstruksi
                            - Paling sering dipakai di Proyek WIKA
                            - Tersedia warna lainnya
                            - Kuat, standar, dan tahan lama
                            &nbsp;
                            Bahan :
                            Upper : Bagian atas sepatu di atas sol, terdiri dari bagian depan, bagian samping, lapis yang direkatkan pada sol sepatu">

                            </textarea>

                            <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('description')">
                                    <strong>{{ errors.messages.description }}</strong>
                            </span>   
                        </div>
                    </div>    
                </div> 


                <div class="form-parse"> 
                    <div class="pull-left label-size">
                         <h5 class="box-title label-grey">Harga Berlaku</h5>
                         <span class="label-descriptions label-tree">Harga berlaku hingga Tanggal</span>

                    </div>
                    <div class="pull-left form-value">
                        <div class="pad-input form-group">
                            <div class="box-date">      
                                 <div class="date-inpt">
                                   

                                   <date-picker placeholder="Tanggal berlaku" v-model="date_price"  type="date"  lang="en"  valueType="format"></date-picker>

                                    
                                 </div>
                                 <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('date_price')">
                                      <strong>{{ errors.messages.date_price }}</strong>
                                    </span>

                            </div>

                            

                               
                             
                        </div>
                    </div>    
                </div>


            </div>




            <div class="box-form pull-left full">
                <div class="head-box"> 
                    <h5 class="box-title head-blue">HARGA & PENGIRIMAN</h5>
                </div>

                <div class="form-parse"> 
                    <table class="table-price">
                        <thead>
                           <tr >
                               <th><span class="title">Metode Pembayaran</span></th>
                               <th><span class="title">Lokasi</span></th>
                               <th><span class="title">Harga</span></th>
                               <th><span class="title">Notes</span></th>
                               <th class="action"><button type="button" @click="showModalIn()"  class="btn-icon btn btn-info"><i aria-hidden="true" class="fa fa-plus "></i></button></th>
                           </tr> 
                        </thead>
                        <tbody>
                            <tr v-if="showList == true" v-for="pay in list" :key="pay.id">
                                <td>
                                    <div class="select-weight">{{ pay.payment_name }}</div>   
                                </td>
                                <td>
                                     <div class="select-weight" v-for="loc in pay.location_id" :key="loc.id">
                                        <span class="label label-success list-pay"> <i class="fa fa-check"></i> {{ loc.text }} </span>
                                     </div>  
                                </td>
                                <td>
                                    <div class="select-weight"> {{ Rupiah(pay.price) }}</div>  
                                </td>
                                <td>
                                    <div class="select-weight">{{ pay.noted }}</div>  
                                </td>
                                <td class="trash">
                                    <span @click="deleteList(pay.id)"><i class="fa fa-trash fa-pointer"></i></span>
                                </td>
                            </tr>
                            <tr v-if="showList == false">
                               <td colspan="5">
                                   List harga masih kosong .
                               </td> 
                            </tr>    
                             
                        </tbody>
                    </table>   
                </div>
            </div>

            <div class="footer-button pull-left full">
                <div class="one">
                    <span>*Keterangan Wajib diisi</span>
                </div>
                <div class="two">
                    <div class="right-side">
                        <button type="btn" @click="Back()" class="btn btn-cancel btn-secondary">Batalkan</button>
                        <button type="submit" class="btn btn-info btn-submit">Simpan</button>
                    </div>
                </div>
            </div>
        </form>

            
        <FormPayment  v-if="showModal" @close="closeModal" ></FormPayment>


        </div>



    </div>


     
    </div>
</template>
<script>
   import DatePicker from 'vue2-datepicker';
   import 'vue2-datepicker/index.css'; 
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["Apps"],
        data() {
            return {
                errors: {
                    messages: {
                        name:'',
                        category1:'',
                        category2:'',
                        uom_id:'',
                        weight_id:'',
                        width:'',
                        height:'', 
                        tod_id:'',
                        description:'',
                        date_price:'',
                    },
               },   
               loading:false,
               views:true,
               photoShow:false,
               filename:'Masukan File Berbentuk PDF',
               name:'',
               category:[],
               category1:[],
               category2:[],
               category3:[],
               category4:[],
               category5:[],
               category6:[],
               category_id:0,
               category_id1:'',
               category_id2:'',
               category_id3:'',
               category_id4:'',
               category_id5:0,
               category_id6:0,
               showList:false,
               uom_list:[],
               uom_id:'',
               weight:[],
               weight_id:'',
               tod:[],
               tod_id:'',
               photoUrl:'',
               photo:[],
               width:'',
               height:'',
               date_price:'',
               showModal:false,
               list:[],
               description:'',
               filePdf:'',
            }
        },
        created() {  
           document.title = this.Apps;
        },
        mounted() {
            this.getPhoto();
            this.getData();
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
           'FormPayment': require('./addpayment.vue').default,
           ModelSelect,
           DatePicker,
        },
        methods: {
            showModalIn(){
               this.showModal = true;
            },
            closeModal(){
                this.showModal = false;
                this.getUpdate();
            },
           getData(){
                
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/product/create';    
                axios.get(listUrl).then((response) => {

                  self.category1 = response.data.category1;
                 
                
                  self.uom_list = response.data.uom_list;
                  self.tod = response.data.tod;
                  
                        
                  this.getUpdate();
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

           },
           getPhoto()
           {
                    let temp  = localStorage.getItem('photo_product');
                    var data = JSON.parse(temp);
                    if(temp != null)
                    {  
                       if(data.length >0)
                       {
                        this.photoShow = true;
                        this.photo = data;
                       } 
                      
                      
                    }

           },  
           chooseFiles(){
              this.$refs.fileInput.click()

          },
          choosePdf(){
             this.$refs.filePdf.click()
          },
           onFilePicked (event) {
              const files = event.target.files
              let filename = files[0].name
              const fileReader = new FileReader()
              fileReader.addEventListener('load', () => {
               // this.photoUrl = fileReader.result;
               
                let temp  = localStorage.getItem('photo_product');
                this.photo = JSON.parse(temp);
                
                if(this.photo == null)
                {
                    this.InsertPhotoSingle(fileReader.result);
                }else{
                    this.UpdatePhotoMulti(this.photo,fileReader.result);
                }
                   
              })
              fileReader.readAsDataURL(files[0])
             
          },
          onFilePdf(event){

              const files = event.target.files;
              this.filename = files[0].name;
              let type = files[0].type;

               if(type !="application/pdf")
               {
                  this.$swal({
                    title: 'File harus format type PDF!!',
                    icon: "error"
                  }).then((result) => {
                    
                  }); 
               } 

               this.filePdf = files[0];
              
          },
          InsertPhotoSingle(photo){

                var data = [];
                data.push({
                        "id":1,
                        "photo":photo
                });

                this.photo = JSON.stringify(data);
                localStorage.setItem('photo_product', this.photo);
                this.getPhoto();
          },
          UpdatePhotoMulti(old,photo){
                let next = old.length + 1;
                
                var data1 = [];
                var data2 = [];
                data1.push({
                        "id":next,
                        "photo":photo
                });

              
                if(old.length < 4){
                    let merge = [...old,...data1];
                    this.photo = JSON.stringify(merge);
                    localStorage.setItem('photo_product', this.photo);
                    this.getPhoto();

                }else{
                     this.$swal({
                            title: "Foto produk maksimal 4 gambar!!",
                            icon: "error"
                        }).then((result) => {
                            if (result) {
                                
                            }
                        });
                }
              
          },
          deleteImg(id)
          {
                var data = [];
                var jml = this.photo.length; 
            
                for(var i=0; i<jml; i++)
                {
                   if(id != this.photo[i].id)
                   {
                     data.push({
                      "id":this.photo[i].id,
                      "photo":this.photo[i].photo,
                     });
                   } 
                    
                }  
                
                   let temp  = localStorage.getItem('photo_product');
                   let last = JSON.parse(temp);

               
               
                    let photo = JSON.stringify(data);
                    localStorage.setItem('photo_product', photo); 
                    let tempdata  = localStorage.getItem('photo_product');
                    let getdata = JSON.parse(tempdata);
                    this.photo  = getdata;
                    
                
                  
          },
          deleteList(id)
          {
                var data = [];
                var jml = this.list.length; 
                
                for(var i=0; i<jml; i++)
                {
                   if(id != this.list[i].id)
                   {
                      
                     data.push({
                        "id":this.list[i].id,
                        "payment_id":this.list[i].payment_id,
                        "payment_name":this.list[i].payment_name, 
                        "location_id":this.list[i].location_id,
                        "price":this.list[i].price,
                        "noted":this.list[i].noted,
                     });
                   } 
                    
                }  
                
                   let temp  = localStorage.getItem('payment_product');
                   let last = JSON.parse(temp);

               
               
                    let list = JSON.stringify(data);
                    localStorage.setItem('payment_product', list); 
                    this.getUpdate();
                
                  
          },
          getUpdate(){
                let tempdata  = localStorage.getItem('payment_product');
                let getdata = JSON.parse(tempdata);
                this.list  = getdata;
                  if(this.list != null)
                  {
                    if(this.list.length ==0)
                    {
                        this.showList = false;
                    }else{
                        this.showList = true; 
                    }    
                    
                  }else{
                    this.showList = false;
                  } 
          },
          onChangelevel1($event){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('code', $event);
                formData.append('type', '2');
                urlBase = axios.post(BASE_URL+'/api/product/level', formData);
                urlBase
                .then((response) => {
                   self.category2 = response.data.category2;
                }).catch((error) => {
                    console.log(error);
                    //self.errors = error.response.data;           
                });
          },
          onChangelevel2($event){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('code', $event);
                formData.append('type', '3');
                urlBase = axios.post(BASE_URL+'/api/product/level', formData);
                urlBase
                .then((response) => {
                   self.category3 = response.data.category3;
                }).catch((error) => {
                    console.log(error);
                    //self.errors = error.response.data;           
                });
          },
          onChangelevel3($event){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('code', $event);
                formData.append('type', '4');
                urlBase = axios.post(BASE_URL+'/api/product/level', formData);
                urlBase
                .then((response) => {
                   self.category4 = response.data.category4;
                }).catch((error) => {
                    console.log(error);
                    //self.errors = error.response.data;           
                });
          },
          onChangelevel4($event){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('code', $event);
                formData.append('type', '5');
                urlBase = axios.post(BASE_URL+'/api/product/level', formData);
                urlBase
                .then((response) => {
                   self.category5 = response.data.category5;
                   self.weight = response.data.weight;
                   console.log(response.data);
                }).catch((error) => {
                    console.log(error);
                    //self.errors = error.response.data;           
                });
          },
          onChangelevel5($event){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('code', $event);
                formData.append('type', '6');
                urlBase = axios.post(BASE_URL+'/api/product/level', formData);
                urlBase
                .then((response) => {
                   self.category6 = response.data.category6;
                }).catch((error) => {
                    console.log(error);
                    //self.errors = error.response.data;           
                });
          },
          RequestPost(){
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('name', self.name);
                formData.append('file_pdf', self.filePdf);
                formData.append('category_id1', self.category_id1);
                formData.append('category_id2', self.category_id2);
                formData.append('category_id3', self.category_id3);
                formData.append('category_id4', self.category_id4);
                formData.append('category_id5', self.category_id5);
                formData.append('category_id6', self.category_id6);
                formData.append('uom_id', self.uom_id);
                formData.append('weight_id', self.weight_id);
                formData.append('width', self.width);
                formData.append('height', self.height);
                formData.append('tod_id', self.tod_id);
                formData.append('description', self.description);
                formData.append('date_price', self.date_price);
                formData.append('photo', JSON.stringify(self.photo));
                formData.append('payment', JSON.stringify(self.list));
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                
                urlBase = axios.post(BASE_URL+'/api/product/store', formData,config);
                urlBase
                .then((response) => {
                    if(response.data.status == true){
                        self.$swal({
                            title: "Berhasil Di Simpan",
                            icon: "success"
                        }).then((result) => {
                            if (result) {
                                  localStorage.removeItem('photo_product');
                                  localStorage.removeItem('payment_product');
                                  
                                  this.$router.push({path:'/product'});
                                   window.scrollTo(0,0);  
                                
                            }
                        });
                    }
                
                }).catch((error) => {
                 
                    self.errors = error.response.data;
                                 
               
                });
          },
          Back(){
             this.$router.push({path:'/product'});
              window.scrollTo(0,0);
          },
          Rupiah(value)
          {
                let val = (value/1).toFixed(0).replace('.', ',');
                return 'Rp '+ val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          },

        }
    }
   
</script>