<template>
    <div> 
        <div class="col-md-9">
            <section class="content-header pb-10">
                <div class="col-sm-9 head-title">
                    <h3 class="title-menu">Produk Arsip</h3>
                    <span class="title-summary">Total produk yang diarsipkan ({{ lists.total }})</span>
                   
                </div> 
                <div class="col-sm-3 btn-prod">
                   <div class="pull-right full"> 
                  <!--    <div @click="Add()" class="btn btn-aff">Tambah Produk <button type="button" class="btn-icon btn btn-info"><i class="fa fa-plus " ></i></button></div> -->

                                <div class="dropdown" @click="OpenList()" :class="classOpen">
                                    <div  class="tab-active-menu fa-pointer dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="actived"><i class="fa fa-angle-down" ></i> </span>
                                    </div>
                                     <ul  class="dropdown-menu pull-right history-dropdown" v-show="dropdown" >
                                        
                                        <li >
                                            <router-link class="fa-pointer" :to="{path: '/product/add'}">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            Tambah Produk</router-link>
                                        </li>

                                        <li>
                                              <router-link class="fa-pointer" :to="{path: '/product-archive'}">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                 Produk Arsip</router-link>
                                        </li>

                                      


                                      </ul>
                                </div>
                               
                                                                 
                                <div class="tab-active-menu ">
                                    <span class="actived status-blue fa-pointer" @click="showModalIn()"><i class="fa fa-search " ></i></span>
                                </div>
                   </div>  
                </div>

                 <div class="pull-left full" v-show="ShowSearch"> 
                    <div class="row-wishlist border-search">
                        <h3>{{ lists.cari }}</h3>
                    </div>
                </div>  
            </section>
        </div>

        

        <div class="content content-product" >
            <div class="product-list full pull-left product-ivendor">
                <div v-show="loadpage" is="LoadingView"></div>
                <ul class="full pull-left" v-show="listpage">
                        <li class="list-border"   v-for="list in lists.result" :key="list.id">
                         <div class="pull-left box-border" >
                        
                        <div class="pull-right delP" v-if="list.archive.status ==true">
                            <span class="front-style-red fa-pointer" @click="Revert(list.id)">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                            </span>
                        </div> 
                       
                          <div class="pull-left box-product fa-pointer" :class="list.archive.class" @click="getDetail(list.id)">
                              <img class="pull-left product-img"  :src="list.photo" >
                              <span class="pull-left product-price">{{ list.price }}</span>

                              <div class="box-verified" v-if="list.status ==='verified'">
                               <div class="verif_text"> Verified</div> 
                               <div class="fa-w fa-icon-verified pull-left"></div>
                              </div>
                              
                          </div>
                          <div class="pull-left box-description" >
                                <div class="pull-left full fa-pointer" @click="getDetail(list.id)" >
                                  <span class="type pull-left non">{{ list.status }}</span>
                                </div>
                                <div class="pull-left full pt-10 min-height-36">
                                    <span class="title-product pull-left" >{{ list.name }}</span>
                                </div>    
                                
                                <div class="pull-left full">
                                    <span class="pull-left vendor-product">{{ list.vendor }}</span>
                                </div>
                                <div class="pull-left full ptb-2">
                                    <div class="pull-left location">
                                     <div class="fa-pos fa-w-small fa-icon-product-loc"></div>
                                     <div class="loc-text">{{ list.location }}</div>
                                    </div>
                                </div>    

                             
                                <div class="rate pull-left half" v-if="list.rate =='0'">

                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '1'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>  
                                </div>

                                 <div class="rate pull-left half" v-else-if="list.rate == '2'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '3'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '4'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-grey" aria-hidden="true"></i> 
                                </div>

                                <div class="rate pull-left half" v-else-if="list.rate == '5'">

                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i> 
                                      <i class="fa fa-star rate-yellow" aria-hidden="true"></i>
                                </div>


                                <div class="pull-left full ptb-2">
                                    <!-- <div class="fot-50"> 
                                        <span class="pull-left pcs">Terjual {{ list.total_selling }} </span>
                                    </div> -->
                                    
                                </div>   

                          </div> 
                        </div>  
                    </li>
                    
                </ul>


            </div>

            <div v-show="resultNull" class="mt-10 product-ivendor"  is="PageNotFound" ></div>


        <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts" @change="getData" v-model="halaman" :page-count="total"></Pagination>
          </div>
        </div> 


           <!--  <div class="content-pagination">
                <div class="paginate-center">
                 <ul>
                    <li><a><i class="fa fa-angle-double-left" ></i></a></li>
                    <li><a><i class="fa fa-angle-left" ></i></a></li>
                    <li><a>1</a></li> 
                    <li><a>2</a></li> 
                    <li><a>3</a></li> 
                    <li><a>4</a></li> 
                    <li><a>5</a></li>
                    <li><a><i class="fa fa-angle-right" ></i></a></li>
                    <li><a><i class="fa fa-angle-double-right" ></i></a></li>
                 </ul>
                </div> 
            </div> -->
        </div>
        <FormSearch  v-if="showModal" @close="closeModal" @filters="searchData"></FormSearch> 
          
    </div>
</template>
<script>
   export default {
        props:["Apps"],
        data() {
            return {
               showModal:false, 
               ShowSearch:false,
               classOpen:'',
               dropdown:false,
               loadpage:true, 
               listpage:false,
               viewsPage:false,   
               resultNull:false,

               lists:{},
               category:{},
               total: 0,
               halaman: 1,

               bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               }
            }
        },
        created() {  
           document.title = this.Apps;
        },
        mounted() {
            this.getData();
        },
        computed: {
            base_url() {
                return BASE_URL;
            },  
        },
        components: {
           'Pagination': require('vue-plain-pagination'),
           'LoadingView': require('../loading/product/index.vue').default,
           'FormSearch': require('./search.vue').default,
           'PageNotFound': require('../frontend/layout/order404.vue').default,
        },
        methods: {
          OpenList(){
               if(this.dropdown ==false)
               {
                  this.classOpen = 'open';
                  this.dropdown = true;
               }else{
                  this.classOpen = '';
                  this.dropdown = false;
               } 
              
            }, 
            showModalIn(){
               this.showModal = true;
              
            },
            closeModal(){
                this.showModal = false;
               
            },
          getData(){
                
                const self = this;
                let listUrl = "";
                // self.loadpage = true;
                // self.listpage = false;
                // self.viewsPage = false;
              
                listUrl = BASE_URL + '/api/product/vendor-archive?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadpage = false;
                    self.lists = response.data;
                    if(response.data.total >0)
                    {    
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     
                    }else{
                       self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                   
                    self.loadpage = false;
                    self.listpage = false;
                   self.viewsPage = false;
                });

           },
        
           searchData(data){
             const self = this; 
                let urlBase="";
                self.Navigate = false;
                self.loadpage = true;
                self.listpage = false;
                self.ShowSearch = true; 

                self.type = "search";
                if(self.type !="history"){
                    self.halaman = 1;
                 }

                let formData = new FormData();
                formData.append('product_name', data.product_name);
               
                urlBase = axios.post(BASE_URL+'/api/product/filter?page='+ self.halaman, formData);
                urlBase
                .then((response) => {
                  
                    self.search = response.data.cari;
                    self.lists = response.data;
                  
                   
                   
                    self.loadpage = false;
                    if(response.data.total >0)
                    {    
                        
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;
                    }else{
                        self.listsearch = false;
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;

                    }  
                   
                
                }).catch((error) => {
                 
                   console.log(error)
                    
                        
                });
            
          },
        
          Revert(id){
                const self = this;
                self.$swal({
                    title: "Apakah Anda Yakin?",
                    icon: "info"
                }).then((result) => {
                    if (result) {
                        let listUrl = "";
                        listUrl = BASE_URL + '/api/product/revert/'+ id;    
                        axios.delete(listUrl).then((response) => {
                            
                           if(response.data.status ==true)
                           {
                            this.$router.push({path:'/product'})
                           } 
                        }).catch((error) => {
                            console.log(error);      
                        });
                    }
                }); 

               
          },
           getDetail(id)
          {
             this.$router.push({path:'/product/detail/'+ id });
          },

        }
    }
   
</script>
