<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title pull-left" id="exampleModalLabel">Data Pengunjung </h5>
                <button type="button" class="close" @click="$emit('close')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             

              <div class="modal-body">
               
                <div class="row">
                   <div class="col-md-12">    
                    
                    <div class="table-responsive">

                        <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama pengunjung</th>
                                <th>Divisi</th>
                                <th>Terakhir dikunjungi</th>
                            </tr>
                        </thead>
                            <tbody>
                                <tr v-for="list in lists" :key="list.id">
                                <td>{{ list.no }}</td>
                                <td>{{ list.fullname }}</td>
                                <td>{{ list.departement }}</td>
                                <td>{{ list.last_date }}</td>
                                </tr>


                            </tbody>
                        </table>

                    </div>
                  </div> 
                </div>
                
                
              </div>

              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-cancel" @click="$emit('close')">Batal</button>
                <button type="submit" class="btn btn-info btn-submit">Cari</button>
              </div> -->

              
            </div>
          </div>
        </div>  


       </transition>
     
</template>
<script>
   

   export default {
        props:["departement"],
        data() {
            return {
               
                lists:[],
               
               
               
            }
        },
        
        created() {
           this.lists = this.departement;

        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
         
        
        },
        methods: {
             
           
           RequestPost(){
               
                const self = this; 
                let srcParams = {
                        product_name:self.product_name,                       
                };
                
                this.$emit('filters', srcParams);
                self.$emit('close');
             
               
           },
           

        }
    }
   
</script>

