<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Pembayaran</h5>
                <button type="button" class="close" @click="$emit('close')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post"  @submit.prevent="RequestPost">

              <div class="modal-body">    
                <div class="form-group">
                  <label>Metode Pembayaran</label>
                    <model-select class="select-weight"   :options="payment"
                                     v-model="payment_id"
                                     placeholder="Pilih Pembayaran">
                    </model-select> 

                    <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('payment_id')">
                        <strong>{{ errors.messages.payment_id }}</strong>
                    </span>                 
                </div>
                <div class="form-group">
                  <label>Lokasi</label>
                 

                  <multiselect v-model="location_id" :options="location" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pilih Lokasi" label="text" track-by="text" :preselect-first="true">
                  <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
                </multiselect>

                    <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('location_id')">
                        <strong>{{ errors.messages.location_id }}</strong>
                    </span> 

                 <label>
                   <span v-for="loc in location_id" class="label label-success list-select-multiple">
                        <i class="fa fa-fw fa-check"></i> {{ loc.text }}
                   </span> 
                 </label>   
                </div>
                <div class="form-group">
                  <label>Harga</label>
                  <input type="number" name="" class="form-control" v-model="price">
                  <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('price')">
                        <strong>{{ errors.messages.price }}</strong>
                  </span> 
                </div>  
                <div class="form-group">
                  <label>Catatan</label>
                   <input type="text" name="" class="form-control" v-model="noted">
                   <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('noted')">
                        <strong>{{ errors.messages.noted }}</strong>
                  </span>
                </div>   
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" @click="$emit('close')">Batal</button>
                <button type="submit" class="btn btn-info btn-submit">Simpan</button>
              </div>

              </form>
            </div>
          </div>
        </div>  

      


       </transition>
     
</template>
<script>
   import Multiselect from 'vue-multiselect'
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
  
   export default {
        props:["product_id"],
        data() {
            return {
               errors: {
                    messages: {
                        payment_id:'',
                        location_id:'',
                        price:'',
                        noted:'',  
                    },
               },
              
               payment:[],
               payment_id:0,
               location:[],
               location_id:[],
               price:0,
               noted:'',
               list:[],
               
            }
        },
       
        mounted() {
           this.getData();
           
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          ModelSelect,
          Multiselect,
        },
        methods: {
           getData(){
                
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/product/create';    
                axios.get(listUrl).then((response) => {

                  self.payment = response.data.payment;
                  self.location = response.data.location;
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

           },
           RequestPost(){
             
              

                this.alertForm(); 
               

                if(this.payment_id !=0 || this.location_id.length !=0 || this.price !=0 || this.noted !="")
                {
                      this.InsertPaymentSingle();             
                                 
                 }
                
               
           },
           InsertPaymentSingle(){
                
                var data = [];
                 const self = this;
                let find = self.payment.find(o => o.value === self.payment_id);

                 
                 let urlBase="";
                 let formData = new FormData();
                 formData.append('payment_id', self.payment_id);
                 formData.append('product_id', self.product_id);
                 formData.append('location_id', JSON.stringify(self.location_id));
                 formData.append('price', self.price);
                 formData.append('noted', self.noted);
                
                 urlBase = axios.post(BASE_URL+'/api/product/payment-add', formData);
                 urlBase
                .then((response) => {
                     
                   self.list = response.data;
                   self.$emit('listdata', this.list);
                   self.$emit('close');

                }).catch((error) => {
                 
                    console.log(error);

                });

               

               
           },
          
           alertForm(){

                 
                    if(this.payment_id ==0)
                    {
                        this.errors.messages.payment_id = "Metode pembayaran belum dipilih!!";

                    }else{
                        this.errors.messages.payment_id = "";
                    }    
                    

                    if(this.location_id.length ==0)
                    {
                        this.errors.messages.location_id = "Lokasi belum dipilih!!";

                    }else{
                        this.errors.messages.location_id = "";
                    }

                     if(this.price ==0)
                    {
                        this.errors.messages.price = "Harga belum diisi!!";

                    }else{
                       this.errors.messages.price = ""; 
                    }

                     if(this.noted =="")
                    {
                        this.errors.messages.noted = "Catatan masih kosong!!";

                    }else{
                        this.errors.messages.noted = "";
                    }   

                  
           },


        }
    }
   
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>