<template>
<div>

<div class="col-md-9">
    <section class="content-header pb-10">
        <div class="col-sm-9 head-title">
            <h3 class="title-menu">Detail Produk</h3>
            <span class="title-summary">Tampilan di halaman vendor sama dengan tampilan user</span>
        </div> 
        <div class="col-sm-3 btn-prod">
           <div class="pull-right btn-add-top"> 
           <!--   <div @click="Edit()" class="btn btn-aff">Edit Produk <span class="btn-pad color-blue"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></span></div> -->
           </div>  
        </div>  
    </section>
</div>

<div class="col-md-9" v-show="listpage"> 
    <div class="content content-page">
        <div class="form-parse">

            <div class="box-preview-left ">
                  <img :src="photo_cover" class="img-preview" >
               

                <div class="thumb-nail">
                    <ul>
                      <li class="fa-pointer" v-for="(list,index) in lists.photo" :key="list.id">

                            <img v-if="list.active ===true" :class="active" @click="getPhoto(list.id)" :src="list.image" class="thumb box-form fa-pointer">
                            <img v-else @click="getPhoto(list.id)" :src="list.image" class="thumb box-form fa-pointer">
                          
                      </li>
                      
                    </ul>      
                </div>    

            </div>
            <div class="box-preview-right">
                <div class="list-ergt-v">
                     <button class="btn btn-red btn-type pull-left" v-if="lists.type =='Non-kontrak'">{{ lists.type }}</button>

                    <button class="btn btn-green btn-type pull-left" v-if="lists.type =='Terkontrak'">{{ lists.type }}</button>
                    
                    <div class="rate-det ">   
                        <div v-if="lists.rate ===0" class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                        </div>
                        <div v-if="lists.rate ===1" class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                        </div>
                        <div v-if="lists.rate ===2" class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                        </div>
                        <div v-if="lists.rate ===3" class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                        </div>
                        <div v-if="lists.rate ===4" class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-grey"></i>
                        </div>
                        <div v-if="lists.rate ===5" class="pull-left start-rating">
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                            <i aria-hidden="true" class="fa fa-star rate-yellow"></i>
                        </div>
                    </div>
                    <h3 class="full pull-left">{{ lists.name }}</h3>
                    <span class="text-desc pull-left full">{{ lists.name_code }}</span>
                    <h3 class="full pull-left text-price">{{ lists.price }}</h3>
                    <div class="text-verified">
                      <div class="border-verified" v-if="lists.status ==='verified'">
                        <div class="text-verif">Verified </div>
                        <img class="verif-blue" src="/img/icon/icon-verified-blue.png">
                      </div>  
                    </div>  
                    <div class="box-list-right"> 
                        <h5 class="full pull-left color-blue-sea text-label-det">Contract</h5>
                        <span class="pull-left full color-grey font-12 fw-400">{{ lists.contract }}</span>
                    </div>
                     <div class="box-list-right"> 
                        <h5 class="full pull-left color-blue-sea text-label-det">Status Matgis</h5>
                        <span class="pull-left full color-grey font-12 fw-400">{{ lists.status_matgis }}</span>
                    </div>
                    <div class="box-list-right"> 
                     <h5 class="full pull-left color-orange text-label-det">Update</h5>
                     <span class="pull-left full color-grey font-12 fw-400">{{ lists.updated_at }}</span>
                    </div>

                    <div class="box-list-right"> 
                     <h5 class="full pull-left color-blue-sea text-label-det">Contract & Volume Availability</h5>
                     <span class="pull-left full color-grey font-12 fw-400">{{ lists.no_contract }}</span>
                     <span class="color-orange font-12 fw-400 label-volume">Volume </span> <span class="color-grey font-12 fw-400 text-volume">{{ lists.volume }}</span>
                    </div>
                    <div class="box-list-right">
                        <span class="text-info font-12 fw-400">Berat /Unit</span>
                        <span class="pull-left full color-blue-sea font-12 fw-300">{{ lists.weight }}</span>
                    </div> 

                    <div class="box-list-right">
                        <span class="text-info font-12 fw-400">Deskripsi</span>
                        <span class="pull-left full  color-grey font-12 fw-300">{{ lists.description }}</span>
                    </div>  


                       

                </div>    
            </div>

        </div>
    </div>
</div>   


<div v-show="loadpage" class="col-md-9 mt-10" is="LoadingPage"></div>
        
   
</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               id:'',
               loadpage:true,
               listpage:false,
               lists:[],
                photo_cover :'/img/no-image.png',
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
        mounted() {
          this.GetPreview();
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          'LoadingPage': require('../loading/product/preview.vue').default,
        },
         watch: {
            Apps: function(result) { 
              //document.title = this.Apps; 
              this.loadfilter = false; 
              this.GetPreview();
            },
            Filter: function(result) { 
               const self = this;
               self.filterData = result;
               self.loadpage = false;
               self.listpage = false;
               self.loadfilter = true;
              
            } 
        },
        methods: {
          
          GetPreview(){
                const self = this;
                let listUrl = "";
                self.id = this.$route.params.id;
                self.loadpage = true;
                self.listpage = false;
                
              
                listUrl = BASE_URL + '/api/product/preview/'+ this.id;    
                axios.get(listUrl).then((response) => {
                  
                    self.loadpage = false;
                    self.listpage = true;
                     
                     self.lists = response.data.result;
                     document.title = self.Apps+' '+ self.lists.name;
                     self.photo_cover = self.lists.photo_cover;
                     self.photo_null = '';
                    
                    
                    

                    
                }).catch((error) => {
                    console.log(error);
                    // self.resultNull = true;
                    // self.loadpage = false;
                    // self.listpage = false;
                    // self.viewsPage = false;
                });

            },

        }
    }
   
</script>

