<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title pull-left" id="exampleModalLabel">Cari Berdasarkan</h5>
                <button type="button" class="close" @click="$emit('close')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post"  @submit.prevent="RequestPost">

              <div class="modal-body">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label>Nama Produk</label>
                           <input type="text" class="form-control" v-model="product_name">
                           
                        </div>
                    </div>

                    


                </div>
                   
                
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-cancel" @click="$emit('close')">Batal</button>
                <button type="submit" class="btn btn-info btn-submit">Cari</button>
              </div>

              </form>
            </div>
          </div>
        </div>  


       </transition>
     
</template>
<script>
   

   export default {
        data() {
            return {
               
                product_name:'',
               
               
               
            }
        },
        
        mounted() {
           //this.getData();
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
         
        
        },
        methods: {
             
           
           RequestPost(){
               
                const self = this; 
                let srcParams = {
                        product_name:self.product_name,                       
                };
                
                this.$emit('filters', srcParams);
                self.$emit('close');
             
               
           },
           

        }
    }
   
</script>

