<template>
<div>
<div class="content full">
    <div class="login-header">
      <div class="login-center">
           <img class="logo" :src="logo" />
      </div>
    </div> 
  <div class="confrim-content">
    <div class="box-content center-box">
        <div class="confrim-center">
         <div class="box-form pull-left full margin-null"> 
            <div class="padding-login-center full pull-left"><i class="fa fa-check-square fa-2x pull-left color-green" aria-hidden="true"></i><h4 class="pull-left mtb-5 color-green width-confrirm confirm-text"> Selamat password berhasil di perbaharui , <a class="color-red" href="/login">kembali ke menu login</a></h4></div>
         </div>
        </div>
    </div>  
  </div> 
</div>



  <footer class="main-footer full pull-left">
   <div class="container footer-menu">  
     <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
     <span class="pull-right display-excut">www.escm.wika.co.id</span>
   </div>  
</footer>
</div>

</template>

<script>
      
   export default {
        
        props:["Apps","Body"],
        data() {
            return {
                view_form:true,
               
               
                socket: [],
                errors: {
                    email:'',
                    

                }, 
                qr_status:true,
                
                btnSubmit:false,
  
                user:[],
                email:'',
              
                logo:'img/logo.png',
                ref:'',
                
            }
        },
        
        mounted() {
            const urlParams = new URLSearchParams(window.location.search);
            this.ref = urlParams.get("email");
            
            
      
        },
        created () {
          
            document.body.classList.add(this.Body);
            document.title = this.Apps;
                

           
               
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
             
        },
        components: {
         
        },
        methods: {
          
          postData(status){
                const self = this; 
                let urlBase="";
                let formData = new FormData();

                 if(status == false)
                {


                
                self.btnSubmit = true;
                formData.append('email', self.email);
               
                urlBase = axios.post(BASE_URL+'/api/mobile/forgot-password', formData);
                urlBase
                .then((response) => {
                    
                         
                   
                   
               
                
                }).catch((error) => {
                    self.errors = error.response.data.result;
                    self.btnSubmit = false;

                    if(self.errors.messages !="")
                    {
                           setTimeout(() =>  window.location.href = BASE_URL+ '/forgot', 2000);
                         
                    }    
                   
                });

            }else{
                self.btnSubmit = false;
            }

          }

        }
    }
   
</script>

