<template>
<div>
<div class="content full">
    <div class="login-header">
      <div class="login-center">
           <img class="logo" :src="logo" />
      </div>
    </div> 
  <div class="login-content">
    <div class="box-content">
     <div class="content-left">
         <div class="cover-center">
              <img class="cov-img" src="img/cover.png" />
         </div> 
         <div class="cover-button">
             <h3>eCatalogue by eSCM WIKA</h3>
             <span ><p>Divisi Supply Chain Management</p></span>
         </div>  
     </div>
     <div class="content-right">
          <div class="box-form-login">
                <div class="box-form mrgn-btn pull-left full">

                    <div class="padding-login-center">   
                        <div class="form-header">
                         <!--  <h3 class="login-box-msg fw-500 top">Silakan Login Menggunakan</h3>
                          <h3 class="login-box-msg fw-500 bottom">Akun eSCM Anda</h3> -->
                          <div class="top-title-forgot">
                              <h4>Forgot Password</h4>
                          </div>

                           
                        </div>  
                          
                        <form role="form"  method="post" v-if="view_form ==true"  @submit.prevent="postData(btnSubmit)">
                            
                            
                            
                            <div class="form-content">
                               <div class="form-group has-feedback" :class="errors.message ? 'has-error' : ''"> 
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="email" name="email" value="" placeholder="Email">
                                <span class="help-block" v-if="errors.hasOwnProperty('message')">
                                    <strong>{{ errors.message }}</strong>
                                </span>

                               </div> 

                              
                            </div>
                            <div class="form-footer">
                               <div class="center-button">

                                    <button type="submit" :disabled="btnSubmit" class="btn fw-600 btn-info btn-login"> <i v-if="btnSubmit ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                                        <span v-else>Forgot Password</span>
                                    </button>
                               </div> 
                            </div>
                        </form> 

                        
                    </div>  
                       
                </div> 
          </div>  
     </div> 
    </div>  
  </div> 
</div>



  <footer class="main-footer full pull-left">
   <div class="container footer-menu">  
     <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
     <span class="pull-right display-excut">www.escm.wika.co.id</span>
   </div>  
</footer>
</div>

</template>

<script>
      
   export default {
        
        props:["Apps","Body"],
        data() {
            return {
                view_form:true,
               
               
                socket: [],
                errors: {
                    message:'',
                }, 
              
                
                btnSubmit:false,
  
                user:[],
                email:'',
              
                logo:'img/logo.png',
                ref:'',
                
            }
        },
        
        mounted() {
           
            
      
        },
        created () {
          
            document.body.classList.add(this.Body);
            document.title = this.Apps;
                

           
               
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
             
        },
        components: {
         
        },
        methods: {
          
          postData(status){
                const self = this; 
                let urlBase="";
                let formData = new FormData();

                 if(status == false)
                {


                
                self.btnSubmit = true;
                formData.append('email', self.email);
               
                urlBase = axios.post(BASE_URL+'/api/mobile/forgot-password', formData);
                urlBase
                .then((response) => {
                    
                         
                   window.location.href = BASE_URL+ '/forgot-success?email='+ self.email;
                   
               
                
                }).catch((error) => {
                    self.errors = error.response.data;
                    self.btnSubmit = false;

                    console.log(self.errors)
                   
                });

            }else{
                self.btnSubmit = false;
            }

          }

        }
    }
   
</script>

