<template>
<div class="wrapper">
      <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">   
                <div class="content-overlay"></div>
                <div class="content-wrapper">
                    <section id="login" class="auth-height">
                        <div class="row full-height-vh m-0">
                            <div class="col-sm-12 padding-none d-flex align-items-center justify-content-center">
                                <div class="card overflow-hidden">
                                    <div class="card-content">
                                        <div class="card-body auth-img">
                                            <div class="row m-0">
                                               <div class="col-sm-12 d-none d-lg-flex auth-img-bg margin-auto  padding-none">
                                                    <img src="/img/ecatalogue-logo-2.png" alt="" width="80" class="margin-auto"  >
                                                </div> 
                                            </div>    
                                            <div class="row margin-auto container">
                                                
                                                <div class="col-sm-6 d-none auth-img-bg  padding-none">
                                                    <div class="">
                                                        <img src="/img/cover.png" alt="" width="385" class="img-left"  >
                                                        
                                                    </div>

                                                   
                                                    <div class="cover-button padding-14-0 ">
                                                     <div class="col-sm-8 padding-none">   
                                                        <h3>e-Catalogue by WISE</h3>
                                                        <span><p>Supply Chain Management Division</p></span>
                                                     </div>   
                                                    </div>
                                                  
                                                    
                                                </div>

                                                    
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-5 ">
                                                    <div class="bg-form-login pull-right " >   
                                                        <div class="form-header ">
                                                            <div class="login-top-left">
                                                                <h4>Login E-Catalogue</h4>
                                                            </div>
                                                            <!-- <div class="qr-top-right">
                                                                      <div class="login-top-right fa-pointer" @click="SwithLogin()">
                                                                        <div class="right-one">
                                                                          <div class="separo"></div>  
                                                                        </div>
                                                                     

                                                                        <div class="right-two fa-pointer" >
                                                                            <div :class="iclass" ></div>
                                                                        </div>
                                                                      </div>   


                                                                      
                                                                      <div class="login-top-center">
                                                                          <div class="right-caret"></div>
                                                                          <div class="box-text-pop">{{ text_header }}</div>  
                                                                          
                                                                      </div> 


                                                                    </div> -->
                                                                  

                                                        </div>
                                                       
                                                        <form role="form" class="padding-14-19 border-rand pull-left"  :style="{ borderColor: borderColor }" method="post"  @submit.prevent="postData"> 

                                                            <div class="pull-left full has-feedback " :class="errors.messages.username ? 'has-error' : ''">
                                                                <label class="text-capitalize color-dark-blue">Username </label>
                                                                <input type="text" class="form-control mb-3 border-radius-10" v-model="username" placeholder="Username">

                                                                <span class="help-block" v-if="errors.messages.hasOwnProperty('username')">
                                                                    <strong>{{ errors.messages.username }}</strong>
                                                                </span>
                                                            </div>

                                                            <div class=" pull-left full has-feedback"  :class="errors.messages.password ? 'has-error' : ''">

                                                                <label class="text-capitalize color-dark-blue">Password </label> 
                                                             

                                                                <div class="input-group">
                                                                    <input name="password" v-model="password" :type="typePassword" id="password" value="" class="form-control border-radius-left font-12" placeholder="Kata Sandi">
                                                                    <span @click="getShowPasswword" class="input-group-addon border-radius-right">
                                                                        <i id="eye" class="fa fa-eye-slash pointer"></i>
                                                                    </span>
                                                                </div>
                                                                
                                                                <span class="help-block" v-if="errors.messages.hasOwnProperty('password')">
                                                                    <strong>{{ errors.messages.password }}</strong>
                                                                </span>
                                                            </div>


                                                            <div class="pull-left full form-group">
                                                                <a href="#" class="pull-right">Lupa Password?</a>
                                                            </div> 

                                                            <div class="pull-left full form-group mgn-top-bottom-10">
                                                                <button type="submit" v-show="btnSubmit"  class="btn btn-primary btn-block btn-flat border-radius-15 pd-top-botttom-10">Masuk</button>
                                                                <button v-show="btnLoading" type="button" class="btn btn-default btn-block btn-flat border-radius-15"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Proses</button>
                                                            </div> 

                                                        </form>
                                                    </div>    
                                                
                                                </div> 
                                                
                                            </div>


                                        </div>
                                    </div>        

                                </div>
                            </div> 
                            <footer class="main-footer full pull-left ">
                                <div class="container footer-menu ">
                                    <span class="pull-left ">PT. Wijaya Karya (Persero) Tbk</span>
                                    <span class="pull-right display-excut">www.wise.wika.co.id</span>
                                </div>
                            </footer>     
                        </div>


                    </section>    

                </div>
            </div>
      </div>      
</div>
</template>

<script>
   //import io from 'socket.io-client';    
   export default {
        
        props:["Apps","Body","SocketIo"],
        data() {
            return {
                view_form:true,
                borderColor: '', // Default border color
                typePassword:'password',
                iclass:'bg-qrcode',
                text_header:'Log in dengan QR',
                socket: [],
                errors: {
                    messages: {
                        username:'',
                        password:'',        
                    },
                }, 
                qr_status:true,
                btnLoading:false,
                btnSubmit:true,
                //opacity:'load-ops',
                
                qrcode:'/img/qrcode.gif',
                qrcode_duplicate:'',

                messages:'',
                user:[],
                username:'administrator',
                phone:'',
                // password:'aleksim0ny3t',
               // username:'rendi.geo@scmwika.com',
               // username:'haniljayasteel@scmwika.com',
                password:'wika123',
                logo:'img/logo-baru.png',
                intervalId:null,
                
            }
        },
        
        mounted() {
      
      
        },
        created () {
            //this.socket = io(this.SocketIo);
            document.body.classList.add(this.Body);
            document.title = this.Apps;   

            //this.socketResponse();
               
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
             
        },
        components: {
         
        },
        methods: {
          getShowPasswword(){
            this.typePassword = this.typePassword === 'password' ? 'text' : 'password';
          },  
          socketResponse(){
             
                this.socketqrcode();
               
          },
          socketqrcode(){
            this.socket.on('qr', (data) => 
            {             
                this.qrcode = data;
                this.qrcode_duplicate =  data;
            });


            this.socket.on('ready', (data) => 
            {     
                this.qrcode='/img/qrcode.gif';   
                this.user = data;
                this.loginWa(data.me.user); 
            });



          }, 

          
          SwithLogin(){

            if(this.view_form ==true)
            { 
                this.view_form = false;
                this.iclass ="bg-form";
                this.text_header = 'Log in dengan Password ';
            }else{
                 this.qrcode='/img/qrcode.gif';
                 this.view_form = true; 
                 this.iclass ="bg-qrcode";
                 this.text_header = 'Log in dengan QR';
                 setTimeout(() => 
                   this.qrcode = this.qrcode_duplicate
                    , 4000);
            }    

          },
          loginWa(phone){
               

            const self = this; 
            let urlBase="";
            let formData = new FormData();
             self.qrcode='/img/qrcode.gif';
            if(status == false)
            {

                self.btnSubmit = true;
                formData.append('phone', phone);
                urlBase = axios.post(BASE_URL+'/api/auth/login-wa', formData);
                urlBase
                .then((response) => {

                    setTimeout(() => {

                        if(response.data.status==true)
                        {
                            self.$cookies.set('access',response.data.access);
                            self.$cookies.set('token',response.data.token);

                            if(response.data.access ==3)
                            {
                                 window.location.href = BASE_URL+ '/vendor';
                            }else{
                                 window.location.href = BASE_URL+ '/';
                            }   
                        }

                  
                   } , 1000);

                   
 
                }).catch((error) => {
                    self.errors = error.response.data;
                    self.btnSubmit = false;
                   
                });

            }else{
                self.btnSubmit = false;
            }

          },
          postData(){
                const self = this; 
                let urlBase="";
                let formData = new FormData();

                  this.intervalId = setInterval(() => {
                    this.borderColor = this.getRandomColor();
                  }, 500);
                
                 var csrfToken = $('meta[name="csrf-token"]').attr('content');

                self.btnSubmit = false;
                self.btnLoading = true;
                formData.append('username', self.username);
                formData.append('password', self.password);
                formData.append('_token', csrfToken); 
                urlBase = axios.post(BASE_URL+'/login', formData);
                urlBase
                .then((response) => {
                    
                 
                   if(response.data.status==true)
                    {
                        self.$cookies.set('access',response.data.access);
                        self.$cookies.set('token',response.data.token);
                       
                       
                        if(response.data.access ==3)
                        {
                             window.location.href = BASE_URL+ '/vendor';
                        }else{
                             window.location.href = BASE_URL+ '/';
                        } 
                        
                        // self.btnSubmit = true;
                        // self.btnLoading = false;
                    }
                   
                
                
                }).catch((error) => {

                   setTimeout(() => {
                    
                        if (self.intervalId) {
                          clearInterval(this.intervalId);
                          self.intervalId = null;
                        }

                        self.errors = error.response.data;
                        self.btnSubmit = true;
                        self.btnLoading = false;

                    } , 2000);

                   
                });

            

          },

          getRandomColor() {
              const letters = '0123456789ABCDEF';
                let color = '#';
                for (let i = 0; i < 6; i++) {
                  color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
          }
                      

        }
    }
   
</script>
<style>
.wrapper {
    position: relative;
    top: 0;
    height: 100%;
    overflow: hidden;
    margin:inherit!important;
    min-height: calc(100vh - 3.98rem);
}

.wrapper .main-panel {
    margin: 0;
    padding: 0;
}

.wrapper .main-panel .main-content {
    padding: 0 !important;
    margin: 0;
}

.wrapper .content-overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: calc(100% + 54px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.7s;
    z-index: -1;
    visibility: visible;
}
.wrapper .main-panel .main-content .content-wrapper {
    padding: 0;
    margin-left: inherit!important;
    z-index:inherit!important;
    background-color: inherit!important;
}

.justify-content-center {
    justify-content: center !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}

.auth-height {
    overflow: auto;
}

.width-630 {
    width: 630px !important;
}
.d-lg-flex {
    display: flex !important;
}
.full-height-vh {
    height: 100vh !important;
    height: calc(var(--vh, 1vh) * 100) !important;
}
.m-0 {
    margin: 0 !important;
}
.align-items-center {
    align-items: center !important;
}
.padding-0-10{
    padding: 0px 10px !important;
}

.row {
    display: flex;
    flex-wrap: wrap;

}
.justify-content-center {
    justify-content: center !important;
}

.width-732{
    width: 732px!important;
}

.width-385{
    width: 385px!important;
}

.width-430{
    width: 430px!important;
}

.margin-0-24{
    margin: 0px 24px;
}

.bg-form-login {
    background: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    box-shadow: 2px 4px 9px #bfbfbf;
        margin: 48px 0px ;
   /*width: 375px;*/
}

.width-90{
    width: 90%;
}

.padding-14-19{
    padding: 14px 19px;
    
}

.border-rand{
    border-top: 3px solid #46b8da;
    transition: border-color 0.5s ease; /* Smooth transition effect */
}

.color-title{

}


.padding-14-0{
   padding: 14px 0px;
}

.card {
    margin: 0px 0px;
   
   /* box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);*/
}
.overflow-hidden {
    overflow: hidden !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
   /* background-color: #fff;*/
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius:0px;
}
.auth-page .auth-img {
    padding: 0;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
   
}


.auth-page .auth-img .auth-img-bg {
    background-color: #f5f5f5;
}
.p-3 {
    padding: 1.5rem !important;
}
.img-fluid {
    width: 100%;
    height: 100%;
}

.img-left{
    padding: 0px;
    
}

.pl-4, .px-4 {
    padding-left: 2.25rem !important;
}
.pr-4, .px-4 {
    padding-right: 2.25rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 1.5rem !important;
}
.pt-3, .py-3 {
    padding-top: 1.5rem !important;
}


.mb-2, .my-2 {
    margin-bottom: 0.75rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1.5rem !important;
}


.login-center-bkpm{
    margin: 0px auto;
    width: 27%;
}
.login-center-sidak {
    margin: 0px auto;
    width: 45%;
}
.pd-top-botttom-20 {
    padding: 20px 0px 20px;
}
.pd-top-botttom-10 {
    padding: 10px 0px 10px!important;
}

.pd-top-40 {
    padding: 40px 0px 0px;
}
.pd-bottom-10 {
    padding: 0px 0px 10px;
}
.pd-top-bottom-20 {
    padding: 20px 0px;
}

.border-radius-12 {
    border-radius: 12px!important;
}


.mgn-top-bottom-10{
  margin: 10px 0px!important;
}

.pd-copyright{
    padding: 10px 0px 0px;
}
.color-grey-light{
    color: #616060;
}
.font-sm-0 {
    font-size: 0.9rem ;
}
.font-sm-1 {
    font-size: 1rem ;
}
.text-bold-600{
    font-weight: 600;
}

.form-header {
    float: left;
    width: 100%;
    padding: 17px 19px 0px;
}

.footer-container{
        width: 1095px !important;
}


</style>

