<template>
<div>
<div class="content">
    <div class="login-header">
      <div class="login-center">
           <img class="logo" :src="logo" />
      </div>
    </div> 
  <div class="login-content">
    <div class="box-content">
     <div class="content-left">
         <div class="cover-center">
              <img class="cov-img" src="img/cover.png" />
         </div> 
         <div class="cover-button">
             <h3>eCatalogue by eSCM WIKA</h3>
             <span ><p>Divisi Supply Chain Management</p></span>
         </div>  
     </div>
     <div class="content-right">
          <div class="box-form-login">
                <div class="box-form mrgn-btn pull-left full">

                    <div class="padding-login-center">   
                        <div class="form-header">
                         <!--  <h3 class="login-box-msg fw-500 top">Silakan Login Menggunakan</h3>
                          <h3 class="login-box-msg fw-500 bottom">Akun eSCM Anda</h3> -->
                          <div class="login-top-left">
                              <h4>Forgot Password</h4>
                          </div>

                           
                        </div>  
                          
                        <form role="form"  method="post" v-if="view_form ==true"  @submit.prevent="postData(btnSubmit)">
                            
                            <span class="help-alert" >
                                    <strong>{{ errors.messages }}</strong>
                            </span>
                            
                            <div class="form-content">
                               <div class="form-group has-feedback" :class="errors.password ? 'has-error' : ''"> 
                                <label>Password Baru</label>
                                <input type="password" class="form-control" v-model="password" name="password" value="" placeholder="password">
                                <span class="help-block" v-if="errors.hasOwnProperty('password')">
                                    <strong>{{ errors.password }}</strong>
                                </span>

                               </div> 

                               <div class="form-group has-feedback"  :class="errors.confirm_password ? 'has-error' : ''"> 
                                <label>Konfirmasi Password</label>
                                <input type="password" class="form-control" v-model="confirm_password" placeholder="Konfirmasi Password" name="confirm_password">
                                <span class="help-block" v-if="errors.hasOwnProperty('confirm_password')">
                                    <strong>{{ errors.confirm_password }}</strong>
                                </span>
                               </div>
                            </div>
                            <div class="form-footer">
                               <div class="center-button">

                                    <button type="submit" :disabled="btnSubmit" class="btn fw-600 btn-info btn-login"> <i v-if="btnSubmit ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                                        <span v-else>Forgot Password</span>
                                    </button>
                               </div> 
                            </div>
                        </form> 

                        
                    </div>  
                       
                </div> 
          </div>  
     </div> 
    </div>  
  </div> 
</div>



  <footer class="main-footer full pull-left">
   <div class="container footer-menu">  
     <span class="pull-left">PT. Wijaya Karya (Persero) Tbk</span> 
     <span class="pull-right display-excut">www.escm.wika.co.id</span>
   </div>  
</footer>
</div>

</template>

<script>
      
   export default {
        
        props:["Apps","Body"],
        data() {
            return {
                view_form:true,
                iclass:'bg-qrcode',
                text_header:'Log in dengan QR',
                socket: [],
                errors: {
                    password:'',
                    confirm_password:'',
                    messages:'', 
                }, 
                qr_status:true,
                
                btnSubmit:false,
                //opacity:'load-ops',
                
                qrcode:'/img/qrcode.gif',
                qrcode_duplicate:'',
                
                user:[],
                password:'admin123',
                confirm_password:'admin123',
                // password:'aleksim0ny3t',
               // username:'rendi.geo@scmwika.com',
               // username:'haniljayasteel@scmwika.com',
                logo:'img/logo.png',
                ref:'',
                
            }
        },
        
        mounted() {
            const urlParams = new URLSearchParams(window.location.search);
            this.ref = urlParams.get("ref");
            
      
        },
        created () {
          
            document.body.classList.add(this.Body);
            document.title = this.Apps;
                

           
               
           
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
             
        },
        components: {
         
        },
        methods: {
          
          postData(status){
                const self = this; 
                let urlBase="";
                let formData = new FormData();

                 if(status == false)
                {


                
                self.btnSubmit = true;
                formData.append('password', self.password);
                formData.append('confirm_password', self.confirm_password);
                formData.append('ref', self.ref);
                urlBase = axios.post(BASE_URL+'/api/mobile/new-password', formData);
                urlBase
                .then((response) => {
                    
                         
                      window.location.href = BASE_URL+ '/confirmation-success'
                   
               
                
                }).catch((error) => {
                    self.errors = error.response.data.result;
                    self.btnSubmit = false;

                     
                   
                });

            }else{
                self.btnSubmit = false;
            }

          }

        }
    }
   
</script>

