<template>
<div >
    
      
            <vue-content-loading :width="300" :height="580">
                <rect x="0" y="5" rx="25" ry="25" width="56" height="56" />

                <rect x="76" y="15" rx="5" ry="5" width="180" height="20" /> 
                <rect x="76" y="43" rx="5" ry="5" width="200" height="20" />

                <rect x="0" y="95" rx="5" ry="5" width="60" height="15" />
                <rect x="0" y="120" rx="5" ry="5" width="85" height="15" />

                <rect x="0" y="155" rx="5" ry="5" width="60" height="15" /> 
                <rect x="0" y="180" rx="5" ry="5" width="100" height="15" />

                <rect x="0" y="215" rx="5" ry="5" width="60" height="15" /> 
                <rect x="0" y="240" rx="5" ry="5" width="260" height="15" />  
                <rect x="0" y="265" rx="5" ry="5" width="230" height="15" />  

                <rect x="0" y="295" rx="5" ry="5" width="60" height="15" />
                <rect x="0" y="322" rx="5" ry="5" width="110" height="15" />
                <rect x="220" y="322" rx="5" ry="5" width="80" height="15" />  
                
                <rect x="0" y="342" rx="5" ry="5" width="410" height="5" />

                <rect x="0" y="365" rx="5" ry="5" width="28" height="25" />
                <rect x="36" y="365" rx="5" ry="5" width="130" height="25" />

                <rect x="0" y="403" rx="5" ry="5" width="28" height="25" />
                <rect x="36" y="403" rx="5" ry="5" width="130" height="25" />

                <rect x="0" y="441" rx="5" ry="5" width="28" height="25" />
                <rect x="36" y="441" rx="5" ry="5" width="130" height="25" />

                <rect x="0" y="479" rx="5" ry="5" width="28" height="25" />
                <rect x="36" y="479" rx="5" ry="5" width="130" height="25" />

            </vue-content-loading>
       
             
            

</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>