<template>
<div>
<div class="row-wishlist border-search" v-if="messages !=''">
         <i class="fa fa-check pull-left loading-circle"></i>
     <!-- <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw pull-left loading-circle"></i> -->
     <h3 class="pull-left fw-600" > {{ messages }} </h3>
   
</div>
 <div class="row-wishlist" v-show="listpage">
     <h3>Detail Riwayat</h3> 

      <div class="btn-apprv" >
        <span v-if="list.verified =='active' && list.status_otp ==false" class="actived status-red fa-pointer" @click="showModalIn()"><i class="fa fa-check" ></i> Klik untuk verifikasi</span>
      </div>          
 </div>    

  <FormVerif  v-if="showModal" :order="list.order_code" @close="closeModal" @success="ShowOTP" ></FormVerif>
  <FormOTP  v-if="showModalOTP" :order="list.order_code"  @close="closeModalOTP" @success="successReload" @messages="alertSuccess"></FormOTP>

<div class="pull-left full" v-show="listpage"> 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form" >
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           <div class="full pull-left mtb-20"> 
                             <div class="title-tab">
                                <h4 class=" pull-left color-black text-cap mt-10-vendor"> PO Vendor</h4> 
                             </div>  
                              
                            
                                <!-- <h4 class="title-order color-blue text-cap">PO Vendor</h4> -->

                             <div class="right-btn">  

                                <div class="tab-active-menu">
                                    <span class="actived"  :class="list.status_color" >{{ list.status_approved }}</span>
                                </div>

                                 
                                <div class="tab-download fa-pointer" @click="getPdf(list.pdf_vendor);" v-if="list.pdf_status =='active'">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>

                              </div>   
                            </div>

                            <h4 class="full pull-left project-name text-cap mt-10-vendor font-16">{{ list.vendor.name }} [{{ list.division }}]</h4> 
                                
                        

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                          <span class="text-info font-15 pad-right one fw-600"> {{ list.project_name }}</span>
                                        
                                  </div>  
                                  
                                  <perfect-scrollbar class="product-list" >
                                  <ul>
                                     
                                       <div v-if="list.total_product > 1">
                                        <li   v-for="pro in list.product" :key="pro.id">
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr one">{{ pro.qty }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                           <span class="text-info font-15 pad-right one fw-600">{{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                        </div>
                                        <div v-else-if="list.total_product < 2 ">
                                        <li   v-for="pro in list.product" :key="pro.id">
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr one">{{ pro.qty }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                           <span class="text-info font-15 pad-right one fw-600">{{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                        </div>
                                    
                                    

                                  </ul>
                                
                                  </perfect-scrollbar>
                                  <div class="border-bottom"></div>

                                  <div class="pull-left product-info"> 
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div>  
                                </div>
                                <div class="box-right">
                                   
                                    <div class="list-bord-bottom">
                                       <!-- <div class="text-info font-12 pad-right fw-600 full">Vendor</div> -->
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">{{ list.order_code }}</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one">{{ list.created_at }}</span>
                                        </div>
<!-- 
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Jenis Pengiriman : </span> {{ list.shipping }}</span >
                                        </div> -->

                                       
                                       

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Diambil Tanggal : </span> {{ list.tgl_diambil }}</span >
                                        </div>

                                        

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Perihal : </span>{{ list.about }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Catatan : </span> {{ list.notes }}</span>
                                        </div>


                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">
                                                <span class="fw-600 pull-left">Approval : </span> 
                                                <div class="list-appv" v-for="(ap,index) in list.approv" :key="ap.id">
                                                   
                                                       <div v-if="index ==0" class="bord-tr pad-right-7">
                                                       <i class="fa fa-check-square" v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                       <div v-else>
                                                       <i class="fa fa-check-square"  v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                   
                                                </div> 

                                            </span >   
                                        </div>

                                       
                                        
                                    </div>

                                    <div class="list-price">

                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Dibuat : <span class="fw-600">{{ list.created_by }} </span></span> 
                                        </div> 
                                      
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Total : {{ list.total_price }}</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div>  

            
            <div class="full pull-left box-form" v-if="list.transport_status ==true">
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           <div class="full pull-left mtb-20"> 
                             <div class="title-tab">
                                <h4 class=" pull-left color-black text-cap mt-10-vendor"> PO Transportasi </h4> 
                             </div>  
                            
                                <!-- <h4 class="title-order color-blue text-cap">PO Vendor</h4> -->

                             <div class="right-btn">  
                               
                                <div class="tab-active-menu">
                                    <span class="actived"  :class="list.status_color" >{{ list.status_approved }}</span>
                                </div>


                                <div class="tab-download fa-pointer" @click="getPdf(list.transport.pdf_transport);" v-if="list.pdf_status =='active'">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>

                              </div>   
                            </div>
                                
                            <h4 class="full pull-left project-name text-cap mt-10-vendor font-16">{{ list.transport.vendor_transport }} [{{ list.division }}]</h4> 

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                       <span class="text-info font-15 pad-right one fw-600"> {{ list.project_name }}</span>

                                        
                                  </div>  
                                  <perfect-scrollbar class="product-list" >
                                  <ul>

                                      <div v-if="list.total_product > 1">
                                        <li   v-for="pro in list.product" :key="pro.id">
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr one">{{ pro.qty }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                           <span class="text-info font-15 pad-right one fw-600">{{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                        </div>
                                        <div v-else-if="list.total_product < 2 ">
                                        <li   v-for="pro in list.product" :key="pro.id">
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr one">{{ pro.qty }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                           <span class="text-info font-15 pad-right one fw-600">{{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                        </div>
                               
                                    
                                    

                                  </ul>
                                  
                                  </perfect-scrollbar>
                                  <div class="border-bottom"></div>

                                  <div class="pull-left product-info"> 
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div>  
                                </div>
                                <div class="box-right">
                                   
                                    <div class="list-bord-bottom">
                                       <!--  <div class="text-info font-12 pad-right fw-600 full">Transportasi</div> -->
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">{{ list.order_code }}</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one">{{ list.created_at }}</span>
                                        </div>


                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right bord-tr one">
                                                <span class="fw-600">Jenis Pengiriman : </span> 
                                                {{ list.shipping }}
                                            </span >
                                            <span class="text-info font-12 pad-left one"> {{ list.transport.transport_name }}</span >
                                        </div>

                                       

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Tujuan : </span> {{ list.destination }}</span >
                                        </div>  
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right bord-tr one">
                                                <span class="fw-600">Fee Transport : </span>
                                                 {{ list.transport.fee_transport }}
                                            </span >

                                             <span class="text-info font-12 pad-left one"><span class="fw-600">Berat Minimum : </span> {{ list.transport.berat_min_ton }} Ton / {{ list.transport.berat_min_kg }} Kg</span >


                                        </div>


                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Diambil Tanggal : </span> {{ list.tgl_diambil }}</span >
                                        </div>

                                        

                                        

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Perihal : </span>{{ list.about }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Catatan : </span> {{ list.notes }}</span>
                                        </div>

                                        

                                        
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">
                                                <span class="fw-600 pull-left">Approval : </span> 
                                                <div class="list-appv" v-for="(ap,index) in list.approv" :key="ap.id">
                                                   
                                                       <div v-if="index ==0" class="bord-tr pad-right-7">
                                                       <i class="fa fa-check-square" v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                       <div v-else>
                                                       <i class="fa fa-check-square"  v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                   
                                                </div> 

                                            </span >   
                                        </div>


                                        

                                        
                                    </div>

                                    <div class="list-price">
                                        <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Dibuat : <span class="fw-600">{{ list.created_by }} </span></span> 
                                        </div> 

                                      
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Total : {{ Rupiah(list.transport.total_transport) }}</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div>

              <div class="full pull-left box-form" v-if="list.insurance_status ==true">
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           <div class="full pull-left mtb-20"> 
                             <div class="title-tab">
                                <h4 class=" pull-left color-black text-cap mt-10-vendor"> PO Asuransi</h4> 
                             </div>  
                            
                                <!-- <h4 class="title-order color-blue text-cap">PO Vendor</h4> -->

                             <div class="right-btn">  
                                  <div class="tab-active-menu">
                                    <span class="actived"  :class="list.status_color" >{{ list.status_approved }}</span>
                                </div>
 
                                <div class="tab-download fa-pointer" @click="getPdf(list.insurance.pdf_insurance);" v-if="list.pdf_status =='active'">
                                    <span class="actived">Download PDF <i class="fa fa-download"></i> </span>
                                </div>

                              </div>   
                            </div>
                            
                            <h4 class="full pull-left project-name text-cap mt-10-vendor font-16">{{ list.insurance.vendor_name }} [{{ list.division }}]</h4>     
                        

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left"> 
                                        <span class="text-info font-15 pad-right one fw-600"> {{ list.project_name }}</span>
                                        
                                  </div>  
                                <perfect-scrollbar class="product-list" >
                                  <ul>
                                        <div v-if="list.total_product > 1">
                                        <li   v-for="pro in list.product" :key="pro.id">
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr one">{{ pro.qty }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                           <span class="text-info font-15 pad-right one fw-600">{{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                        </div>
                                        <div v-else-if="list.total_product < 2 ">
                                        <li   v-for="pro in list.product" :key="pro.id">
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr one">{{ pro.qty }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.weight }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one">{{ pro.payment }}</span>
                                           <span class="text-info font-15 pad-right pad-left bord-tr one fw-600">{{ pro.price }}</span>
                                           <span class="text-info font-15 pad-right one fw-600">{{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                        </div>
                               
                                    
                                    

                                  </ul>
                                  
                                  </perfect-scrollbar>
                                  <div class="border-bottom"></div>
                                  <div class="pull-left product-info"> 
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/item.png"></span> {{ list.total_qty }} Item
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <span class=" pad-right"><img src="/img/volume.png"></span> {{ list.total_volume }}  Kg
                                        </span>

                                        <span class="text-info font-12 one  pad-left">
                                            <span class=" pad-right"><img src="/img/price.png"></span> {{ list.total_price }}
                                        </span>
                                      
                                  </div>  
                                </div>
                                <div class="box-right">
                                   
                                    <div class="list-bord-bottom">
                                       
                                        <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No. <span class="fw-600">{{ list.order_code }}</span></span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one">{{ list.created_at }}</span>
                                        </div>
                                    
                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right bord-tr  one">
                                                <span class="fw-600">Premi Asuransi : </span>
                                            {{ list.insurance.premi }} %
                                            </span>

                                            <span class="text-info font-12 pad-left one">
                                                <span class="fw-600">Total Min Asuransi : </span>
                                            {{ list.insurance.nilai_min_premi }}
                                            </span>
                                        </div>

                                       
                                       

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Diambil Tanggal : </span> {{ list.tgl_diambil }}</span >
                                        </div>

                                    
                                        
                                      

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Perihal : </span>{{ list.about }}</span>
                                        </div>

                                        <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Catatan : </span> {{ list.notes }}</span>
                                        </div>

  
                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one"><span class="fw-600">Tanggal Dibuat : </span> {{ list.created_at }}</span >
                                        </div>

                                        <div class="list-descrpt-right">
                                            <span class="text-info font-12 pad-right one">
                                                <span class="fw-600 pull-left">Approval : </span> 
                                                <div class="list-appv" v-for="(ap,index) in list.approv" :key="ap.id">
                                                   
                                                       <div v-if="index ==0" class="bord-tr pad-right-7">
                                                       <i class="fa fa-check-square" v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                       <div v-else>
                                                       <i class="fa fa-check-square"  v-if="ap.approval_status == true"></i>  {{ ap.approval_name }}
                                                       </div>
                                                   
                                                </div> 

                                            </span >   
                                        </div>

                                        
                                    </div>

                                    <div class="list-price">
                                       <div class="ones">
                                           <span class="text-info font-14 pad-right one pull-left">Dibuat : <span class="fw-600">{{ list.created_by }} </span></span> 
                                        </div> 
                                        <div class="twos">
                                            <span class="text-info font-14 pad-right one fw-600 color-blue pull-right">Total : {{ Rupiah(list.insurance.total_insurance) }}</span>
                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div>
             
        </div>
    </div>
</div>            

    

<div v-show="loadpage" is="LoadingPage"></div>     
   
</div>
</template>

<script>
    
   export default {
        props:["Apps"],
        data() {
            return {
               loadpage:true,
               listpage:false,  
               list:[],
               showModal:false,
               showModalOTP:false,
               messages:'',
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
           this.getDetail();
           
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
           'FormVerif': require('./verification.vue').default,
           'FormOTP': require('./otpform.vue').default,
           'LoadingPage': require('../../loading/frontend/detail.vue').default,
        },
        methods: {
            showModalIn(){
               this.showModal = true;
              
            },
            closeModal(){
                this.showModal = false;
            },
            ShowOTP(){
                this.showModalOTP = true;
            },
            closeModalOTP(){
                this.showModalOTP = false;
            },
            successReload(){
                this.closeModalOTP();
                this.getDetail();
            },
            alertSuccess(data){
               this.messages = data;
            },
            getDetail(){
                const self = this;
                let listUrl = "";
                this.id = this.$route.params.id;
                
                listUrl = BASE_URL + '/api/history/detail/'+ this.id;    
                axios.get(listUrl).then((response) => {

                   self.loadpage = false; 
                   self.list = response.data.result;
                   if(self.list.status_otp ==true)
                   {
                     this.ShowOTP();
                   }else{
                     this.closeModalOTP();
                   } 
                   self.listpage = true;
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

            },
            getPdf(pdf_name){
            window.open(pdf_name);
            },
            
            Rupiah(value)
          {
                let val = (value/1).toFixed(0).replace('.', ',');
                return 'Rp '+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          },
        }  
    }
   
</script>

