<template>
<div v-if="loadfilter ===false">


<div class="row-wishlist border-search" v-show="listsearch">
    <h3 v-html="search"> </h3>    
</div>

 <div v-show="resultNull" is="PageNotFound" ></div>

<div class="row-wishlist" v-show="listpage">
     <h3>Riwayat</h3>
         
             
</div>    
<div class="pull-left full" v-show="listpage"> 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form" v-show="listpage"  v-for="list in lists" :key="list.id">
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="box-room" >
                           <div class="full pull-left border-botom-box"> 
                             <div class="title-tab">
                                <h4 class="pull-left color-black text-cap mt-10-vendor">
                                    
                                     {{ list.vendor.name }} 
                                    
                                    <span class="color-grey text-cap text-summary">[{{ list.division }}]</span>
                                </h4> 


                             </div>  
                              
                              <!--   <h4 class="title-order color-blue text-cap">PO Asuransi</h4> -->

                             <div class="right-btn">  
                                <div class="dropdown" @click="OpenList()" :class="classOpen">
                                    <div  class="tab-active-menu fa-pointer dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="actived"><i class="fa fa-angle-down" ></i> </span>
                                    </div>
                                     <ul  class="dropdown-menu pull-right history-dropdown" v-show="dropdown" >
                                        
                                       <!--  <li v-if="list.pdf_status =='active'">
                                            <a class="fa-pointer" @click="getPdf(list.pdf_name);"><i class="fa fa-download" aria-hidden="true"></i>Download PDF</a>
                                        </li> -->

                                         <li >
                                            <a class="fa-pointer" @click="getPdf(list.pdf_name);"><i class="fa fa-download" aria-hidden="true"></i>Download PDF</a>
                                        </li>

                                        <li v-if="list.btn_revision ==true"  @click="ForwordToCart(list.order_code);"><a class="fa-pointer"><i class="fa fa-undo" aria-hidden="true"></i>Revisi</a></li>

                                         <li  v-if="list.verified =='true'" @click="showModalInVerif(list.order_code,list.status_approved)"><a class="fa-pointer"><i class="fa fa-check" aria-hidden="true"></i>Approve </a></li>


                                      </ul>
                                </div>
                               
                                                                 
                                <div class="tab-active-menu">
                                    <span class="actived" :class="list.status_color">{{ list.status_approved.result }}</span>
                                </div>

                              

                              </div>   
                            </div>
                             
                             

                             <div class="full pull-left">
                               <div class="pull-left">
                                   <img class="pull-left" src="/img/barcode_icon.png">  
                                   <span class="pull-left orderCode padding-0-8">{{ list.order_code }}</span> 

                               </div>
                               <div class="pull-left"> 
                                    <img class="pull-left width-24" src="/img/project.png">  
                                    <span class="pull-left project-name font-16 padding-0-8">{{ list.project_name }}</span>
                               </div>  
                             </div>


                             <!-- <h4 class="full pull-left project-name text-cap mt-10-vendor font-16">
                                 {{ list.project_name }} </h4>  -->

                           <!--  <span class="text-info font-13">{{ list.shipping }}</span>  -->

                            <div class="box-descript">
                                <div class="box-left"> 
                                  <div class="top-left" v-if="list.transport.status ==true"> 
                                        <i class="fa fa-map-marker pull-left padd-maps" ></i>  
                                        <span class="text-info font-15 pad-right one pull-left">{{ list.origin }}</span>

                                        <i class="pull-left font-20 color-blue-sea fa fa-exchange"></i>
                                        <span class="text-info font-15 pad-left two">{{ list.destination }}</span>
                                        
                                  </div> 

                                  <div class="top-left" v-else> 
                                        <i class="fa fa-map-marker pull-left padd-maps" ></i>  
                                        <span class="text-info font-15 pad-right one pull-left">{{ list.origin }}</span>
                                  </div>  

                                  <perfect-scrollbar class="product-list" >
                                  <ul>
                                        <li   v-for="pro in list.product" >
                                         <img class="box-image" :src="pro.photo">
                                         <div class="list-descrpt-left">   
                                           <span class="pull-left full font-20">{{ pro.product_name }}</span> 
                                           <span class="text-info font-15 pad-right bord-tr-orange one">Item {{ pro.qty }}</span>

                                           <span class="text-info font-15 pad-right pad-left bord-tr-orange one">Volume {{ pro.weight }}</span>

                                           <span class="text-info font-15 pad-right pad-left bord-tr-orange one">{{ pro.payment }}</span>

                                           <span class="text-info font-15 pad-right pad-left  one ">{{ pro.price }}</span>

                                           <span class="text-info font-15 pull-right one ">Total : {{ pro.total_price }}</span>
                                        </div>
                                        </li>
                                   
                                   </ul>
                                   </perfect-scrollbar>
                                   

                                    <div class="border-bottom"></div>
                                    

                                  <div class="pull-left product-info"> 
                                      <!--   <span class="text-info font-12 one bord-tr pad-right">
                                            <span class="pad-right">Total Item :</span> {{ list.total_item }}
                                        </span> -->
                                       
                                        <span class="text-info font-12 one   pad-right bord-tr">
                                            <!-- <span class=" pad-right"><img src="/img/item.png"></span> --> 
                                            Total Item <span class="color-red fw-600">{{ list.total_qty }} Item </span>
                                        </span>

                                        <span class="text-info font-12 one pad-left  pad-right bord-tr">
                                            <!-- <span class=" pad-right"><img src="/img/volume.png"></span> -->Total Volume  <span class="color-red fw-600">{{ list.total_volume }}  Kg </span>
                                        </span>
  
                                        
                                       

                                        <span class="text-info font-12 one  pad-left">
                                          <!--   <span class=" pad-right"><img src="/img/price.png"></span> --> 
                                          Total Harga <span class="color-red fw-600"> {{ list.total_price }} </span>
                                        </span>
                                      
                                  </div>  
                                </div>
                                <div class="box-right min-height-249">
                                   
                                    <div class="list-bord-bottom">
                                       <!--  <div class="list-descrpt-right">
                                           <span class="text-info font-12 pad-right bord-tr one">Order No.  {{ list.order_code }} <span class="fw-600"><span class="color-grey text-cap text-summary rev" v-if="list.status_order !=0">{{ list.status_order }}</span></span> </span>
                                           <span class="text-info font-12 pad-right pad-left bord-tr one">{{ list.no_surat }}</span>
                                           <span class="text-info font-12 pad-right pad-left one"></span>
                                        </div> -->

                                       <!--  <div class="list-descrpt-right">
                                              <span class="text-info font-12 pad-right one"><span class="fw-600">NO Order PO : </span> {{ list.order_code }}</span >
                                        </div>  -->   

                                        <div class="list-descrpt-right">
                                           <!--  <span class="text-info font-12 pad-right one"><span class="fw-600">Diambil Tanggal : </span> {{ list.tgl_diambil }}</span > -->
                                          <div class="pull-left">
                                           <img class="width-20 margin-5-0" src="/img/dated.png">
                                          </div>
                                          <div class="pull-left padding-6-11">
                                              {{ list.tgl_diambil }}
                                          </div>  
                                        </div>

                                        <div class="list-descrpt-right" v-if="list.transport.status ==true">
                                           <div class="text-info font-12 pad-right fw-600 full">Transportasi</div>
                                            
                                           <span class="text-info font-12  pad-right one fw-600 bord-tr"> {{ list.transport.shipping }} </span>

                                            <span class="text-info fa-pointer font-12 pad-left pad-right one fw-600 color-blue-sea bord-tr" data-toggle="tooltip" data-trigger="focus" :title="list.transport.vendor_address" :data-content="list.transport.vendor_address">{{ list.transport.vendor_transport }}</span>

                                            <span class="text-info  font-12 one" >{{ list.transport.transport_name }}</span>
                                            
                                             <div class="pull-left full">
                                            <span class="text-info font-12 one pad-right bord-tr">
                                                <span class="pad-right">Minimum Berat :</span> {{ list.transport.berat_min_kg }} Kg 
                                            </span>
                                          
                                            <span class="text-info font-12 one pad-left pad-right">
                                                <span class="pad-right">Total Transportasi :</span> {{ Rupiah(list.transport.total_transport) }} 
                                            </span>

                                            </div>

                                        </div>

                                        <div class="list-pdf-right" v-if="list.transport.status ==true">
                                           <div class="center-link">  
                                             <a @click="getPdf(list.transport.pdf_transport);" class="border-pdf"><span>PDF</span></a>
                                           </div>  
                                        </div>    

                                        <div class="list-descrpt-right" v-if="list.insurance.status ==true">
                                           <div class="text-info font-12 pad-right fw-600 full">Asuransi</div>
                                            
                                            <div class="pull-left full">

                                             <span class="text-info font-12 fw-600 color-blue-sea one pad-right fa-pointer" data-toggle="tooltip"  :title="list.insurance.vendor_address">
                                                 {{ list.insurance.vendor_name }}
                                             </span> 

                                        
                                            
                                            </div> 

                                            <div class="pull-left full">
                                                <span class="text-info font-12 one bord-tr pad-right">
                                                 <span class="pad-right">Minimal Harga Premi :</span> {{ list.insurance.nilai_min_premi }}
                                                </span>
                                            
                                                 <span class="text-info font-12 bord-tr one pad-left pad-right">
                                                    <span class="pad-right">Premi :</span> {{ list.insurance.premi }} %
                                                 </span> 
                                                <span class="text-info font-12 one  pad-left">
                                                    <span class=" pad-right">Total Asuransi :</span>
                                                     {{ Rupiah(list.insurance.total_insurance) }}
                                                </span> 
                                            </div>    
                                        </div>
                                        
                                        
                                        <div class="list-pdf-right" v-if="list.insurance.status ==true">
                                          <div class="center-link">  
                                             <a @click="getPdf(list.insurance.pdf_insurance);" class="border-pdf"><span>PDF</span></a>
                                          </div>   
                                        </div> 


                                        <!-- <div class="list-descrpt-right"> 
                                          <div class="pull-left"> 
                                             <img class="width-24" src="/img/aboute.png">
                                          </div> 
                                          <div class="pull-left padding-0-11">
                                                  {{ list.about }}  
                                          </div> 
                                        </div> -->
                                       

                                       <!--  <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">UP : </span>{{ list.about }}</span>
                                        </div> -->

                                       <!--  <div class="list-descrpt-right"> 
                                            <span class="text-info font-12 pad-right  one"><span class="fw-600">Catatan : </span> {{ list.notes }}</span>
                                        </div> -->

                                       <!--  <div class="list-descrpt-right"> 
                                          <div class="pull-left"> 
                                             <img class="width-24" src="/img/catatane.png">
                                          </div> 
                                          <div class="pull-left padding-0-11">
                                                  {{ list.notes }}  
                                          </div> 
                                        </div> -->

                                        
                                    </div>



                                    <div class="list-price">
                                        <div class="ones">
                                          <!--  <span class="text-info font-14 pad-right one pull-left">Total Volume <span class="fw-600">{{ list.total_volume }}</span></span> --> 
                                        </div> 
                                        <div class="twos">

                                            <span class="text-info font-14 padding-2-0 one fw-600  pull-right ">{{ list.created_at }}</span>

                                            <img src="/img/time.png" class="pull-right padding-0-10">

                                        </div>   
                                    </div>    
                                </div>
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div>  

          
            <div class="content-pagination">
              <div class="paginate-center">  
                <Pagination v-if="viewsPage"  @change="getData" v-model="halaman" :page-count="total" :classes="bootstrapPaginationClasses" :labels="paginationAnchorTexts"></Pagination>
              </div>
            </div> 
        </div>
    </div>
</div>

<div v-show="loadpage" is="LoadingPage"></div>
<FormVerif  v-if="showModalVerif" :order="orderNo" :approved="approved"  @close="closeModalVerif"></FormVerif>
<FormSearch v-if="showModal" @close="closeModal" :vendor="vendor" :location="location" @searchform="searchData"></FormSearch>           
</div>

<div v-else>
       <div is="ListFilter" :filter="filterData"></div>
</div>
</template>
<style>
 .border-pdf{
        background: #ffffff;
        border: solid 1px #e6e6e6;
        border-radius: 4px;
        display: inline-block;
        height: 50px;
        line-height:62px;
        margin: 5px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        cursor: pointer;
 }   

 .border-pdf span {
        background: #f2594b;
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        font-size: 9px;
        font-weight: 700;
        line-height: normal;
        padding: 2px 10px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
}

.border-pdf span:last-child {
        margin-left: -20px;
}

.border-pdf:before,
.border-pdf:after {
        background: #ffffff;
        border: solid 3px #656065;
        border-radius: 4px;
        content: '';
        display: block;
        height: 24px;
        left: 42%;
        margin: -17px 0 0 -12px;
        position: absolute;
        top: 67%;
        /*transform:translate(-50%,-50%);*/
        
        width: 25px;
}

.border-pdf:hover:before,
.border-pdf:hover:after {
        background: #ddd;
}
/*a:before{transform:translate(-30%,-60%);}*/

.border-pdf:before {
        margin: -23px 0 0 -5px;
}

.border-pdf:hover {
        background: #e2e8f0;
        border-color: #9fb4cc;
}

.border-pdf:active {
        background: #dae0e8;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
}


</style>
<script>
   import io from 'socket.io-client'; 
   export default {
        props:["ShowPR","ShowHistory","Showform","Apps","filter","status"],
        data() {
            return {
               socket: io('ws://localhost:3000/'), 
               classOpen:'', 
               loadfilter:false,
               filterData:[], 
               loadpage:true,
               listpage:false,
               listsearch:false,
               showModal: false,
               showModalVerif:false,
               register:{},
               document:[],
               showLoading:true,
               showModalSearch: false,

               loadProduct:'',
               loadpage:true,
               lists:[],
               halaman:1,
               total:0,
               resultNull:false,
               viewsPage:false,
               type:'',
               
               Navigate:true,
               ShowSearch:false,
               searchInput:'',
               search:'',
               dropdown:false,
               finder:{},
               approved:{},
               orderNo:'',

                bootstrapPaginationClasses: 
               {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'  
               },
               paginationAnchorTexts: 
               {
                    first: 'First',
                    prev: 'Previous',
                    next: 'Next',
                    last: 'Last'
               },

               vendor:[],
               location:[],
               paramStatus:'',
            }
        },
        
        created() {  
           document.title = this.Apps;
           //this.$emit('checkPRRequest',false);
           this.$emit('ShowPR',this.ShowPR);
           this.$emit('ShowHistory',this.ShowHistory);

           this.getData(this.paramStatus);
           
        },
         mounted() {
            if(this.type !="search")
            {
                this.halaman = 1;
            }
           
           
        },
        watch: {
            Apps: function(result) { 

              // document.title = this.Apps; 
             // this.loadfilter = false; 
              // this.getData();
            },
            filter: function(result) { 
               const self = this;
               self.filterData = result;
               self.loadpage = false;
               self.listpage = false;
               self.loadfilter = true;
              // self.getFilter(result);
            }, 
            status: function(result){

                let srcParams = 'order_code=&vendor_id=&location_id=&startdate=&enddate=&status='+ result;
              
                this.getData(srcParams);
            },
            Showform: function (result) {
                this.showModal = result;
            },
            
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          'Pagination': require('vue-plain-pagination'),
          'FormSearch': require('./historysearch.vue').default,
          'FormVerif': require('./verification.vue').default,
          // 'LoadingPriviy': require('./loadingPrivy.vue').default,
          'ListFilter': require('../index/filter.vue').default,
          'PageNotFound': require('../layout/404.vue').default,
          'LoadingPage': require('../../loading/frontend/history.vue').default,
        },
        methods: {
            OpenList(){
               if(this.dropdown ==false)
               {
                  this.classOpen = 'open';
                  this.dropdown = true;
               }else{
                  this.classOpen = '';
                  this.dropdown = false;
               } 
              
            },
            showModalIn(){
               this.showModal = true;
              
            },
            closeModal(){
             //   this.showModal = false;
                this.$emit('CloseFormHistory',false);
            },
            showModalInVerif(orderNo,approved){
               this.showModalVerif = true;
               this.orderNo = orderNo;
               this.approved = approved;
               
            },
            closeModalVerif(messages){
               
                if(messages !='')
                {
                       this.$swal({
                            title: messages,
                            icon: "success"
                        }).then((result) => {
                            if (result) 
                            {
                                this.getData(this.paramStatus);
                            }
                        });  
                }    
                       
               this.showModalVerif = false;

            },
            
            CheckDocument()
            {
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/history/check-document';    
                axios.get(listUrl).then((response) => {
                    self.register = response.data;  
                    if(response.data.total !=0)
                    {
                      this.UploadDocument(response.data.document,response.data.total);  
                 
                   
                    }   
                    
             
                }).catch((error) => {
                    console.log(error);
                    
                });

            },
            UploadDocument(data,total)
            {
                
               if(total !=0)
               {
                  setTimeout(function () {  this.verification(data['order_no']) }.bind(this), 3000)
               }else{
                  //this.getData();
               }

                 

            },
            verification(order_no){
                const self = this;
                let urlBase="";
                let formData = new FormData();
                formData.append('order_no', order_no);
                urlBase = axios.post(BASE_URL+'/api/privy/backend/order', formData);
                urlBase
                .then((response) => {
                    
                    if(response.data.status =="SUCCESS")
                    {
                        //self.sendWa(response.data.send_wa);
                        self.$vToastify.success(response.data.messages);
                        self.CheckDocument();
                        self.getData();  
                    }    
                        
                }).catch((error) => {
                 
                });

           
            },
            // sendWa(input){
            //     const self = this;
            //     let urlBase="";
            //     const formData = new FormData();
                
            //     formData.append('api_key', 'c15978155a6b4656c4c0276c5adbb5917eb033d5');
            //     formData.append('sender', '6281350009452');
            //     formData.append('number', '6285726242220');
            //     formData.append('message', 'tes Api wa');    
            //     urlBase = axios.post('https://wa-api.wika.co.id/send-message', formData);
            //     urlBase
            //     .then((response) => {
                    
            //         console.log(response.data);
                        
            //     }).catch((error) => {
                 
            //     });

           
            // },
            searchData(data){
              this.getData(data)
            },
            getData(paramStatus){
                
                const self = this;
                let listUrl = "";
                self.type = "history";
                self.loadpage = true;
                self.listpage = false;

                self.resultNull = false;
                        

                if(self.halaman > 1)
                {
                    window.scrollTo(0,0); 
                }   
                 
                if(paramStatus)
                {
                                        
                   listUrl = BASE_URL + '/api/history?'+ paramStatus +'&page='+ self.halaman;   
                }else{
                   listUrl = BASE_URL + '/api/history?page='+ self.halaman;     
                }    

                 
                axios.get(listUrl).then((response) => {
                    
                    self.lists = response.data.result;
                    self.vendor = response.data.vendor;
                    self.location = response.data.location;
                    // self.sda = response.data.sda;
                    if(response.data.roles ==303)
                    {
                         self.CheckDocument();  
                    }    
                   
                   
                    self.loadpage = false;
                    if(response.data.total >0)
                    {    

                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;

                    }  


              
                    
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

           },
           
          getPdf(pdf_name){
            window.open(pdf_name);
          },
          
          getDataProduct(id,order_id,page,type){
                
                const self = this;
                let listUrl = "";
                
                if(type =='new')
                {
                   this.finder = this.listsNew.find(o => o.id === id); 
                }else if(type =="rev"){
                   this.finder = this.listsRev.find(o => o.id === id); 
                }else{
                  this.finder = this.listsAll.find(o => o.id === id); 
                }    

                self.loadProduct = id;
                     
                listUrl = BASE_URL + '/api/product-transport/'+ order_id +'?page='+ page;    
                axios.get(listUrl).then((response) => {
                   
                   
                   this.finder.product = response.data.result;
                   self.loadProduct = '';
                   if(response.data.nextPageUrl !=null)
                   {
                     self.nextpage = response.data.nextPageUrl;
                   } 
                     self.currentPage = response.data.currentPage;
                
                    
                }).catch((error) => {
                    console.log(error);
                    
                });

          },
          getDetail(order_code){
             this.$router.push({path:'/history/detail/'+ order_code})
          },
          ForwordToCart(order_code){
               const self = this;
                
                self.$swal({
                    title: "Apakah Anda Yakin?",
                    icon: "info"
                }).then((result) => {
                    if (result) {
                       self.AddToCart(order_code); 
                    }
                }); 
   
                

          },
          AddToCart(order_code){
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/forword/cart/'+ order_code;    
                axios.get(listUrl).then((response) => {
                    
                     self.socket.emit('cart_count', response.data.count); 
                     self.$vToastify.success(response.data.message); 

                     self.$router.push({path:'/cart'});
                }).catch((error) => {
                    console.log(error);
                    
                });

          },
          Rupiah(value)
          {
                let val = (value/1).toFixed(0).replace('.', ',');
                return 'Rp '+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          },

        }
    }
   
</script>

