<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title pull-left" id="exampleModalLabel">Cari Berdasarkan</h5>
                <button type="button" class="close" @click="$emit('close')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post"  @submit.prevent="RequestPost">

              <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                       <div class="form-group">
                          <label>No Order</label>
                           <input  @keypress="onlyNumber"  type="text"  class="form-control" v-model="order_code">
                           
                        </div>
                    </div>
                    

                  

                     

                    


                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Nama Vendor</label>
                        
                             <model-select class="select-weight"   :options="vendor"
                                     v-model="vendor_id"
                                     placeholder="Pilih Vendor">
                            </model-select> 
                        </div> 

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Lokasi</label>
                          <model-select class="select-weight"   :options="location"
                                     v-model="location_id"
                                     placeholder="Pilih Lokasi">
                            </model-select>
                          
                        </div> 
                    </div> 
                    
                  

                    <div class="col-sm-6">
                       <div class="form-group">
                          <label>Tanggal</label>
                           <v-md-date-range-picker class="form-control" @change="handleChange"
                                    :locale-data="locale"></v-md-date-range-picker>
                           
                        </div>
                    </div>

                    <div class="col-sm-6">
                       <div class="form-group">
                          <label>Status</label>
                            <model-select class="select-weight"   :options="statusApp"
                                     v-model="status"
                                     placeholder="Pilih Status">
                            </model-select> 

                           
                        </div>
                    </div>


                </div>
                
                
                 
                 
                
                
                   

                

                
                
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-cancel" @click="$emit('close')">Batal</button>
                <button type="submit" class="btn btn-info btn-submit">Cari</button>
              </div>

              </form>
            </div>
          </div>
        </div>  


       </transition>
     
</template>
<script>
   
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   export default {
        props:["vendor","location"],
        data() {
            return {
               
                order_code:'',
                vendor_id:'',
                location_id:'',      
                startDate :'',
                endDate:'',
               
                locale: {
                    separator: ' ~ ',
                    format: 'yyyy-mm-dd'
                   
                },   

               
               statusApp:[
              {value:'waiting-approval-1',text:'Waiting Approval 1'},{value:'waiting-approval-2',text:'Waiting Approval 2'},{value:'canceled',text:'Canceled'},{value:'revisi',text:'Revisi'},{value:'approved',text:'Approved'}],
               status:'',
               
               
            }
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
          ModelSelect,
        
        },
        methods: {
             onlyNumber ($event) {
               //console.log($event.keyCode); //keyCodes value
               let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
               if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                  $event.preventDefault();
               }
            },
            handleChange (values) {
            
               
                var event1 = new Date(values[0]._d);
                var date1 = new Date(event1),
                mnth1 = ("0" + (date1.getMonth()+1)).slice(-2),
                day1  = ("0" + date1.getDate()).slice(-2);
                this.startDate = date1.getFullYear() +"-"+ mnth1 +"-"+ day1;

                var event2 = new Date(values[1]._d);
                var date2 = new Date(event2),
                mnth2 = ("0" + (date2.getMonth()+1)).slice(-2),
                day2  = ("0" + date2.getDate()).slice(-2);
                this.endDate = date2.getFullYear() +"-"+ mnth2 +"-"+ day2;
     
            },
            RequestPost(){
               
             

                let srcParams = 'order_code='+ this.order_code +'&vendor_id='+ this.vendor_id +'&location_id='+ this.location_id +'&startdate='+ this.startDate +'&enddate='+ this.endDate +'&status='+ this.status;
                
                this.$emit('searchform', srcParams);
                this.$emit('close');
               
               
           },
           

        }
    }
   
</script>

