<template>
  
    <div class="row-cart" v-if="loadfilter ===false">
            <div class="center-cart">

                <div v-show="listpage" class="pull-left full mtb-8">
                    <h3>Keranjang </h3>
                </div>

                

                <div  class="i-cart-left">
                    <!-- <div class="row-wishlist border-search" style="">
   
                         <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw pull-left loading-circle"></i>
                         <h3 class="pull-left fw-600"> Waiting pemesanan anda sedang di verifikasi oleh Pihak Privy...... </h3>
                       
                    </div> -->

                    <div id="navbar" v-show="listpage" class="headers-cart box-border ">
                        <div class="left">
                            <div class="title-one">
                               
                                   <input type="checkbox" id="order_id"   ref="multiCheckbox" @change="toggleAllCheckboxes">

                                   
                               
                            </div>
                            <div class="title-two">
                              Pilih Semua
                            </div>  
                        </div>
                           <button class="right btn bg-destroy destroy-radius-ori" :disabled="isDestroy"  @click="Destroy()">
                                        Hapus
                           </button>
                       
                    </div>

                    <div v-if="BoxSelect == true" class="stickybox box-border">
                     <div class="content-header">
                        <div class="left">
                            <div class="title-one">
                                
                                    <input type="checkbox" id="order_id"  ref="multiCheckbox"  @change="toggleAllCheckboxes"></div>

                                    
                                
                            <div class="title-two">       
                                Pilih Semua
                            </div>
                        </div>
                        <button type="button" class="right btn bg-destroy destroy-radius-sticky" :disabled="isDestroy" @click="Destroy()">
                           Hapus
                        </button>
                      </div>
                    </div>    



                   
                    <div v-show="listpage" class="cart-left box-border" v-for="(pro,page)  in product" :key="pro.id">
                        <div class="margin-cart">
                            <div class="full pull-left">   
                               <div class="title-one ">
                               
                                 <input
                                    type="checkbox"
                                    :name="'status_' + page"
                                    :id="'action-create-' + page"
                                    @input="ChecklistVendor($event,pro.id)"
                                    class="status"
                                    :checked="pro.checklist"
                                    v-model="pro.checklist"
                                    ref="statusCheckbox"
                                  />    


                               </div>  
                               <div class="title-two padding-7-9">
                                
                                   <h4>{{ pro.vendor.text }}</h4>
                                   <span class="pull-left">{{ pro.location_name }}</span>
                               
                                
                               </div> 
                            </div>

                            <div class="second-top">
                               <div class="spasi-select"></div> 
                               <div class="tree-select">
                                 <div class="full pull-left border-top-grey border-bottom-grey pr-cart">

                                    <div class="pr-list-cart col-md-4">
                                        <img src="/img/pricebook.png" class="fa-24-20 pull-left"> 
                                        <div class="padding-0-10 pull-left"> {{ pro.pr_request.no_pr_request }}</div> 
                                    </div>

                                    <div class="col-md-8">
                                        <img src="/img/project.png" class="fa-24-20 margin-project pull-left"> 
                                        <model-select class="select-shipping pull-left width-90" v-model="pro.project_id"   :options="pro.project"
                                          :isDisabled="true"
                                           @input="onChangeAddress($event,pro.id,pro.vendor.value,pro.location_id)"
                                         placeholder="Pilih Project">
                                        </model-select>
                                       <!--   <span class="span-alert-cart">{{ pro.project_message }}</span> -->
                                    </div>

                                 </div>

                                 <div class="full pull-left border-bottom-dotted">
                                     <img src="/img/maps.png" class="fa-24-20 margin-5-4 pull-left"> 
                                     <p class="text-address">{{ pro.project_address }}</p>
                                 </div>
                                
                                <!--  <div class="separo pull-right">
                                    <input type="text" class="text-cart-1"  placeholder="Jl. Letkol Kesuma, No.39, PT. Minyak Tanah, ..." v-model="pro.project.address" disabled>
                                 </div>   --> 
                               </div>  
                            </div>  
                            
                            <div class="list-cart" v-for="(li,index) in pro.product" :key="li.id">   
                                <div class="title-one ">
                                <!--  <div class="icheckbox_square-blue">
                                   <input type="checkbox"  v-model="selectud" :value="li.id">
                                 </div>   -->
                                </div>  
                                <div class="title-two bor-bot">
                                    <div class="cart-item" v-bind:class="{ 'alert-volume': li.control.active }">  

                                        <div class="one">
                                            <img class="img-cart" :src="li.photo">
                                        </div>

                                        <!-- <div class="two">
                                         <div class="topi">
                                           <h4>{{ li.product_name }}</h4>  
                                         </div> 
                                         <div class="topi pt-8">
                                           <div class="cart-delete ptb-2" @click="destProduct(pro.id,li.id)">
                                                <div class="fa-icon-trush fa-21 fa-pointer"></div>
                                           </div> 
                                           <div class="cart-edit">
                                                <div class="fa-icon-minus fa-21 fa-pointer pull-left mtb-2" @click="decrement(pro.product,li.id)"></div> 
                                                
                                                <input type="text" @keypress="onlyNumber"  @keyup="InputFastQty($event,pro.product,li.id)" class="qty-cart" placeholder="100" v-model="li.qty" :maxlength="maxqty">

                                                <div class="fa-icon-add fa-21 fa-pointer pull-left mtb-2" @click="increment(pro.product,li.id)"></div>

                                           </div> 
                                           <div class="border-cart-right desktop-v"></div>

                                           <div class="cart-item-kg">
                                              <div class="pertext">{{ li.weight }} Kg</div>
                                           </div>

                                           <div class="border-cart-right ma-top"></div>
                                            <div class="cart-ksd ">
                                              <div class="pertext selec-cart1">{{ li.payment_name }}</div> 
                                           </div>
                                         </div> 
                                        </div> -->

                                        <div class="two">
                                         <div class="topi">
                                           <h4>{{ li.product_name }}</h4>  
                                         </div> 
                                         <div class="topi pt-8">
                                           <div class="cart-delete" @click="destProduct(pro.id,li.id)">
                                                <div class="fa-icon-trush fa-21 fa-pointer"></div>
                                           </div> 
                                            <div class="cart-edit">
                                                <div class="cart-minus btn-left-qty" @click="decrement(pro.product,li.id)">
                                                    <i class="fa-icon-minus fa-21 fa-pointer pull-left"></i>
                                                </div> 
                                                
                                                <input type="text" @keypress="onlyNumber"  @keyup="InputFastQty($event,pro.product,li.id)" class="qty-cart" placeholder="100" v-model="li.qty" :maxlength="maxqty">

                                                <div class="cart-plus btn-right-qty">
                                                    <i class="fa-icon-add fa-21 fa-pointer pull-left" @click="increment(pro.product,li.id)"></i>
                                                </div>
                                            </div>

                                          <div class="cart-item-kg">
                                                <div class="fa-icon-scale fa-20 fa-pointer pull-left"></div>
                                                <div class="pertext pull-left pad-center">{{ li.weight }} Kg</div>
                                            </div>   
                                          
                                           <div class="cart-ksd ">
                                              <div class="fa-icon-payment fa-20 fa-pointer pull-left"></div>  
                                              <div class="pertext pull-left pad-center">{{ li.payment_name }}</div> 
                                            </div>

                                            

                                         
                                           
                                         </div> 
                                        </div>
 

                                        <div class="tree desktop-v-content">
                                          <div class="topi full pull-left margin-7-0">
                                           <div class="pull-left font-12 padding-0-7-0-0 ">Harga</div>  
                                           <h4 class="pull-right">Rp {{ Rupiah(li.price) }} /Kg</h4>  
                                          </div>

                                         <div class="topi full pull-lef margin-7-0t">
                                           <div class="pull-left font-12 padding-0-7-0-0 ">Total Volume</div>  
                                           <h4 class="pull-right">{{ li.total_volume }} Kg</h4>  
                                          </div>
                                         
                                          <div class="topi full pull-left margin-7-0">
                                            <div class="pull-left font-12 padding-0-7-0-0 margin-11-0 ">Sub Total</div> <h4 class="pt-10 pull-right">Rp {{ Rupiah(li.subtotal) }} </h4>  
                                          </div> 


                                        </div> 

                                        <div class="tree mobile-v-content">
                                          <div class="topi full pull-left margin-7-0">
                                           <div class="pull-left font-12 padding-0-7-0-0 ">Harga</div>  
                                           <h4 class="pull-right">Rp {{ Rupiah(li.price) }} /Kg</h4>  
                                          </div>

                                         <div class="topi full pull-lef margin-7-0t">
                                           <div class="pull-left font-12 padding-0-7-0-0 ">Total Volume</div>  
                                           <h4 class="pull-right">{{ li.total_volume }} Kg</h4>  
                                          </div>
                                         
                                          <div class="topi full pull-left margin-7-0">
                                            <div class="pull-left font-12 padding-0-7-0-0 margin-11-0 ">Sub Total</div> <h4 class="pt-10 pull-right">Rp {{ Rupiah(li.subtotal) }} </h4>  
                                          </div> 


                                        </div> 

                                        

                                    </div> 
                                    <div class="box-alert-volume pull-left">
                                        <div class="span-alert-cart">{{ li.control.messages }}</div>
                                    </div> 

                                </div> 
                            </div>

                          

                            <div class="full pull-left list-bottom-cart  desktop-v-content">   
                                <div class="title-one hide-hipe">
                                
                                </div>  
                                <div class="title-two bor-bot total-volume">
                                    <div class="one hide-hipe">
                                       
                                    </div>

                                    <div class="two">
                                     <div class="topi">
                                        <div class="volume font-12">Total Volume</div> 
                                        <div class="total font-14">{{ pro.total_volume}} Kg</div>
                                     </div> 

                                    </div>

                                   <div class="tree">
                                      <div class="topi">
                                        <div class="pull-left font-12 padding-0-7-0-0 ">Total</div>  
                                        <h4 class="pull-right">Rp {{ Rupiah(pro.total_price) }}</h4>  
                                      </div> 
                                   </div> 
                                </div> 
                            </div>

                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right ">
                                <div class="label-right"> 
                                 <label class="lab-ship1">Term Of Delivery</label>
                                </div> 
                                <div class="label-right-value">
                                     <model-select class="select-shipping" :isDisabled="pro.shipping_checkbox"  @input="onChangeShippment($event,pro.id)"  :options="pro.shipping"
                                     v-model="pro.shipping_id"
                                    :placeholder="pro.loading_shipping">
                                    </model-select>

                                    <span class="span-alert-cart">{{ pro.shipping_id_message }}</span>
                                       
                                </div>   
                              </div>   
                            </div> 

                            <div class="shipping">
                               <div class="left"></div> 
                               <div class="right ptb-10">
                                
                                <div class="tr-checkbox">
                                 <div class="tr-checkbox">
                                    <div class="pull-left icheckbox_square-blue">
                                     
                                     <input type="checkbox" 
                                     :name="'transport_' + page"
                                     ref="transportCheckbox"   
                                     v-model="pro.transport"  
                                     :disabled="pro.transport_checkbox">

                                   <!--   <input type="checkbox" @input="ChecklistTrans($event,pro.id)" v-model="pro.transport"  :disabled="pro.transport_checkbox"> -->
                                    </div> 
                                    <label class="pull-left lab-ship2">Menggunakan Transportasi</label>
                                 </div>
                                 <div class="tr-checkbox" v-if="pro.transport == true">
                                        <div class="box-5"></div>  
                                        <div class="premi">Minimum Berat</div> 
                                        <div class="premi-persen">{{ pro.min_weight_transport }} Kg</div>
                                 </div> 
                                </div>


                                 <div class="tr-price" v-if="pro.transport == true">
                                      <div class="topcart">
                                       <h6>Rp {{ Rupiah(pro.transport_fee) }} / Kg</h6>  
                                      </div> 
                                      <div class="topcart">
                                        <h4 class="pt-10">Rp {{ Rupiah(pro.total_transport) }} </h4>  
                                      </div> 
                                 </div> 

                               </div>   
                            </div> 

                            <div class="transport" v-if="pro.transport == true">
                                <div class="left"></div>
                                <div class="right" >

                                    <div class="one" v-if="pro.list_vendor_transport == true">
                                        <model-select class="select-shipping"   :options="pro.vendor_transport"
                                         v-model="pro.vendor_transport_id"
                                         @input="onChangeVendorTransport($event,pro.id)"
                                         :placeholder="pro.loading_vendor_transport">
                                        </model-select>

                                        <div v-html="pro.vendor_transport_id_message"></div>
                                    </div>
                                    <div class="two" v-if="pro.list_vendor_transport == true">
                                        <model-select class="select-shipping" 
                                        @input="onChangeTransport($event,pro.id)"  :options="pro.transport_logistic"
                                         v-model="pro.transport_id"
                                         :placeholder="pro.loading_transport_id">
                                        </model-select>
                                         
                                        <div v-html="pro.transport_id_message"></div> 
                                         
                                    </div>
                                    <div class="tree" v-if="pro.list_vendor_transport == true">
                                        <model-select class="select-shipping" @input="onChangeTransportPrice($event,pro.id)"  :options="pro.transport_price"
                                         v-model="pro.transport_fee"
                                         :placeholder="pro.loading_transport_fee">
                                        </model-select>
                                        <div v-html="pro.price_transport_message"></div> 
                                       
                                    </div>

                                    <div class="four" v-if="pro.list_vendor_transport == false">
                                         <span class="alert-transport">
                                           Rute transportasi tidak ditemukan.
                                         </span>
                                    </div>    

                                </div>  


                            </div> 

                            
                            <div class="shipping" v-if="pro.transport == true">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1 font-label-12">UP Transportasi</label>
                                </div> 
                                <div class="label-right-value">
                                 <input type="text" class="textinput" v-model="pro.up_transport" @keyup="onInputUPTransport($event,pro.id)">   
                               
                                 <span class="padd-12 span-alert-cart">{{ pro.up_transport_message }}</span>
                                </div> 
                              </div>   
                            </div>

                             <div class="shipping" v-if="pro.transport == true">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1 font-label-12">Perihal Transportasi</label>
                                </div> 
                                <div class="label-right-value">
                                 <input type="text" class="textinput" v-model="pro.perihal_transport" @keyup="onInputPerihalTransport($event,pro.id)">   
                                 
                                 <span class="padd-12 span-alert-cart">{{ pro.perihal_transport_message }}</span>
                                </div> 
                              </div>   
                            </div>  

                            <div class="shipping"  v-if="pro.transport == true">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1 font-label-12">Catatan Transportasi</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize" v-model="pro.catatan_transport" @keyup="onInputNotedTransport($event,pro.id)"> </textarea> 
                                 <span class="padd-12 span-alert-cart">{{ pro.catatan_transport_message }}</span>
                                </div> 
                              </div>   
                            </div>    


                            <div class="shipping">
                               <div class="left"></div> 
                               <div class="right ptb-10">

                                <div class="tr-checkbox">

                                     <div class="tr-checkbox">
                                      
                                    <div class="pull-left">
                                        <input type="checkbox"  
                                          :name="'insurance_' + page" 
                                          v-model="pro.insurance" 
                                          ref="insuranceCheckbox"  
                                          :disabled="pro.insurance_checkbox">
                                    </div>
                                             

                                       
                                        <label class="lab-ship2">Asuransi</label>
                                         
                                     </div>
                                     
                                     <div class="tr-checkbox" v-if="pro.insurance == true">
                                        <div class="box-5"></div>  
                                        <div class="premi">Minimal Harga Premi</div> 
                                        <div class="premi-persen">Rp {{ Rupiah(pro.insurance_min_price) }} </div>
                                     </div>    
                                </div>
                                
                                 <div class="tr-price" v-if="pro.insurance  == true">
                                       <div class="topcart">
                                       <h6>Premi {{ pro.premi }} %</h6>  
                                      </div> 
                                      <div class="topcart ptb-8">
                                        <h4 >Rp {{ Rupiah(pro.total_insurance) }}</h4>  
                                      </div> 
                                 </div>   
                               </div>   
                            </div> 


                            <div class="transport" v-if="pro.insurance == true">
                                <div class="left"></div>
                                <div class="right" >

                                    <div class="one">
                                        <model-select class="select-shipping"  @input="onChangeInsurance($event,pro.id)" :options="pro.list_insurance"
                                         v-model="pro.insurance_vendor_id"
                                         :placeholder="pro.loading_list_insurance">
                                        </model-select>   

                                        <span class="span-alert-cart">{{ pro.insurance_vendor_id_message }}</span>
                                    </div>

                                </div>        
                            </div> 

                           <div class="shipping" v-if="pro.insurance == true">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1 font-label-12">UP Asuransi</label>
                                </div> 
                                <div class="label-right-value">
                                 <input type="text" class="textinput" v-model="pro.up_insurance" @keyup="onInputUPInsurance($event,pro.id)">   
                                
                                 <span class="padd-12 span-alert-cart">{{ pro.up_insurance_message }}</span>
                                </div> 
                              </div>   
                            </div> 

                            <div class="shipping" v-if="pro.insurance == true">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1 font-label-12">Perihal Asuransi</label>
                                </div> 
                                <div class="label-right-value">
                                 <input type="text" class="textinput" v-model="pro.perihal_insurance" @keyup="onInputPerihalInsurance($event,pro.id)">   
                                
                                 <span class="padd-12 span-alert-cart">{{ pro.perihal_insurance_message }}</span>
                                </div> 
                              </div>   
                            </div>  

                             <div class="shipping"  v-if="pro.insurance == true">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1 font-label-12">Catatan Asuransi</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize" v-model="pro.catatan_insurance" @keyup="onInputNotedInsurance($event,pro.id)"> </textarea> 
                                 <span class="padd-12 span-alert-cart">{{ pro.catatan_insurance_message }}</span>
                                </div> 
                              </div>   
                            </div>   


                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                 <div class="label-right">
                                    <label class="lab-ship1 font-label-12">Tanggal Barang Diterima</label>
                                 </div>
                                 <div class="label-right-value">
                                   

                                    <date-picker placeholder="Pilih Tanggal" v-model="pro.tgl_ambil"  type="date"  lang="en"    valueType="format" @input="onChangeDate($event,pro.id)"></date-picker> 

                                    <span class="padd-12 span-alert-cart">{{ pro.tgl_ambil_message }}</span>
                                 </div> 
                              </div>   
                            </div> 


                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1 font-label-12">UP Produk</label>
                                </div> 
                                <div class="label-right-value">
                                 <input type="text" class="textinput" v-model="pro.up_product" @keyup="onInputUPProduct($event,pro.id)">   
                                
                                 <span class="padd-12 span-alert-cart">{{ pro.up_product_message }}</span>
                                </div> 
                              </div>   
                            </div> 

                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right">
                                 <label class="lab-ship1 font-label-12">Perihal Produk</label>
                                </div> 
                                <div class="label-right-value">
                                 <input type="text" class="textinput" v-model="pro.perihal_product" @keyup="onInputPerihalProduct($event,pro.id)">   
                               
                                 <span class="padd-12 span-alert-cart">{{ pro.perihal_product_message }}</span>
                                </div> 
                              </div>   
                            </div> 

                            <div class="shipping">
                              <div class="left"></div> 
                              <div class="right">
                                <div class="label-right"> 
                                 <label class="lab-ship1 font-label-12">Catatan Produk</label>
                                </div> 
                                <div class="label-right-value">
                                 <textarea class="textdesc text-resize" v-model="pro.catatan_product" @keyup="onInputNotedProduct($event,pro.id)"> </textarea> 
                                 <span class="padd-12 span-alert-cart">{{ pro.catatan_product_message }}</span>
                                </div> 
                              </div>   
                            </div> 
                        </div>  
                       </div>
                    </div>  

                    <div v-show="listpage"  class="cart-right box-border ">
                        <div class="margin-right-cart">
                            <div class="top-right">
                                <div class="pull-left list-title">
                                 <h4>Ringkasan Belanja</h4>
                                </div>
                            </div>
                            <div class="center-right"> 
                                <div class="group-total-cart">

                                    <span class="color-blue-sea">Total Barang</span>
                                    <div class="cart-total" >
                                        <div  class="ul-center" v-for="pro in summary.product" :key="pro.id">
                                            <div class="li-left">
                                              <h5>Rp {{ Rupiah(pro.price) }}</h5> <span>({{ pro.quantity }})</span>
                                            </div> 
                                            <div class="li-right">
                                              <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div> 
                                            </div>
                                        </div>

                                                
                                    </div> 
                                </div>   
                                
                                <div class="group-total-cart">
                                    <span class="color-blue-sea">Total Volume</span>
                                    <div class="cart-total">

                                        <div class="ul-center">
                                            <div class="li-left">
                                              <h5>  {{ summary.total_volume }} Kg </h5> <span>({{ summary.total_qty }})</span>
                                            </div> 
                                            <div class="li-right">
                                              <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                            </div>
                                        </div>  
                                    </div> 
                                </div> 

                                <div class="group-total-cart" v-if="showTransport ==true">
                                    <span class="color-blue-sea">Total Biaya Transportasi</span>
                                    <div class="cart-total">

                                        <div class="ul-center">
                                            <div class="li-left">
                                              <h5> Rp {{ Rupiah(summary.total_transport) }} </h5> 
                                            </div> 
                                            <div class="li-right">
                                              <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                            </div>
                                        </div>  
                                    </div> 
                                </div> 

                                <div class="group-total-cart" v-if="showInsurance ==true">
                                    <span class="color-blue-sea">Total Biaya Asuransi</span>
                                    <div class="cart-total">

                                        <div class="ul-center">
                                            <div class="li-left">
                                              <h5>  Rp {{ Rupiah(summary.total_insurance) }} </h5> <span>({{ summary.total_premi }} %)</span>
                                            </div> 
                                            <div class="li-right">
                                              <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                            </div>
                                        </div>  
                                    </div> 
                                </div> 
                            </div>

                            <div class="bottom-right">
                               <div class="btm-left-right">
                                   <h4>Total</h4>
                               </div>
                               <div class="btm-right-right"> 
                                   <h4>Rp {{  Rupiah(summary.total_order) }}</h4>   
                               </div> 

                               <div class="rum-bottom">
                              

                                    <button  @click="postData(BtnOrder);"class="btn btn-info btn-proses" :disabled="BtnOrder">
                                        <i v-if="BtnOrderLoader ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                                      <span v-else >PROSES</span>
                                    </button>
                               </div> 
                            </div> 
                        </div>

                        <!-- <RightCart :BtnOrder="BtnOrder" :BtnOrderLoader="BtnOrderLoader" :summary="summary" :product="product" :token="_token"  :showTransport="showTransport" :showInsurance="showInsurance"></RightCart> -->

                        <div v-if="rightSticky == true" class="sticky desktop-v">
                        
                            <div class="box-stiky box-border">
                               <!--  <RightCart :BtnOrder="BtnOrder" :BtnOrderLoader="BtnOrderLoader" :summary="summary" :product="product" :token="_token"  :showTransport="showTransport" :showInsurance="showInsurance"></RightCart> -->
                              
                                <div class="margin-right-cart">

                                   <div class="top-right">   
                                       <div class="pull-left list-title">
                                         <h4>Ringkasan Belanja</h4>
                                       </div>
                                   </div>

                                    <div class="center-right">
                                       <div class="group-total-cart">
                                            <span class="color-blue-sea">Total Barang </span>
                                            <div class="cart-total" >
                                                <div class="ul-center" v-if="summary.total_product > 0"  v-for="pro in summary.product" :key="pro.id">
                                                    <div class="li-left">
                                                      <h5>Rp {{ Rupiah(pro.price) }}</h5> <span>({{ pro.quantity }})</span>
                                                    </div> 
                                                    <div class="li-right">
                                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div> 
                                                    </div>
                                                </div> 

                                                <div class="ul-center" v-else>
                                                    <div class="li-left">
                                                      <h5>Rp 0 </h5> <span>(0)</span>
                                                    </div> 
                                                    <div class="li-right">
                                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div> 
                                                    </div>
                                                </div>       
                                            </div> 
                                       </div> 

                                       <div class="group-total-cart">
                                            <span class="color-blue-sea">Total Volume</span>
                                            <div class="cart-total">

                                                <div class="ul-center">
                                                    <div class="li-left">
                                                      <h5>  {{ summary.total_volume }} Kg </h5> <span>({{ summary.total_qty }})</span>
                                                    </div> 
                                                    <div class="li-right">
                                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                                    </div>
                                                </div>  
                                            </div> 
                                        </div> 


                                        <div class="group-total-cart" v-if="showTransport ==true">
                                            <span class="color-blue-sea">Total Biaya Transportasi</span>
                                            <div class="cart-total">

                                                <div class="ul-center">
                                                    <div class="li-left">
                                                      <h5> Rp {{ Rupiah(summary.total_transport) }} </h5> 
                                                    </div> 
                                                    <div class="li-right">
                                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                                    </div>
                                                </div>  
                                            </div> 
                                        </div> 

                                        <div class="group-total-cart" v-if="showInsurance ==true">
                                            <span class="color-blue-sea">Total Biaya Asuransi</span>
                                            <div class="cart-total">

                                                <div class="ul-center">
                                                    <div class="li-left">
                                                      <h5>  Rp {{ Rupiah(summary.total_insurance) }} </h5> <span>({{ summary.total_premi }} %)</span>
                                                    </div> 
                                                    <div class="li-right">
                                                      <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                                                    </div>
                                                </div>  
                                            </div> 
                                        </div>

                                    </div> 
                                    <div class="bottom-right">
                                           <div class="btm-left-right">
                                               <h4>Total</h4>
                                           </div>

                                           <div class="btm-right-right"> 
                                               <h4>Rp {{  Rupiah(summary.total_order) }}</h4>   
                                           </div> 

                                           <div class="rum-bottom">
                                         

                                                <button @click="postData(BtnOrder);"class="btn btn-info btn-proses" :disabled="BtnOrder">
                                                    <i v-if="BtnOrderLoader ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                                                  <span v-else >PROSES</span>
                                                </button>
                                           </div> 
                                    </div>  


                                </div>
                            </div> 
                         
                        </div> 

                        


                    </div> 

                    


                </div> 
                <div v-show="loadpage" is="LoadingPage"></div>
                <div v-show="resultNull"  is="PageNotFound"  ></div>
               
                
                

            </div>                  
    </div>    

   <div v-else>
       <ListFilter :filter="filterData"></ListFilter>
  </div>  
</template>

<script> 
   import DatePicker from 'vue2-datepicker';
   import 'vue2-datepicker/index.css';
   import { ModelSelect } from 'vue-search-select';
   import 'vue-search-select/dist/VueSearchSelect.css';
   import io from 'socket.io-client';
   export default {
       
        props:["ShowPR","ShowHistory","Page","Apps","filter","SocketIo"],
        data() {
            return { 
              socket: [], 
              isDestroy:true, 
              loadfilter:false,    
              selected: [],
              selectud: [],
              requested:[],
              checkedtrans:[],
              checkedinsurance:[], 
              filterData:[], 
              loadpage:true, 
              listpage:false,  
              resultNull:false,
              TransportView:true, 
              checkorder:true, 
             
              checkproduct:[],
             
             
             
              shipping:[],
              shipping_id:0,
              project_id:0,
              project:{},
              address:'',
              findproject:{},
              product:[],
              payment:[],
              arrinsurance:[],
              insurance_id:0,
              totalall:'',
              premi:0,
              
              noted:'',
              dated:'',
              quantity:'',
              venTransport:[],
              vendor_trasport_id:0,
              transport:[],
              transport_id:0,
              transport_price:[],
              transport_price_id:0,
              transport_fee:0,
              total_transport:0,
              total_insurance:0,
              order_code:'',
              BtnOrder:true,
              BtnOrderLoader:false,
              showTransport:false,
              showInsurance:false,
              rightSticky:false,
              BoxSelect:false,
              windowTop:0,
              maxqty:'20',
              summary:[],
              _token:'',

            }
        },
        created() {  
             document.title = this.Apps;
             window.addEventListener("scroll", this.onScrollCart);
             this.socket = io(this.SocketIo);
             this.$emit('checkPRRequest',false);
             this.$emit('ShowPR',this.ShowPR);
             this.$emit('ShowHistory',this.ShowHistory); 
             this.getCart();


        },
        updated() {
           
           this.initializeICheck(); // Re-initialize on update if the list changes
             
        },
        mounted(){

          this.initializeICheck();
              
          
        }, 
        watch: {
            Apps: function(result) { 
              document.title = this.Apps; 
              this.loadfilter = false; 
              this.getCart();
            },
            filter: function(result) { 
               const self = this;
                 
               if(result.filter_type !="filter_sort")
               {
                   
                  this.$store.commit('setFilterBack', result); // Buat mutation untuk menyimpan data
                  self.$router.push({ path: '/' });
                  self.loadpage = false;
                  self.listpage = false;
                  self.loadfilter = true;
               }
               
              
            } 
        },
        beforeDestroy() {
          window.removeEventListener("scroll", this.onScrollCart)
        },
        computed: {
            base_url() {
                return BASE_URL;
            },
            

        },
        
        components: {
            ModelSelect,
            DatePicker,
            // 'RightCart': require('./rightCart.vue').default, 
            'LoadingPage': require('../../loading/frontend/cart.vue').default, 
            'ListFilter': require('../index/filter.vue').default,
            'PageNotFound': require('../layout/cart404.vue').default,
        },
        methods: {
            initializeICheck() {
              this.$nextTick(() => {
                if (typeof $ !== 'undefined' && $.fn.iCheck) {
                  // Initialize iCheck for multiCheckbox
                  $(this.$refs.multiCheckbox).iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    increaseArea: '20%',
                  }).off('ifChanged').on('ifChanged', (event) => {
                    this.toggleAllCheckboxes(event);
                  });

                  // Initialize iCheck for statusCheckbox
                  $(this.$refs.statusCheckbox).iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%',
                  }).off('ifChanged').on('ifChanged', (event) => {
                    const checkbox = event.target;
                    const index = checkbox.name.split('_')[1];
                    if (index !== undefined && this.product[parseInt(index)] !== undefined) {
                      const el = this.product[parseInt(index)];
                      el.checklist = $(checkbox).prop('checked');
                      this.getAction(el.checklist, el.id);
                    }
                  });

                  $(this.$refs.transportCheckbox)
                  .iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    increaseArea: '20%'
                  })
                  .on('ifChanged', (event) => {
                        const checkbox = event.target;  
                        const index = checkbox.name.split('_')[1]; // Sesuaikan dengan name atau atribut unik
                        const checked = checkbox.checked;
                        
                        if (index !== undefined) {
                          const item = this.product[parseInt(index)];
                          item.transport = event.target.checked;
                          this.ChecklistTrans(item.transport, item.id); // Sesuaikan dengan fungsi
                        }
                  });

                   $(this.$refs.insuranceCheckbox)
                  .iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    increaseArea: '20%'
                  })
                  .on('ifChanged', (event) => {
                        const checkbox = event.target;  
                        const index = checkbox.name.split('_')[1]; // Sesuaikan dengan name atau atribut unik
                        const checked = checkbox.checked;
                        
                        if (index !== undefined) {
                          const item = this.product[parseInt(index)];
                          item.insurance = event.target.checked;
                          this.ChecklistIns(item.insurance, item.id); // Sesuaikan dengan fungsi
                        }
                  });


                  


                } 
              });
            },

            toggleAllCheckboxes(event){
              const isChecked = event.target.checked;
    
              this.product.forEach((el) => {
                el.checklist = isChecked;
                 this.selected.push(el.id);
                 if(el.checklist == true)
                 {
                    this.BtnOrder = false;
                 }else{
                    this.BtnOrder = true; 
                 }   
              });

              this.initializeICheck(); // Re-initialize to apply the changes
            },
             getAction(event,id){
               this.selected.push(id);
               var checkedItems = this.product.filter(function(item) {
                    return item.checklist === true;
                });

               if(checkedItems.length > 0)
               {
                  this.BtnOrder = true;
               }else{
                  this.BtnOrder = false;
               }
              
               this.ChecklistVendor(event,id);


           },
            onScrollCart(e) {
               this.windowTop = e.target.documentElement.scrollTop;
              

                  if(this.windowTop > 360)
                  {
                     this.rightSticky = true;
                     this.BoxSelect = true;
                  }else{
                    this.rightSticky = false;
                     this.BoxSelect = false;
                  }  
            } , 

            onlyNumber ($event) {
               //console.log($event.keyCode); //keyCodes value
               let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
               if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                  $event.preventDefault();
               }
            },
            Destroy(){

                  const self = this;
                  var checkedIds = this.product.filter(item => item.checklist === true).map(item => item.id);
                
                  if(checkedIds.length != 0)
                  {

                    self.$swal({
                        title: "Apakah Anda Yakin?",
                        icon: "info"
                    }).then((result) => {
                        if (result) {
                            let urlBase="";
                            let formData = new FormData();
                           // var data = [this.selected];
                            formData.append('data', checkedIds);  
                            urlBase = axios.post(BASE_URL+'/api/delete-vendor', formData);
                            urlBase
                            .then((response) => {
                               self.getCart();
                            }).catch((error) => {
                                console.log(error)
                            }); 
                     
                        }
                    }); 
   

                  }else{

                        self.$swal({
                            title: "Vendor belum di pilih!!",
                            icon: "error"
                        }).then((result) => {
                            if (result) {
                                
                            }
                        });

                  }  
                 
                 
            },

            getCart(){
              
                const self = this;
                self.loadpage = true;
                self.listpage = false;
                let listUrl = "";
                listUrl = BASE_URL + '/api/cart';    
                axios.get(listUrl).then((response) => {
                  
                    //self.project = response.data.project;
                    // self.shipping = response.data.shipping;
                    // self.insurance = response.data.arrinsurance;
                   
                    self.showInsurance = response.data.cart.insurance;

                    
                    
                    self.total_transport = response.data.total_transport;

                    self.premi = response.data.premi;
                    self.total_insurance = response.data.total_insurance;
                   

                    self.loadpage = false; 

                    self.product = response.data.cart;
                    self._token = response.data.token;

                  

                    let findTransport =  self.product.filter(item => item.transport === true).length;
                    if(findTransport > 0)
                    {
                        self.showTransport = true; 
                    } 

                    let findInsuranse =  self.product.filter(item => item.insurance === true).length;
                    if(findInsuranse > 0)
                    {
                        self.showInsurance = true; 
                    }

                   

                    if(self.product.length !=0)
                    {
                     
                       self.listpage = true;
                       self.resultNull = false;   
                       this.getSummary();

                      
                    }else{

                      self.resultNull = true; 
                      self.listpage = false; 
                    }    

                     
                     this.CheckDestroy();


                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                   // window.location.href = BASE_URL+ '/login';
                    
                });
             
            },
            CheckDestroy(){
                var checkedIds = this.product.filter(item => item.checklist === true);
                if(checkedIds.length > 0)
                {
                    this.isDestroy = false;
                }else{
                   this.isDestroy = true; 
                } 
            },
            getSummary(){
                const self = this;
                let listUrl = "";
                listUrl = BASE_URL + '/api/summary';    
                axios.get(listUrl).then((response) => {
                  
                  self.summary = response.data;
                  if(self.summary.total_price > 0)
                  {
                     self.BtnOrder = false;
                     self.BtnOrderLoader = false;
                     
                  }else{
                     self.BtnOrder = true;
                     self.BtnOrderLoader = false;
                  }  

                }).catch((error) => {
                    console.log(error);
                   // $cookies.remove('token');
                   // window.location.href = BASE_URL+ '/login';
                    
                });
            },
            ChecklistVendor(event,cart_id){
               
                const self = this;
               var selectud = []; 
              
                let urlBase="";
                let formData = new FormData();
                formData.append('checklist',event); 
                formData.append('type', 'checklist'); 
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {

                   
                    self.getSummary();
                    self.CheckDestroy();

                }).catch((error) => {
                 
                });  
               

                      
                
            },
            onChangeAddress($event,cart_id,vendor_id,location_id){
                const self = this;
               
                self.findproject = self.project.find(o => o.value == $event);
                self.findcart = self.product.find(o => o.id == cart_id);
                self.findcart.shipping_id = 0;
                self.findcart.shipping_checkbox = true;
                self.findcart.list_vendor_transport = true;
                self.findcart.project_address = self.findproject.address;
                let vendor_transport_id = '';
                
    
                let urlBase="";
                let formData = new FormData();
                let data = {
                        "project_id":$event,
                        "address":self.findproject.address,
                        "destination_id":self.findproject.location_id,
                    };
                    
                formData.append('data', JSON.stringify(data)); 
                formData.append('type', 'project_id'); 
                formData.append('id', cart_id);
              
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {

                   let type = 'vendor_transport';
                   self.findcart.vendor_transport_id = response.data.vendor_transport_id;
                   self.findcart.transport_id = response.data.transport_id;
                   self.findcart.transport_fee = response.data.transport_fee;
                   self.GetVendorTrans(cart_id,$event,vendor_id,location_id,vendor_transport_id,type);
                   

                }).catch((error) => {
                 
                }); 
               
            },

            
            GetVendorTrans(cart_id,project_id,vendor_id,location_id,vendor_transport_id,type){
           
                const self = this; 
                self.findVendor = self.product.find(o => o.id == cart_id); 
                self.findVendor.loading_shipping = 'Loading ....'; 
                self.findVendor.loading_vendor_transport = 'Loading ....';
                self.findVendor.loading_transport_id = 'Loading ....';
                self.findVendor.loading_transport_fee = 'Loading ....';
               
                let urlBase="";
                let formData = new FormData();
                formData.append('project_id', project_id);
                formData.append('location_id', location_id);
                formData.append('vendor_id', vendor_id);
                formData.append('type', type); 
                formData.append('vendor_transport_id', vendor_transport_id); 
                 
                urlBase = axios.post(BASE_URL+'/api/vendor-transport', formData);
                urlBase
                .then((response) => {

                   
                    // self.findVendor = self.product.find(o => o.id == cart_id); 
                     self.findVendor.vendor_transport  = response.data;
                     if(self.findVendor.vendor_transport.length < 1)
                     {
                         self.findVendor.list_vendor_transport = false;
                     }else{
                        self.findVendor.list_vendor_transport = true;
                     }  

                    
                                        
                     self.findVendor.loading_shipping = 'Pilih Jenis Pengiriman';
                     self.findVendor.loading_vendor_transport = 'Pilih Vendor Transport';
                     self.findVendor.loading_transport_id = 'Pilih Transportasi';
                     self.findVendor.loading_transport_fee = 'Pilih Harga';
                     self.findVendor.shipping_checkbox = false; 
                     

                     

                    
                     
                     

                }).catch((error) => {
                 
                    console.log(error)
                                 
               
                });


            },
            onChangeVendorTransport($event,cart_id){
                const self = this;
                let urlBase="";
                let formData = new FormData();
                let data = $event;
                formData.append('data', data);
                formData.append('type', 'vendor_transport');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {
            
                    let findProject = self.product.find(o => o.id == cart_id); 
                    findProject.vendor_transport_id_message = '';

                    findProject.loading_vendor_transport = 'Pilih Vendor Transport';
                    findProject.loading_transport_id = 'Loading ....';
                    findProject.loading_transport_fee = 'Loading ....';
                    self.getSummary(); 
                    let type = "transport";
                    this.GetTransport(cart_id,findProject.project_id,$event,findProject.vendor.value,findProject.location_id,findProject.pr_request.pr_request_id,type);
                 
                    
                  
                }).catch((error) => {
                    console.log(error)
                }); 
                
            },
            GetTransport(cart_id,project_id,vendor_transport_id,vendor_id,location_id,pr_request_id,type){
                
                const self = this; 
                let urlBase="";
                let formData = new FormData();
                formData.append('project_id', project_id);
                formData.append('location_id', location_id);
                formData.append('vendor_id', vendor_id);
                formData.append('pr_request_id', pr_request_id)
                formData.append('type', type); 
                formData.append('vendor_transport_id', vendor_transport_id); 
                 
                urlBase = axios.post(BASE_URL+'/api/vendor-transport', formData);
                urlBase
                .then((response) => {
 
                self.findtransport = self.product.find(o => o.id == cart_id); 
                self.findtransport.transport_logistic = response.data;

                self.findtransport.loading_transport_id = 'Pilih Transportasi';
                self.findtransport.loading_transport_fee = 'Pilih Harga';
                self.findtransport.transport_id = 0;
                self.findtransport.transport_fee = 0;
                self.findtransport.total_transport = 0; 


                }).catch((error) => {
                 
                    console.log(error)
                                 
               
                });


            },
            onChangeTransport($event,cart_id){
                const self = this;
                self.findtransport = self.product.find(o => o.id == cart_id); 
                self.findLog = self.findtransport.transport_logistic.find(o => o.value == $event);
                var min_weight_transport = self.findLog.min_weight_transport * 1000;
                self.findtransport.min_weight_transport = self.findLog.min_weight_transport;
                self.findtransport.loading_transport_fee = 'Loading ....';

                let urlBase="";
                let formData = new FormData();
                let data = {
                        "transport_id":$event,
                        "min_weight_transport":min_weight_transport,
                    };
                    
                formData.append('data', JSON.stringify(data));
                formData.append('type', 'transport_id');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {

                   
                     
                     self.findtransport.transport_id_message = '';
                     self.GetPriceTransport(cart_id,$event,self.findtransport.vendor.value,self.findtransport.location_id,min_weight_transport);
                  
                }).catch((error) => {
                    console.log(error)
                }); 
               
              
               
            },
            GetPriceTransport(cart_id,id,vendor_id,location_id,min_weight_transport){
              
                const self = this; 
                  self.findtransportfee = self.product.find(o => o.id == cart_id);   
                  self.findtransportfee.loading_transport_fee = 'Loading ....';
                let urlBase="";
                let formData = new FormData();
                formData.append('transport_id', id);
                formData.append('location_id', location_id);
                formData.append('vendor_id', vendor_id);
                formData.append('min_weight_transport', min_weight_transport);
                formData.append('total_volume', self.findtransportfee.total_volume); 
                urlBase = axios.post(BASE_URL+'/api/transport-price', formData);
                urlBase
                .then((response) => {
                    
                     self.findtransportfee.loading_transport_fee = 'Pilih Harga';
                     self.findtransportfee.transport_fee = 0;
                     self.findtransportfee.transport_price  = response.data;
                  

                }).catch((error) => {
                 
                    console.log(error)
                                 
               
                });

            },
            onChangeTransportPrice($event,cart_id){
                const self = this;
                self.findtransport = self.product.find(o => o.id == cart_id); 
                self.findfee = self.findtransport.transport_price.find(o => o.value == $event);
               

    
                let urlBase="";
                let formData = new FormData();
                let data = {
                        "transport_fee":self.findfee.value,
                        "transport_name":self.findfee.text,
                        "total_volume":self.findfee.total_volume,
                        "min_weight_transport": self.findfee.min_weight_transport,
                    };
                    
                formData.append('data', JSON.stringify(data));
                    
                formData.append('type', 'transport_fee');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {
                    self.getSummary();
                    self.findtransport.price_transport_message = '';
                    self.findtransport.transport_fee = $event;
                    self.findtransport.total_transport = response.data.total_transport;
                    self.total_transport = response.data.total_transport;
                  
                }).catch((error) => {
                    console.log(error)
                }); 
               


            },
            onChangeShippment($event,cart_id){
                const self = this;
              
                let urlBase="";
                let formData = new FormData();
                let data = $event;
                formData.append('data', data);
                formData.append('type', 'shipping');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {

                    self.findcart = this.product.find(o => o.id == cart_id);
                    var shipping = self.findcart.shipping.find(o => o.value == $event);
                     self.findcart.vendor_transport_id = 0;
                     self.findcart.transport_id = 0;
                     self.findcart.transport_fee = 0;
                     self.findcart.total_transport = 0;
                     self.findcart.transport_fee = 0;
                     self.findcart.transport_logistic = [];
                     self.findcart.transport_price = [];
                     self.findcart.premi = 0;
                     self.findcart.total_insurance = 0;
                     self.findcart.insurance_vendor_id =0;
                     self.findcart.shipping_id_message = '';

                     self.findcart.up_transport = '';
                     self.findcart.up_transport_message = '';

                     self.findcart.perihal_transport = '';
                     self.findcart.perihal_transport_message = '';

                     self.findcart.catatan_transport = '';
                     self.findcart.catatan_transport_message = '';


                     self.findcart.up_insurance = '';
                     self.findcart.up_insurance_message = '';

                     self.findcart.perihal_insurance = '';
                     self.findcart.perihal_insurance_message = '';

                     self.findcart.catatan_insurance = '';
                     self.findcart.catatan_insurance_message = '';
                
                    if(shipping.value == '1')
                    {
                        self.findcart.transport = false;
                        self.findcart.transport_checkbox = true;  
                        self.findcart.insurance = false;
                        self.findcart.insurance_checkbox = true; 
                        self.showTransport=false;
                        self.showInsurance=false;  
                        

                    }else{
                        self.findcart.transport = true;
                        self.findcart.transport_checkbox = false; 
                        self.findcart.loading_vendor_transport = 'Loading ...';
                        self.findcart.loading_transport_id = 'Loading ...';
                        self.findcart.loading_transport_fee = 'Loading ...';
                        self.findcart.loading_list_insurance = 'Loading ...';

                        if (self.timer) {
                           clearTimeout(self.timer);
                           self.timer = null;
                        }
                        self.timer = setTimeout(() => {
                           self.findcart.loading_vendor_transport = 'Pilih Vendor Transport';
                           self.findcart.loading_transport_id = 'Pilih Vendor Transport';
                           self.findcart.loading_transport_fee = 'Pilih Harga';
                           self.findcart.loading_list_insurance = 'Pilih Vendor Asuransi';
                        }, 800);

                        
                        self.findcart.insurance = true;
                        self.findcart.insurance_checkbox = false;
                        self.showTransport=true;
                        self.showInsurance=true; 
                    }    
                

                }).catch((error) => {
                    console.log(error)
                }); 
                


            },
            onChangeInsurance($event,cart_id){
             const self = this; 
             if($event !=0)
             {
                 self.findinsuranse = self.product.find(o => o.id == cart_id); 
                 self.findlist = self.findinsuranse.list_insurance.find(o => o.value == $event);
                 self.findinsuranse.insurance_min_price = self.findlist.min_price;
             
                  
                
                let urlBase="";
                let formData = new FormData();
                let data = {
                        "premi":self.findlist.nilai_asuransi,
                        "insurance_id":self.findlist.id,
                        "insurance_vendor_id":self.findlist.value,
                        "insurance_name": self.findlist.text,
                        "insurance_min_price": self.findlist.min_price,
                    };
                    
                formData.append('data', JSON.stringify(data));
                    
                formData.append('type', 'insurance_id');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {

                     self.findinsuranse.insurance_id = self.findlist.id;
                     
                     self.findinsuranse.insurance_vendor_id_message = '';
                     self.findinsuranse.premi = response.data.premi;


                     self.findinsuranse.insurance_min_price = self.findlist.min_price;
                     self.findinsuranse.insurance_vendor_id = self.findlist.value;
                     self.findinsuranse.insurance_name = self.findlist.text;

                     self.findinsuranse.total_insurance = response.data.total_insurance;
                     self.premi = response.data.premi;
                     self.total_insurance =  response.data.total_insurance;;
                     self.getSummary();

                     
                   
                }).catch((error) => {
                    console.log(error)
                }); 
                
             }   
                
             
            },
            
            postData(status){
                const self = this; 
                if(status == false)
                {
                    
                    self.BtnOrder = true;
                    self.BtnOrderLoader = true;
                    let urlBase="";
                    let formData = new FormData();
                    
                    var checkedIds = self.product.filter(item => item.checklist === true).map(item => item.id);
                    
                    formData.append('product_id', [checkedIds]);
                    formData.append('product', JSON.stringify(self.product));
                    formData.append('_token', self._token);
                   // 
                    
                    urlBase = axios.post(BASE_URL+'/api/create-order', formData);
                    urlBase
                    .then((response) => {
                    

                       if(response.data.status == true)
                       {
                          
                          self.socket.emit('cart_count', response.data.cart_count);
                          //self.socket.emit('order_count', response.data.order_count);
                          self.$router.push({path:'/history'});
                       } 
                     
                    
                    }).catch((error) => {
                         self.BtnOrder = false;
                           self.BtnOrderLoader = false;


                         if(error.response.data.type =='server' || error.response.data.type =='revisi')
                         {
                                self.$swal({
                                    title: error.response.data.message,
                                    icon: "error"
                                }).then((result) => {
                                    
                                });  

                         }else{
                            self.errors = error.response.data[0];
                            self.product = self.errors['message'];
                             
                         }  

                     
                         
                        
                        
                    });
                }else{
                  self.BtnOrder = false;
                }      
             
            },
          
            
            increment(product,detail_id) {
             // this.quantity++
                const self = this;
                self.findproduct = product.find(o => o.id == detail_id);
                self.findproduct.qty++;
                self.findproduct.total_price = self.findproduct.qty * self.findproduct.price;

                self.productQuantity(product,detail_id,self.findproduct.qty);
            },
            decrement(product,detail_id) {
             
                const self = this;
                self.findproduct = product.find(o => o.id == detail_id);
                if(self.findproduct.qty < 2)
                {
                  self.findproduct.qty =1;
                }else{
                  self.findproduct.qty--;
                  self.findproduct.total_price = self.findproduct.qty * self.findproduct.price;
                  self.productQuantity(product,detail_id,self.findproduct.qty);
                }    
               
            },
            InputFastQty($event,product,detail_id){
              const self = this;
              let qty = $event.target._value;
              self.findproduct = product.find(o => o.id == detail_id);
              if(self.findproduct.qty < 2)
              {
                 self.findproduct.qty = 1;
              }else{
                self.findproduct.qty = qty;
                self.findproduct.total_price = self.findproduct.qty * self.findproduct.price;
                self.productQuantity(product,detail_id,self.findproduct.qty);
              }    
            },
            productQuantity(product,detail_id,qty){
                const self = this;
                self.findproduct = product.find(o => o.id == detail_id);
                let urlBase="";
                let formData = new FormData();
                formData.append('id', detail_id);
                formData.append('qty', qty);
                urlBase = axios.post(BASE_URL+'/api/update-qty', formData);
                urlBase
                .then((response) => {
                   
                    self.findproduct.control.active = response.data.active;
                    self.findcart = self.product.find(o => o.cart_id == self.findproduct.cart_id);
                    self.findproduct.total_volume = response.data.total_volume;
                    self.findproduct.subtotal = response.data.subtotal;
                    self.findproduct.control.messages = response.data.messages;

                    self.findcart.total_volume = response.data.total_volume;
                    self.findcart.total_price = response.data.total_price;
   
                    self.getSummary();
                    

                }).catch((error) => {

                   self.findproduct.control.active = true;
                   //self.findproduct.control.messages = 'Jumlah quantity maksimal 100000';
                }); 

                
            },

            destProduct(cart_id,detail_id)
            {
                const self = this;
                let urlBase="";
                let formData = new FormData();
                formData.append('cart_id', cart_id);
                formData.append('id', detail_id);
                urlBase = axios.post(BASE_URL+'/api/delete-product', formData);
                urlBase
                .then((response) => {
                   self.getCart();
                }).catch((error) => {
                    console.log(error)
                }); 
                     


            },
            onChangeDate($event,cart_id)
            {
                const self = this;  
                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                   
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event;
                    formData.append('data', data);
                    formData.append('type', 'tgl_ambil');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.tgl_ambil_message = '';

                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 800);


                
                
                
            },

            onInputUPTransport($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'up_transport');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.up_transport_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);

            },

             onInputPerihalTransport($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'perihal_transport');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.perihal_transport_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);


                 
            },

            onInputNotedTransport($event,cart_id){
                const self = this;

                if (self.timer) {
                    clearTimeout(this.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'catatan_transport');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {

                         const find = self.product.find(o => o.id == cart_id);
                         find.catatan_transport_message = '';
                       
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);

            },

             onInputUPProduct($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'up_product');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.up_product_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);


                 
            },

            onInputPerihalProduct($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'perihal_product');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.perihal_product_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);


                 
            },

            onInputNotedProduct($event,cart_id){
                const self = this;

                if (self.timer) {
                    clearTimeout(this.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'catatan_product');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {

                         const find = self.product.find(o => o.id == cart_id);
                         find.catatan_product_message = '';
                       
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);

            },

            ChecklistTrans(event,cart_id){
                const self = this;
                let urlBase="";
                let formData = new FormData();
                let data = event;
                
                self.findproduct = self.product.find(o => o.id == cart_id); 
                
                formData.append('data', data);
                formData.append('type', 'transport');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {
                    self.getSummary();
                   
                    
                    self.showTransport  = data;
                    if(data == false)
                    {
                          self.findproduct.vendor_transport_id = 0;
                          self.findproduct.transport_id = 0;
                          self.findproduct.transport_fee = 0;
                          self.findproduct.total_transport = 0;
                          self.findproduct.transport_fee = 0;
                          self.findproduct.transport_logistic = [];
                          self.findproduct.transport_price = [];

                          
                            
                         
                    }else{

                         self.findproduct.loading_vendor_transport = 'Loading ...';
                         self.findproduct.loading_transport_id = 'Loading ...';
                         self.findproduct.loading_transport_fee = 'Loading ...';

                        
                       

                        if (self.timer) {
                           clearTimeout(self.timer);
                           self.timer = null;
                        }
                        self.timer = setTimeout(() => {
                           self.findproduct.loading_vendor_transport = 'Pilih Vendor Transport';
                           self.findproduct.loading_transport_id = 'Pilih Vendor Transport';
                           self.findproduct.loading_transport_fee = 'Pilih Harga';

                        }, 800);

                    }


                  self.findproduct.up_transport = '';
                  self.findproduct.up_transport_message = '';

                  self.findproduct.perihal_transport = '';
                  self.findproduct.perihal_transport_message = '';

                  self.findproduct.catatan_transport = '';
                  self.findproduct.catatan_transport_message = ''; 


                     
                }).catch((error) => {
                    console.log(error)
                }); 
                    
                    
              
            },
            ChecklistIns(event,cart_id){
                const self = this;
                let urlBase="";
                let formData = new FormData();
                let data = event;
                self.findinsuranse = self.product.find(o => o.id == cart_id);
                formData.append('data', data);
                formData.append('type', 'insurance');
                formData.append('id', cart_id);
                urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                urlBase
                .then((response) => {
                   self.getSummary();
                  //  self.findinsuranse.insurance = response.data.insurance;
                    self.findinsuranse.list_insurance = response.data.result;
                    self.showInsurance  = data;
                    self.findproduct = self.product.find(o => o.id == cart_id); 
                    if(data == false)
                    {
                        
                         self.findinsuranse.total_insurance = 0;
                         self.findinsuranse.premi = 0;
                         self.findproduct.insurance_vendor_id = 0;
                         self.findproduct.insurance_name = '';
                         self.findproduct.insurance_min_price = '';
                         self.findproduct.premi = 0;
                         self.findproduct.total_insurance = 0;
                         self.premi = 0;
                         self.total_insurance = 0;
                    }else{


                          self.findproduct.loading_list_insurance = 'Loading ...';
                        
                
                        if (self.timer) {
                           clearTimeout(self.timer);
                           self.timer = null;
                        }
                        self.timer = setTimeout(() => {
                            self.findproduct.loading_list_insurance = 'Pilih Vendor Asuransi';
                         
                        }, 800);

                    }

                  self.findproduct.up_insurance = '';
                  self.findproduct.up_insurance_message = '';

                  self.findproduct.perihal_insurance = '';
                  self.findproduct.perihal_insurance_message = '';

                  self.findproduct.catatan_insurance = '';
                  self.findproduct.catatan_insurance_message = ''; 
               
                }).catch((error) => {
                    console.log(error)
                });    
               
              
            },
            onInputUPInsurance($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'up_insurance');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.up_insurance_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);

            },
            onInputPerihalInsurance($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'perihal_insurance');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.perihal_asuransi_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);


                 
            },
            onInputNotedInsurance($event,cart_id)
            { 
                const self = this;

                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
                self.timer = setTimeout(() => {
                    let urlBase="";
                    let formData = new FormData();
                    let data = $event.target._value;
                    formData.append('data', data);
                    formData.append('type', 'catatan_insurance');
                    formData.append('id', cart_id);
                    urlBase = axios.post(BASE_URL+'/api/update-data', formData);
                    urlBase
                    .then((response) => {
                       const find = self.product.find(o => o.id == cart_id);
                       find.catatan_insurance_message = '';
                    }).catch((error) => {
                        console.log(error)
                    }); 

                }, 500);


                 
            },

            
            Rupiah(value)
            {
                let val = (value/1).toFixed(0).replace('.', ',');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            },
            
        }
    }
   
</script>
