<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title pull-left" id="exampleModalLabel"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</h5>
                
              </div>

               <div class="modal-body">
                  <div class="result-loading">
                    {{ messages }}
                  </div>
                  <div class="view-loading">  
                    <loading-block class="loading-table"  />
                  </div>  
               </div> 
             
            </div>
          </div>
        </div>  


       </transition>
     
</template>
<script>
   
  
   export default {
        props:["messages"],
        data() {
            return {
               
                       
               
            }
        },
        
        mounted() {
           //this.getData();
        },
        computed: {
             base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
        
        
        },
        methods: {
             
             
               
          
           

        }
    }
   
</script>

