<template>
<div>

 <div class="row-wishlist" v-show="listpage">
     <h3>Notifikasi</h3>           
 </div>    


<div class="pull-left full" v-show="listpage"> 
    <div class="content content-page">
        <div class="form-parse">

            

            <div class="full pull-left box-form">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-room">

                            <div class="box-descript">
                                <div class="box-left full-100"> 
                                  

                                  <ul>
                                    <li class="bg-none-list" v-for="list in lists" :key="list.id">
                                     <img class="box-image" :src="list.photo">
                                        
                                    
                                     <div class="list-descrpt-left">   
                                       <span class="pull-left full font-22">{{ list.status }}</span> 
                                      
                                       <span class="text-info font-20 pad-right bord-tr-orange one ">Order No. {{ list.order_no }}</span>
                                       <span class="text-info font-20 pad-right one ">{{ list.created_at }}</span>
                                    </div>
                                    </li>

                                    

                                  </ul>  
                                </div>
                               
                            </div>      
                        </div>    
                    </div>

                    
                </div>    
            </div>  


            <div class="content-pagination">
          <div class="paginate-center">  
            <Pagination v-if="viewsPage" @change="getData" v-model="halaman" :page-count="total"></Pagination>
          </div>
        </div> 


           

        </div>
    </div>
</div>            
 
<div v-show="loadpage" is="LoadingPage"></div>

</div>
</template>

<script>
   export default {
        props:["Apps"],
        data() {
            return {
               lists:{},
               total: 0,
               halaman: 1,
               loadpage:true,
               listpage:false,

               viewsPage:false,
            }
        },
        
        created() {  
           document.title = this.Apps;
        },
         mounted() {
            this.getData();
        },
        computed: {
           base_url() {
                return BASE_URL;
            }, 
             
        },
        components: {
           'Pagination': require('vue-plain-pagination'),
           'LoadingPage': require('../../loading/frontend/notification.vue').default,
        },
        methods: {
          getData(){
                
                const self = this;
                let listUrl = "";
                self.loadpage = true;
                self.listpage = false;
                self.viewsPage = false;
              
                listUrl = BASE_URL + '/api/notification?page='+ self.halaman;    
                axios.get(listUrl).then((response) => {
                    
                    self.loadpage = false;
                    self.lists = response.data.result;
                    if(response.data.total >0)
                    {    
                        self.listpage = true;
                        self.viewsPage = true;
                        self.halaman = response.data.currentPage;
                        self.total = response.data.lastPage;     
                    }else{
                        self.resultNull = true;
                        self.listpage = false;
                        self.viewsPage = false;
                    }
                }).catch((error) => {
                    console.log(error);
                    self.resultNull = true;
                   
                    self.loadpage = false;
                    self.listpage = false;
                    self.viewsPage = false;
                });

           },
        

        }
    }
   
</script>

