<template>
      <transition name="modal">
        <div class="modal fade in" id="modal-default" style="display:block"> 
          <div class="modal-dialog">
            <div class="modal-content modals-form">
              <div class="modal-header">
                <h5 class="modal-title pull-left" id="exampleModalLabel">Verifikasi OTP <span v-show="round">{{ timeLeft }}</span></h5>
                <button type="button" class="close" @click="$emit('close')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post"  @submit.prevent="RequestPost">

              <div class="modal-body" v-if="otp_show"> 
                <div class="row-wishlist alert-modal" v-if="messages !=''">
                    <h3><i class="fa fa-times" ></i> {{ messages }}</h3>
                </div>   
                
                
                <div class="form-group">
                  <label>Masukan Kode OTP</label>
                   <input type="text" name="" @keypress="onlyNumber" class="form-control" v-model="otp_code">
                   <span class="help-block color-red" v-if="errors.messages.hasOwnProperty('otp_code')">
                        <strong>{{ errors.messages.otp_code }}</strong>
                  </span>
                </div>   
              </div>

              <div class="modal-body" v-else>
                 
                <div class="form-group load"><loading-block class="loading-table"  /></div>
              </div>  

              <div class="modal-footer">
                <!-- <button type="button"   @click="Sign()"> Kirim Ulang Kode OTP </button> -->
               

                 <button  type="button" class="btn btn-secondary btn-submit" :disabled="isDisabled" @click="Sign()"><i class="fa fa-refresh"  ></i> Kirim Ulang Kode OTP </button>

                <button type="submit" class="btn btn-info btn-submit" :disabled="isLoading">
                  
                    <i v-if="isLoading ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                    <span v-else >Verifikasi</span>
                </button>
              </div>

              </form>
            </div>
          </div>
        </div>  


       </transition>
     
</template>
<script>
  
   
   export default {
        props:["order"],
        data() {
            return {
               errors: {
                    messages: {
                        otp_code:'',
                    },
               },
               otp_show:false,  
               otp_code:'',
               messages:'',
                hours:0,
                minutes:0,
                seconds:0,
                endpoint:{}, 
                timestamp:'',
                timelog:'',
                isDisabled:true,
                isLoading:false,
                round:false,
               
            }
        },
       
        mounted() {
               this.timer();

                window.setInterval(() => {
                    this.otp_show = true; 
                },1000);

                
        },
        computed: {
             base_url() {
                return BASE_URL;
            },
            
            timeLeft: function () {
                if (this.minutes !== 0) {
                    return this.minutes + ':' + this.zeroPad(this.seconds, 2);
                }
                else {
                    if(this.seconds < 10)
                    {
                       return '00 : 0' + this.seconds; 
                    }else{
                     
                         return '00 : ' + this.seconds;
                           
                         
                    }    
                    
                }
            },
          
             
        },
        components: {
         
        
        },
        methods: {
           timer(){
            this.isDisabled = true; 
            this.round = true;

            setInterval(this.getNow, 1000);
            const today = new Date();
           
            this.minutes = today.getMinutes() + 1 - today.getMinutes();
            this.seconds = 59; 
            this.$nextTick(function () {
              
                window.setInterval(() => {
                    if (this.seconds > 0) {
                        if(this.timelog[2] >0)
                        {
                           this.seconds = this.timelog[2]--;
                        }else{
                          this.seconds --;
                        }     
                    }
                    else if (this.seconds == 0 && this.minutes > 0) {
                        if(this.timelog[2] >0 )
                        {
                           this.seconds = this.timelog[2];
                        }else{
                          this.seconds = 59;
                        }    
                          this.minutes--; 
                    }
                
                    else {
                        // Timer hits 0 do what you want to do here.
                         this.isDisabled = false;
                         this.round = false; 
                    }
                },1000);
            });

           }, 
           Sign(){
                 
           
                const self = this;
                self.otp_show = false; 
                self.isDisabled = false;
                let urlBase="";
                let formData = new FormData();
                formData.append('order_no', self.order);
                urlBase = axios.post(BASE_URL+'/api/privy/sign/refresh', formData);
                urlBase
                .then((response) => {
                     
                     self.timer(); 
                    
                }).catch((error) => {
                     self.otp_show = true; 
                     if(error.response.data.action == 'privy')
                     {
                         self.messages = error.response.data.messages;
                     }else{
                         self.errors = error.response.data;
                     }   
                     
                });
                    
              

           },
           RequestPost(){  
                const self = this; 
                let urlBase="";
                self.isLoading = true;
                let formData = new FormData();
                formData.append('order_no', self.order);
                formData.append('otp_code', self.otp_code);
                urlBase = axios.post(BASE_URL+'/api/privy/sign/process', formData);
                urlBase
                .then((response) => {
                     
                     if(response.data.status =="SUCCESS")
                     {
                       
                        self.timer(); 
                        self.$emit('success');
                        self.$emit('messages', response.data.messages);
                        self.isLoading = false;
                     }   
                     

                }).catch((error) => {
                     self.isLoading = false;
                     if(error.response.data.action == 'privy')
                     {
                         self.messages = error.response.data.messages;
                     }else{
                         self.messages = error.response.data.messages;
                         
                     }   
                     
                });
           },
            onlyNumber ($event) {
               //console.log($event.keyCode); //keyCodes value
               let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
               if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                  $event.preventDefault();
               }
            },
            getNow: function() {
                    const today = new Date();
                    const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    const time = today.getMinutes() + ":" + today.getSeconds();
                    const dateTime =  time;
                    this.timestamp = dateTime;
            },
            
            zeroPad(input, length) {
                return (Array(length + 1).join('0') + input).slice(-length);
            },
           

        }
    }
   
</script>

<style type="text/css">
   .load{
    margin-bottom: 0px;
   } 

</style>

