<template>
  
  <div class="margin-right-cart">
        <div class="top-right">   
           <div class="pull-left list-title">
             <h4>Ringkasan Belanja</h4>
           </div>
        </div>

        <div class="center-right">
            <div class="group-total-cart">
                <span class="color-blue-sea">Total Barang </span>
                <div class="cart-total" >
                    <div class="ul-center" v-if="summary.total_product > 0"  v-for="pro in summary.product" :key="pro.id">
                        <div class="li-left">
                          <h5>Rp {{ Rupiah(pro.price) }}</h5> <span>({{ pro.quantity }})</span>
                        </div> 
                        <div class="li-right">
                          <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div> 
                        </div>
                    </div> 

                    <div class="ul-center" v-else>
                        <div class="li-left">
                          <h5>Rp 0 </h5> <span>(0)</span>
                        </div> 
                        <div class="li-right">
                          <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div> 
                        </div>
                    </div>       
                </div> 
            </div> 

            <div class="group-total-cart">
                <span class="color-blue-sea">Total Volume</span>
                <div class="cart-total">

                    <div class="ul-center">
                        <div class="li-left">
                          <h5>  {{ summary.total_volume }} Kg </h5> <span>({{ summary.total_qty }})</span>
                        </div> 
                        <div class="li-right">
                          <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                        </div>
                    </div>  
                </div> 
            </div> 

            <div class="group-total-cart" v-if="showTransport ==true">
                <span class="color-blue-sea">Total Biaya Transportasi</span>
                <div class="cart-total">

                    <div class="ul-center">
                        <div class="li-left">
                          <h5> Rp {{ Rupiah(summary.total_transport) }} </h5> 
                        </div> 
                        <div class="li-right">
                          <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                        </div>
                    </div>  
                </div> 
            </div> 

            <div class="group-total-cart" v-if="showInsurance ==true">
                <span class="color-blue-sea">Total Biaya Asuransi</span>
                <div class="cart-total">

                    <div class="ul-center">
                        <div class="li-left">
                          <h5>  Rp {{ Rupiah(summary.total_insurance) }} </h5> <span>({{ summary.total_premi }} %)</span>
                        </div> 
                        <div class="li-right">
                          <div class="fa-w-small mtb-2 fa-icon-checklist pull-right color-blue-sea"></div>
                        </div>
                    </div>  
                </div> 
            </div>

        </div> 

        <div class="bottom-right">
               <div class="btm-left-right">
                   <h4>Total</h4>
               </div>

               <div class="btm-right-right"> 
                   <h4>Rp {{  Rupiah(summary.total_order) }}</h4>   
               </div> 

               <div class="rum-bottom">
             

                    <button @click="postData(BtnOrder);"class="btn btn-info btn-proses" :disabled="BtnOrder">
                        <i v-if="BtnOrderLoader ==true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw full"></i>
                      <span v-else >PROSES </span>
                    </button>
               </div> 
        </div>                



  </div>
 
</template>

<script> 
   
  
   export default {
       
        props:["Apps","BtnOrder","BtnOrderLoader","summary","product","token","showTransport","showInsurance"],
        data() {
            return {
               
                token:'',
            }
        },
        created() {  
             
        },
        mounted(){

           
          
        }, 
        computed: {
            base_url() {
                return BASE_URL;
            },
            

        },
        
        components: {
           
        },
        methods: {
           postData(status){
                const self = this; 
                if(status == false)
                {
                    
                    self.BtnOrder = true;
                    self.BtnOrderLoader = true;
                    let urlBase="";
                    let formData = new FormData();
                    
                    var checkedIds = self.product.filter(item => item.checklist === true).map(item => item.id);
                    
                    formData.append('product_id', [checkedIds]);
                    formData.append('product', JSON.stringify(self.product));
                    formData.append('_token', self.token);
                   // 
                    
                    urlBase = axios.post(BASE_URL+'/api/create-order', formData);
                    urlBase
                    .then((response) => {
                    

                       if(response.data.status == true)
                       {
                          
                          self.socket.emit('cart_count', response.data.cart_count);
                          //self.socket.emit('order_count', response.data.order_count);
                          self.$router.push({path:'/history'});
                       } 
                     
                    
                    }).catch((error) => {
                         self.BtnOrder = false;
                          self.BtnOrderLoader = false;


                         if(error.response.data.type =='server' || error.response.data.type =='revisi')
                         {
                                self.$swal({
                                    title: error.response.data.message,
                                    icon: "error"
                                }).then((result) => {
                                    
                                });  

                         }else{
                            self.errors = error.response.data[0];
                            self.product = self.errors['message'];
                             
                         }  

                     
                         
                        
                        
                    });
                }else{
                  self.BtnOrder = false;
                }      
             
            },
            Rupiah(value)
            {
                let val = (value/1).toFixed(0).replace('.', ',');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            },
           
            

            
            
        }
    }
   
</script>
