<template>
<div>
    
      
           
            
      
            <vue-content-loading :width="300" :height="12" >  
                <rect x="224" y="0" rx="6" ry="6" width="38" height="11" />
                <rect x="264" y="0" rx="6" ry="6" width="35" height="11" />
            </vue-content-loading> 


             
</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>