<template>
<div>
    
      
           
            
      
            <vue-content-loading :width="300" :height="200" >  
                 
                <rect x="4" y="26" rx="3" ry="3" width="30" height="5" />
                <rect x="120" y="10" rx="30" ry="30" width="40" height="40" />  

                <rect x="168" y="17" rx="3" ry="3" width="90" height="4" />
                <rect x="168" y="22" rx="3" ry="3" width="90" height="4" />
                <rect x="168" y="31" rx="3" ry="3" width="90" height="4" />

                <rect x="170" y="39" rx="3" ry="3" width="27" height="8" />
                <rect x="199" y="39" rx="3" ry="3" width="27" height="8" />

                 
                <rect x="4" y="70" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="66" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="86" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="82" rx="3" ry="3" width="175" height="10" />
                

                <rect x="4" y="102" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="98" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="102" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="98" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="118" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="114" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="134" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="130" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="150" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="146" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="166" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="162" rx="3" ry="3" width="175" height="10" />

                <rect x="4" y="182" rx="3" ry="3" width="38" height="5" />
                <rect x="120" y="178" rx="3" ry="3" width="175" height="10" />

            </vue-content-loading> 


             
</div>
</template>
<script>
 
    import VueContentLoading from 'vue-content-loading';

    export default {
       
        components: { 
              VueContentLoading,    
        },
        methods: {
           
        }
    }
</script>